In [1]:
import os
import sys
import pandas as pd
sys.path.append("../ixf2json/")
import ixf2json

import pyodbc
import json
import sqlalchemy as sa

In [2]:
from IPython.core.display import display, HTML, Markdown
display(HTML("<style>.container { width:95% !important; }</style>"))

In [51]:
# # Uncomment and run these shell commands to download and extract the sample database files
# ! wget ftp://ftp.software.ibm.com/software/data/sample/GSDB_DB2_LUW_ZOS_v2r3.zip -P ../ 
# ! unzip ../GSDB_DB2_LUW_ZOS_v2r3.zip -d ../

In [59]:
os.listdir("..")

['example_notebooks',
 'json_data',
 'README.md',
 '.gitignore',
 'ixf2json',
 '.ipynb_checkpoints',
 'DB2',
 'environment.yaml',
 '.git',
 'cp4d-mortgage-artifacts',
 'creds']

In [4]:
# os.listdir("../json_data/")

In [5]:
log = {
    "json_conversion_success": [],
    "file_name_errors": [], 
    "file_conversion_errors": [],
    "file_extension_errors": [],
    "json_read_errors": [],
    "sql_insert_errors": []
    }

def convert_ixf():
    for file in sorted(os.listdir("../DB2/data")):
        file_list = file.split(".")
        if len(file_list) > 2:
            print("file name error: ", file)
            log["file_name_errors"].append(file)
        else:
            filename = file_list[0]
            extension = file_list[-1]
            if extension != "ixf":
                print("file extension error: ", file)
                log["file_extension_errors"].append(file)
            else:
                try:
                    ixf2json.convert(f'../DB2/data/{file}', f'../json_data/{filename}.json')
                    log["json_conversion_success"].append(file)
                except Exception as e:
                    log["file_conversion_errors"].append({"file": file, "error_mssg": str(e)})
                    pass
        
    with open("log.json", "w") as f:
        json.dump(log, f)

In [6]:
convert_ixf()

file extension error:  EXPORT.out
file extension error:  GOSALES_VERSION.txt
file extension error:  db2move.lst
file extension error:  gsdb_constraints.sql
file extension error:  gsdb_readme.txt
file name error:  tab110a.001.xml
file name error:  tab9a.001.lob

In [7]:
with open('log.json', 'r') as f:
     log = json.load(f)

In [8]:
log.keys()

dict_keys(['json_conversion_success', 'file_name_errors', 'file_conversion_errors', 'file_extension_errors', 'json_read_errors', 'sql_insert_errors'])

In [9]:
log["file_name_errors"]

['tab110a.001.xml', 'tab9a.001.lob']

In [10]:
len(log["json_conversion_success"])

151

In [60]:
log["file_conversion_errors"]

[]

In [12]:
json_tables = os.listdir("../json_data/")

In [13]:
ixf_tables = os.listdir("../DB2/data")

In [14]:
len(ixf_tables)

158

In [15]:
len(json_tables)

151

In [16]:
for record in log["file_conversion_errors"]:
    file_lst = record["file"].split(".")
    extension = file_lst[-1]

    if extension == "ixf":
        filename = file_lst[0]
        print(filename)
        with open(f"../json_data/{filename}.json", "r") as f:
            json_obj = json.load(f)
        print(filename, len(json_obj))

## Parsing list that maps filenames to table/schema names

In [17]:
ref_lst = []

schema_set = set()

with open("../DB2/data/db2move.lst", "r") as f:
    for line in f.readlines():
        lst = line.split("!")
        schema, table = lst[1].split(".")
        schema = schema.replace('"', '' ).strip()
        table = table.replace('"', '' ).strip()
        file = lst[2]
        filename = lst[2].split(".")[0]
        result = dict(
            schema=schema,
            table=table,
            file=file,
            filename=filename
        )
        schema_set.add(schema)
        ref_lst.append(result)

In [18]:
ref_df = pd.DataFrame(ref_lst)

In [19]:
ref_df.shape

(151, 4)

In [20]:
ref_df.head()

      schema                   table      file filename
0  GOSALESRT  ACTIVITY_STATUS_LOOKUP  tab1.ixf     tab1
1    GOSALES                  BRANCH  tab2.ixf     tab2
2    GOSALES         CONVERSION_RATE  tab3.ixf     tab3
3    GOSALES                 COUNTRY  tab4.ixf     tab4
4    GOSALES         CURRENCY_LOOKUP  tab5.ixf     tab5

In [21]:
json_tables = os.listdir("../json_data/")

In [32]:
json_tables.sort(key=lambda x: int(x.strip("tab").strip(".json")))

In [34]:
len(json_tables)

151

In [35]:
schema_set

{'GOSALES', 'GOSALESCT', 'GOSALESDW', 'GOSALESHR', 'GOSALESMR', 'GOSALESRT'}

In [36]:
ref_df

        schema                   table        file filename
0    GOSALESRT  ACTIVITY_STATUS_LOOKUP    tab1.ixf     tab1
1      GOSALES                  BRANCH    tab2.ixf     tab2
2      GOSALES         CONVERSION_RATE    tab3.ixf     tab3
3      GOSALES                 COUNTRY    tab4.ixf     tab4
4      GOSALES         CURRENCY_LOOKUP    tab5.ixf     tab5
..         ...                     ...         ...      ...
146    GOSALES     TIME_QUARTER_LOOKUP  tab147.ixf   tab147
147  GOSALESHR                TRAINING  tab148.ixf   tab148
148  GOSALESHR        TRAINING_DETAILS  tab149.ixf   tab149
149    GOSALES                  XGOREV  tab150.ixf   tab150
150  GOSALESDW                  XGOREV  tab151.ixf   tab151

[151 rows x 4 columns]

## Read in JSONs into pandas, display and record metadata, log errors

In [37]:
ref_df["col_count"] = pd.NA
ref_df["row_count"] = pd.NA

for json_table in json_tables:
    filename = json_table.split(".")[0]
#     display(Markdown(f"### {filename}"))
    try:
        df = pd.read_json(f"../json_data/{json_table}", lines=False)
        row_ct, col_ct = df.shape
#         display(Markdown(f"#### Size: {df_shape}"))
        ref_df.loc[ref_df["filename"] == filename, ["row_count"]] = row_ct
        ref_df.loc[ref_df["filename"] == filename, ["col_count"]] = col_ct

    except:
        display(Markdown(f"#### Error reading file {json_table}"))
        log["json_read_errors"].append(json_table)
        pass

#### Error reading file tab110.json

In [38]:
ref_df.sort_values("row_count", ascending=False).head(10)

,schema,table,file,filename,col_count,row_count
140,GOSALESDW,SLS_SALES_ORDER_DIM,tab141.ixf,tab141,4,446023
87,GOSALES,ORDER_DETAILS,tab88.ixf,tab88,9,446023
139,GOSALESDW,SLS_SALES_FACT,tab140.ixf,tab140,17,446023
141,GOSALESDW,SLS_SALES_TARG_FACT,tab142.ixf,tab142,8,233625
128,GOSALES,SALES_TARGET,tab129.ixf,tab129,9,233625
79,GOSALESDW,MRK_PRODUCT_SURVEY_FACT,tab80.ixf,tab80,6,165074
101,GOSALESMR,PRODUCT_SURVEY_RESULTS,tab102.ixf,tab102,6,165074
59,GOSALESDW,FIN_FINANCE_FACT,tab60.ixf,tab60,6,164132
97,GOSALES,PRODUCT_FORECAST,tab98.ixf,tab98,7,129096
19,GOSALESDW,DIST_PRODUCT_FORECAST_FACT,tab20.ixf,tab20,7,129096

In [39]:
bad_jsons = set(log["json_read_errors"])

In [40]:
bad_jsons

{'tab110.json'}

## Insert data into SQL DB

### Make sql connection
You will need to change the connection details in `creds.json` in order to connect to your own SQL instance.

In [42]:
drivers = pyodbc.drivers()
driver = drivers[0]

with open("../creds/creds.json", "r") as f:
    all_creds = json.load(f)

creds = all_creds["ms-sqlserver"]
locals().update(creds)  # Creating local variables from the JSON entries for this database

connxn_string = f"mssql+pyodbc://{username}:{password}@{host}:{port}/{db}?driver={driver}"

In [43]:
# import sqlalchemy_utils as sa_utils
# sa_utils.functions.drop_database(connxn_string)

In [54]:
engine = sa.create_engine(
    connxn_string, 
    connect_args={'autocommit':True},  # This is necessary for some reason.
    fast_executemany=True  # This provides a substantial speed-up for query execution.
)

In [55]:
insp = sa.inspect(engine)
db_list = insp.get_schema_names()
print(db_list)

['db_accessadmin', 'db_backupoperator', 'db_datareader', 'db_datawriter', 'db_ddladmin', 'db_denydatareader', 'db_denydatawriter', 'db_owner', 'db_securityadmin', 'dbo', 'guest', 'INFORMATION_SCHEMA', 'sys']

In [56]:
with engine.connect() as con:
#     con.execute("USE master;") 
#     con.execute("CREATE DATABASE GSDB;")
    con.execute("USE GSDB;")

In [47]:
# # Create Schemata
# with engine.connect() as con:
#     for schema in schema_set:  
#         con.execute(f"CREATE SCHEMA {schema};")

### Insert data using SQL Alchemy and Pandas

In [49]:
def insert_tables():
    log["sql_insert_errors"] = []
    for json_table in json_tables:
        # read in JSON into pandas, display metadata
        filename = json_table.split(".")[0]
        display(Markdown(f"### {filename}"))
        if json_table not in bad_jsons:
            df = pd.read_json(f"../json_data/{json_table}")
        
        num_cols = df.shape[1]  
        tsql_chunksize = 2097 // num_cols  # limit based on sp_prepexec parameter count
        tsql_chunksize = 1000 if tsql_chunksize > 1000 else tsql_chunksize  # cap at 1000

        # Lookup table name and schema name from reference df
        ref_row = ref_df.query("filename == @filename")
        schema = ref_row["schema"].values[0]
        table = ref_row["table"].values[0]
        print(f"{schema}.{table}")
        print(df.shape)
        
        type_mapping = {col : sa.types.NVARCHAR for col in df.select_dtypes("O")}
        
        # Write df to sql
        try:
            df.to_sql(
                con=engine,
                name=table, 
                schema=schema,
                if_exists="replace",
                method="multi",
                index=False,
                dtype=type_mapping,
                chunksize=tsql_chunksize
                     )
        except Exception as e:
            display(Markdown("# ERROR"))
            log["sql_insert_errors"].append({"json_table": json_table, "error_mssg": str(e)})
            pass

        print("*" * 20)

    with open("log.json", "w") as f:
            json.dump(log, f)

In [50]:
insert_tables()

### tab1

(2, 23)
GOSALESRT.ACTIVITY_STATUS_LOOKUP
********************

### tab2

(29, 13)
GOSALES.BRANCH
********************

### tab3

(624, 1)
GOSALES.CONVERSION_RATE
********************

### tab4

(21, 30)
GOSALES.COUNTRY
********************

### tab5

(21, 24)
GOSALES.CURRENCY_LOOKUP
********************

### tab6

(23, 30)
GOSALESCT.CUST_COUNTRY
********************

### tab7

(31255, 6)
GOSALESCT.CUST_CRDT_CARD
********************

### tab8

(900, 3)
GOSALESCT.CUST_CRDT_CHECK
********************

### tab9

(31255, 22)
GOSALESCT.CUST_CUSTOMER
********************

### tab10

(31255, 3)
GOSALESCT.CUST_INTEREST
********************

### tab11

(338, 3)
GOSALESCT.CUST_INTEREST_LOOKUP
********************

### tab12

(39, 3)
GOSALESCT.CUST_MARITAL_STATUS
********************

### tab13

(60252, 9)
GOSALESCT.CUST_ORDER_DETAIL
********************

### tab14

(39389, 13)
GOSALESCT.CUST_ORDER_HEADER
********************

### tab15

(65, 3)
GOSALESCT.CUST_ORDER_STATUS
********************

### tab16

(8742, 11)
GOSALESCT.CUST_PRICE
********************

### tab17

(156, 3)
GOSALESCT.CUST_PROFESSION
********************

### tab18

(12, 24)
GOSALESHR.DEPARTMENT_LOOKUP
********************

### tab19

(53837, 10)
GOSALESDW.DIST_INVENTORY_FACT
********************

### tab20

(129096, 7)
GOSALESDW.DIST_PRODUCT_FORECAST_FACT
********************

### tab21

(10249, 10)
GOSALESDW.DIST_RETURNED_ITEMS_FACT
********************

### tab22

(5, 25)
GOSALESDW.DIST_RETURN_REASON_DIM
********************

### tab23

(766, 13)
GOSALESHR.EMPLOYEE
********************

### tab24

(127997, 6)
GOSALESHR.EMPLOYEE_EXPENSE_DETAIL
********************

### tab25

(37317, 5)
GOSALESHR.EMPLOYEE_EXPENSE_PLAN
********************

### tab26

(972, 12)
GOSALESHR.EMPLOYEE_HISTORY
********************

### tab27

(24233, 3)
GOSALESHR.EMPLOYEE_SUMMARY
********************

### tab28

(5725, 5)
GOSALESHR.EMPLOYEE_SURVEY_RESULTS
********************

### tab29

(20, 3)
GOSALESHR.EMPLOYEE_SURVEY_TARGETS
********************

### tab30

(5, 24)
GOSALESHR.EMPLOYEE_SURVEY_TOPIC
********************

### tab31

(972, 50)
GOSALESDW.EMP_EMPLOYEE_DIM
********************

### tab32

(127984, 7)
GOSALESDW.EMP_EXPENSE_FACT
********************

### tab33

(30150, 5)
GOSALESDW.EMP_EXPENSE_PLAN_FACT
********************

### tab34

(39, 50)
GOSALESDW.EMP_EXPENSE_TYPE_DIM
********************

### tab35

(3, 24)
GOSALESDW.EMP_EXPENSE_UNIT_LOOKUP
********************

### tab36

(57, 9)
GOSALESDW.EMP_POSITION_DIM
********************

### tab37

(57, 24)
GOSALESDW.EMP_POSITION_LOOKUP
********************

### tab38

(15050, 8)
GOSALESDW.EMP_POSITION_SUMMARY_FACT
********************

### tab39

(5, 25)
GOSALESDW.EMP_RANKING_DIM
********************

### tab40

(1897, 6)
GOSALESDW.EMP_RANKING_FACT
********************

### tab41

(14, 49)
GOSALESDW.EMP_RECRUITMENT_DIM
********************

### tab42

(416, 9)
GOSALESDW.EMP_RECRUITMENT_FACT
********************

### tab43

(181, 7)
GOSALESDW.EMP_SUCCESSION_FACT
********************

### tab44

(5, 25)
GOSALESDW.EMP_SUCCESSION_STATUS_DIM
********************

### tab45

(24233, 5)
GOSALESDW.EMP_SUMMARY_FACT
********************

### tab46

(5725, 5)
GOSALESDW.EMP_SURVEY_FACT
********************

### tab47

(20, 2)
GOSALESDW.EMP_SURVEY_TARG_FACT
********************

### tab48

(5, 25)
GOSALESDW.EMP_SURVEY_TOPIC_DIM
********************

### tab49

(6, 24)
GOSALESDW.EMP_TERMINATION_LOOKUP
********************

### tab50

(42, 26)
GOSALESDW.EMP_TRAINING_DIM
********************

### tab51

(4465, 7)
GOSALESDW.EMP_TRAINING_FACT
********************

### tab52

(8, 1)
GOSALES.EURO_CONVERSION
********************

### tab53

(10, 24)
GOSALESHR.EXPENSE_GROUP
********************

### tab54

(39, 27)
GOSALESHR.EXPENSE_TYPE
********************

### tab55

(3, 24)
GOSALESHR.EXPENSE_UNIT
********************

### tab56

(5, 29)
GOSALESDW.FIN_ACCOUNT_CLASS_LOOKUP
********************

### tab57

(242, 24)
GOSALESDW.FIN_ACCOUNT_DIM
********************

### tab58

(242, 24)
GOSALESDW.FIN_ACCOUNT_NAME_LOOKUP
********************

### tab59

(4, 29)
GOSALESDW.FIN_ACCOUNT_TYPE_LOOKUP
********************

### tab60

(164132, 6)
GOSALESDW.FIN_FINANCE_FACT
********************

### tab61

(7, 24)
GOSALESDW.FIN_SUBM_CURRENCY_LOOKUP
********************

### tab62

(52, 28)
GOSALESDW.FIN_SUBM_DIM
********************

### tab63

(3, 24)
GOSALESDW.FIN_SUBM_TYPE_LOOKUP
********************

### tab64

(2, 23)
GOSALESHR.GENDER_LOOKUP
********************

### tab65

(29, 13)
GOSALESDW.GO_BRANCH_DIM
********************

### tab66

(6, 3)
GOSALESCT.GO_CRDT_METHOD
********************

### tab67

(2, 23)
GOSALESDW.GO_GENDER_LOOKUP
********************

### tab68

(123, 7)
GOSALESDW.GO_ORG_DIM
********************

### tab69

(123, 24)
GOSALESDW.GO_ORG_NAME_LOOKUP
********************

### tab70

(21, 54)
GOSALESDW.GO_REGION_DIM
********************

### tab71

(94, 3)
GOSALESCT.GO_SALES_TAX
********************

### tab72

(5, 25)
GOSALESDW.GO_SATISFACTION_DIM
********************

### tab73

(1465, 51)
GOSALESDW.GO_TIME_DIM
********************

### tab74

(20, 24)
GOSALESDW.GO_TIME_QUARTER_LOOKUP
********************

### tab75

(53837, 8)
GOSALES.INVENTORY_LEVELS
********************

### tab76

(2, 24)
GOSALESDW.MRK_ACTIVITY_STATUS_DIM
********************

### tab77

(15, 24)
GOSALESDW.MRK_BUNDLE_GROUP_LOOKUP
********************

### tab78

(12, 24)
GOSALESDW.MRK_CAMPAIGN_LOOKUP
********************

### tab79

(7, 25)
GOSALESDW.MRK_PRODUCT_SURVEY_DIM
********************

### tab80

(165074, 6)
GOSALESDW.MRK_PRODUCT_SURVEY_FACT
********************

### tab81

(5824, 3)
GOSALESDW.MRK_PROD_SURVEY_TARG_FACT
********************

### tab82

(112, 27)
GOSALESDW.MRK_PROMOTION_DIM
********************

### tab83

(11034, 13)
GOSALESDW.MRK_PROMOTION_FACT
********************

### tab84

(8652, 11)
GOSALESDW.MRK_PROMOTION_PLAN_FACT
********************

### tab85

(9, 25)
GOSALESDW.MRK_RTL_SURVEY_DIM
********************

### tab86

(22508, 6)
GOSALESDW.MRK_RTL_SURVEY_FACT
********************

### tab87

(64, 3)
GOSALESDW.MRK_RTL_SURVEY_TARG_FACT
********************

### tab88

(446023, 9)
GOSALES.ORDER_DETAILS
********************

### tab89

(53267, 10)
GOSALES.ORDER_HEADER
********************

### tab90

(7, 24)
GOSALES.ORDER_METHOD
********************

### tab91

(123, 25)
GOSALESHR.ORGANIZATION
********************

### tab92

(45, 5)
GOSALESHR.POSITION_DEPARTMENT
********************

### tab93

(45, 24)
GOSALESHR.POSITION_LOOKUP
********************

### tab94

(15050, 9)
GOSALESHR.POSITION_SUMMARY
********************

### tab95

(274, 10)
GOSALES.PRODUCT
********************

### tab96

(28, 24)
GOSALES.PRODUCT_BRAND
********************

### tab97

(27, 24)
GOSALES.PRODUCT_COLOR_LOOKUP
********************

### tab98

(129096, 7)
GOSALES.PRODUCT_FORECAST
********************

### tab99

(5, 24)
GOSALES.PRODUCT_LINE
********************

### tab100

(6302, 4)
GOSALES.PRODUCT_NAME_LOOKUP
********************

### tab101

(55, 24)
GOSALES.PRODUCT_SIZE_LOOKUP
********************

### tab102

(165074, 6)
GOSALESMR.PRODUCT_SURVEY_RESULTS
********************

### tab103

(5824, 4)
GOSALESMR.PRODUCT_SURVEY_TARGETS
********************

### tab104

(7, 24)
GOSALESMR.PRODUCT_SURVEY_TOPIC
********************

### tab105

(21, 25)
GOSALES.PRODUCT_TYPE
********************

### tab106

(112, 26)
GOSALESMR.PROMOTIONS
********************

### tab107

(15, 24)
GOSALESMR.PROMOTION_BUNDLE_GROUP
********************

### tab108

(12, 24)
GOSALESMR.PROMOTION_CAMPAIGN
********************

### tab109

(8652, 12)
GOSALESMR.PROMOTION_PLAN
********************

### tab110

(8652, 12)
GOSALESCT.PTNR_ACTIVITY
********************

### tab111

(3, 21)
GOSALESCT.PTNR_CONTACT
********************

### tab112

(5, 24)
GOSALESHR.RANKING
********************

### tab113

(1898, 4)
GOSALESHR.RANKING_RESULTS
********************

### tab114

(416, 8)
GOSALESHR.RECRUITMENT
********************

### tab115

(14, 25)
GOSALESHR.RECRUITMENT_MEDIUM
********************

### tab116

(7, 24)
GOSALESHR.RECRUITMENT_TYPE
********************

### tab117

(562, 5)
GOSALESRT.RETAILER
********************

### tab118

(17754, 2)
GOSALESRT.RETAILER_ACTIVITY
********************

### tab119

(847, 33)
GOSALESRT.RETAILER_CONTACT
********************

### tab120

(847, 9)
GOSALESRT.RETAILER_SITE
********************

### tab121

(847, 9)
GOSALESRT.RETAILER_SITE_MB
********************

### tab122

(22508, 6)
GOSALESMR.RETAILER_SURVEY_RESULTS
********************

### tab123

(64, 2)
GOSALESMR.RETAILER_SURVEY_TARGETS
********************

### tab124

(9, 24)
GOSALESMR.RETAILER_SURVEY_TOPIC
********************

### tab125

(8, 24)
GOSALESRT.RETAILER_TYPE
********************

### tab126

(10249, 9)
GOSALES.RETURNED_ITEM
********************

### tab127

(5, 24)
GOSALES.RETURN_REASON
********************

### tab128

(5, 24)
GOSALES.SALES_REGION
********************

### tab129

(233625, 9)
GOSALES.SALES_TARGET
********************

### tab130

(5, 24)
GOSALESHR.SATISFACTION_INDEX
********************

### tab131

(7, 25)
GOSALESDW.SLS_ORDER_METHOD_DIM
********************

### tab132

(28, 24)
GOSALESDW.SLS_PRODUCT_BRAND_LOOKUP
********************

### tab133

(27, 24)
GOSALESDW.SLS_PRODUCT_COLOR_LOOKUP
********************

### tab134

(274, 14)
GOSALESDW.SLS_PRODUCT_DIM
********************

### tab135

(5, 24)
GOSALESDW.SLS_PRODUCT_LINE_LOOKUP
********************

### tab136

(6302, 4)
GOSALESDW.SLS_PRODUCT_LOOKUP
********************

### tab137

(55, 24)
GOSALESDW.SLS_PRODUCT_SIZE_LOOKUP
********************

### tab138

(21, 24)
GOSALESDW.SLS_PRODUCT_TYPE_LOOKUP
********************

### tab139

(847, 73)
GOSALESDW.SLS_RTL_DIM
********************

### tab140

(446023, 17)
GOSALESDW.SLS_SALES_FACT
********************

### tab141

(446023, 4)
GOSALESDW.SLS_SALES_ORDER_DIM
********************

### tab142

(233625, 8)
GOSALESDW.SLS_SALES_TARG_FACT
********************

### tab143

(182, 6)
GOSALESHR.SUCCESSION_DETAILS
********************

### tab144

(5, 24)
GOSALESHR.SUCCESSOR_STATUS
********************

### tab145

(6, 24)
GOSALESHR.TERMINATION_LOOKUP
********************

### tab146

(1465, 50)
GOSALES.TIME_DIMENSION
********************

### tab147

(20, 24)
GOSALES.TIME_QUARTER_LOOKUP
********************

### tab148

(42, 25)
GOSALESHR.TRAINING
********************

### tab149

(4471, 4)
GOSALESHR.TRAINING_DETAILS
********************

### tab150

(17, 9)
GOSALES.XGOREV
********************

### tab151

(28, 9)
GOSALESDW.XGOREV
********************

## Check to make sure it worked

In [57]:
for json_table in json_tables:
    # read in JSON into pandas, display metadata
    filename = json_table.split(".")[0]
    display(Markdown(f"#### {filename}"))
    # if json_table not in bad_jsons:
    # Lookup table name and schema name from reference df
    ref_row = ref_df.query("filename == @filename")
    schema = ref_row["schema"].values[0]
    table = ref_row["table"].values[0]
    print(f"{schema}.{table}")
    if json_table not in bad_jsons:
        df = pd.read_sql_table(table, con=engine, schema=schema)
        print(df.shape)
        display(df.head())
    print("*" * 90)

#### tab1

GOSALESRT.ACTIVITY_STATUS_LOOKUP
(2, 23)

,ACTIVITY_STATUS_EN,ACTIVITY_STATUS_DE,ACTIVITY_STATUS_FR,ACTIVITY_STATUS_JA,ACTIVITY_STATUS_CS,ACTIVITY_STATUS_DA,ACTIVITY_STATUS_EL,ACTIVITY_STATUS_ES,ACTIVITY_STATUS_FI,ACTIVITY_STATUS_HU,...,ACTIVITY_STATUS_MS,ACTIVITY_STATUS_NL,ACTIVITY_STATUS_NO,ACTIVITY_STATUS_PL,ACTIVITY_STATUS_PT,ACTIVITY_STATUS_RU,ACTIVITY_STATUS_SC,ACTIVITY_STATUS_SV,ACTIVITY_STATUS_TC,ACTIVITY_STATUS_TH
0,Inactive,Inaktiv,Inactif,å–ã‚Šå¼•ãä¼‘æ­¢ä¸­,Nenakupuje,Inaktiv,Î‘Î½ÎµÎ½ÎµÏÎ³ÏŒÏ‚,Inactive,Passiivinen,InaktÃ­v,...,Tidak aktif,Inactief,Inaktiv,Nieaktywny,Inativo,ÐeaÐºÑ‚Ð¸Ð²Ð½Ñ‹Ð¹,ä¸æ´»åŠ¨,Inaktiv,ç„¡æ•ˆ,à¸«à¸¢à¸¸à¸”à¸‹à¸·à¹‰à¸­à¸‚à¸²à¸¢
1,Active,Aktiv,Actif,å–ã‚Šå¼•ãä¸­,Nakupuje,Aktiv,Î•Î½ÎµÏÎ³ÏŒÏ‚,Active,Aktiivinen,AktÃ­v,...,Aktif,Actief,Aktiv,Aktywny,Ativo,ÐÐºÑ‚Ð¸Ð²Ð½Ñ‹Ð¹,æ´»åŠ¨,Aktiv,æœ‰æ•ˆ,à¸‹à¸·à¹‰à¸­à¸‚à¸²à¸¢à¸­à¸¢à¸¹à¹ˆ

******************************************************************************************

#### tab2

GOSALES.BRANCH
(29, 13)

,BRANCH_CODE,ADDRESS1,ADDRESS1_MB,ADDRESS2,ADDRESS2_MB,CITY,CITY_MB,PROV_STATE,PROV_STATE_MB,POSTAL_ZONE,COUNTRY_CODE,ORGANIZATION_CODE,WAREHOUSE_BRANCH_CODE
0,9,Singelgravenplein 4,Singelgravenplein 4,4e verdieping,4e verdieping,Amsterdam,Amsterdam,Noord-Holland,Noord-Holland,1233 BW,5007,9,15
1,29,"Plaza de la ConstituciÃ³n, s/n","Plaza de la ConstituciÃ³n, s/n",None,None,Bilbao,Bilbao,Vizcaya,Vizcaya,48223,7019,29,7
2,36,3 Albany Court,3 Albany Court,Market Street,Market Street,Birmingham,Birmingham,West Midlands,West Midlands,B43 7NP,6009,36,38
3,19,1288 Dorchester Avenue,1288 Dorchester Avenue,None,None,Boston,Boston,Massachusetts,Massachusetts,02133,1003,19,19
4,17,"7800, 756 - 6th Avenue. S.W.","7800, 756 - 6th Avenue. S.W.",None,None,Calgary,Calgary,Alberta,Alberta,T2P 3Z0,1004,17,17

******************************************************************************************

#### tab3

GOSALES.CONVERSION_RATE
(624, 1)

   COUNTRY_CODE
0          1003
1          1003
2          1003
3          1003
4          1003

******************************************************************************************

#### tab4

GOSALES.COUNTRY
(21, 30)

,COUNTRY_CODE,COUNTRY_EN,COUNTRY_CS,COUNTRY_DA,COUNTRY_DE,COUNTRY_EL,COUNTRY_ES,COUNTRY_FI,COUNTRY_FR,COUNTRY_HU,...,COUNTRY_SC,COUNTRY_SV,COUNTRY_TC,COUNTRY_TH,FLAG_IMAGE,SALES_REGION_CODE,ISO_THREE_LETTER_CODE,ISO_TWO_LETTER_CODE,ISO_THREE_DIGIT_CODE,EURO_IN_USE_SINCE
0,1003,United States,SpojenÃ© stÃ¡ty americkÃ©,USA,Vereinigte Staaten,Î—Î½Ï‰Î¼Î­Î½ÎµÏ‚ Î Î¿Î»Î¹Ï„ÎµÎ¯ÎµÏ‚,Estados Unidos,Yhdysvallat,Ã‰tats-Unis,EgyesÃ¼lt Ãllamok,...,ç¾Žå›½,USA,ç¾Žåœ‹,à¸ªà¸«à¸£à¸±à¸à¸­à¹€à¸¡à¸£à¸´à¸à¸²,F03.jpg,710,USA,US,840,None
1,1004,Canada,Kanada,Canada,Kanada,ÎšÎ±Î½Î±Î´Î¬Ï‚,CanadÃ¡,Kanada,Canada,Kanada,...,åŠ æ‹¿å¤§,Canada,åŠ æ‹¿å¤§,à¹à¸„à¸™à¸²à¸”à¸²,F04.jpg,710,CAN,CA,124,None
2,1020,Mexico,Mexiko,Mexico,Mexiko,ÎœÎµÎ¾Î¹ÎºÏŒ,MÃ©xico,Meksiko,Mexique,MexikÃ³,...,å¢¨è¥¿å“¥,Mexico,å¢¨è¥¿å“¥,à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸,F19.jpg,710,MEX,MX,484,None
3,1021,Brazil,BrazÃ­lie,Brasilien,Brasilien,Î’ÏÎ±Î¶Î¹Î»Î¯Î±,Brasil,Brasilia,BrÃ©sil,BrazÃ­lia,...,å·´è¥¿,Brasilien,å·´è¥¿,à¸šà¸£à¸²à¸‹à¸´à¸¥,F20.jpg,710,BRA,BR,76,None
4,4011,Japan,Japonsko,Japan,Japan,Î™Î±Ï€Ï‰Î½Î¯Î±,JapÃ³n,Japani,Japon,JapÃ¡n,...,æ—¥æœ¬,Japan,æ—¥æœ¬,à¸à¸µà¹ˆà¸›à¸¸à¹ˆà¸™,F11.jpg,740,JPN,JP,392,None

******************************************************************************************

#### tab5

GOSALES.CURRENCY_LOOKUP
(21, 24)

,COUNTRY_CODE,CURRENCY_EN,CURRENCY_DE,CURRENCY_FR,CURRENCY_JA,CURRENCY_CS,CURRENCY_DA,CURRENCY_EL,CURRENCY_ES,CURRENCY_FI,...,CURRENCY_MS,CURRENCY_NL,CURRENCY_NO,CURRENCY_PL,CURRENCY_PT,CURRENCY_RU,CURRENCY_SC,CURRENCY_SV,CURRENCY_TC,CURRENCY_TH
0,1003,American dollar,US-Dollar,Dollar amÃ©ricain,ç±³ãƒ‰ãƒ«,AmerickÃ½ dolar,Amerikanske dollars,Î”Î¿Î»Î¬ÏÎ¹Î¿ Î—Î Î‘,DÃ³lares americanos,Yhdysvaltain dollari,...,Dolar Amerika,Amerikaanse dollar,Amerikanske dollar,dolary USA,DÃ³lares americanos,Ð”Ð¾Ð»Ð»Ð°Ñ€Ñ‹ Ð¡Ð¨Ð,ç¾Žå…ƒ,US dollar,ç¾Žå…ƒ,à¸”à¸­à¸¥à¸¥à¸²à¸£à¹Œà¸ªà¸«à¸£à¸±à¸
1,1004,Canadian dollar,Kanadische Dollar,Dollar canadien,ã‚«ãƒŠãƒ€ãƒ‰ãƒ«,KanadskÃ½ dolar,Canadiske dollars,Î”Î¿Î»Î¬ÏÎ¹Î¿ ÎšÎ±Î½Î±Î´Î¬,DÃ³lares canadienses,Kanadan dollari,...,Dolar Kanada,Canadese dollar,Canadiske dollar,dolary kanadyjskie,DÃ³lares canadenses,ÐšÐ°Ð½Ð°Ð´ÑÐºÐ¸Ðµ Ð´Ð¾Ð»Ð»Ð°Ñ€Ñ‹,åŠ æ‹¿å¤§å…ƒ,Kanadensiska dollar,åŠ å¹£,à¸”à¸­à¸¥à¸¥à¸²à¸£à¹Œà¹à¸„à¸™à¸²à¸”à¸²
2,1020,Mexican peso,Mexikanische Peso,Peso mexicain,ãƒ¡ã‚­ã‚·ã‚³ãƒšã‚½,MexickÃ© peso,Mexicanske pesos,Î Î­ÏƒÎ¿Ï‚ ÎœÎµÎ¾Î¹ÎºÎ¿Ï,Pesos mexicanos,Meksikon peso,...,Peso Mexico,Mexicaanse peso,Mexikanske pesos,peso meksykaÅ„skie,Pesos mexicanos,ÐœÐµÐºÑÐ¸ÐºÐ°Ð½ÑÐºÐ¸Ðµ Ð¿ÐµÑÐ¾,å¢¨è¥¿å“¥æ¯”ç´¢,Mexikanska peso,å¢¨è¥¿å“¥æŠ«ç´¢,à¹€à¸›à¹‚à¸‹à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸
3,1021,Brazilian real,Brasilianische Real,Real brÃ©silien,ãƒ–ãƒ©ã‚¸ãƒ«ãƒªã‚¢ãƒ«,BrazilskÃ½ real,Brasilianske reals,Î¡Î¹Î¬Î» Î’ÏÎ±Î¶Î¹Î»Î¯Î±Ï‚,Reales brasileÃ±os,Brasilian real,...,Real Brazil,Braziliaanse reaal,Brasilianske real,reale brazylijskie,Reais brasileiros,Ð‘Ñ€Ð°Ð·Ð¸Ð»ÑŒÑÐºÐ¸Ðµ Ñ€ÐµÐ°Ð»Ñ‹,å·´è¥¿ç‘žäºšå°”,Brasilianska realer,å·´è¥¿å¹£,à¸£à¸µà¸¥à¸ªà¹Œà¸šà¸£à¸²à¸‹à¸´à¸¥
4,4011,Japanese yen,Japanische Yen,Yen japonais,æ—¥æœ¬å††,JaponskÃ½ jen,Japanske yen,Î“Î¹ÎµÎ½ Î™Î±Ï€Ï‰Î½Î¯Î±Ï‚,Yenes japoneses,Japanin jeni,...,Yen Jepun,Japanse yen,Japanske yen,jeny japoÅ„skie,Iene japonÃªs,Ð¯Ð¿Ð¾Ð½ÑÐºÐ°Ñ Ð¸ÐµÐ½Ð°,æ—¥å…ƒ,Japanska yen,æ—¥åœ“,à¹€à¸¢à¸™à¸à¸µà¹ˆà¸›à¸¸à¹ˆà¸™

******************************************************************************************

#### tab6

GOSALESCT.CUST_COUNTRY
(23, 30)

,COUNTRY_CODE,COUNTRY_EN,COUNTRY_CS,COUNTRY_DA,COUNTRY_DE,COUNTRY_EL,COUNTRY_ES,COUNTRY_FI,COUNTRY_FR,COUNTRY_HU,...,COUNTRY_SC,COUNTRY_SV,COUNTRY_TC,COUNTRY_TH,FLAG_IMAGE,SALES_REGION_CODE,ISO_THREE_LETTER_CODE,ISO_TWO_LETTER_CODE,ISO_THREE_DIGIT_CODE,EURO_IN_USE_SINCE
0,1003,United States,SpojenÃ© stÃ¡ty americkÃ©,USA,Vereinigte Staaten,Î—Î½Ï‰Î¼Î­Î½ÎµÏ‚ Î Î¿Î»Î¹Ï„ÎµÎ¯ÎµÏ‚,Estados Unidos,Yhdysvallat,Ã‰tats-Unis,EgyesÃ¼lt Ãllamok,...,ç¾Žå›½,USA,ç¾Žåœ‹,à¸ªà¸«à¸£à¸±à¸à¸­à¹€à¸¡à¸£à¸´à¸à¸²,F03.jpg,710.0,USA,US,840.0,None
1,1004,Canada,Kanada,Canada,Kanada,ÎšÎ±Î½Î±Î´Î¬Ï‚,CanadÃ¡,Kanada,Canada,Kanada,...,åŠ æ‹¿å¤§,Canada,åŠ æ‹¿å¤§,à¹à¸„à¸™à¸²à¸”à¸²,F04.jpg,710.0,CAN,CA,124.0,None
2,1020,Mexico,Mexiko,Mexico,Mexiko,ÎœÎµÎ¾Î¹ÎºÏŒ,MÃ©xico,Meksiko,Mexique,MexikÃ³,...,å¢¨è¥¿å“¥,Mexico,å¢¨è¥¿å“¥,à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸,F19.jpg,710.0,MEX,MX,484.0,None
3,1021,Brazil,BrazÃ­lie,Brasilien,Brasilien,Î’ÏÎ±Î¶Î¹Î»Î¯Î±,Brasil,Brasilia,BrÃ©sil,BrazÃ­lia,...,å·´è¥¿,Brasilien,å·´è¥¿,à¸šà¸£à¸²à¸‹à¸´à¸¥,F20.jpg,710.0,BRA,BR,76.0,None
4,4011,Japan,Japonsko,Japan,Japan,Î™Î±Ï€Ï‰Î½Î¯Î±,JapÃ³n,Japani,Japon,JapÃ¡n,...,æ—¥æœ¬,Japan,æ—¥æœ¬,à¸à¸µà¹ˆà¸›à¸¸à¹ˆà¸™,F11.jpg,740.0,JPN,JP,392.0,None

******************************************************************************************

#### tab7

GOSALESCT.CUST_CRDT_CARD
(31255, 6)

,CUST_CC_ID,CUST_CODE,CRDT_METHOD_CODE,CUST_CC_NUMBER,CUST_CC_SERV_CODE,CUST_CC_EXP_DATE
0,10000,131072,29,5298765461884536,3100,2013-01-01-00.00.00.000000
1,10001,131073,28,5598765426519067,3627,2011-08-01-00.00.00.000000
2,10002,131075,29,5498765452595818,8662,2013-03-01-00.00.00.000000
3,10003,131076,25,4998765444282028,636,2009-08-01-00.00.00.000000
4,10004,131077,29,9998765460293064,784,2012-06-01-00.00.00.000000

******************************************************************************************

#### tab8

GOSALESCT.CUST_CRDT_CHECK
(900, 3)

   CUST_CODE   CUST_SSN  CUST_CRDT_SCORE
0     100102  109669483              692
1     100103  177297279              711
2     100104  185332803              756
3     100105  170195622              748
4     100106  169359415              395

******************************************************************************************

#### tab9

GOSALESCT.CUST_CUSTOMER
(31255, 22)

,CUST_CODE,CUST_FIRST_NAME,CUST_FIRST_NAME_MB,CUST_LAST_NAME,CUST_LAST_NAME_MB,CUST_ADDRESS1,CUST_ADDRESS1_MB,CUST_ADDRESS2,CUST_ADDRESS2_MB,CUST_CITY,...,CUST_PROV_STATE_MB,CUST_PROV_STATE_CODE,CUST_POSTAL_ZONE,CUST_COUNTRY_CODE,CUST_PHONE_NUMBER,CUST_EMAIL,GENDER_CODE,CUST_AGE,MARITAL_STATUS_CODE,CUST_PROFESSION_CODE
0,126906,Nick,Nick,Dunphy,Dunphy,134 3rd. Avenue South,134 3rd. Avenue South, , ,Franklin,...,Tennessee,TN,37065,1003,615 555 1502,NDunphy@fu1003.FIC,0,55,3,10
1,126907,Renato,Renato,Benzi,Benzi,"Via Mazzini, 402","Via Mazzini, 402", , ,Torino,...,None,None,10120,7006,+39 011 555 1354,RBenzi@ti7006.FIC,0,25,2,13
2,126908,Katharina,Katharina,Schulze,Schulze,866-6-774 Higashiaoyama,æ±é’å±± 866-6-774,Shibuya-ku,æ¸‹è°·åŒº,Higashimurayama,...,æ±äº¬éƒ½,None,189-7745,4011,+81 424 555 6022,KSchulze@hj4011.FIC,1,38,3,18
3,126909,Ayaka,å½©å¤,Miyamura,å®®æ‘,583 Calle Emilio Carranza,583 Calle Emilio Carranza, , ,Victoria,...,None,None,87835,1020,+52 614 435 8116,AMiyamur@vm1020.FIC,1,37,2,10
4,126910,Karel,Karel,De Bruijn,De Bruijn,Hoofdstraat 280,Hoofdstraat 280, , ,Zoetermeer,...,Zuid-Holland,None,2748 VL,5007,+31 79 555 5001,KDe Brui@zn5007.FIC,0,36,3,13

******************************************************************************************

#### tab10

GOSALESCT.CUST_INTEREST
(31255, 3)

   CUST_CODE  CUST_INTEREST_CODE  CUST_INTEREST_RANK
0     100001                  85                   1
1     100002                  41                   1
2     100003                  44                   1
3     100004                  43                   1
4     100005                  41                   1

******************************************************************************************

#### tab11

GOSALESCT.CUST_INTEREST_LOOKUP
(338, 3)

   CUST_INTEREST_CODE CUST_INTEREST_LANGUAGE CUST_INTEREST
0                  41                     CS      TÃ¡boÅ™enÃ­
1                  41                     DE       Camping
2                  41                     EN       Camping
3                  41                     ES      Acampada
4                  41                     FR       Camping

******************************************************************************************

#### tab12

GOSALESCT.CUST_MARITAL_STATUS
(39, 3)

   MARITAL_STATUS_CODE MARITAL_STATUS_LANGUAGE MARITAL_STATUS
0                    1                      CS       SvobodnÃ½
1                    1                      DE  Unverheiratet
2                    1                      EN         Single
3                    1                      ES        Soltero
4                    1                      FR    CÃ©libataire

******************************************************************************************

#### tab13

GOSALESCT.CUST_ORDER_DETAIL
(60252, 9)

,CUST_ORDER_DETAIL_CODE,CUST_ORDER_NUMBER,CUST_SHIP_DATE,PRODUCT_NUMBER,CUST_PROMOTION_CODE,UNIT_COST,CUST_UNIT_PRICE,CUST_UNIT_SALE_PRICE,CUST_QUANTITY
0,100001,100000,2004-01-01-22.16.50.017000,28110,0,16.00,81.10,71.23,1
1,100003,100002,2004-01-01-12.35.54.017000,58110,0,56.88,128.99,122.54,1
2,100004,100002,2004-01-01-12.35.54.017000,105110,0,690.00,2690.37,2382.32,1
3,100007,100006,2004-01-26-13.37.07.017000,35110,0,17.78,45.40,35.34,1
4,100009,100008,2004-01-13-10.06.24.017000,13110,0,392.57,991.10,802.75,1

******************************************************************************************

#### tab14

GOSALESCT.CUST_ORDER_HEADER
(39389, 13)

,CUST_ORDER_NUMBER,CUST_ORDER_DATE,CUST_CODE,CUST_CC_ID,CRDT_METHOD_CODE,ORDER_METHOD_CODE,CUST_ORDER_STATUS_CODE,CUST_TOTAL_QUANTITY,CUST_UNIQUE_ITEMS,CUST_SUBTOTAL,CUST_SHIP_COST,CUST_SALES_TAX,CUST_TOTAL
0,100000,2004-01-01-22.16.50.017000,131072,10000,29,5,3,1,1,71.23,9.29,5.23,85.75
1,100002,2004-01-01-12.35.54.017000,131073,10001,28,5,3,2,2,2570.79,10.57,438.83,3020.19
2,100006,2004-01-26-13.37.07.017000,131075,10002,29,5,3,1,1,35.34,6.96,8.25,50.55
3,100008,2004-01-13-10.06.24.017000,131076,10003,25,5,3,1,1,802.75,10.96,81.37,895.08
4,100010,2004-01-25-10.15.02.017000,131077,10004,29,5,3,1,1,375.64,7.94,61.37,444.95

******************************************************************************************

#### tab15

GOSALESCT.CUST_ORDER_STATUS
(65, 3)

   CUST_ORDER_STATUS_CODE CUST_ORDER_STATUS_LANGUAGE CUST_ORDER_STATUS
0                       1                         CS              NovÃ½
1                       1                         DE               Neu
2                       1                         EN               New
3                       1                         ES             Nuevo
4                       1                         FR           Nouveau

******************************************************************************************

#### tab16

GOSALESCT.CUST_PRICE
(8742, 11)

,ORDER_YEAR,ORDER_MONTH,PRODUCT_NUMBER,UNIT_COST,WHOLESALE_UNIT_PRICE,CUST_UNIT_PRICE,CUST_UNIT_SALE_PRICE1,CUST_UNIT_SALE_PRICE2,CUST_UNIT_SALE_PRICE3,FREIGHT_ONE,FREIGHT_ADD_ONE
0,2004,1,1110,2.90,6.59,16.64,13.62,13.27,12.92,6.96,0.98
1,2004,1,2110,6.62,12.53,26.35,24.30,23.67,23.05,6.96,0.98
2,2004,1,3110,15.93,23.80,40.61,30.86,30.09,29.47,6.96,0.98
3,2004,1,4110,0.85,3.66,17.97,15.24,14.84,14.68,5.57,1.39
4,2004,1,5110,34.97,54.93,98.80,76.28,74.37,72.85,7.94,1.35

******************************************************************************************

#### tab17

GOSALESCT.CUST_PROFESSION
(156, 3)

   CUST_PROFESSION_CODE CUST_PROFESSION_LANGUAGE CUST_PROFESSION
0                    10                       CS            JinÃ½
1                    10                       DE          Andere
2                    10                       EN           Other
3                    10                       ES           Otros
4                    10                       FR           Autre

******************************************************************************************

#### tab18

GOSALESHR.DEPARTMENT_LOOKUP
(12, 24)

,DEPARTMENT_CODE,DEPARTMENT_EN,DEPARTMENT_DE,DEPARTMENT_FR,DEPARTMENT_JA,DEPARTMENT_CS,DEPARTMENT_DA,DEPARTMENT_EL,DEPARTMENT_ES,DEPARTMENT_FI,...,DEPARTMENT_MS,DEPARTMENT_NL,DEPARTMENT_NO,DEPARTMENT_PL,DEPARTMENT_PT,DEPARTMENT_RU,DEPARTMENT_SC,DEPARTMENT_SV,DEPARTMENT_TC,DEPARTMENT_TH
0,100,Executive,GeschÃ¤ftsleitung,Direction,æœ€é«˜çµŒå–¶å±¤,RÃ­dicÃ­,Chef,Î£Ï„Î­Î»ÎµÏ‡Î¿Ï‚,Ejecutivo,Johtaja,...,Eksekutif,Directie,Ledelsen,Dyrektor,Executivo,ÐÐ´Ð¼Ð¸Ð½Ð¸ÑÑ‚Ñ€Ð°Ñ‚Ð¾Ñ€,ä¸»ç®¡,VerkstÃ¤llande,ä¸»ç®¡,à¸šà¸£à¸´à¸«à¸²à¸£
1,200,Corporate,Unternehmensleitung,SociÃ©tÃ©,çµŒå–¶å¹¹éƒ¨,PodnikovÃ¡,Firma,Î•Ï„Î±Î¹ÏÎ¹ÎºÎ®,Corporativo,Yritys,...,Korporat,Corporate,Bedriftsledelsen,firmy,Corporativo,ÐšÐ¾Ñ€Ð¿Ð¾Ñ€Ð°Ñ‚Ð¸Ð²Ð½Ñ‹Ð¹,å…¬å¸,FÃ¶retag,å…¬å¸,à¸­à¸‡à¸„à¹Œà¸à¸£
2,220,Operations,Operations,OpÃ©rations,æ¥­å‹™,Provoz,Drift,Î£Ï…Î½Ï„Î¿Î½Î¹ÏƒÏ„Î¹ÎºÎ­Ï‚ ÎºÎ±Î¹ Î”Î¹Î±Ï‡ÎµÎ¹ÏÎ¹ÏƒÏ„Î¹ÎºÎ­Ï‚ Î¥Ï€Î·ÏÎµÏƒÎ¯ÎµÏ‚,Operaciones,Toiminnot,...,Operasi,Operations,Drift,DziaÅ‚alnoÅ›Ä‡ operacyjna,OperaÃ§Ãµes,ÐžÐ¿ÐµÑ€Ð°Ñ†Ð¸Ð¸,è¿è¥,Drift,ç‡Ÿæ¥­,à¸à¹ˆà¸²à¸¢à¸›à¸à¸´à¸šà¸±à¸•à¸´à¸à¸²à¸£
3,300,Human Resources,Personalabteilung,Ressources humaines,äººäº‹,Personalistika,Personale,Î‘Î½Î¸ÏÏŽÏ€Î¹Î½Î¿Î¹ Ï€ÏŒÏÎ¿Î¹,Recursos humanos,HenkilÃ¶stÃ¶hallinta,...,Sumber Manusia,Personeelszaken,HR (Human Resources),ZarzÄ…dzanie Kadrami,Recursos humanos,ÐšÐ°Ð´Ñ€Ñ‹,äººåŠ›èµ„æº,Personal,äººåŠ›è³‡æº,à¸à¹ˆà¸²à¸¢à¸—à¸£à¸±à¸žà¸¢à¸²à¸à¸£à¸šà¸¸à¸„à¸„à¸¥
4,320,Finance,Finanzen,Finances,è²¡å‹™,Finance,Ã˜konomi,ÎŸÎ¹ÎºÎ¿Î½Î¿Î¼Î¹ÎºÎ­Ï‚ Î¥Ï€Î·ÏÎµÏƒÎ¯ÎµÏ‚,Finanzas,Rahoitus,...,Kewangan,FinanciÃ«n,Finans,Finanse,FinanÃ§as,Ð¤Ð¸Ð½Ð°Ð½ÑÑ‹,è´¢åŠ¡,Ekonomi,è²¡å‹™,à¸à¹ˆà¸²à¸¢à¸à¸²à¸£à¹€à¸‡à¸´à¸™

******************************************************************************************

#### tab19

GOSALESDW.DIST_INVENTORY_FACT
(53837, 10)

,MONTH_KEY,ORGANIZATION_KEY,BRANCH_KEY,PRODUCT_KEY,OPENING_INVENTORY,QUANTITY_SHIPPED,ADDITIONS,UNIT_COST,CLOSING_INVENTORY,AVERAGE_UNIT_COST
0,200401,11102,9902,30001,5019,5261,4306,2.90,4064,2.90
1,200401,11102,9902,30002,2515,2342,6538,6.62,6711,6.62
2,200401,11102,9902,30003,2195,1767,5850,15.93,6278,15.93
3,200401,11102,9902,30004,2080,2594,5507,0.85,4993,0.85
4,200401,11102,9902,30005,1296,1239,2841,34.97,2898,34.97

******************************************************************************************

#### tab20

GOSALESDW.DIST_PRODUCT_FORECAST_FACT
(129096, 7)

,MONTH_KEY,ORGANIZATION_KEY,BASE_PRODUCT_KEY,BRANCH_KEY,UNIT_COST,UNIT_PRICE,EXPECTED_VOLUME
0,200401,11101,1,9901,2.77,6.30,2530
1,200401,11101,2,9901,6.17,11.68,890
2,200401,11101,3,9901,14.01,20.93,785
3,200401,11101,4,9901,0.95,4.09,1360
4,200401,11101,5,9901,34.99,54.96,565

******************************************************************************************

#### tab21

GOSALESDW.DIST_RETURNED_ITEMS_FACT
(10249, 10)

,DAY_KEY,ORGANIZATION_KEY,BRANCH_KEY,EMPLOYEE_KEY,RETAILER_SITE_KEY,PRODUCT_KEY,ORDER_METHOD_KEY,SALES_ORDER_KEY,RETURN_REASON_KEY,RETURN_QUANTITY
0,20040129,11105,9905,4095,5721,30041,605,194835,9004,152
1,20040129,11165,9916,4116,5805,30079,605,144965,9001,30
2,20040130,11106,9906,4077,5597,30010,602,177782,9001,146
3,20040130,11171,9929,4310,5336,30165,605,470342,9004,47
4,20040131,11163,9914,4028,5440,30017,606,100260,9005,221

******************************************************************************************

#### tab22

GOSALESDW.DIST_RETURN_REASON_DIM
(5, 25)

,RETURN_REASON_KEY,RETURN_REASON_CODE,REASON_DESCRIPTION_EN,REASON_DESCRIPTION_FR,REASON_DESCRIPTION_DE,REASON_DESCRIPTION_NL,REASON_DESCRIPTION_JA,REASON_DESCRIPTION_SC,REASON_DESCRIPTION_KO,REASON_DESCRIPTION_CS,...,REASON_DESCRIPTION_DA,REASON_DESCRIPTION_EL,REASON_DESCRIPTION_FI,REASON_DESCRIPTION_IT,REASON_DESCRIPTION_NO,REASON_DESCRIPTION_PL,REASON_DESCRIPTION_RU,REASON_DESCRIPTION_SV,REASON_DESCRIPTION_ES,REASON_DESCRIPTION_TH
0,9001,1,Defective product,Produit dÃ©fectueux,Produkt fehlerhaft,Product defect,æ¬ é™¥å“,æœ‰ç¼ºé™·çš„äº§å“,ì œí’ˆ ê²°í•¨,VadnÃ½ vÃ½robek,...,Defekt produkt,Î•Î»Î±Ï„Ï„Ï‰Î¼Î±Ï„Î¹ÎºÏŒ Ï€ÏÎ¿ÏŠÏŒÎ½,Viallinen tuote,Prodotto difettoso,Defekt produkt,Produkt wadliwy,Ð‘Ñ€Ð°ÐºÐ¾Ð²Ð°Ð½Ð½Ð¾Ðµ Ð¸Ð·Ð´ÐµÐ»Ð¸Ðµ,Felaktig produkt,Producto defectuoso,à¸ªà¸´à¸™à¸„à¹‰à¸²à¸šà¸à¸žà¸£à¹ˆà¸­à¸‡
1,9002,2,Incomplete product,Produit incomplet,Produkt unvollstÃ¤ndig,Product niet compleet,æœªå®Œæˆå“,ä¸å®Œæ•´çš„äº§å“,ì œí’ˆ ë¶ˆì™„ì „,NeÃºplnÃ½ vÃ½robek,...,Produkt med mangel,Î‘Ï„ÎµÎ»Î­Ï‚ Ï€ÏÎ¿ÏŠÏŒÎ½,EpÃ¤tÃ¤ydellinen tuote,Prodotto incompleto,Ufullstendig produkt,Produkt niekompletny,ÐÐµÐ¿Ð¾Ð»Ð½Ð°Ñ ÐºÐ¾Ð¼Ð¿Ð»ÐµÐºÑ‚Ð°Ñ†Ð¸Ñ,OfullstÃ¤ndig produkt,Producto incompleto,à¸ªà¸´à¸™à¸„à¹‰à¸²à¹„à¸¡à¹ˆà¸ªà¸¡à¸šà¸¹à¸£à¸“à¹Œ
2,9003,3,Wrong product ordered,Erreur Ã la commande,Fehlbestellung,Verkeerde product besteld,ç™ºæ³¨ãƒŸã‚¹,è®¢è´­äº†é”™è¯¯çš„äº§å“,ë‹¤ë¥¸ ì œí’ˆ ì£¼ë¬¸,ObjednÃ¡vka jinÃ©ho vÃ½robku,...,Forkert produkt bestilt,Î Î±ÏÎ±Î³Î³ÎµÎ»Î¯Î± Î»Î¬Î¸Î¿Ï‚ Ï€ÏÎ¿ÏŠÏŒÎ½Ï„Î¿Ï‚,VÃ¤Ã¤rÃ¤ tuote tilattu,Ordine errato,Feil produkt bestilt,ZamÃ³wiono niewÅ‚aÅ›ciwy produkt,ÐžÑˆÐ¸Ð±ÐºÐ° Ð² Ð·Ð°ÐºÐ°Ð·Ðµ,Fel produkt bestÃ¤lld,Pedido de producto equivocado,à¸ªà¸±à¹ˆà¸‡à¸ªà¸´à¸™à¸„à¹‰à¸²à¸œà¸´à¸”
3,9004,4,Wrong product shipped,Erreur Ã l'expÃ©dition,Fehllieferung,Verkeerde product verzonden,ç™ºé€ãƒŸã‚¹,å‘é€äº†é”™è¯¯çš„äº§å“,ë‹¤ë¥¸ ì œí’ˆ ì„ ì,DoruÄenÃ­ jinÃ©ho vÃ½robku,...,Forkert produkt afsendt,Î‘Ï€Î¿ÏƒÏ„Î¿Î»Î® Î»Î¬Î¸Î¿Ï‚ Ï€ÏÎ¿ÏŠÏŒÎ½Ï„Î¿Ï‚,VÃ¤Ã¤rÃ¤ tuote toimitettu,Consegna errata,Feil produkt levert,Dostarczono niewÅ‚aÅ›ciwy produkt,ÐÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð¿Ð¾ÑÑ‚Ð°Ð²ÐºÐ°,Fel produkt levererad,EnvÃ­o de producto equivocado,à¸ªà¹ˆà¸‡à¸ªà¸´à¸™à¸„à¹‰à¸²à¸œà¸´à¸”
4,9005,5,Unsatisfactory product,Produit non satisfaisant,Produkt nicht zufriedenstellend,Product voldoet niet,ä¸æº€,ä¸èƒ½ä»¤äººæ»¡æ„çš„äº§å“,ì œí’ˆ ë¶ˆë§Œì¡±,NevyhovujÃ­cÃ­ vÃ½robek,...,Utilfredsstillende produkt,ÎœÎ· Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Ï„Î¹ÎºÏŒ Ï€ÏÎ¿ÏŠÏŒÎ½,Tuote ei tyydytÃ¤,Prodotto non soddisfacente,Utilfredsstillende produkt,Produkt niezadowalajÄ…cy,ÐÐµÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾Ðµ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¸Ð·Ð´ÐµÐ»Ð¸Ñ,OtillfredsstÃ¤llande produkt,Producto no satisfactorio,à¹„à¸¡à¹ˆà¸žà¸­à¹ƒà¸ˆà¸ªà¸´à¸™à¸„à¹‰à¸²

******************************************************************************************

#### tab23

GOSALESHR.EMPLOYEE
(766, 13)

,EMPLOYEE_CODE,FIRST_NAME,FIRST_NAME_MB,LAST_NAME,LAST_NAME_MB,DATE_HIRED,TERMINATION_DATE,TERMINATION_CODE,BIRTH_DATE,WORK_PHONE,EXTENSION,FAX,EMAIL
0,10004,Denis,Denis,PagÃ©,PagÃ©,2001-12-11-00.00.00.000000,None,150,1960-11-02-00.00.00.000000,+33 1 68 94 52 20,3995,+33 1 68 94 56 60,DPage@grtd123.com
1,10005,Ã‰lizabeth,Ã‰lizabeth,Michel,Michel,2003-11-24-00.00.00.000000,None,150,1974-03-02-00.00.00.000000,+33 1 68 94 52 20,3994,+33 1 68 94 56 60,EMichel@grtd123.com
2,10006,Ã‰mile,Ã‰mile,Clermont,Clermont,2006-05-10-00.00.00.000000,None,150,1980-07-12-00.00.00.000000,+33 1 68 94 52 20,3993,+33 1 68 94 56 60,EClermont@grtd123.com
3,10007,Ã‰tienne,Ã‰tienne,Jauvin,Jauvin,2003-10-09-00.00.00.000000,None,150,1973-02-16-00.00.00.000000,+33 1 68 94 52 20,3992,+33 1 68 94 56 60,EJauvin@grtd123.com
4,10012,Elsbeth,Elsbeth,Wiesinger,Wiesinger,2005-03-22-00.00.00.000000,None,150,1968-11-05-00.00.00.000000,+(49) 40 663 1990,3987,+(49) 40 663 4571,EWiesinger@grtd123.com

******************************************************************************************

#### tab24

GOSALESHR.EMPLOYEE_EXPENSE_DETAIL
(127997, 6)

,EMPLOYEE_CODE,EXPENSE_TYPE_CODE,EXPENSE_DATE,EXPENSE_START_DATE,EXPENSE_END_DATE,EXPENSE_TOTAL
0,10004,3,2004-01-31-00.00.00.000000,2004-01-01-00.00.00.000000,2004-01-31-00.00.00.000000,358.39
1,10004,4,2004-01-31-00.00.00.000000,2004-01-01-00.00.00.000000,2004-01-31-00.00.00.000000,179.20
2,10004,21,2004-01-31-00.00.00.000000,2004-01-01-00.00.00.000000,2004-01-31-00.00.00.000000,630.77
3,10004,23,2004-01-31-00.00.00.000000,2004-01-01-00.00.00.000000,2004-01-31-00.00.00.000000,867.31
4,10004,25,2004-01-31-00.00.00.000000,2004-01-01-00.00.00.000000,2004-01-31-00.00.00.000000,236.54

******************************************************************************************

#### tab25

GOSALESHR.EMPLOYEE_EXPENSE_PLAN
(37317, 5)

,EXPENSE_YEAR,EXPENSE_MONTH,ORGANIZATION_CODE,EXPENSE_TYPE_CODE,EXPENSE_PLAN_TOTAL
0,2003,1,1710,1,2000
1,2003,1,1730,1,4000
2,2003,1,1740,1,20000
3,2003,1,1760,1,4000
4,2003,1,1810,1,30000

******************************************************************************************

#### tab26

GOSALESHR.EMPLOYEE_HISTORY
(972, 12)

,EMPLOYEE_HISTORY_CODE,EMPLOYEE_HISTORY_PARENT,EMPLOYEE_CODE,RECORD_START_DATE,RECORD_END_DATE,POSITION_CODE,POSITION_START_DATE,MANAGER_CODE,MANAGER,MANAGER_MB,BRANCH_CODE,ORGANIZATION_CODE
0,30000,30126.0,10004,2001-12-11-00.00.00.000000,None,4500,2001-12-11-00.00.00.000000,10149.0,Dietz Krieger,Dietz Krieger,6,6810
1,30001,30058.0,10005,2003-11-24-00.00.00.000000,None,5700,2003-11-24-00.00.00.000000,10078.0,FrÃ©dÃ©ric Samson,FrÃ©dÃ©ric Samson,6,6
2,30002,30058.0,10006,2006-05-10-00.00.00.000000,None,5500,2006-05-10-00.00.00.000000,10078.0,FrÃ©dÃ©ric Samson,FrÃ©dÃ©ric Samson,6,6
3,30003,30058.0,10007,2003-10-09-00.00.00.000000,None,5600,2003-10-09-00.00.00.000000,10078.0,FrÃ©dÃ©ric Samson,FrÃ©dÃ©ric Samson,6,6
4,30004,30005.0,10012,2005-03-22-00.00.00.000000,None,5400,2005-03-22-00.00.00.000000,10013.0,Else MÃ¶rike,Else MÃ¶rike,13,13

******************************************************************************************

#### tab27

GOSALESHR.EMPLOYEE_SUMMARY
(24233, 3)

   EMPLOYEE_CODE                SUMMARY_DATE    SALARY
0          10004  2004-01-11-00.00.00.000000  94615.38
1          10004  2004-02-11-00.00.00.000000  94615.38
2          10004  2004-03-11-00.00.00.000000  94615.38
3          10004  2004-04-11-00.00.00.000000  94615.38
4          10004  2004-05-11-00.00.00.000000  94615.38

******************************************************************************************

#### tab28

GOSALESHR.EMPLOYEE_SURVEY_RESULTS
(5725, 5)

,EMPLOYEE_SURVEY_DATE,ORGANIZATION_CODE,POSITION_CODE,SATISFACTION_CODE,EMPLOYEE_TOPIC_CODE
0,2004-05-17-00.00.00.000000,6,5400,3,50
1,2004-05-17-00.00.00.000000,6,5400,3,51
2,2004-05-17-00.00.00.000000,6,5400,3,52
3,2004-05-17-00.00.00.000000,6,5400,3,53
4,2004-05-17-00.00.00.000000,6,5400,3,54

******************************************************************************************

#### tab29

GOSALESHR.EMPLOYEE_SURVEY_TARGETS
(20, 3)

   EMPLOYEE_TOPIC_CODE  EMPLOYEE_SURVEY_YEAR  EMPLOYEE_SURVEY_MONTH
0                   50                  2004                      5
1                   50                  2005                      5
2                   50                  2006                      5
3                   50                  2007                      5
4                   51                  2004                      5

******************************************************************************************

#### tab30

GOSALESHR.EMPLOYEE_SURVEY_TOPIC
(5, 24)

,EMPLOYEE_TOPIC_CODE,EMPLOYEE_TOPIC_EN,EMPLOYEE_TOPIC_DE,EMPLOYEE_TOPIC_FR,EMPLOYEE_TOPIC_JA,EMPLOYEE_TOPIC_CS,EMPLOYEE_TOPIC_DA,EMPLOYEE_TOPIC_EL,EMPLOYEE_TOPIC_ES,EMPLOYEE_TOPIC_FI,...,EMPLOYEE_TOPIC_MS,EMPLOYEE_TOPIC_NL,EMPLOYEE_TOPIC_NO,EMPLOYEE_TOPIC_PL,EMPLOYEE_TOPIC_PT,EMPLOYEE_TOPIC_RU,EMPLOYEE_TOPIC_SC,EMPLOYEE_TOPIC_SV,EMPLOYEE_TOPIC_TC,EMPLOYEE_TOPIC_TH
0,50,Overall Satisfaction,Zufriedenheit (insgesamt),Satisfaction globale,æº€è¶³åº¦å…¨èˆ¬,CelkovÃ¡ spokojenost,Generel tilfredshed,Î£Ï…Î½Î¿Î»Î¹ÎºÎ® Î™ÎºÎ±Î½Î¿Ï€Î¿Î¯Î·ÏƒÎ·,SatisfacciÃ³n general,Yleinen tyytyvÃ¤isyys,...,Kepuasan Keseluruhan,Globale tevredenheid,Generell tilfredshet,OgÃ³lne zadowolenie,SatisfaÃ§Ã£o geral,ÐžÐ±Ñ‰ÐµÐµ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ,æ•´ä½“æ»¡æ„åº¦,AllmÃ¤n kundtillfredsstÃ¤llelse,æ•´é«”æ»¿æ„åº¦,à¸„à¸§à¸²à¸¡à¸žà¸¶à¸‡à¸žà¸­à¹ƒà¸ˆà¹‚à¸”à¸¢à¸£à¸§à¸¡
1,51,Career Development,Berufliche Weiterbildung,DÃ©veloppement professionnel,ã‚­ãƒ£ãƒªã‚¢é–‹ç™º,ProfesnÃ­ rozvoj,Karriereudvikling,Î‘Î½Î¬Ï€Ï„Ï…Î¾Î· ÎºÎ±ÏÎ¹Î­ÏÎ±Ï‚,Desarrollo profesional,Urakehitys,...,Pembangunan Kerjaya,CarriÃ¨replanning,Karriereutvikling,RozwÃ³j kariery,Plano de carreira,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð¶ÐµÐ½Ð¸Ðµ Ð¿Ð¾ ÑÐ»ÑƒÐ¶Ð±Ðµ,èŒä¸šå‘å±•,KarriÃ¤rutveckling,è·æ¥­ç™¼å±•,à¸à¸²à¸£à¸žà¸±à¸’à¸™à¸²à¸«à¸™à¹‰à¸²à¸—à¸µà¹ˆà¸à¸²à¸£à¸‡à¸²à¸™
2,52,Work Environment,Arbeitsumgebung,Environnement de travail,è·å ´ç’°å¢ƒ,PracovnÃ­ prostÅ™edÃ­,ArbejdsmiljÃ¸,Î•ÏÎ³Î±ÏƒÎ¹Î±ÎºÏŒ Ï€ÎµÏÎ¹Î²Î¬Î»Î»Î¿Î½,Entorno de trabajo,TyÃ¶ympÃ¤ristÃ¶,...,Persekitaran Kerja,Werkomgeving,ArbeidsmiljÃ¸,Åšrodowisko pracy,Ambiente de trabalho,Ð Ð°Ð±Ð¾Ñ‡Ð°Ñ ÑÑ€ÐµÐ´Ð°,å·¥ä½œçŽ¯å¢ƒ,ArbetsmiljÃ¶,å·¥ä½œç’°å¢ƒ,à¸ªà¸ à¸²à¸žà¹à¸§à¸”à¸¥à¹‰à¸­à¸¡à¹ƒà¸™à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™
3,53,Compensation,LÃ¶hne/GehÃ¤lter,RÃ©munÃ©ration,å ±é…¬,Bonifikace,AflÃ¸nning,Î‘Ï€Î¿Î¶Î·Î¼Î¯Ï‰ÏƒÎ·,RemuneraciÃ³n,Kompensaatio,...,Pampasan,Compensatie,Kompensasjon,Odszkodowania,CompensaÃ§Ã£o,ÐšÐ¾Ð¼Ð¿ÐµÐ½ÑÐ°Ñ†Ð¸Ñ,è¡¥è´´,Kompensation,è³ å„Ÿ,à¸à¸²à¸£à¸Šà¸”à¹€à¸Šà¸¢
4,54,Communication and Feedback,Kommunikation und Feedback,Communication et rÃ©troaction,ã‚³ãƒŸãƒ¥ãƒ‹ã‚±ãƒ¼ã‚·ãƒ§ãƒ³ã¨è©•ä¾¡,Komunikace a odezva,Kommunikation og feedback,Î•Ï€Î¹ÎºÎ¿Î¹Î½Ï‰Î½Î¯Î± ÎºÎ±Î¹ Î£Ï‡ÏŒÎ»Î¹Î±,Comunicaciones y comentarios,ViestintÃ¤ ja palaute,...,Komunikasi dan Maklum Balas,Communicatie en feedback,Kommunikasjon og tilbakemelding,Komunikacja i informacje zwrotne,ComunicaÃ§Ã£o e retorno,Ð¡Ð²ÑÐ·ÑŒ Ð¸ Ð¾Ñ‚ÐºÐ»Ð¸ÐºÐ¸,é€šä¿¡å’Œåé¦ˆ,Kommunikation och feedback,æºé€šèˆ‡åé¥‹,à¸à¸²à¸£à¸ªà¸·à¹ˆà¸­à¸ªà¸²à¸£à¹à¸¥à¸°à¸„à¸§à¸²à¸¡à¹€à¸«à¹‡à¸™à¸ªà¸°à¸—à¹‰à¸­à¸™à¸à¸¥à¸±à¸š

******************************************************************************************

#### tab31

GOSALESDW.EMP_EMPLOYEE_DIM
(972, 50)

,EMPLOYEE_KEY,MANAGER_CODE1,MANAGER1,MANAGER_MB1,MANAGER_CODE2,MANAGER2,MANAGER_MB2,MANAGER_CODE3,MANAGER3,MANAGER_MB3,...,EXTENSION,FAX,EMAIL,DATE_HIRED,TERMINATION_CODE,TERMINATION_DATE,POSITION_START_DATE,POSITION_CODE,RECORD_START_DATE,RECORD_END_DATE
0,4001,10108,Penelope Tamrine,Penelope Tamrine,10145,SÃ©bastien Pascal,SÃ©bastien Pascal,10149,Dietz Krieger,Dietz Krieger,...,3994,+33 1 68 94 56 60,EMichel@grtd123.com,2003-11-24-00.00.00.000000,150,None,2003-11-24-00.00.00.000000,5700,2003-11-24-00.00.00.000000,None
1,4002,10108,Penelope Tamrine,Penelope Tamrine,10145,SÃ©bastien Pascal,SÃ©bastien Pascal,10149,Dietz Krieger,Dietz Krieger,...,3993,+33 1 68 94 56 60,EClermont@grtd123.com,2006-05-10-00.00.00.000000,150,None,2006-05-10-00.00.00.000000,5500,2006-05-10-00.00.00.000000,None
2,4003,10108,Penelope Tamrine,Penelope Tamrine,10145,SÃ©bastien Pascal,SÃ©bastien Pascal,10149,Dietz Krieger,Dietz Krieger,...,3992,+33 1 68 94 56 60,EJauvin@grtd123.com,2003-10-09-00.00.00.000000,150,None,2003-10-09-00.00.00.000000,5600,2003-10-09-00.00.00.000000,None
3,4004,10108,Penelope Tamrine,Penelope Tamrine,10125,Laura Bauer,Laura Bauer,10368,Maria Boscolo,Maria Boscolo,...,2985,1 (403) 232-5831,FFuhlroth@grtd123.com,2003-05-12-00.00.00.000000,152,2006-01-02-00.00.00.000000,2003-05-12-00.00.00.000000,5700,2003-05-12-00.00.00.000000,None
4,4005,10108,Penelope Tamrine,Penelope Tamrine,10145,SÃ©bastien Pascal,SÃ©bastien Pascal,10149,Dietz Krieger,Dietz Krieger,...,3984,+(49) 40 663 4571,GErler@grtd123.com,2007-04-18-00.00.00.000000,150,None,2007-04-18-00.00.00.000000,5600,2007-04-18-00.00.00.000000,None

******************************************************************************************

#### tab32

GOSALESDW.EMP_EXPENSE_FACT
(127984, 7)

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_TOTAL
0,20040131,11101,43639,4001,2120,8052,513.35
1,20040131,11101,43639,4001,2122,8054,705.86
2,20040131,11101,43639,4001,2124,8056,192.51
3,20040131,11101,43639,4001,2130,8050,2291.88
4,20040131,11101,43639,4001,2131,8049,4125.00

******************************************************************************************

#### tab33

GOSALESDW.EMP_EXPENSE_PLAN_FACT
(30150, 5)

,MONTH_KEY,ORGANIZATION_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_PLAN_TOTAL
0,200401,11117,2101,601100,4000
1,200401,11118,2101,601100,4000
2,200401,11120,2101,601100,6000
3,200401,11124,2101,601100,4000
4,200401,11125,2101,601100,5000

******************************************************************************************

#### tab34

GOSALESDW.EMP_EXPENSE_TYPE_DIM
(39, 50)

,EXPENSE_TYPE_KEY,EXPENSE_GROUP_CODE,EXPENSE_TYPE_CODE,EXPENSE_UNIT_CODE,EXPENSE_GROUP_EN,EXPENSE_TYPE_EN,EXPENSE_GROUP_DE,EXPENSE_TYPE_DE,EXPENSE_GROUP_FR,EXPENSE_TYPE_FR,...,EXPENSE_GROUP_RU,EXPENSE_TYPE_RU,EXPENSE_GROUP_SC,EXPENSE_TYPE_SC,EXPENSE_GROUP_SV,EXPENSE_TYPE_SV,EXPENSE_GROUP_TC,EXPENSE_TYPE_TC,EXPENSE_GROUP_TH,EXPENSE_TYPE_TH
0,2101,400,1,50,Pay,Regular - Hourly,Gehalt,RegulÃ¤r - pro Stunde,Paie,RÃ©gulier - Horaire,...,ÐžÐ¿Ð»Ð°Ñ‚Ð°,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ð¾ â€“ ÐµÐ¶ÐµÑ‡Ð°ÑÐ½Ð¾,å·¥èµ„,æ­£å¸¸å·¥ä½œæ—¶é—´ - æ—¶è–ª,LÃ¶n,Normal - Per timma,æ”¯ä»˜,å›ºå®šæ™‚è–ª,à¸„à¹ˆà¸²à¸•à¸­à¸šà¹à¸—à¸™,à¸›à¸£à¸°à¸ˆà¸³ - à¸£à¸²à¸¢à¸Šà¸±à¹ˆà¸§à¹‚à¸¡à¸‡
1,2102,401,2,51,Bonus,Performance,Sonderzulage,Leistung,Prime,Performance,...,ÐŸÑ€ÐµÐ¼Ð¸Ñ,Ð’Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ,å¥–é‡‘,ç»©æ•ˆ,Bonus,PrestationsnivÃ¥,çŽé‡‘,ç¸¾æ•ˆ,à¹‚à¸šà¸™à¸±à¸ª,à¸œà¸¥à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™
2,2103,400,3,50,Pay,Vacation,Gehalt,Urlaub,Paie,Vacances,...,ÐžÐ¿Ð»Ð°Ñ‚Ð°,ÐžÑ‚Ð¿ÑƒÑÐº,å·¥èµ„,ä¼‘å‡,LÃ¶n,Semester,æ”¯ä»˜,å‡æœŸ,à¸„à¹ˆà¸²à¸•à¸­à¸šà¹à¸—à¸™,à¸§à¸±à¸™à¸«à¸¢à¸¸à¸”
3,2104,400,4,50,Pay,Sick Leave,Gehalt,Krankmeldung,Paie,CongÃ© de maladie,...,ÐžÐ¿Ð»Ð°Ñ‚Ð°,ÐžÑ‚ÑÑƒÑ‚ÑÑ‚Ð²Ð¸Ðµ Ð¿Ð¾ Ð±Ð¾Ð»ÐµÐ·Ð½Ð¸,å·¥èµ„,ç—…å‡,LÃ¶n,SjukfrÃ¥nvaro,æ”¯ä»˜,ç—…å‡,à¸„à¹ˆà¸²à¸•à¸­à¸šà¹à¸—à¸™,à¸¥à¸²à¸›à¹ˆà¸§à¸¢
4,2105,401,5,52,Bonus,Employee Referral,Sonderzulage,Mitarbeiter-Empfehlung,Prime,Recommandation de personnel,...,ÐŸÑ€ÐµÐ¼Ð¸Ñ,ÐÐ°Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ ÑÐ¾Ñ‚Ñ€ÑƒÐ´Ð½Ð¸ÐºÐ°,å¥–é‡‘,å‘˜å·¥æŽ¨è,Bonus,Rekommendera anstÃ¤lld,çŽé‡‘,å“¡å·¥æŽ¨è–¦,à¹‚à¸šà¸™à¸±à¸ª,à¸à¸²à¸£à¹à¸™à¸°à¸™à¸³à¸žà¸™à¸±à¸à¸‡à¸²à¸™à¹ƒà¸«à¸¡à¹ˆ

******************************************************************************************

#### tab35

GOSALESDW.EMP_EXPENSE_UNIT_LOOKUP
(3, 24)

,EXPENSE_UNIT_CODE,EXPENSE_UNIT_EN,EXPENSE_UNIT_DE,EXPENSE_UNIT_FR,EXPENSE_UNIT_JA,EXPENSE_UNIT_CS,EXPENSE_UNIT_DA,EXPENSE_UNIT_EL,EXPENSE_UNIT_ES,EXPENSE_UNIT_FI,...,EXPENSE_UNIT_MS,EXPENSE_UNIT_NL,EXPENSE_UNIT_NO,EXPENSE_UNIT_PL,EXPENSE_UNIT_PT,EXPENSE_UNIT_RU,EXPENSE_UNIT_SC,EXPENSE_UNIT_SV,EXPENSE_UNIT_TC,EXPENSE_UNIT_TH
0,50,Hours,Stunden,Heures,æ™‚é–“,Hodiny,Timer,ÎÏÎµÏ‚,Horas,Tunnit,...,Jam,Uren,Timer,Godziny,Horas,Ñ‡.,å°æ—¶,Timmar,å°æ™‚,à¸Šà¸±à¹ˆà¸§à¹‚à¸¡à¸‡
1,51,Percent,Prozent,Pourcentage,ãƒ‘ãƒ¼ã‚»ãƒ³ãƒˆ,Procenta,Procent,Î Î¿ÏƒÎ¿ÏƒÏ„ÏŒ,Porcentaje,Prosentti,...,Peratus,Percentage,Prosent,Procent,Porcentagem,ÐŸÑ€Ð¾Ñ†ÐµÐ½Ñ‚,ç™¾åˆ†æ¯”,Procent,ç™¾åˆ†æ¯”,à¹€à¸›à¸­à¸£à¹Œà¹€à¸‹à¹‡à¸™à¸•à¹Œ
2,52,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸

******************************************************************************************

#### tab36

GOSALESDW.EMP_POSITION_DIM
(57, 9)

,POSITION_KEY,POSITION_CODE1,POSITION_CODE2,POSITION_CODE3,POSITION_CODE,POSITION_PARENT,MIN_SALARY,MAX_SALARY,PAID_HOURLY
0,43601,100,200,320,1300,320.0,120000,180000,0
1,43602,100,200,380,1400,380.0,120000,180000,0
2,43603,100,200,300,1500,300.0,120000,180000,0
3,43604,100,200,330,1600,330.0,120000,180000,0
4,43605,100,200,340,1700,340.0,120000,180000,0

******************************************************************************************

#### tab37

GOSALESDW.EMP_POSITION_LOOKUP
(57, 24)

,POSITION_CODE,POSITION_EN,POSITION_DE,POSITION_FR,POSITION_JA,POSITION_CS,POSITION_DA,POSITION_EL,POSITION_ES,POSITION_FI,...,POSITION_MS,POSITION_NL,POSITION_NO,POSITION_PL,POSITION_PT,POSITION_RU,POSITION_SC,POSITION_SV,POSITION_TC,POSITION_TH
0,100,Executive,GeschÃ¤ftsleitung,Direction,æœ€é«˜çµŒå–¶å±¤,RÃ­dicÃ­,Chef,Î£Ï„Î­Î»ÎµÏ‡Î¿Ï‚,Ejecutivo,Johtaja,...,Eksekutif,Directie,Ledelsen,Dyrektor,Executivo,ÐÐ´Ð¼Ð¸Ð½Ð¸ÑÑ‚Ñ€Ð°Ñ‚Ð¾Ñ€,ä¸»ç®¡,VerkstÃ¤llande,ä¸»ç®¡,à¸šà¸£à¸´à¸«à¸²à¸£
1,200,Corporate,Unternehmensleitung,SociÃ©tÃ©,çµŒå–¶å¹¹éƒ¨,PodnikovÃ¡,Firma,Î•Ï„Î±Î¹ÏÎ¹ÎºÎ®,Corporativo,Yritys,...,Korporat,Corporate,Bedriftsledelsen,firmy,Corporativo,ÐšÐ¾Ñ€Ð¿Ð¾Ñ€Ð°Ñ‚Ð¸Ð²Ð½Ñ‹Ð¹,å…¬å¸,FÃ¶retag,å…¬å¸,à¸­à¸‡à¸„à¹Œà¸à¸£
2,220,Operations,Operations,OpÃ©rations,æ¥­å‹™,Provoz,Drift,Î£Ï…Î½Ï„Î¿Î½Î¹ÏƒÏ„Î¹ÎºÎ­Ï‚ ÎºÎ±Î¹ Î”Î¹Î±Ï‡ÎµÎ¹ÏÎ¹ÏƒÏ„Î¹ÎºÎ­Ï‚ Î¥Ï€Î·ÏÎµÏƒÎ¯ÎµÏ‚,Operaciones,Toiminnot,...,Operasi,Operations,Drift,DziaÅ‚alnoÅ›Ä‡ operacyjna,OperaÃ§Ãµes,ÐžÐ¿ÐµÑ€Ð°Ñ†Ð¸Ð¸,è¿è¥,Drift,ç‡Ÿæ¥­,à¸à¹ˆà¸²à¸¢à¸›à¸à¸´à¸šà¸±à¸•à¸´à¸à¸²à¸£
3,300,Human Resources,Personalabteilung,Ressources humaines,äººäº‹,Personalistika,Personale,Î‘Î½Î¸ÏÏŽÏ€Î¹Î½Î¿Î¹ Ï€ÏŒÏÎ¿Î¹,Recursos humanos,HenkilÃ¶stÃ¶hallinta,...,Sumber Manusia,Personeelszaken,HR (Human Resources),ZarzÄ…dzanie Kadrami,Recursos humanos,ÐšÐ°Ð´Ñ€Ñ‹,äººåŠ›èµ„æº,Personal,äººåŠ›è³‡æº,à¸à¹ˆà¸²à¸¢à¸—à¸£à¸±à¸žà¸¢à¸²à¸à¸£à¸šà¸¸à¸„à¸„à¸¥
4,320,Finance,Finanzen,Finances,è²¡å‹™,Finance,Ã˜konomi,ÎŸÎ¹ÎºÎ¿Î½Î¿Î¼Î¹ÎºÎ­Ï‚ Î¥Ï€Î·ÏÎµÏƒÎ¯ÎµÏ‚,Finanzas,Rahoitus,...,Kewangan,FinanciÃ«n,Finans,Finanse,FinanÃ§as,Ð¤Ð¸Ð½Ð°Ð½ÑÑ‹,è´¢åŠ¡,Ekonomi,è²¡å‹™,à¸à¹ˆà¸²à¸¢à¸à¸²à¸£à¹€à¸‡à¸´à¸™

******************************************************************************************

#### tab38

GOSALESDW.EMP_POSITION_SUMMARY_FACT
(15050, 8)

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,POSITION_COUNT,PLANNED_POSITION_COUNT,INTERNAL_HIRES,EXTERNAL_HIRES,TERMINATIONS
0,20040131,11101,43627,0,0,0,0,0
1,20040229,11101,43627,0,0,0,0,0
2,20040331,11101,43627,0,0,0,0,0
3,20040430,11101,43627,0,0,0,0,0
4,20040531,11101,43627,0,0,0,0,0

******************************************************************************************

#### tab39

GOSALESDW.EMP_RANKING_DIM
(5, 25)

,EMPLOYEE_RANKING_KEY,RANKING_CODE,RANKING_DESCRIPTION_EN,RANKING_DESCRIPTION_DE,RANKING_DESCRIPTION_FR,RANKING_DESCRIPTION_JA,RANKING_DESCRIPTION_CS,RANKING_DESCRIPTION_DA,RANKING_DESCRIPTION_EL,RANKING_DESCRIPTION_ES,...,RANKING_DESCRIPTION_MS,RANKING_DESCRIPTION_NL,RANKING_DESCRIPTION_NO,RANKING_DESCRIPTION_PL,RANKING_DESCRIPTION_PT,RANKING_DESCRIPTION_RU,RANKING_DESCRIPTION_SC,RANKING_DESCRIPTION_SV,RANKING_DESCRIPTION_TC,RANKING_DESCRIPTION_TH
0,2391,1,Poor,Mangelhaft,MÃ©diocre,ä¸æŒ¯,NeuspokojivÃ©,Ikke tilfredsstillende,ÎœÎ· Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Ï„Î¹ÎºÎ®,Bajo,...,Tidak baik,Slecht,DÃ¥rlig,Niedostateczna,Fraco,ÐŸÐ»Ð¾Ñ…Ð¾,å·®,DÃ¥lig,ä¸æ»¿æ„,à¹„à¸¡à¹ˆà¸”à¸µ
1,2392,2,Satisfactory,Befriedigend,Satisfaisant,æ™®é€š,UspokojivÃ©,Tilfredsstillende,Î™ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Ï„Î¹ÎºÎ®,Satisfactorio,...,Memuaskan,Bevredigend,Godkjent,Dostateczna,SatisfatÃ³rio,Ð£Ð´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾,æ»¡æ„,TillfredsstÃ¤llande,æ»¿æ„,à¸™à¹ˆà¸²à¸žà¸­à¹ƒà¸ˆ
2,2393,3,Good,Gut,Bon,å„ªç§€,DobrÃ©,God,ÎšÎ±Î»Î®,Bueno,...,Barangan,Goed,Bra,Dobra,Bom,Ð¥Ð¾Ñ€Ð¾ÑˆÐ¾,å¥½,Bra,è‰¯å¥½,à¸”à¸µ
3,2394,4,Very good,Sehr gut,TrÃ¨s bon,ã‹ãªã‚Šå„ªç§€,Velmi dobrÃ©,Meget god,Î Î¿Î»Ï ÎºÎ±Î»Î®,Muy bueno,...,Sangat baik,Zeer goed,Veldig bra,Bardzo dobra,Muito bom,ÐžÑ‡ÐµÐ½ÑŒ Ñ…Ð¾Ñ€Ð¾ÑˆÐ¾,è‰¯å¥½,Mycket bra,ä½³,à¸”à¸µà¸¡à¸²à¸
4,2395,5,Excellent,Ausgezeichnet,Excellent,éžå¸¸ã«å„ªç§€,VynikajÃ­cÃ­,Fremragende,Î†ÏÎ¹ÏƒÏ„Î·,Excelente,...,Cemerlang,Uitstekend,Utmerket,Wybitna,Excelente,ÐžÑ‚Ð»Ð¸Ñ‡Ð½Ð¾,ä¼˜ç§€,UtmÃ¤rkt,æœ€ä½³,à¸¢à¸­à¸”à¹€à¸¢à¸µà¹ˆà¸¢à¸¡

******************************************************************************************

#### tab40

GOSALESDW.EMP_RANKING_FACT
(1897, 6)

,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,DAY_KEY,EMPLOYEE_RANKING_KEY,RANKING_CODE
0,11101,43639,4001,20050331,2392,2
1,11101,43639,4001,20060331,2393,3
2,11101,43639,4001,20070331,2393,3
3,11101,43637,4002,20070331,2394,4
4,11101,43638,4003,20050331,2394,4

******************************************************************************************

#### tab41

GOSALESDW.EMP_RECRUITMENT_DIM
(14, 49)

,RECRUITMENT_MEDIUM_KEY,RECRUITMENT_MEDIUM_CODE,RECRUITMENT_TYPE_CODE,RECRUITMENT_MEDIUM_NAME_EN,RECRUITMENT_TYPE_EN,RECRUITMENT_MEDIUM_NAME_DE,RECRUITMENT_TYPE_DE,RECRUITMENT_MEDIUM_NAME_FR,RECRUITMENT_TYPE_FR,RECRUITMENT_MEDIUM_NAME_JA,...,RECRUITMENT_MEDIUM_NAME_RU,RECRUITMENT_TYPE_RU,RECRUITMENT_MEDIUM_NAME_SC,RECRUITMENT_TYPE_SC,RECRUITMENT_MEDIUM_NAME_SV,RECRUITMENT_TYPE_SV,RECRUITMENT_MEDIUM_NAME_TC,RECRUITMENT_TYPE_TC,RECRUITMENT_MEDIUM_NAME_TH,RECRUITMENT_TYPE_TH
0,6541,100,5,Local Newspaper,Newspaper or Magazine,Lokalzeitung,Zeitung oder Zeitschrift,Journal local,Journal ou magazine,åœ°æ–¹ç´™,...,ÐœÐµÑÑ‚Ð½Ð°Ñ Ð³Ð°Ð·ÐµÑ‚Ð°,Ð“Ð°Ð·ÐµÑ‚Ð° Ð¸Ð»Ð¸ Ð¶ÑƒÑ€Ð½Ð°Ð»,æœ¬åœ°æŠ¥çº¸,æŠ¥çº¸æˆ–æ‚å¿—,Lokal tidning,Tidning eller tidskrift,ç•¶åœ°å ±ç´™,å ±ç´™æˆ–é›œèªŒ,à¸«à¸™à¸±à¸‡à¸ªà¸·à¸­à¸žà¸´à¸¡à¸žà¹Œà¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™,à¸«à¸™à¸±à¸‡à¸ªà¸·à¸­à¸žà¸´à¸¡à¸žà¹Œà¸«à¸£à¸·à¸­à¸™à¸´à¸•à¸¢à¸ªà¸²à¸£
1,6542,101,3,AAA Internet Job Bank,Website,AAA Internet-JobbÃ¶rse,Website,Banque d'emplois Internet AAA,Site Web,ã‚¤ãƒ³ã‚¿ãƒ¼ãƒãƒƒãƒˆå°±è·æ–¡æ—‹ã‚µã‚¤ãƒˆ A,...,Ð‘Ð°Ð½Ðº Ð²Ð°ÐºÐ°Ð½ÑÐ¸Ð¹ AAA Ð² Ð˜Ð½Ñ‚ÐµÑ€Ð½ÐµÑ‚Ðµ,Ð’ÐµÐ±-ÑƒÐ·ÐµÐ»,AAA äº’è”ç½‘å·¥ä½œèŒä½åº“,ç½‘ç«™,AAA Jobbank pÃ¥ Internet,Webbplats,AAA ç¶²éš›ç¶²è·¯äººåŠ›éŠ€è¡Œ,ç¶²ç«™,à¹à¸«à¸¥à¹ˆà¸‡à¸‡à¸²à¸™à¸—à¸²à¸‡à¸­à¸´à¸™à¹€à¸•à¸­à¸£à¹Œà¹€à¸™à¹‡à¸• AAA,à¹€à¸§à¹‡à¸šà¹„à¸‹à¸•à¹Œ
2,6543,150,5,National Newspaper,Newspaper or Magazine,Ãœberregionale Zeitung,Zeitung oder Zeitschrift,Journal national,Journal ou magazine,å…¨å›½ç´™,...,ÐžÐ±Ñ‰ÐµÐ½Ð°Ñ†Ð¸Ð¾Ð½Ð°Ð»ÑŒÐ½Ð°Ñ Ð³Ð°Ð·ÐµÑ‚Ð°,Ð“Ð°Ð·ÐµÑ‚Ð° Ð¸Ð»Ð¸ Ð¶ÑƒÑ€Ð½Ð°Ð»,å…¨å›½æ€§æŠ¥çº¸,æŠ¥çº¸æˆ–æ‚å¿—,Nationell tidning,Tidning eller tidskrift,å…¨åœ‹æ€§ç™¼è¡Œçš„å ±ç´™,å ±ç´™æˆ–é›œèªŒ,à¸«à¸™à¸±à¸‡à¸ªà¸·à¸­à¸žà¸´à¸¡à¸žà¹Œà¸£à¸°à¸”à¸±à¸šà¸›à¸£à¸°à¹€à¸—à¸¨,à¸«à¸™à¸±à¸‡à¸ªà¸·à¸­à¸žà¸´à¸¡à¸žà¹Œà¸«à¸£à¸·à¸­à¸™à¸´à¸•à¸¢à¸ªà¸²à¸£
3,6544,151,3,BBB Internet Job Bank,Website,BBB Internet-JobbÃ¶rse,Website,Banque d'emplois Internet BBB,Site Web,ã‚¤ãƒ³ã‚¿ãƒ¼ãƒãƒƒãƒˆå°±è·æ–¡æ—‹ã‚µã‚¤ãƒˆ B,...,Ð‘Ð°Ð½Ðº Ð²Ð°ÐºÐ°Ð½ÑÐ¸Ð¹ Ð’Ð’Ð’ Ð² Ð˜Ð½Ñ‚ÐµÑ€Ð½ÐµÑ‚Ðµ,Ð’ÐµÐ±-ÑƒÐ·ÐµÐ»,BBB äº’è”ç½‘èŒä½åº“,ç½‘ç«™,BBB Jobbank pÃ¥ Internet,Webbplats,BBB ç¶²éš›ç¶²è·¯äººåŠ›éŠ€è¡Œ,ç¶²ç«™,à¹à¸«à¸¥à¹ˆà¸‡à¸‡à¸²à¸™à¸—à¸²à¸‡à¸­à¸´à¸™à¹€à¸•à¸­à¸£à¹Œà¹€à¸™à¹‡à¸• BBB,à¹€à¸§à¹‡à¸šà¹„à¸‹à¸•à¹Œ
4,6550,500,9,Referral,Referral,Empfehlung,Empfehlung,RÃ©fÃ©rence,RÃ©fÃ©rence,ç´¹ä»‹,...,ÐÐ°Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ,ÐÐ°Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ,æŽ¨è,æŽ¨è,Rekommendation,Rekommendation,æŽ¨è–¦,æŽ¨è–¦,à¸œà¸¹à¹‰à¹à¸™à¸°à¸™à¸³,à¸œà¸¹à¹‰à¹à¸™à¸°à¸™à¸³

******************************************************************************************

#### tab42

GOSALESDW.EMP_RECRUITMENT_FACT
(416, 9)

,POST_DAY_KEY,RECRUITMENT_MEDIUM_KEY,ORGANIZATION_KEY,BRANCH_KEY,POSITION_KEY,POSITION_POSTING_DATE,POSITION_FILLED_DATE,POSITION_START_DATE,DAYS_TO_FILL
0,20040227,6541,11102,9902,43638,2004-02-27-00.00.00.000000,2004-03-22-00.00.00.000000,2004-04-02-00.00.00.000000,24.0
1,20060524,6541,11102,9902,43638,2006-05-24-00.00.00.000000,2006-06-19-00.00.00.000000,2006-06-27-00.00.00.000000,26.0
2,20051212,6541,11104,9904,43638,2005-12-12-00.00.00.000000,2005-12-29-00.00.00.000000,2006-01-12-00.00.00.000000,17.0
3,20040426,6541,11105,9905,43639,2004-04-26-00.00.00.000000,2004-07-07-00.00.00.000000,2004-07-13-00.00.00.000000,72.0
4,20040809,6541,11110,9924,43638,2004-08-09-00.00.00.000000,2004-09-06-00.00.00.000000,2004-09-20-00.00.00.000000,28.0

******************************************************************************************

#### tab43

GOSALESDW.EMP_SUCCESSION_FACT
(181, 7)

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,SUCCESSOR_EMPLOYEE_KEY,SUCCESSOR_POSITION_KEY,SUCCESSOR_STATUS_KEY
0,20070701,11101,43636,4184,4001,43639,12123
1,20070701,11102,43636,4435,4163,43639,12123
2,20070701,11103,43636,4166,4069,43639,12123
3,20070701,11104,43636,4160,4105,43639,12123
4,20070701,11105,43636,4161,4007,43639,12123

******************************************************************************************

#### tab44

GOSALESDW.EMP_SUCCESSION_STATUS_DIM
(5, 25)

,SUCCESSOR_STATUS_KEY,SUCCESSOR_STATUS_CODE,SUCCESSOR_STATUS_EN,SUCCESSOR_STATUS_DE,SUCCESSOR_STATUS_FR,SUCCESSOR_STATUS_JA,SUCCESSOR_STATUS_CS,SUCCESSOR_STATUS_DA,SUCCESSOR_STATUS_EL,SUCCESSOR_STATUS_ES,...,SUCCESSOR_STATUS_MS,SUCCESSOR_STATUS_NL,SUCCESSOR_STATUS_NO,SUCCESSOR_STATUS_PL,SUCCESSOR_STATUS_PT,SUCCESSOR_STATUS_RU,SUCCESSOR_STATUS_SC,SUCCESSOR_STATUS_SV,SUCCESSOR_STATUS_TC,SUCCESSOR_STATUS_TH
0,12121,0,Pending assignment,BefÃ¶rderung ausstehend,En attente de travail,é…ç½®å¾…ã¡,NevyÅ™Ã­zenÃ© pÅ™iÅ™azenÃ­,UdestÃ¥ende udnÃ¦vnelse,Î•ÎºÎºÏÎµÎ¼Î®Ï‚ Î±Î½Î¬Î¸ÎµÏƒÎ·,AsignaciÃ³n pendiente,...,Tugasan masih belum selesai,Bevordering in behandeling,Venter pÃ¥ tildeling,Przypisanie w toku,AtribuiÃ§Ãµes pendentes,ÐžÑ‚Ð»Ð¾Ð¶ÐµÐ½Ð½Ð¾Ðµ Ð½Ð°Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ,å¾…å®šé€‰æ´¾,VÃ¤ntar pÃ¥ uppdrag,æœªæ±ºé¸æ´¾,à¸£à¸­à¸”à¸³à¹€à¸™à¸´à¸™à¸à¸²à¸£à¸‡à¸²à¸™à¸—à¸µà¹ˆà¸¡à¸­à¸šà¸«à¸¡à¸²à¸¢
1,12122,1,In training,In Schulung,En formation,ç ”ä¿®ä¸­,ProbÃ­hÃ¡ Å¡kolenÃ­,under uddannelse,Î£Îµ ÎµÎºÏ€Î±Î¯Î´ÎµÏ…ÏƒÎ·,En formaciÃ³n,...,Dalam latihan,Trainingsfase,Under opplÃ¦ring,W trakcie szkolenia,Em treinamento,Ð’ Ñ…Ð¾Ð´Ðµ Ð¾Ð±ÑƒÑ‡ÐµÐ½Ð¸Ñ,åŸ¹è®­ä¸­,Utbildas,åŸ¹è¨“ä¸­,à¸­à¸¢à¸¹à¹ˆà¹ƒà¸™à¸£à¸°à¸«à¸§à¹ˆà¸²à¸‡à¸à¸²à¸£à¸à¸¶à¸à¸­à¸šà¸£à¸¡
2,12123,2,Ready,Fertig,PrÃªt,å¾…æ©Ÿä¸­,K dispozici,Klar,Î”Î¹Î±Î¸Î­ÏƒÎ¹Î¼Î¿Ï‚,Listo,...,Sedia,Gereed,Klar,Przygotowany,Pronto,Ð“Ð¾Ñ‚Ð¾Ð²,å‡†å¤‡å°±ç»ª,Klar,å°±ç·’,à¸žà¸£à¹‰à¸­à¸¡
3,12124,3,Promoted,BefÃ¶rdert,Promu,æ˜‡æ ¼æ¸ˆã¿,PovÃ½Å¡en(a),Forfremmet,Î ÏÎ¿Î®Ï‡Î¸Î·,Ascendido,...,Dinaikkan pangkat,Bevorderd,Forfremmet,Awansowany,Promovido,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð½ÑƒÑ‚Ñ‹Ð¹,å·²æ™‹å‡,Befordrad,å·²æ™‰å‡,à¹€à¸¥à¸·à¹ˆà¸­à¸™à¸•à¸³à¹à¸«à¸™à¹ˆà¸‡à¹à¸¥à¹‰à¸§
4,12125,4,Cancelled,Widerrufen,AnnulÃ©,å–ã‚Šæ¶ˆã—,ZruÅ¡eno,Annulleret,Î‘ÎºÏ…ÏÏŽÎ¸Î·ÎºÎµ,Cancelado,...,Dibatalkan,Geannuleerd,Kansellert,OdwoÅ‚any,Cancelado,ÐžÑ‚Ð¼ÐµÐ½ÐµÐ½Ð¾,å·²å–æ¶ˆ,Annullerad,å·²å–æ¶ˆ,à¸¢à¸à¹€à¸¥à¸´à¸

******************************************************************************************

#### tab45

GOSALESDW.EMP_SUMMARY_FACT
(24233, 5)

    DAY_KEY  ORGANIZATION_KEY  POSITION_KEY  EMPLOYEE_KEY   SALARY
0  20040124             11101         43639          4001  49500.0
1  20040224             11101         43639          4001  49500.0
2  20040324             11101         43639          4001  49500.0
3  20040424             11101         43639          4001  49500.0
4  20040524             11101         43639          4001  49500.0

******************************************************************************************

#### tab46

GOSALESDW.EMP_SURVEY_FACT
(5725, 5)

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_TOPIC_KEY,SATISFACTION_KEY
0,20040517,11101,43636,1401,223
1,20040517,11101,43636,1402,223
2,20040517,11101,43636,1403,223
3,20040517,11101,43636,1404,223
4,20040517,11101,43636,1405,223

******************************************************************************************

#### tab47

GOSALESDW.EMP_SURVEY_TARG_FACT
(20, 2)

   MONTH_KEY  EMPLOYEE_TOPIC_KEY
0     200405                1401
1     200505                1401
2     200605                1401
3     200705                1401
4     200405                1402

******************************************************************************************

#### tab48

GOSALESDW.EMP_SURVEY_TOPIC_DIM
(5, 25)

,EMPLOYEE_TOPIC_KEY,EMPLOYEE_TOPIC_CODE,EMPLOYEE_TOPIC_EN,EMPLOYEE_TOPIC_DE,EMPLOYEE_TOPIC_FR,EMPLOYEE_TOPIC_JA,EMPLOYEE_TOPIC_CS,EMPLOYEE_TOPIC_DA,EMPLOYEE_TOPIC_EL,EMPLOYEE_TOPIC_ES,...,EMPLOYEE_TOPIC_MS,EMPLOYEE_TOPIC_NL,EMPLOYEE_TOPIC_NO,EMPLOYEE_TOPIC_PL,EMPLOYEE_TOPIC_PT,EMPLOYEE_TOPIC_RU,EMPLOYEE_TOPIC_SC,EMPLOYEE_TOPIC_SV,EMPLOYEE_TOPIC_TC,EMPLOYEE_TOPIC_TH
0,1401,50,Overall Satisfaction,Zufriedenheit (insgesamt),Satisfaction globale,æº€è¶³åº¦å…¨èˆ¬,CelkovÃ¡ spokojenost,Generel tilfredshed,Î£Ï…Î½Î¿Î»Î¹ÎºÎ® Î™ÎºÎ±Î½Î¿Ï€Î¿Î¯Î·ÏƒÎ·,SatisfacciÃ³n general,...,Kepuasan Keseluruhan,Globale tevredenheid,Generell tilfredshet,OgÃ³lne zadowolenie,SatisfaÃ§Ã£o geral,ÐžÐ±Ñ‰ÐµÐµ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ,æ•´ä½“æ»¡æ„åº¦,AllmÃ¤n kundtillfredsstÃ¤llelse,æ•´é«”æ»¿æ„åº¦,à¸„à¸§à¸²à¸¡à¸žà¸¶à¸‡à¸žà¸­à¹ƒà¸ˆà¹‚à¸”à¸¢à¸£à¸§à¸¡
1,1402,51,Career Development,Berufliche Weiterbildung,DÃ©veloppement professionnel,ã‚­ãƒ£ãƒªã‚¢é–‹ç™º,ProfesnÃ­ rozvoj,Karriereudvikling,Î‘Î½Î¬Ï€Ï„Ï…Î¾Î· ÎºÎ±ÏÎ¹Î­ÏÎ±Ï‚,Desarrollo profesional,...,Pembangunan Kerjaya,CarriÃ¨replanning,Karriereutvikling,RozwÃ³j kariery,Plano de carreira,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð¶ÐµÐ½Ð¸Ðµ Ð¿Ð¾ ÑÐ»ÑƒÐ¶Ð±Ðµ,èŒä¸šå‘å±•,KarriÃ¤rutveckling,è·æ¥­ç™¼å±•,à¸à¸²à¸£à¸žà¸±à¸’à¸™à¸²à¸«à¸™à¹‰à¸²à¸—à¸µà¹ˆà¸à¸²à¸£à¸‡à¸²à¸™
2,1403,52,Work Environment,Arbeitsumgebung,Environnement de travail,è·å ´ç’°å¢ƒ,PracovnÃ­ prostÅ™edÃ­,ArbejdsmiljÃ¸,Î•ÏÎ³Î±ÏƒÎ¹Î±ÎºÏŒ Ï€ÎµÏÎ¹Î²Î¬Î»Î»Î¿Î½,Entorno de trabajo,...,Persekitaran Kerja,Werkomgeving,ArbeidsmiljÃ¸,Åšrodowisko pracy,Ambiente de trabalho,Ð Ð°Ð±Ð¾Ñ‡Ð°Ñ ÑÑ€ÐµÐ´Ð°,å·¥ä½œçŽ¯å¢ƒ,ArbetsmiljÃ¶,å·¥ä½œç’°å¢ƒ,à¸ªà¸ à¸²à¸žà¹à¸§à¸”à¸¥à¹‰à¸­à¸¡à¹ƒà¸™à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™
3,1404,53,Compensation,LÃ¶hne/GehÃ¤lter,RÃ©munÃ©ration,å ±é…¬,Bonifikace,AflÃ¸nning,Î‘Ï€Î¿Î¶Î·Î¼Î¯Ï‰ÏƒÎ·,RemuneraciÃ³n,...,Pampasan,Compensatie,Kompensasjon,Odszkodowania,CompensaÃ§Ã£o,ÐšÐ¾Ð¼Ð¿ÐµÐ½ÑÐ°Ñ†Ð¸Ñ,è¡¥è´´,Kompensation,è³ å„Ÿ,à¸à¸²à¸£à¸Šà¸”à¹€à¸Šà¸¢
4,1405,54,Communication and Feedback,Kommunikation und Feedback,Communication et rÃ©troaction,ã‚³ãƒŸãƒ¥ãƒ‹ã‚±ãƒ¼ã‚·ãƒ§ãƒ³ã¨è©•ä¾¡,Komunikace a odezva,Kommunikation og feedback,Î•Ï€Î¹ÎºÎ¿Î¹Î½Ï‰Î½Î¯Î± ÎºÎ±Î¹ Î£Ï‡ÏŒÎ»Î¹Î±,Comunicaciones y comentarios,...,Komunikasi dan Maklum Balas,Communicatie en feedback,Kommunikasjon og tilbakemelding,Komunikacja i informacje zwrotne,ComunicaÃ§Ã£o e retorno,Ð¡Ð²ÑÐ·ÑŒ Ð¸ Ð¾Ñ‚ÐºÐ»Ð¸ÐºÐ¸,é€šä¿¡å’Œåé¦ˆ,Kommunikation och feedback,æºé€šèˆ‡åé¥‹,à¸à¸²à¸£à¸ªà¸·à¹ˆà¸­à¸ªà¸²à¸£à¹à¸¥à¸°à¸„à¸§à¸²à¸¡à¹€à¸«à¹‡à¸™à¸ªà¸°à¸—à¹‰à¸­à¸™à¸à¸¥à¸±à¸š

******************************************************************************************

#### tab49

GOSALESDW.EMP_TERMINATION_LOOKUP
(6, 24)

,TERMINATION_CODE,TERMINATION_REASON_EN,TERMINATION_REASON_DE,TERMINATION_REASON_FR,TERMINATION_REASON_JA,TERMINATION_REASON_CS,TERMINATION_REASON_DA,TERMINATION_REASON_EL,TERMINATION_REASON_ES,TERMINATION_REASON_FI,...,TERMINATION_REASON_MS,TERMINATION_REASON_NL,TERMINATION_REASON_NO,TERMINATION_REASON_PL,TERMINATION_REASON_PT,TERMINATION_REASON_RU,TERMINATION_REASON_SC,TERMINATION_REASON_SV,TERMINATION_REASON_TC,TERMINATION_REASON_TH
0,150,Active employee,Aktiver Mitarbeiter,EmployÃ© actif,ç¾å½¹å¾“æ¥­å“¡,AktivnÃ­ zamÄ›stnanec,Aktiv medarbejder,Î•Î½ÎµÏÎ³ÏŒÏ‚ Ï…Ï€Î¬Î»Î»Î·Î»Î¿Ï‚,Empleado en activo,Aktiivinen tyÃ¶ntekijÃ¤,...,Pekerja aktif,In actieve dienst,Aktiv ansatt,Pracownik aktywny,FuncionÃ¡rio ativo,ÐÐºÑ‚Ð¸Ð²Ð½Ñ‹Ð¹ ÑÐ¾Ñ‚Ñ€ÑƒÐ´Ð½Ð¸Ðº,çŽ°ä»»å‘˜å·¥,Aktiv anstÃ¤lld,ç¾ä»»å“¡å·¥,à¸žà¸™à¸±à¸à¸‡à¸²à¸™à¸—à¸µà¹ˆà¸—à¸³à¸‡à¸²à¸™à¸­à¸¢à¸¹à¹ˆ
1,152,Voluntary,Freiwillig,Volontaire,ä»»æ„é€€è·,Neplaceno,Frivilligt,Î ÏÎ¿Î±Î¹ÏÎµÏ„Î¹ÎºÏŒ,Voluntario,Vapaaehtoinen,...,Sukarela,Vrijwillig,Frivillig,Dobrowolne,VoluntÃ¡rio,Ð”Ð¾Ð±Ñ€Ð¾Ð²Ð¾Ð»ÑŒÐ½Ñ‹Ð¹,æ— å¿,Frivillig,ç„¡å„Ÿ,à¸­à¸²à¸ªà¸²à¸ªà¸¡à¸±à¸„à¸£
2,154,Discharged - performance,Entlassen - Leistung,CongÃ©diÃ© - performance,å…è· - æ¥­ç¸¾,PropuÅ¡tÄ›n(a) - vÃ½kon,Afskediget - prÃ¦station,Î‘Ï€Î¿Î¼Î±ÎºÏÏÎ½Î¸Î·ÎºÎµ - Î±Ï€ÏŒÎ´Î¿ÏƒÎ·,Despedido - rendimiento,Irtisanottu â€“ suoritus,...,Pelaksanaan - prestasi,Ontslagen - prestatie,Avskjedighet - prestasjon,Zwolniony - wyniki pracy,Dispensado - desempenho,Ð Ð°Ð·Ð³Ñ€ÑƒÐ¶ÐµÐ½Ð¾ - Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ,å·²è§£é›‡ - ç»©æ•ˆ,Avskedad - prestation,å·²è§£é›‡ - ç¸¾æ•ˆ,à¹€à¸¥à¸´à¸à¸ˆà¹‰à¸²à¸‡ - à¸œà¸¥à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™
3,155,Promoted,BefÃ¶rdert,Promu,æ˜‡æ ¼æ¸ˆã¿,PovÃ½Å¡en(a),Forfremmet,Î ÏÎ¿Î®Ï‡Î¸Î·,Ascendido,Ylennetty,...,Dinaikkan pangkat,Bevorderd,Forfremmet,Awansowany,Promovido,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð½ÑƒÑ‚Ñ‹Ð¹,å·²æ™‹å‡,Befordrad,å·²æ™‰å‡,à¹€à¸¥à¸·à¹ˆà¸­à¸™à¸•à¸³à¹à¸«à¸™à¹ˆà¸‡à¹à¸¥à¹‰à¸§
4,156,Layoff,Entlassung,LicenciÃ©,ä¸€æ™‚è§£é›‡,DoÄasnÃ© volno,Fyring,Î‘Ï€Î¿Î»ÏÎ¸Î·ÎºÎµ,Cesado,Lomautus,...,Henti kerja sementara,Ontslagen (afvloeiingsregeling),Nedbemannet,Zwolnienie z pracy,Demitido,Ð’Ñ€ÐµÐ¼ÐµÐ½Ð½Ð¾Ðµ ÑƒÐ²Ð¾Ð»ÑŒÐ½ÐµÐ½Ð¸Ðµ,åœå·¥,FristÃ¤llning,è‡¨æ™‚è§£é›‡,à¸–à¸¹à¸à¸›à¸¥à¸”à¸­à¸­à¸

******************************************************************************************

#### tab50

GOSALESDW.EMP_TRAINING_DIM
(42, 26)

,TRAINING_KEY,COURSE_CODE,COURSE_COST,COURSE_NAME_EN,COURSE_NAME_DE,COURSE_NAME_FR,COURSE_NAME_JA,COURSE_NAME_CS,COURSE_NAME_DA,COURSE_NAME_EL,...,COURSE_NAME_MS,COURSE_NAME_NL,COURSE_NAME_NO,COURSE_NAME_PL,COURSE_NAME_PT,COURSE_NAME_RU,COURSE_NAME_SC,COURSE_NAME_SV,COURSE_NAME_TC,COURSE_NAME_TH
0,64001,10001,2000,GO Marketing 3,AUF Marketing 3,Marketing VA 3,GO ãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚° 3,Marketing GO 3,Fri marketing 3,Î•Î›Î‘-Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· ÏƒÏ„Î·Î½ Î±Î³Î¿ÏÎ¬ 3,...,Pemasaran GO 3,Marketing ABC 3,GO-markedsfÃ¸ring 3,Marketing WIO 3,Marketing GA 3,ÐžÑ‚Ð´ÐµÐ» Ð¼Ð°Ñ€ÐºÐµÑ‚Ð¸Ð½Ð³Ð° GO 3,æˆ·å¤–ç”¨å“å…¬å¸è¥é”€ 3,GO marknadsfÃ¶ring 3,å¤§ç”Ÿæ´»å®¶è¡ŒéŠ·ä¸‰,à¸à¸²à¸£à¸•à¸¥à¸²à¸” GO 3
1,64002,10501,3000,GO Management 1,AUF Management 1,Gestion VA 1,GO ç®¡ç†çµŒå–¶ 1,Management GO 1,Fri ledelse 1,Î•Î›Î‘-Î”Î¹Î¿Î¯ÎºÎ·ÏƒÎ· 1,...,Pengurusan GO 1,Management ABC 1,GO-ledelse 1,Kierownictwo WIO 1,Gerenciamento GA 1,Ð£Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ GO 1,æˆ·å¤–ç”¨å“å…¬å¸ç®¡ç† 1,GO ledning 1,å¤§ç”Ÿæ´»å®¶ç®¡ç†ä¸€,à¸à¸²à¸£à¸ˆà¸±à¸”à¸à¸²à¸£ GO 1
2,64003,11001,2500,Economic and Tax Forecasting 1,Betriebswirtschaftliche und Steuerprognosen 1,PrÃ©visions Ã©conomiques et fiscales 1,çµŒæ¸ˆãŠã‚ˆã³ç¨Žé‡‘ã®äºˆæ¸¬ 1,EkonomickÃ¡ a daÅˆovÃ¡ prognÃ³za 1,Budget for Ã¸konomi og skat 1,ÎŸÎ¹ÎºÎ¿Î½Î¿Î¼Î¹ÎºÎ­Ï‚ ÎºÎ±Î¹ Ï†Î¿ÏÎ¿Î»Î¿Î³Î¹ÎºÎ­Ï‚ Ï€ÏÎ¿Î²Î»Î­ÏˆÎµÎ¹Ï‚ 1,...,Ekonomi dan Ramalan Cukai 1,Begroten en budgetteren 1,Ã˜konomisk og skattemessig prognose 1,Prognoza ekonomiczna i podatkowa 1,PrevisÃ£o econÃ´mica e de impostos 1,Ð­ÐºÐ¾Ð½Ð¾Ð¼Ð¸Ñ‡ÐµÑÐºÐ¸Ð¹ Ð¸ Ð½Ð°Ð»Ð¾Ð³Ð¾Ð²Ð¾Ð¹ Ð¿Ñ€Ð¾Ð³Ð½Ð¾Ð· 1,ç»æµŽä¸Žç¨Žé‡‘é¢„æµ‹ 1,Ekonomisk prognostisering och skatteprognostis...,ç¶“æ¿Ÿæ•ˆç›Šèˆ‡ç¨…é‡‘é æ¸¬ 1,à¸à¸²à¸£à¸„à¸²à¸”à¸à¸²à¸£à¸“à¹Œà¹€à¸¨à¸£à¸©à¸à¸à¸´à¸ˆà¹à¸¥à¸°à¸ à¸²à¸©à¸µ 1
3,64004,13001,2000,Project Management,Projektmanagement,Gestion de projet,ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆç®¡ç†,ProjektovÃ½ management,Projektledelse,Î”Î¹Î±Ï‡ÎµÎ¯ÏÎ¹ÏƒÎ· Î­ÏÎ³Î¿Ï…,...,Pengurusan Projek,Projectmanagement,Prosjektstyring,ZarzÄ…dzanie projektami,Gerenciamento de projetos,Ð£Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ Ð¿Ñ€Ð¾ÐµÐºÑ‚Ð¾Ð¼,é¡¹ç›®ç®¡ç†,Projektledning,å°ˆæ¡ˆç®¡ç†,à¸à¸²à¸£à¸šà¸£à¸´à¸«à¸²à¸£à¹‚à¸„à¸£à¸‡à¸à¸²à¸£
4,64005,13501,250,Safety Procedures,ArbeitsschutzmaÃŸnahmen,Consignes de sÃ©curitÃ©,å®‰å…¨æ‰‹é †,BezpeÄnostnÃ­ postupy,Sikkerhedsprocedurer,Î”Î¹Î±Î´Î¹ÎºÎ±ÏƒÎ¯ÎµÏ‚ Î±ÏƒÏ†Î±Î»ÎµÎ¯Î±Ï‚,...,Prosedur Keselamatan,Veiligheidsvoorschriften,Sikkerhetsprosedyrer,Procedury bezpieczeÅ„stwa,Procedimentos de seguranÃ§a,ÐŸÑ€Ð¾Ñ†ÐµÐ´ÑƒÑ€Ñ‹ Ñ‚ÐµÑ…Ð½Ð¸ÐºÐ¸ Ð±ÐµÐ·Ð¾Ð¿Ð°ÑÐ½Ð¾ÑÑ‚Ð¸,å®‰å…¨ç¨‹åº,SÃ¤kerhetsÃ¥tgÃ¤rder,å®‰å…¨ç¨‹åº,à¸£à¸°à¹€à¸šà¸µà¸¢à¸šà¸à¸²à¸£à¸”à¹‰à¸²à¸™à¸„à¸§à¸²à¸¡à¸›à¸¥à¸­à¸”à¸ à¸±à¸¢

******************************************************************************************

#### tab51

GOSALESDW.EMP_TRAINING_FACT
(4465, 7)

,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,DAY_KEY,EXPENSE_TYPE_KEY,TRAINING_KEY,COURSE_COST
0,11101,43636,4183,20040621,2137,64039,3500
1,11101,43636,4184,20050516,2137,64040,3500
2,11101,43636,4184,20060522,2137,64041,4500
3,11101,43636,4184,20070618,2137,64042,4500
4,11101,43637,4002,20060522,2137,64041,4500

******************************************************************************************

#### tab52

GOSALES.EURO_CONVERSION
(8, 1)

   COUNTRY_CODE
0          5007
1          5022
2          6001
3          6002
4          6017

******************************************************************************************

#### tab53

GOSALESHR.EXPENSE_GROUP
(10, 24)

,EXPENSE_GROUP_CODE,EXPENSE_GROUP_EN,EXPENSE_GROUP_DE,EXPENSE_GROUP_FR,EXPENSE_GROUP_JA,EXPENSE_GROUP_CS,EXPENSE_GROUP_DA,EXPENSE_GROUP_EL,EXPENSE_GROUP_ES,EXPENSE_GROUP_FI,...,EXPENSE_GROUP_MS,EXPENSE_GROUP_NL,EXPENSE_GROUP_NO,EXPENSE_GROUP_PL,EXPENSE_GROUP_PT,EXPENSE_GROUP_RU,EXPENSE_GROUP_SC,EXPENSE_GROUP_SV,EXPENSE_GROUP_TC,EXPENSE_GROUP_TH
0,400,Pay,Gehalt,Paie,çµ¦æ–™,Plat,Betaling,Î Î»Î·ÏÏ‰Î¼Î®,Pagos,Maksut,...,Bayar,Salaris,LÃ¸nn,PÅ‚aca,Pagamento,ÐžÐ¿Ð»Ð°Ñ‚Ð°,å·¥èµ„,LÃ¶n,æ”¯ä»˜,à¸„à¹ˆà¸²à¸•à¸­à¸šà¹à¸—à¸™
1,401,Bonus,Sonderzulage,Prime,ãƒœãƒ¼ãƒŠã‚¹,Bonus,Bonus,ÎœÏ€ÏŒÎ½Î¿Ï…Ï‚,Prima,Bonus,...,Bonus,Bonus,Bonus,Premia,BÃ´nus,ÐŸÑ€ÐµÐ¼Ð¸Ñ,å¥–é‡‘,Bonus,çŽé‡‘,à¹‚à¸šà¸™à¸±à¸ª
2,402,Benefits,Sozialleistungen,Avantages sociaux,ç¦åˆ©åŽšç”Ÿ,OdmÄ›ny,Personalegoder,Î Î±ÏÎ¿Ï‡Î­Ï‚,Beneficios,Edut,...,Faedah,Vergoedingen,Fordeler,Åšwiadczenia,BenefÃ­cios,ÐŸÑ€ÐµÐ¸Ð¼ÑƒÑ‰ÐµÑÑ‚Ð²Ð°,ç¦åˆ©,FÃ¶rmÃ¥ner,ç¦åˆ©,à¸ªà¸§à¸±à¸ªà¸”à¸´à¸à¸²à¸£
3,403,Pay Increase,GehaltserhÃ¶hung,Augmentation salariale,æ˜‡çµ¦,ZvÃ½Å¡enÃ­ pÅ™Ã­jmÅ¯,LÃ¸nforhÃ¸jelse,Î‘ÏÎ¾Î·ÏƒÎ· Î¼Î¹ÏƒÎ¸Î¿Ï,Incremento salarial,Palkankorotus,...,Bayaran Meningkat,Salarisverhoging,LÃ¸nnspÃ¥legg,PodwyÅ¼ka,Aumento,Ð£Ð²ÐµÐ»Ð¸Ñ‡ÐµÐ½Ð¸Ðµ Ð·Ð°Ñ€Ð°Ð±Ð¾Ñ‚Ð½Ð¾Ð¹ Ð¿Ð»Ð°Ñ‚Ñ‹,å·¥èµ„å¢žé•¿,LÃ¶nefÃ¶rhÃ¶jning,æ”¯ä»˜å¢žåŠ,à¸à¸²à¸£à¹€à¸žà¸´à¹ˆà¸¡à¸„à¹ˆà¸²à¸•à¸­à¸šà¹à¸—à¸™
4,404,Training,Schulung,Formation,ç ”ä¿®,Å kolenÃ­,Uddannelse,Î•ÎºÏ€Î±Î¯Î´ÎµÏ…ÏƒÎ·,FormaciÃ³n,Koulutus,...,Latihan,Training,OpplÃ¦ring,Szkolenie,Treinamento,ÐžÐ±ÑƒÑ‡ÐµÐ½Ð¸Ðµ,åŸ¹è®­,Utbildning,åŸ¹è¨“,à¸à¸²à¸£à¸à¸¶à¸à¸­à¸šà¸£à¸¡

******************************************************************************************

#### tab54

GOSALESHR.EXPENSE_TYPE
(39, 27)

,EXPENSE_TYPE_CODE,EXPENSE_GROUP_CODE,EXPENSE_UNIT_CODE,ACCOUNT_CODE,EXPENSE_TYPE_EN,EXPENSE_TYPE_DE,EXPENSE_TYPE_FR,EXPENSE_TYPE_JA,EXPENSE_TYPE_CS,EXPENSE_TYPE_DA,...,EXPENSE_TYPE_MS,EXPENSE_TYPE_NL,EXPENSE_TYPE_NO,EXPENSE_TYPE_PL,EXPENSE_TYPE_PT,EXPENSE_TYPE_RU,EXPENSE_TYPE_SC,EXPENSE_TYPE_SV,EXPENSE_TYPE_TC,EXPENSE_TYPE_TH
0,1,400,50,601100,Regular - Hourly,RegulÃ¤r - pro Stunde,RÃ©gulier - Horaire,åŸºæœ¬æ™‚é–“çµ¦,Å˜Ã¡dnÃ© - HodinovÄ›,RegelmÃ¦ssigt - hver time,...,Tetap - Mengikut Jam,Standaard - Per uur,Fast - per time,ZwykÅ‚e - co godzinÄ™,Regular - por hora,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ð¾ â€“ ÐµÐ¶ÐµÑ‡Ð°ÑÐ½Ð¾,æ­£å¸¸å·¥ä½œæ—¶é—´ - æ—¶è–ª,Normal - Per timma,å›ºå®šæ™‚è–ª,à¸›à¸£à¸°à¸ˆà¸³ - à¸£à¸²à¸¢à¸Šà¸±à¹ˆà¸§à¹‚à¸¡à¸‡
1,2,401,51,601600,Performance,Leistung,Performance,æ¥­ç¸¾,VÃ½kon,PrÃ¦station,...,Prestasi,Prestatie,Prestasjoner,Wyniki,Desempenho,Ð’Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ,ç»©æ•ˆ,PrestationsnivÃ¥,ç¸¾æ•ˆ,à¸œà¸¥à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™
2,3,400,50,601500,Vacation,Urlaub,Vacances,ä¼‘æš‡,DovolenÃ¡,Ferie,...,Percutian,Vakantie,Ferie,Urlopy,FÃ©rias,ÐžÑ‚Ð¿ÑƒÑÐº,ä¼‘å‡,Semester,å‡æœŸ,à¸§à¸±à¸™à¸«à¸¢à¸¸à¸”
3,4,400,50,601500,Sick Leave,Krankmeldung,CongÃ© de maladie,ç—…æ°—ä¼‘æš‡,ZdravotnÃ­ volno,SygefravÃ¦r,...,Cuti sakit,Ziekteverlof,Sykepermisjon,Zwolnienie lekarskie,LicenÃ§a mÃ©dica,ÐžÑ‚ÑÑƒÑ‚ÑÑ‚Ð²Ð¸Ðµ Ð¿Ð¾ Ð±Ð¾Ð»ÐµÐ·Ð½Ð¸,ç—…å‡,SjukfrÃ¥nvaro,ç—…å‡,à¸¥à¸²à¸›à¹ˆà¸§à¸¢
4,5,401,52,601600,Employee Referral,Mitarbeiter-Empfehlung,Recommandation de personnel,å¾“æ¥­å“¡æŽ¨è–¦,DoporuÄenÃ­ zamÄ›stnance,Medarbejderhenvisning,...,Rujukan Pekerja,Personeelswerving via werknemer,Henvisning av ansatte,OdesÅ‚anie pracownika,ReferÃªncia de funcionÃ¡rio,ÐÐ°Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ ÑÐ¾Ñ‚Ñ€ÑƒÐ´Ð½Ð¸ÐºÐ°,å‘˜å·¥æŽ¨è,Rekommendera anstÃ¤lld,å“¡å·¥æŽ¨è–¦,à¸à¸²à¸£à¹à¸™à¸°à¸™à¸³à¸žà¸™à¸±à¸à¸‡à¸²à¸™à¹ƒà¸«à¸¡à¹ˆ

******************************************************************************************

#### tab55

GOSALESHR.EXPENSE_UNIT
(3, 24)

,EXPENSE_UNIT_CODE,EXPENSE_UNIT_EN,EXPENSE_UNIT_DE,EXPENSE_UNIT_FR,EXPENSE_UNIT_JA,EXPENSE_UNIT_CS,EXPENSE_UNIT_DA,EXPENSE_UNIT_EL,EXPENSE_UNIT_ES,EXPENSE_UNIT_FI,...,EXPENSE_UNIT_MS,EXPENSE_UNIT_NL,EXPENSE_UNIT_NO,EXPENSE_UNIT_PL,EXPENSE_UNIT_PT,EXPENSE_UNIT_RU,EXPENSE_UNIT_SC,EXPENSE_UNIT_SV,EXPENSE_UNIT_TC,EXPENSE_UNIT_TH
0,50,Hours,Stunden,Heures,æ™‚é–“,Hodiny,Timer,ÎÏÎµÏ‚,Horas,Tunnit,...,Jam,Uren,Timer,Godziny,Horas,Ñ‡.,å°æ—¶,Timmar,å°æ™‚,à¸Šà¸±à¹ˆà¸§à¹‚à¸¡à¸‡
1,51,Percent,Prozent,Pourcentage,ãƒ‘ãƒ¼ã‚»ãƒ³ãƒˆ,Procenta,Procent,Î Î¿ÏƒÎ¿ÏƒÏ„ÏŒ,Porcentaje,Prosentti,...,Peratus,Percentage,Prosent,Procent,Porcentagem,ÐŸÑ€Ð¾Ñ†ÐµÐ½Ñ‚,ç™¾åˆ†æ¯”,Procent,ç™¾åˆ†æ¯”,à¹€à¸›à¸­à¸£à¹Œà¹€à¸‹à¹‡à¸™à¸•à¹Œ
2,52,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸

******************************************************************************************

#### tab56

GOSALESDW.FIN_ACCOUNT_CLASS_LOOKUP
(5, 29)

,ACCOUNT_CLASS_CODE,ACCOUNT_CLASS_EN,ACCOUNT_CLASS_FR,ACCOUNT_CLASS_DE,ACCOUNT_CLASS_NL,ACCOUNT_CLASS_JA,ACCOUNT_CLASS_CS,ACCOUNT_CLASS_HU,ACCOUNT_CLASS_KO,ACCOUNT_CLASS_PT,...,ACCOUNT_CLASS_HI,ACCOUNT_CLASS_IT,ACCOUNT_CLASS_NO,ACCOUNT_CLASS_PL,ACCOUNT_CLASS_RO,ACCOUNT_CLASS_RU,ACCOUNT_CLASS_SV,ACCOUNT_CLASS_ES,ACCOUNT_CLASS_PG,ACCOUNT_CLASS_TH
0,5,Balance sheet account,Compte de bilan,Bilanzkonto,Balansrekening,è²¸å€Ÿå¯¾ç…§è¡¨å‹˜å®š,RozvahovÃ½ ÃºÄet,MÃ©rlegszÃ¡mla,ëŒ€ì°¨ ëŒ€ì¡°í‘œ ê³„ì •,Conta do balanÃ§o patrimonial,...,à¤¬à¥ˆà¤²à¤¨à¥à¤¸-à¤¶à¥€à¤Ÿ à¤²à¥‡à¤–à¤¾,Conto di bilancio,Balansekonto,Konto bilansu,Cont bilanÅ£,Ð¡Ñ‚Ð°Ñ‚ÑŒÑ Ð±Ð°Ð»Ð°Ð½ÑÐ°,BalansrÃ¤kningskonto,Cuenta de balance general,Conta do balanÃ§o patrimonial,à¸šà¸±à¸à¸Šà¸µà¸‡à¸šà¸”à¸¸à¸¥
1,10,Income statement account,Compte d'Ã©tat des rÃ©sultats,Erfolgskonto,Winst- en verliesrekening,æç›Šè¨ˆç®—æ›¸å‹˜å®š,VÃ½sledkovÃ½ ÃºÄet,JÃ¶vedelemkimutatÃ¡si szÃ¡mla,ì†ìµ ê³„ì‚°ì„œ ê³„ì •,Conta da demonstraÃ§Ã£o de resultados,...,à¤†à¤¯ à¤µà¤¿à¤µà¤°à¤£ à¤²à¥‡à¤–à¤¾,Conto dei profitti e delle perdite,Konto for resultatregnskap,Konto rachunku zyskÃ³w i strat,Cont profit ÅŸi pierdere,Ð¡Ñ‡ÐµÑ‚ Ð¿Ñ€Ð¸Ð±Ñ‹Ð»ÐµÐ¹ Ð¸ ÑƒÐ±Ñ‹Ñ‚ÐºÐ¾Ð²,Resultatkonto,Cuenta de extracto de ingresos,Conta da demonstraÃ§Ã£o de resultados,à¸šà¸±à¸à¸Šà¸µà¸‡à¸šà¸à¸³à¹„à¸£à¸‚à¸²à¸”à¸—à¸¸à¸™
2,97,Cash flow account,Compte d'encaisse,Cash Flow-Konto,Kasstroomrekening,ã‚­ãƒ£ãƒƒã‚·ãƒ¥ ãƒ•ãƒ­ãƒ¼å‹˜å®š,ÃšÄet penÄ›Å¾nÃ­ho toku,PÃ©nzforgalmi szÃ¡mla,í˜„ê¸ˆ ìœ ì¶œìž… ê³„ì •,Conta do fluxo de caixa,...,à¤¨à¤•à¤¦à¥€ à¤ªà¥à¤°à¤µà¤¾à¤¹ à¤²à¥‡à¤–à¤¾,Conto flusso di cassa,Konto for kontaktflyt,Konto rachunku przepÅ‚ywu Å›rodkÃ³w pieniÄ™Å¼nych,Cont numerar,Ð¡Ñ‡ÐµÑ‚ Ð¿Ð¾Ñ‚Ð¾ÐºÐ° Ð½Ð°Ð»Ð¸Ñ‡Ð½Ñ‹Ñ… ÑÑ€ÐµÐ´ÑÑ‚Ð²,KassaflÃ¶deskonto,Cuenta de flujo de efectivos,Conta do fluxo de caixa,à¸šà¸±à¸à¸Šà¸µà¸à¸£à¸°à¹à¸ªà¹€à¸‡à¸´à¸™à¸ªà¸”
3,98,Statistical account,Compte statistique,Statistisches Konto,Statistische rekening,çµ±è¨ˆå‹˜å®š,StatistickÃ½ ÃºÄet,Statisztikai szÃ¡mla,í†µê³„ ê³„ì •,Conta de estatÃ­stica,...,à¤¸à¤¾à¤‚à¤–à¥à¤¯à¤¿à¤•à¥€à¤¯ à¤²à¥‡à¤–à¤¾,Conto statistiche,Statistisk konto,Konto statystyczne,Cont statistic,Ð¡Ñ‚Ð°Ñ‚Ð¸ÑÑ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ð¹ ÑÑ‡ÐµÑ‚,Statistiskt konto,Cuenta estadÃ­stica,Conta estatÃ­stica,à¸šà¸±à¸à¸Šà¸µà¸ªà¸–à¸´à¸•à¸´
4,99,Spread account,Compte de distribution,Margenkonto,Verzamelrekening,æ‹¡æ•£å‹˜å®š,RozÅ¡Ã­Å™enÃ½ ÃºÄet,KÃ¼lÃ¶nbÃ¶zeti szÃ¡mla,ê°€ì‚°ê¸ˆë¦¬ ê³„ì •,Conta de distribuiÃ§Ã£o,...,à¤µà¤¿à¤¸à¥à¤¤à¥ƒà¤¤ à¤²à¥‡à¤–à¤¾,Conto distribuito,Spredningskonto,Konto syntetyczne,Cont adaos,Ð¡Ñ‡ÐµÑ‚ ÑÐ¿Ñ€ÑÐ´Ð°,Spridningkonto,Cuenta diferencial,Conta da margem de lucro,à¸šà¸±à¸à¸Šà¸µà¸ªà¹€à¸›à¸£à¸”

******************************************************************************************

#### tab57

GOSALESDW.FIN_ACCOUNT_DIM
(242, 24)

,ACCOUNT_KEY,ACCOUNT_CODE1,ACCOUNT_CODE2,ACCOUNT_CODE3,ACCOUNT_CODE4,ACCOUNT_CODE5,ACCOUNT_CODE6,ACCOUNT_CODE7,ACCOUNT_CODE8,ACCOUNT_CODE9,...,ACCOUNT_CODE14,ACCOUNT_CODE15,ACCOUNT_CODE16,ACCOUNT_CODE,ACCOUNT_PARENT,DEBIT_OR_CREDIT,ACCOUNT_TYPE_CODE,ACCOUNT_CLASS_CODE,ACCOUNT_LEVEL,AGGREGATION_SIGN
0,8001,TOT_BALSHT,TOT_LIAB&EQTY,TOT_EQTY,301000,301300,NET_INC,EBT,EBIT,EBITDA,...,150200,500500,500600,500620,500600,D,S,10,17,-
1,8002,TOT_BALSHT,TOT_LIAB&EQTY,TOT_EQTY,301000,301300,NET_INC,EBT,EBIT,EBITDA,...,150200,500500,500600,500640,500600,D,S,10,17,-
2,8003,TOT_BALSHT,TOT_LIAB&EQTY,TOT_EQTY,301000,301300,NET_INC,EBT,EBIT,EBITDA,...,150200,500500,500600,500650,500600,D,S,10,17,-
3,8004,TOT_BALSHT,TOT_LIAB&EQTY,TOT_EQTY,301000,301300,NET_INC,EBT,EBIT,EBITDA,...,150200,500500,500600,500660,500600,D,S,10,17,-
4,8005,TOT_BALSHT,TOT_LIAB&EQTY,TOT_EQTY,301000,301300,NET_INC,EBT,EBIT,EBITDA,...,150200,500500,500600,500670,500600,D,S,10,17,-

******************************************************************************************

#### tab58

GOSALESDW.FIN_ACCOUNT_NAME_LOOKUP
(242, 24)

,ACCOUNT_CODE,ACCOUNT_NAME_EN,ACCOUNT_NAME_DE,ACCOUNT_NAME_FR,ACCOUNT_NAME_JA,ACCOUNT_NAME_CS,ACCOUNT_NAME_DA,ACCOUNT_NAME_EL,ACCOUNT_NAME_ES,ACCOUNT_NAME_FI,...,ACCOUNT_NAME_MS,ACCOUNT_NAME_NL,ACCOUNT_NAME_NO,ACCOUNT_NAME_PL,ACCOUNT_NAME_PT,ACCOUNT_NAME_RU,ACCOUNT_NAME_SC,ACCOUNT_NAME_SV,ACCOUNT_NAME_TC,ACCOUNT_NAME_TH
0,100000,Cash and securities,Bargeld und Wertpapiere,Encaisse et titres,ç¾é‡‘ãŠã‚ˆã³æœ‰ä¾¡è¨¼åˆ¸,Hotovost a cennÃ© papÃ­ry,Likvid beholdning og vÃ¦rdipapirer,ÎœÎµÏ„ÏÎ·Ï„Î¬ ÎºÎ±Î¹ Ï‡ÏÎµÏŒÎ³ÏÎ±Ï†Î±,Efectivos y valores,Rahat ja arvopaperit,...,Tunai dan jaminan,Contanten en waardepapieren,Kontanter og verdipapirer,Åšrodki pieniÄ™Å¼ne i papiery wartoÅ›ciowe,Caixa e valores mobiliÃ¡rios,ÐÐ°Ð»Ð¸Ñ‡Ð½Ñ‹Ðµ Ð¸ Ñ†ÐµÐ½Ð½Ñ‹Ðµ Ð±ÑƒÐ¼Ð°Ð³Ð¸,çŽ°é‡‘å’Œè¯åˆ¸,Kontanta medel och vÃ¤rdepapper,ç¾é‡‘èˆ‡æœ‰åƒ¹è­‰åˆ¸,à¹€à¸‡à¸´à¸™à¸ªà¸”à¹à¸¥à¸°à¸•à¸£à¸²à¸ªà¸²à¸£à¸«à¸™à¸µà¹‰
1,100100,Cash,Bargeld,Encaisse,ç¾é‡‘,Hotovost,Likvid beholdning,ÎœÎµÏ„ÏÎ·Ï„Î¬,Efectivos,Rahat,...,Tunai,Contanten,Kontanter,Åšrodki pieniÄ™Å¼ne,Caixa,ÐÐ°Ð»Ð¸Ñ‡Ð½Ñ‹Ðµ,çŽ°é‡‘,Kontanta medel,ç¾é‡‘,à¹€à¸‡à¸´à¸™à¸ªà¸”
2,100200,Securities,Wertpapiere,Titres,æœ‰ä¾¡è¨¼åˆ¸,CennÃ© papÃ­ry,VÃ¦rdipapirer,Î§ÏÎµÏŒÎ³ÏÎ±Ï†Î±,Valores,Arvopaperit,...,Sekuriti,Waardepapieren,Verdipapirer,Papiery wartoÅ›ciowe,Valores mobiliÃ¡rios,Ð¦ÐµÐ½Ð½Ñ‹Ðµ Ð±ÑƒÐ¼Ð°Ð³Ð¸,è¯åˆ¸,VÃ¤rdepapper,æœ‰åƒ¹è­‰åˆ¸,à¸•à¸£à¸²à¸ªà¸²à¸£à¸«à¸™à¸µà¹‰
3,120000,Prepaid expenses,Vorbezahlte Kosten,Frais payÃ©s d'avance,å‰æ‰•è²»ç”¨,NÃ¡klady pÅ™Ã­Å¡tÃ­ch obdobÃ­,Langfristede forudbetalte omkostninger,Î ÏÎ¿Ï€Î»Î·ÏÏ‰Î¼Î­Î½Î± Î­Î¾Î¿Î´Î±,Ajustes por periodificaciÃ³n,Siirtosaamiset,...,Perbelanjaan prabayar,Vooruitbetaalde kosten,ForhÃ¥ndsbetalte utgifter,Rozliczenia miÄ™dzyokresowe,Despesas pagas antecipadamente,Ð Ð°ÑÑ…Ð¾Ð´Ñ‹ Ð±ÑƒÐ´ÑƒÑ‰Ð¸Ñ… Ð¿ÐµÑ€Ð¸Ð¾Ð´Ð¾Ð²,é¢„ä»˜è´¹ç”¨,FÃ¶rutbetalda kostnader,é ä»˜è²»ç”¨,à¸„à¹ˆà¸²à¹ƒà¸Šà¹‰à¸ˆà¹ˆà¸²à¸¢à¸—à¸µà¹ˆà¸Šà¸³à¸£à¸°à¸¥à¹ˆà¸§à¸‡à¸«à¸™à¹‰à¸²
4,130000,Accounts receivable - net,Forderungen - netto,Comptes clients - valeur nette,å£²æŽ›é‡‘ - æ­£å‘³é‡‘é¡,ÃšÄty pohledÃ¡vek - ÄistÃ©,Tilgodehavender - netto,Î›Î¿Î³Î±ÏÎ¹Î±ÏƒÎ¼Î¿Î¯ ÎµÎ¹ÏƒÏ€ÏÎ±ÎºÏ„Î­Î¿Î¹ - ÎºÎ±Î¸Î±ÏÏŒ Ï€Î¿ÏƒÏŒ,Cuentas por cobrar (neto),Myyntisaamiset - netto,...,Akaun belum terima - bersih,Debiteuren - netto,Kundereskontro - netto,NaleÅ¼noÅ›ci - netto,Contas a receber - lÃ­quido,Ð”ÐµÐ±Ð¸Ñ‚Ð¾Ñ€ÑÐºÐ°Ñ Ð·Ð°Ð´Ð¾Ð»Ð¶ÐµÐ½Ð½Ð¾ÑÑ‚ÑŒ - Ñ‡Ð¸ÑÑ‚Ð°Ñ,åº”æ”¶å¸æ¬¾ - å‡€å€¼,UtestÃ¥ende fordringar - netto,æ‡‰æ”¶å¸³æ¬¾ - çµé¤˜,à¸šà¸±à¸à¸Šà¸µà¸¥à¸¹à¸à¸«à¸™à¸µà¹‰ - à¸ªà¸¸à¸—à¸˜à¸´

******************************************************************************************

#### tab59

GOSALESDW.FIN_ACCOUNT_TYPE_LOOKUP
(4, 29)

,ACCOUNT_TYPE_CODE,ACCOUNT_TYPE_EN,ACCOUNT_TYPE_FR,ACCOUNT_TYPE_DE,ACCOUNT_TYPE_NL,ACCOUNT_TYPE_JA,ACCOUNT_TYPE_CS,ACCOUNT_TYPE_HU,ACCOUNT_TYPE_KO,ACCOUNT_TYPE_PT,...,ACCOUNT_TYPE_HI,ACCOUNT_TYPE_IT,ACCOUNT_TYPE_NO,ACCOUNT_TYPE_PL,ACCOUNT_TYPE_RO,ACCOUNT_TYPE_RU,ACCOUNT_TYPE_SV,ACCOUNT_TYPE_ES,ACCOUNT_TYPE_PG,ACCOUNT_TYPE_TH
0,M,Monthly data,DonnÃ©es du mois,Monatliche Daten,Maandgegevens,æœˆåˆ¥ãƒ‡ãƒ¼ã‚¿,MÄ›sÃ­ÄnÃ­ data,Havi adatok,ì›”ë³„ ë°ì´í„°,Dados mensais,...,à¤®à¤¾à¤¸à¤¿à¤• à¤¡à¤¾à¤Ÿà¤¾,Dati mensili,MÃ¥nedlige data,Dane miesiÄ™czne,Date lunare,Ð”Ð°Ð½Ð½Ñ‹Ðµ Ð¼ÐµÑÑÑ†Ð°,MÃ¥nadsdata,Datos mensuales,InformaÃ§Ãµes mensais,à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸£à¸²à¸¢à¹€à¸”à¸·à¸­à¸™
1,S,Monthly or year-to-date data,DonnÃ©es du mois ou cumul de l'annÃ©e,Monatliche Daten oder Daten vom Jahresanfang b...,Maandgegevens of JTH-gegevens,æœˆåˆ¥ã¾ãŸã¯å¹´åº¦ç´¯è¨ˆãƒ‡ãƒ¼ã‚¿,MÄ›sÃ­ÄnÃ­ data nebo data roku ke dni,Havi vagy Ã©vkezdÃ©stÅ‘l szÃ¡mÃ­tott adatok,ì›”ë³„ ë˜ëŠ” ì—°ê°„ ëˆ„ê³„ ë°ì´í„°,Dados mensais ou no ano atÃ© a data,...,à¤®à¤¾à¤¸à¤¿à¤• à¤¯à¤¾ à¤‡à¤¸ à¤µà¤°à¥à¤· à¤•à¥€ à¤…à¤¬ à¤¤à¤• à¤•à¥€ à¤¤à¤¿à¤¥à¤¿ à¤•à¤¾ à¤¡à¤¾à¤Ÿà¤¾,Dati mensili oppure dall'apertura d'esercizio ...,MÃ¥nedlige data eller data hittil i Ã¥r,Dane miesiÄ™czne lub za okres od poczÄ…tku roku ...,Date lunare sau anuale pÃ¢nÄƒ la data curentÄƒ,Ð•Ð¶ÐµÐ¼ÐµÑÑÑ‡Ð½Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¸Ð»Ð¸ Ð½Ð°ÐºÐ¾Ð¿Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹Ð¹ Ð¾ÑÑ‚Ð°Ñ‚Ð¾Ðº,MÃ¥nadsdata eller hittills under Ã¥ret-data,Datos mensuales o anuales hasta la fecha,InformaÃ§Ãµes mensais ou anuais atÃ© Ã data,à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸£à¸²à¸¢à¹€à¸”à¸·à¸­à¸™à¸«à¸£à¸·à¸­à¸•à¹‰à¸™à¸›à¸µà¸–à¸¶à¸‡à¸›à¸±à¸ˆà¸ˆà¸¸à¸šà¸±à¸™
2,T,Monthly or year-to-date data (calculated account),DonnÃ©es du mois ou cumul de l'annÃ©e (compte ca...,Monatliche Daten oder Daten vom Jahresanfang b...,Maandgegevens of JTH-gegevens (berekende reken...,æœˆåˆ¥ã¾ãŸã¯å¹´åº¦ç´¯è¨ˆãƒ‡ãƒ¼ã‚¿ (ç®—å‡ºå‹˜å®š),MÄ›sÃ­ÄnÃ­ data nebo data roku ke dni (vypoÄtenÃ½ ...,Havi vagy Ã©vkezdÃ©stÅ‘l szÃ¡mÃ­tott adatok (szÃ¡mÃ­t...,ì›”ë³„ ë˜ëŠ” ì—°ê°„ ëˆ„ê³„ ë°ì´í„°(ê³„ì‚°ëœ ê³„ì •),Dados mensais ou no ano atÃ© a data (conta calc...,...,à¤®à¤¾à¤¸à¤¿à¤• à¤¯à¤¾ à¤‡à¤¸ à¤µà¤°à¥à¤· à¤•à¥€ à¤…à¤¬ à¤¤à¤• à¤•à¥€ à¤¤à¤¿à¤¥à¤¿ à¤•à¤¾ à¤¡à¤¾à¤Ÿà¤¾ (à¤—à¤£à¤¨...,Dati mensili oppure dall'apertura d'esercizio ...,MÃ¥nedlige data eller data hittil i Ã¥r (beregne...,Dane miesiÄ™czne lub za okres od poczÄ…tku roku ...,Date lunare sau anuale pÃ¢nÄƒ la data curentÄƒ (c...,Ð•Ð¶ÐµÐ¼ÐµÑÑÑ‡Ð½Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¸Ð»Ð¸ Ð½Ð°ÐºÐ¾Ð¿Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹Ð¹ Ð¾ÑÑ‚Ð°Ñ‚Ð¾Ðº (...,MÃ¥nadsdata eller hittills under Ã¥ret-data (ber...,Datos mensuales o anuales hasta la fecha (cuen...,InformaÃ§Ãµes mensais ou anuais atÃ© Ã data (cont...,à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸£à¸²à¸¢à¹€à¸”à¸·à¸­à¸™à¸«à¸£à¸·à¸­à¸•à¹‰à¸™à¸›à¸µà¸–à¸¶à¸‡à¸›à¸±à¸ˆà¸ˆà¸¸à¸šà¸±à¸™ (à¸šà¸±à¸à¸Šà¸µà¸—à¸µà¹ˆà¸„à¸³...
3,Y,Year-to-date data,DonnÃ©es cumulatives de l'annÃ©e,Daten vom Jahresanfang bis heute,JTH-gegevens,å¹´åº¦ç´¯è¨ˆãƒ‡ãƒ¼ã‚¿,Data roku ke dni,Ã‰vkezdÃ©stÅ‘l szÃ¡mÃ­tott adatok,ì—°ê°„ ëˆ„ê³„ ë°ì´í„°,Dados no ano atÃ© a data,...,à¤‡à¤¸ à¤µà¤°à¥à¤· à¤•à¤¾ à¤…à¤¬ à¤¤à¤• à¤•à¥€ à¤¤à¤¿à¤¥à¤¿ à¤•à¤¾ à¤¡à¤¾à¤Ÿà¤¾,Dati dall'apertura d'esercizio fino alla data ...,Data hittil i Ã¥r,Dane za okres od poczÄ…tku roku do chwili obecnej,Date anuale pÃ¢nÄƒ la data curentÄƒ,ÐÐ°ÐºÐ¾Ð¿Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹Ð¹ Ð¾ÑÑ‚Ð°Ñ‚Ð¾Ðº,Hittills under Ã¥ret-data,Datos anuales hasta la fecha,InformaÃ§Ãµes anuais atÃ© Ã data,à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸•à¹‰à¸™à¸›à¸µà¸–à¸¶à¸‡à¸›à¸±à¸ˆà¸ˆà¸¸à¸šà¸±à¸™

******************************************************************************************

#### tab60

GOSALESDW.FIN_FINANCE_FACT
(164132, 6)

,SUBMISSION_KEY,ORGANIZATION_KEY,ACCOUNT_KEY,MONTH_KEY,AMOUNT_YEAR_TO_DATE,AMOUNT_MONTH
0,702,11115,8001,200401,26515.15,26515.15
1,702,11115,8001,200402,53030.30,26515.15
2,702,11115,8001,200403,79545.45,26515.15
3,702,11115,8001,200404,106060.60,26515.15
4,702,11115,8001,200405,132575.75,26515.15

******************************************************************************************

#### tab61

GOSALESDW.FIN_SUBM_CURRENCY_LOOKUP
(7, 24)

,SUBMISSION_CURRENCY_CODE,SUBMISSION_CURRENCY_EN,SUBMISSION_CURRENCY_FR,SUBMISSION_CURRENCY_DE,SUBMISSION_CURRENCY_NL,SUBMISSION_CURRENCY_JA,SUBMISSION_CURRENCY_CS,SUBMISSION_CURRENCY_HU,SUBMISSION_CURRENCY_KO,SUBMISSION_CURRENCY_PT,...,SUBMISSION_CURRENCY_FI,SUBMISSION_CURRENCY_IT,SUBMISSION_CURRENCY_NO,SUBMISSION_CURRENCY_PL,SUBMISSION_CURRENCY_RU,SUBMISSION_CURRENCY_SV,SUBMISSION_CURRENCY_ES,SUBMISSION_CURRENCY_TH,SUBMISSION_CURRENCY_MS,SUBMISSION_CURRENCY_ID
0,CAD,Local currency (CAD),Monnaie locale (CAD),Lokale WÃ¤hrung (CAD),Lokale valuta (CAD),ç¾åœ°é€šè²¨ (CAD),MÃ­stnÃ­ mÄ›na (CAD),Helyi pÃ©nznem (CAD),ì§€ì—­ í†µí™” (CAD),Moeda local (CAD),...,Paikallinen valuutta (CAD),Valuta locale (CAD),Lokal valuta (CAD),Waluta lokalna (CAD),ÐœÐµÑÑ‚Ð½Ð°Ñ Ð²Ð°Ð»ÑŽÑ‚Ð° (CAD),Lokal valuta (CAD),Moneda local (CAD),à¸ªà¸à¸¸à¸¥à¹€à¸‡à¸´à¸™à¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™ (CAD),Mata wang tempatan (CAD),Mata uang lokal (CAD)
1,EUR,Local currency (EUR),Monnaie locale (EUR),Lokale WÃ¤hrung (EUR),Lokale valuta (EUR),ç¾åœ°é€šè²¨ (EUR),MÃ­stnÃ­ mÄ›na (EUR),Helyi pÃ©nznem (EUR),ì§€ì—­ í†µí™” (EUR),Moeda local (EUR),...,Paikallinen valuutta (EUR),Valuta locale (EUR),Lokal valuta (EUR),Waluta lokalna (EUR),ÐœÐµÑÑ‚Ð½Ð°Ñ Ð²Ð°Ð»ÑŽÑ‚Ð° (EUR),Lokal valuta (EUR),Moneda local (EUR),à¸ªà¸à¸¸à¸¥à¹€à¸‡à¸´à¸™à¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™ (EUR),Mata wang tempatan (EUR),Mata uang lokal (EUR)
2,JPY,Local currency (JPY),Monnaie locale (JPY),Lokale WÃ¤hrung (JPY),Lokale valuta (JPY),ç¾åœ°é€šè²¨ (JPY),MÃ­stnÃ­ mÄ›na (JPY),Helyi pÃ©nznem (JPY),ì§€ì—­ í†µí™” (JPY),Moeda local (JPY),...,Paikallinen valuutta (JPY),Valuta locale (JPY),Lokal valuta (JPY),Waluta lokalna (JPY),ÐœÐµÑÑ‚Ð½Ð°Ñ Ð²Ð°Ð»ÑŽÑ‚Ð° (JPY),Lokal valuta (JPY),Moneda local (JPY),à¸ªà¸à¸¸à¸¥à¹€à¸‡à¸´à¸™à¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™ (JPY),Mata wang tempatan (JPY),Mata uang lokal (JPY)
3,L,Local currency,Monnaie locale,Lokale WÃ¤hrung,Lokale valuta,ç¾åœ°é€šè²¨,MÃ­stnÃ­ mÄ›na,Helyi pÃ©nznem,ì§€ì—­ í†µí™”,Moeda local,...,Paikallinen valuutta,Valuta locale,Lokal valuta,Waluta lokalna,ÐœÐµÑÑ‚Ð½Ð°Ñ Ð²Ð°Ð»ÑŽÑ‚Ð°,Lokal valuta,Moneda local,à¸ªà¸à¸¸à¸¥à¹€à¸‡à¸´à¸™à¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™,Mata wang tempatan,Mata uang lokal
4,MXN,Local currency (MXN),Monnaie locale (MXN),Lokale WÃ¤hrung (MXN),Lokale valuta (MXN),ç¾åœ°é€šè²¨ (MXN),MÃ­stnÃ­ mÄ›na (MXN),Helyi pÃ©nznem (MXN),ì§€ì—­ í†µí™” (MXN),Moeda local (MXN),...,Paikallinen valuutta (MXN),Valuta locale (MXN),Lokal valuta (MXN),Waluta lokalna (MXN),ÐœÐµÑÑ‚Ð½Ð°Ñ Ð²Ð°Ð»ÑŽÑ‚Ð° (MXN),Lokal valuta (MXN),Moneda local (MXN),à¸ªà¸à¸¸à¸¥à¹€à¸‡à¸´à¸™à¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™ (MXN),Mata wang tempatan (MXN),Mata uang lokal (MXN)

******************************************************************************************

#### tab62

GOSALESDW.FIN_SUBM_DIM
(52, 28)

,SUBMISSION_KEY,SUBMISSION_CODE,SUBMISSION_NAME_EN,SUBMISSION_NAME_CS,SUBMISSION_NAME_DA,SUBMISSION_NAME_DE,SUBMISSION_NAME_EL,SUBMISSION_NAME_ES,SUBMISSION_NAME_FI,SUBMISSION_NAME_FR,...,SUBMISSION_NAME_PL,SUBMISSION_NAME_PT,SUBMISSION_NAME_RU,SUBMISSION_NAME_SC,SUBMISSION_NAME_SV,SUBMISSION_NAME_TC,SUBMISSION_NAME_TH,SUBMISSION_YEAR,SUBMISSION_TYPE_CODE,SUBMISSION_CURRENCY_CODE
0,701,2004_Act_LC,2004 Actual results in local currency,2004 - SkuteÄnÃ© vÃ½sledky v mÃ­stnÃ­ mÄ›nÄ›,2004 Faktisk resultat i lokal valuta,Ist-Ergebnisse fÃ¼r 2004 in lokaler WÃ¤hrung,Î ÏÎ±Î³Î¼Î±Ï„Î¹ÎºÎ¬ Î±Ï€Î¿Ï„ÎµÎ»Î­ÏƒÎ¼Î±Ï„Î± 2004 ÏƒÎµ Ï„Î¿Ï€Î¹ÎºÏŒ Î½ÏŒÎ¼Î¹ÏƒÎ¼Î±,Resultados reales en la moneda local para 2004,2004 - todellinen tulos paikallisena valuuttana,RÃ©sultats rÃ©els de 2004 en monnaie locale,...,Wyniki rzeczywiste za rok 2004 w walucie lokalnej,Resultados reais 2004 em moeda local,Ð¤Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð·Ð° 2004 Ð³. Ð² Ð¼ÐµÑÑ‚Ð½Ð¾Ð¹ Ð²Ð°...,2004 å¹´å®žé™…ä¸šç»©ï¼ˆæœ¬åœ°è´§å¸ï¼‰,2004 Faktiskt resultat i lokal valuta,2004 å¹´å¯¦éš›çµç®— (æœ¬åœ‹è²¨å¹£),à¸œà¸¥à¸•à¸²à¸¡à¸ˆà¸£à¸´à¸‡à¸‚à¸­à¸‡à¸›à¸µ 2004 à¹ƒà¸™à¸ªà¸à¸¸à¸¥à¹€à¸‡à¸´à¸™à¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™,2004,A,L
1,702,2004_Act_USD,2004 Actual results in USD,2004 - SkuteÄnÃ© vÃ½sledky v USD,2004 Faktisk resultat i USD,Ist-Ergebnisse fÃ¼r 2004 in US-Dollar,Î ÏÎ±Î³Î¼Î±Ï„Î¹ÎºÎ¬ Î±Ï€Î¿Ï„ÎµÎ»Î­ÏƒÎ¼Î±Ï„Î± 2004 ÏƒÎµ Î´Î¿Î».Î—Î Î‘,Resultados reales en USD para 2004,2004 - todellinen tulos Yhdysvaltain dollareina,RÃ©sultats rÃ©els de 2004 en dollars amÃ©ricains,...,Wyniki rzeczywiste za rok 2004 w USD,Resultados reais 2004 em US$,Ð¤Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð·Ð° 2004 Ð³. Ð² Ð´Ð¾Ð»Ð»Ð°Ñ€Ð°Ñ… Ð¡Ð¨Ð,2004 å¹´å®žé™…ä¸šç»©ï¼ˆç¾Žå…ƒï¼‰,2004 Faktiskt resultat i USD,2004 å¹´å¯¦éš›çµç®— (ç¾Žå…ƒ),à¸œà¸¥à¸•à¸²à¸¡à¸ˆà¸£à¸´à¸‡à¸‚à¸­à¸‡à¸›à¸µ 2004 à¹ƒà¸™à¸ªà¸à¸¸à¸¥à¸”à¸­à¸¥à¸¥à¸²à¸£à¹Œà¸ªà¸«à¸£à¸±à¸,2004,A,USD
2,703,2004_Bud_USD,2004 Budget in USD,2004 - RozpoÄet v USD,2004 Budget i USD,Budget fÃ¼r 2004 in US-Dollar,Î ÏÎ¿Ï‹Ï€Î¿Î»Î¿Î³Î¹ÏƒÎ¼ÏŒÏ‚ 2004 ÏƒÎµ Î´Î¿Î». Î—Î Î‘,Presupuesto en USD para 2004,2004 - budjetti Yhdysvaltain dollareina,Budget de 2004 en dollars amÃ©ricains,...,BudÅ¼et na rok 2004 w USD,OrÃ§amento 2004 em US$,Ð‘ÑŽÐ´Ð¶ÐµÑ‚ 2004 Ð³. Ð² Ð´Ð¾Ð»Ð»Ð°Ñ€Ð°Ñ… Ð¡Ð¨Ð,2004 å¹´é¢„ç®—ï¼ˆç¾Žå…ƒï¼‰,2004 Budget i USD,2004 å¹´é ç®— (ç¾Žå…ƒ),à¸‡à¸šà¸›à¸£à¸°à¸¡à¸²à¸“à¸›à¸µ 2004 à¹ƒà¸™à¸ªà¸à¸¸à¸¥à¸”à¸­à¸¥à¸¥à¸²à¸£à¹Œà¸ªà¸«à¸£à¸±à¸,2004,B,USD
3,704,2005_Act_LC,2005 Actual results in local currency,2005 - SkuteÄnÃ© vÃ½sledky v mÃ­stnÃ­ mÄ›nÄ›,2005 Faktisk resultat i lokal valuta,Ist-Ergebnisse fÃ¼r 2005 in lokaler WÃ¤hrung,Î ÏÎ±Î³Î¼Î±Ï„Î¹ÎºÎ¬ Î±Ï€Î¿Ï„ÎµÎ»Î­ÏƒÎ¼Î±Ï„Î± 2005 ÏƒÎµ Ï„Î¿Ï€Î¹ÎºÏŒ Î½ÏŒÎ¼Î¹ÏƒÎ¼Î±,Resultados reales en la moneda local para 2005,2005 - todellinen tulos paikallisena valuuttana,RÃ©sultats rÃ©els de 2005 en monnaie locale,...,Wyniki rzeczywiste za rok 2005 w walucie lokalnej,Resultados reais 2005 em moeda local,Ð¤Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð·Ð° 2005 Ð³. Ð² Ð¼ÐµÑÑ‚Ð½Ð¾Ð¹ Ð²Ð°...,2005 å¹´å®žé™…ä¸šç»©ï¼ˆæœ¬åœ°è´§å¸ï¼‰,2005 Faktiskt resultat i lokal valuta,2005 å¹´å¯¦éš›çµç®— (æœ¬åœ‹è²¨å¹£),à¸œà¸¥à¸•à¸²à¸¡à¸ˆà¸£à¸´à¸‡à¸‚à¸­à¸‡à¸›à¸µ 2005 à¹ƒà¸™à¸ªà¸à¸¸à¸¥à¹€à¸‡à¸´à¸™à¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™,2005,A,L
4,705,2005_Act_USD,2005 Actual results in USD,2005 - SkuteÄnÃ© vÃ½sledky v USD,2005 Faktisk resultat i USD,Ist-Ergebnisse fÃ¼r 2005 in US-Dollar,Î ÏÎ±Î³Î¼Î±Ï„Î¹ÎºÎ¬ Î±Ï€Î¿Ï„ÎµÎ»Î­ÏƒÎ¼Î±Ï„Î± 2005 ÏƒÎµ Î´Î¿Î». Î—Î Î‘,Resultados reales en USD para 2005,2005 - todellinen tulos Yhdysvaltain dollareina,RÃ©sultats rÃ©els de 2005 en dollars amÃ©ricains,...,Wyniki rzeczywiste za rok 2005 w USD,Resultados reais 2005 em US$,Ð¤Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð·Ð° 2005 Ð³. Ð² Ð´Ð¾Ð»Ð»Ð°Ñ€Ð°Ñ… Ð¡Ð¨Ð,2005 å¹´å®žé™…ä¸šç»©ï¼ˆç¾Žå…ƒï¼‰,2005 Faktiskt resultat i USD,2005 å¹´å¯¦éš›çµç®— (ç¾Žå…ƒ),à¸œà¸¥à¸•à¸²à¸¡à¸ˆà¸£à¸´à¸‡à¸‚à¸­à¸‡à¸›à¸µ 2005 à¹ƒà¸™à¸ªà¸à¸¸à¸¥à¸”à¸­à¸¥à¸¥à¸²à¸£à¹Œà¸ªà¸«à¸£à¸±à¸,2005,A,USD

******************************************************************************************

#### tab63

GOSALESDW.FIN_SUBM_TYPE_LOOKUP
(3, 24)

,SUBMISSION_TYPE_CODE,SUBMISSION_TYPE_EN,SUBMISSION_TYPE_FR,SUBMISSION_TYPE_DE,SUBMISSION_TYPE_NL,SUBMISSION_TYPE_JA,SUBMISSION_TYPE_CS,SUBMISSION_TYPE_HU,SUBMISSION_TYPE_KO,SUBMISSION_TYPE_PT,...,SUBMISSION_TYPE_FI,SUBMISSION_TYPE_IT,SUBMISSION_TYPE_NO,SUBMISSION_TYPE_PL,SUBMISSION_TYPE_RU,SUBMISSION_TYPE_SV,SUBMISSION_TYPE_ES,SUBMISSION_TYPE_TH,SUBMISSION_TYPE_MS,SUBMISSION_TYPE_ID
0,A,Actual results,RÃ©sultats rÃ©els,TatsÃ¤chliche Ergebnisse,Werkelijke resultaten,å®Ÿç¸¾,SkuteÄnÃ© vÃ½sledky,TÃ©nyleges eredmÃ©nyek,ì‹¤ì œ ê²°ê³¼,Resultados reais,...,Todelliset tulokset,Risultati effettivi,Faktiske resultater,Wyniki rzeczywiste,Ð¤Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹,Faktiska resultat,Resultados reales,à¸œà¸¥à¸•à¸²à¸¡à¸ˆà¸£à¸´à¸‡,Keputusan sebenar,Hasil aktual
1,B,Budget data,DonnÃ©es budgÃ©taires,Budgetdaten,Budgetgegevens,äºˆç®—ãƒ‡ãƒ¼ã‚¿,RozpoÄtovÃ¡ data,KÃ¶ltsÃ©gvetÃ©si adatok,ì˜ˆì‚° ë°ì´í„°,Dados orÃ§amentÃ¡rios,...,Budjettitiedot,Dati budget,Budsjettdata,Dane budÅ¼etowe,Ð”Ð°Ð½Ð½Ñ‹Ðµ Ð±ÑŽÐ´Ð¶ÐµÑ‚Ð°,Budgetdata,Datos de presupuesto,à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸‡à¸šà¸›à¸£à¸°à¸¡à¸²à¸“,Data belanjawan,Data anggaran
2,F,Forecast data,DonnÃ©es prÃ©vues,Vorhergesagte Daten,Prognosegegevens,äºˆæ¸¬ãƒ‡ãƒ¼ã‚¿,PrognostickÃ¡ data,ElÅ‘re jelzett adatok,ì˜ˆì¸¡ ë°ì´í„°,Dados estimados,...,Ennustetiedot,Dati previsione,Prognosedata,Dane prognozowe,Ð”Ð°Ð½Ð½Ñ‹Ðµ Ð¿Ñ€Ð¾Ð³Ð½Ð¾Ð·Ð°,Prognosdata,Datos de previsiÃ³n,à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸›à¸£à¸°à¸¡à¸²à¸“à¸à¸²à¸£,Data ramalan,Data prakiraan

******************************************************************************************

#### tab64

GOSALESHR.GENDER_LOOKUP
(2, 23)

,GENDER_EN,GENDER_DE,GENDER_FR,GENDER_JA,GENDER_CS,GENDER_DA,GENDER_EL,GENDER_ES,GENDER_FI,GENDER_HU,...,GENDER_MS,GENDER_NL,GENDER_NO,GENDER_PL,GENDER_PT,GENDER_RU,GENDER_SC,GENDER_SV,GENDER_TC,GENDER_TH
0,Male,MÃ¤nnlich,Homme,ç”·æ€§,MuÅ¾,Mand,Î†Î½Î´ÏÎ±Ï‚,Masculino,Mies,FÃ©rfi,...,Lelaki,Mannelijk,Mann,MÄ™Å¼czyzna,Masculino,ÐœÑƒÐ¶cÐºoÐ¹,ç”·æ€§,Man,ç”·,à¸Šà¸²à¸¢
1,Female,Weiblich,Femme,å¥³æ€§,Å½ena,Kvinde,Î“Ï…Î½Î±Î¯ÎºÎ±,Femenino,Nainen,NÅ‘,...,Perempuan,Vrouwelijk,Kvinne,Kobieta,Feminino,Ð–eÐ½cÐºÐ¸Ð¹,å¥³æ€§,Kvinna,å¥³,à¸«à¸à¸´à¸‡

******************************************************************************************

#### tab65

GOSALESDW.GO_BRANCH_DIM
(29, 13)

,BRANCH_KEY,BRANCH_CODE,ADDRESS1,ADDRESS2,CITY,PROV_STATE,ADDRESS1_MB,ADDRESS2_MB,CITY_MB,PROV_STATE_MB,POSTAL_ZONE,COUNTRY_CODE,WAREHOUSE_BRANCH_CODE
0,9901,6,"75, rue du Faubourg St-HonorÃ©",None,Paris,None,"75, rue du Faubourg St-HonorÃ©",None,Paris,None,F-75008,6001,38
1,9902,7,"Piazza Duomo, 1",None,Milano,None,"Piazza Duomo, 1",None,Milano,None,I-20121,7006,7
2,9903,9,Singelgravenplein 4,4e verdieping,Amsterdam,Noord-Holland,Singelgravenplein 4,4e verdieping,Amsterdam,Noord-Holland,1233 BW,5007,15
3,9904,13,Schwabentor 35,None,Hamburg,None,Schwabentor 35,None,Hamburg,None,D-22529,6002,38
4,9905,14,LeopoldstraÃŸe 36,None,MÃ¼nchen,None,LeopoldstraÃŸe 36,None,MÃ¼nchen,None,D-81241,6002,38

******************************************************************************************

#### tab66

GOSALESCT.GO_CRDT_METHOD
(6, 3)

   CRDT_METHOD_CODE CRDT_METHOD_LANGUAGE CRDT_METHOD
0                21                   EN    Transfer
1                22                   EN          PP
2                23                   EN      Cheque
3                25                   EN           A
4                28                   EN           V

******************************************************************************************

#### tab67

GOSALESDW.GO_GENDER_LOOKUP
(2, 23)

,GENDER_EN,GENDER_DE,GENDER_FR,GENDER_JA,GENDER_CS,GENDER_DA,GENDER_EL,GENDER_ES,GENDER_FI,GENDER_HU,...,GENDER_MS,GENDER_NL,GENDER_NO,GENDER_PL,GENDER_PT,GENDER_RU,GENDER_SC,GENDER_SV,GENDER_TC,GENDER_TH
0,Male,MÃ¤nnlich,Homme,ç”·æ€§,MuÅ¾,Mand,Î†Î½Î´ÏÎ±Ï‚,Masculino,Mies,FÃ©rfi,...,Lelaki,Mannelijk,Mann,MÄ™Å¼czyzna,Masculino,ÐœÑƒÐ¶cÐºoÐ¹,ç”·æ€§,Man,ç”·,à¸Šà¸²à¸¢
1,Female,Weiblich,Femme,å¥³æ€§,Å½ena,Kvinde,Î“Ï…Î½Î±Î¯ÎºÎ±,Femenino,Nainen,NÅ‘,...,Perempuan,Vrouwelijk,Kvinne,Kobieta,Feminino,Ð–eÐ½cÐºÐ¸Ð¹,å¥³æ€§,Kvinna,å¥³,à¸«à¸à¸´à¸‡

******************************************************************************************

#### tab68

GOSALESDW.GO_ORG_DIM
(123, 7)

,ORGANIZATION_KEY,ORGANIZATION_CODE1,ORGANIZATION_CODE2,ORGANIZATION_CODE3,ORGANIZATION_CODE4,ORGANIZATION_CODE,ORGANIZATION_PARENT
0,11101,GOCON,GOEUX,GOCEU,GOCEUOP,006,GOCEUOP
1,11102,GOCON,GOEUX,GOSEU,GOSEUOP,007,GOSEUOP
2,11103,GOCON,GOEUX,GONEU,GONEUOP,009,GONEUOP
3,11104,GOCON,GOEUX,GOCEU,GOCEUOP,013,GOCEUOP
4,11105,GOCON,GOEUX,GOCEU,GOCEUOP,014,GOCEUOP

******************************************************************************************

#### tab69

GOSALESDW.GO_ORG_NAME_LOOKUP
(123, 24)

,ORGANIZATION_CODE,ORGANIZATION_NAME_EN,ORGANIZATION_NAME_DE,ORGANIZATION_NAME_FR,ORGANIZATION_NAME_JA,ORGANIZATION_NAME_CS,ORGANIZATION_NAME_DA,ORGANIZATION_NAME_EL,ORGANIZATION_NAME_ES,ORGANIZATION_NAME_FI,...,ORGANIZATION_NAME_MS,ORGANIZATION_NAME_NL,ORGANIZATION_NAME_NO,ORGANIZATION_NAME_PL,ORGANIZATION_NAME_PT,ORGANIZATION_NAME_RU,ORGANIZATION_NAME_SC,ORGANIZATION_NAME_SV,ORGANIZATION_NAME_TC,ORGANIZATION_NAME_TH
0,000,Unspecified branch,Nicht angegebene Zweigstelle,Succursale non dÃ©finie,æ”¯åº— (æŒ‡å®šãªã—),NeurÄenÃ¡ poboÄka,Uspecificeret afdeling,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿ Ï…Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î±,Sucursal sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n haarapaikka,...,Cawangan yang tidak ditentukan,Ongespecificeerd filiaal,Uspesifisert filial,OddziaÅ‚ nieokreÅ›lony,Unidade nÃ£o especificada,ÐÐµ ÑƒÐºÐ°Ð·Ð°Ð½Ð½Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð»,æœªæŒ‡å®šçš„åˆ†éƒ¨,Ospecificerad avdelning,æœªæŒ‡å®šåˆ†åº—,à¸ªà¸²à¸‚à¸²à¸—à¸µà¹ˆà¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,006,Sales branch 6 - Paris - FRA,Zweigstelle 6 - Paris - FRA,Succursale 6 - Paris - FRA,è²©å£²æ”¯åº— 6 - Paris - FRA,ProdejnÃ­ poboÄka 6 - PaÅ™Ã­Å¾ - FRA,Salgsafdeling 6 - Paris - FRA,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 6 - Paris - FRA,Sucursal de ventas 6 - Paris - FRA,Myyntihaarapaikka 6 â€“ Pariisi â€“ FRA,...,Cawangan jualan 6 - Paris - FRA,Verkoopkantoor 6 - Paris - FRA,Salgsfilial 6 - Paris - FRA,OddziaÅ‚ sprzedaÅ¼y 6 - ParyÅ¼ - FRA,Unidade de vendas 6 - Paris - FRA,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 6 - ÐŸÐ°Ñ€Ð¸Ð¶ - Ð¤Ð Ð,é”€å”®åˆ†éƒ¨ 6 - å·´é»Ž - æ³•å›½,FÃ¶rsÃ¤ljningsavdelning 6 - Paris - FRA,éŠ·å”®åˆ†åº— 6 - å·´é»Ž - æ³•åœ‹,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 6 - à¸›à¸²à¸£à¸µà¸ª - à¸à¸£à¸±à¹ˆà¸‡à¹€à¸¨à¸ª
2,007,Sales branch 7 - Milano - ITA,Zweigstelle 7 - Milano - ITA,Succursale 7 - Milano - ITA,è²©å£²æ”¯åº— 7 - Milano - ITA,ProdejnÃ­ poboÄka 7 - MilÃ¡n - ITA,Salgsafdeling 7 - Milano - ITA,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 7 - Milano - ITA,Sucursal de ventas 7 - Milano - ITA,Myyntihaarapaikka 7 â€“ Milano â€“ ITA,...,Cawangan jualan 7 - Milano - ITA,Verkoopkantoor 7 - Milano - ITA,Salgsfilial 7 - Milano - ITA,OddziaÅ‚ sprzedaÅ¼y 7 - Milano - ITA,Unidade de vendas 7 - MilÃ£o - ITA,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 7 - ÐœÐ¸Ð»Ð°Ð½ - Ð˜Ð¢Ð,é”€å”®åˆ†éƒ¨ 7 - ç±³å…° - æ„å¤§åˆ©,FÃ¶rsÃ¤ljningsavdelning 7 - Milano - ITA,éŠ·å”®åˆ†åº— 7 - ç±³è˜­ - ç¾©å¤§åˆ©,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 7 - à¸¡à¸´à¸¥à¸²à¹‚à¸™ - à¸­à¸´à¸•à¸²à¸¥à¸µ
3,009,Sales branch 9 - Amsterdam - NLD,Zweigstelle 9 - Amsterdam - NLD,Succursale 9 - Amsterdam - NLD,è²©å£²æ”¯åº— 9 - Amsterdam - NLD,ProdejnÃ­ poboÄka 9 - Amsterdam - NLD,Salgsafdeling 9 - Amsterdam - NLD,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 9 - Amsterdam - NLD,Sucursal de ventas 9 - Amsterdam - NLD,Myyntihaarapaikka 9 â€“ Amsterdam â€“ NLD,...,Cawangan jualan 9 - Amsterdam - NLD,Verkoopkantoor 9 - Amsterdam - NLD,Salgsfilial 9 - Amsterdam - NLD,OddziaÅ‚ sprzedaÅ¼y 9 - Amsterdam - NLD,Unidade de vendas 9 - AmsterdÃ£ - NLD,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 9 - ÐÐ¼ÑÑ‚ÐµÑ€Ð´Ð°Ð¼ - ÐÐ˜Ð”,é”€å”®åˆ†éƒ¨ 9 - é˜¿å§†æ–¯ç‰¹ä¸¹ - è·å…°,FÃ¶rsÃ¤ljningsavdelning 9 - Amsterdam - NLD,éŠ·å”®åˆ†åº— 9 - é˜¿å§†æ–¯ç‰¹ä¸¹ - è·è˜­,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 9 - à¸­à¸±à¸¡à¸ªà¹€à¸•à¸­à¸£à¹Œà¸”à¸±à¸¡ - à¹€à¸™à¹€à¸˜à¸­à¸£à¹Œà¹à¸¥à¸™à¸”à¹Œ
4,013,Sales branch 13 - Hamburg - DEU,Zweigstelle 13 - Hamburg - DEU,Succursale 13 - Hamburg - DEU,è²©å£²æ”¯åº— 13 - Hamburg - DEU,ProdejnÃ­ poboÄka 13 - Hamburg - DEU,Salgsafdeling 13 - Hamburg - DEU,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 13 - Hamburg - DEU,Sucursal de ventas 13 - Hamburg - DEU,Myyntihaarapaikka 13 â€“ Hampuri â€“ DEU,...,Cawangan jualan 13 - Hamburg - DEU,Verkoopkantoor 13 - Hamburg - DEU,Salgsfilial 13 - Hamburg - DEU,OddziaÅ‚ sprzedaÅ¼y 13 - Hamburg - DEU,Unidade de vendas 13 - Hamburgo - DEU,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 13 - Ð“Ð°Ð¼Ð±ÑƒÑ€Ð³ - Ð“Ð•Ð,é”€å”®åˆ†éƒ¨ 13 - æ±‰å ¡ - å¾·å›½,FÃ¶rsÃ¤ljningsavdelning 13 - Hamburg - DEU,éŠ·å”®åˆ†åº— 13 - æ¼¢å ¡ - å¾·åœ‹,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 13 - à¸®à¸±à¸¡à¸šà¸§à¸£à¹Œà¸ - à¹€à¸¢à¸­à¸£à¸¡à¸™à¸µ

******************************************************************************************

#### tab70

GOSALESDW.GO_REGION_DIM
(21, 54)

,COUNTRY_KEY,COUNTRY_CODE,FLAG_IMAGE,ISO_THREE_LETTER_CODE,ISO_TWO_LETTER_CODE,ISO_THREE_DIGIT_CODE,REGION_KEY,REGION_CODE,REGION_EN,COUNTRY_EN,...,REGION_RU,COUNTRY_RU,REGION_SC,COUNTRY_SC,REGION_SV,COUNTRY_SV,REGION_TC,COUNTRY_TC,REGION_TH,COUNTRY_TH
0,90001,1003,F03.jpg,USA,US,840,9710,710,Americas,United States,...,Ð¡ÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð¸ Ð®Ð¶Ð½Ð°Ñ ÐÐ¼ÐµÑ€Ð¸ÐºÐ°,Ð¡Ð¨Ð,ç¾Žæ´²,ç¾Žå›½,Amerika,USA,ç¾Žæ´²,ç¾Žåœ‹,à¸­à¹€à¸¡à¸£à¸´à¸à¸²,à¸ªà¸«à¸£à¸±à¸à¸­à¹€à¸¡à¸£à¸´à¸à¸²
1,90002,1004,F04.jpg,CAN,CA,124,9710,710,Americas,Canada,...,Ð¡ÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð¸ Ð®Ð¶Ð½Ð°Ñ ÐÐ¼ÐµÑ€Ð¸ÐºÐ°,ÐšÐ°Ð½Ð°Ð´Ð°,ç¾Žæ´²,åŠ æ‹¿å¤§,Amerika,Canada,ç¾Žæ´²,åŠ æ‹¿å¤§,à¸­à¹€à¸¡à¸£à¸´à¸à¸²,à¹à¸„à¸™à¸²à¸”à¸²
2,90003,1020,F19.jpg,MEX,MX,484,9710,710,Americas,Mexico,...,Ð¡ÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð¸ Ð®Ð¶Ð½Ð°Ñ ÐÐ¼ÐµÑ€Ð¸ÐºÐ°,ÐœÐµÐºÑÐ¸ÐºÐ°,ç¾Žæ´²,å¢¨è¥¿å“¥,Amerika,Mexico,ç¾Žæ´²,å¢¨è¥¿å“¥,à¸­à¹€à¸¡à¸£à¸´à¸à¸²,à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸
3,90004,1021,F20.jpg,BRA,BR,76,9710,710,Americas,Brazil,...,Ð¡ÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð¸ Ð®Ð¶Ð½Ð°Ñ ÐÐ¼ÐµÑ€Ð¸ÐºÐ°,Ð‘Ñ€Ð°Ð·Ð¸Ð»Ð¸Ñ,ç¾Žæ´²,å·´è¥¿,Amerika,Brasilien,ç¾Žæ´²,å·´è¥¿,à¸­à¹€à¸¡à¸£à¸´à¸à¸²,à¸šà¸£à¸²à¸‹à¸´à¸¥
4,90005,4011,F11.jpg,JPN,JP,392,9740,740,Asia Pacific,Japan,...,ÐÐ·Ð¸Ð°Ñ‚ÑÐºÐ¾-Ñ‚Ð¸Ñ…Ð¾Ð¾ÐºÐµÐ°Ð½ÑÐº. Ñ€ÐµÐ³.,Ð¯Ð¿Ð¾Ð½Ð¸Ñ,äºšå¤ª,æ—¥æœ¬,Asien,Japan,äºžå¤ª,æ—¥æœ¬,à¹€à¸­à¹€à¸‹à¸µà¸¢à¹à¸›à¸‹à¸´à¸Ÿà¸´à¸,à¸à¸µà¹ˆà¸›à¸¸à¹ˆà¸™

******************************************************************************************

#### tab71

GOSALESCT.GO_SALES_TAX
(94, 3)

   CUST_COUNTRY_CODE CUST_PROV_STATE_CODE  SALES_TAX_RATE
0               1003                   AK          0.0000
1               1003                   AL          0.0400
2               1003                   AR          0.0600
3               1003                   AZ          0.0600
4               1003                   CA          0.0825

******************************************************************************************

#### tab72

GOSALESDW.GO_SATISFACTION_DIM
(5, 25)

,SATISFACTION_KEY,SATISFACTION_CODE,SATISFACTION_DESCRIPTION_EN,SATISFACTION_DESCRIPTION_DE,SATISFACTION_DESCRIPTION_FR,SATISFACTION_DESCRIPTION_JA,SATISFACTION_DESCRIPTION_CS,SATISFACTION_DESCRIPTION_DA,SATISFACTION_DESCRIPTION_EL,SATISFACTION_DESCRIPTION_ES,...,SATISFACTION_DESCRIPTION_MS,SATISFACTION_DESCRIPTION_NL,SATISFACTION_DESCRIPTION_NO,SATISFACTION_DESCRIPTION_PL,SATISFACTION_DESCRIPTION_PT,SATISFACTION_DESCRIPTION_RU,SATISFACTION_DESCRIPTION_SC,SATISFACTION_DESCRIPTION_SV,SATISFACTION_DESCRIPTION_TC,SATISFACTION_DESCRIPTION_TH
0,221,1,Not satisfied,VÃ¶llig unzufrieden,TrÃ¨s insatisfait,ä¸æº€,NespokojenÃ½,Ikke tilfreds,ÎœÎ· Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,Insatisfecho,...,Tidak berpuas hati,Ontevreden,Ikke fornÃ¸yd,Nie zadowolony,Insatisfeito,ÐÐµ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½,ä¸æ»¡æ„,Inte nÃ¶jd,ä¸æ»¿æ„,à¹„à¸¡à¹ˆà¸žà¸­à¹ƒà¸ˆ
1,222,2,Less than satisfied,Nicht zufrieden,Insatisfait,ã‚„ã‚„ä¸æº€,MÃ©nÄ› neÅ¾ spokojenÃ½,Mindre end tilfreds,Î›Î¯Î³Î¿ Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,Poco satisfecho,...,Kurang berpuas hati,Niet geheel tevreden,Mindre fornÃ¸yd,Niezbyt zadowolony,Menos do que satisfeito,"ÐœÐµÐ½ÑŒÑˆÐµ, Ñ‡ÐµÐ¼ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½",ä¸æ˜¯å¾ˆæ»¡æ„,Mindre Ã¤n nÃ¶jd,ä¸å¤ªæ»¿æ„,à¹„à¸¡à¹ˆà¸„à¹ˆà¸­à¸¢à¸žà¸­à¹ƒà¸ˆ
2,223,3,Satisfied,Zufrieden,Neutre,æº€è¶³,SpokojenÃ½,Tilfreds,Î™ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,Satisfecho,...,Puas hati,Tevreden,FornÃ¸yd,Zadowolony,Satisfeito,Ð£Ð´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½,æ»¡æ„,NÃ¶jd,æ»¿æ„,à¸žà¸­à¹ƒà¸ˆ
3,224,4,More than satisfied,Ã„uÃŸerst zufrieden,TrÃ¨s satisfait,éžå¸¸ã«æº€è¶³,VÃ­ce neÅ¾ spokojenÃ½,Mere end tilfreds,Î‘ÏÎºÎµÏ„Î¬ Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,MÃ¡s que satisfecho,...,Lebih daripada berpuas hati,Meer dan voldaan,SvÃ¦rt fornÃ¸yd,WyjÄ…tkowo zadowolony,Mais do que satisfeito,"Ð‘Ð¾Ð»ÑŒÑˆÐµ, Ñ‡ÐµÐ¼ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½",éžå¸¸æ»¡æ„,Mer Ã¤n nÃ¶jd,éžå¸¸æ»¿æ„,à¸žà¸­à¹ƒà¸ˆà¸­à¸¢à¹ˆà¸²à¸‡à¸¢à¸´à¹ˆà¸‡
4,225,5,Very Satisfied,Sehr zufrieden,Satisfait,ã‹ãªã‚Šæº€è¶³,Velmi spokojenÃ½,Meget tilfreds,Î Î¿Î»Ï Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,Muy satisfecho,...,Sangat Berpuas Hati,Zeer tevreden,Godt fornÃ¸yd,Bardzo zadowolony,Muito satisfeito,ÐžÑ‡ÐµÐ½ÑŒ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½,å¾ˆæ»¡æ„,Mycket nÃ¶jd,å¾ˆæ»¿æ„,à¸žà¸­à¹ƒà¸ˆà¸¡à¸²à¸

******************************************************************************************

#### tab73

GOSALESDW.GO_TIME_DIM
(1465, 51)

,DAY_KEY,DAY_DATE,MONTH_KEY,MONTH_NUMBER,QUARTER_KEY,MONTH_EN,WEEKDAY_EN,MONTH_DE,WEEKDAY_DE,MONTH_FR,...,MONTH_RU,WEEKDAY_RU,MONTH_SC,WEEKDAY_SC,MONTH_SV,WEEKDAY_SV,MONTH_TC,WEEKDAY_TC,MONTH_TH,WEEKDAY_TH
0,20040000,None,200400,0,20040,Opening balance,Unspecified,ErÃ¶ffnungsbilanz,Unbestimmt,Solde d'ouverture,...,ÐÐ°Ñ‡Ð°Ð»ÑŒÐ½Ð¾Ðµ ÑÐ°Ð»ÑŒÐ´Ð¾,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœŸåˆä½™é¢,æœªæŒ‡å®š,IngÃ¥ende balans,Ospecificerad,æœŸåˆçµé¤˜,æœªæŒ‡å®š,à¸¢à¸­à¸”à¸¢à¸à¸¡à¸²,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,20040101,2004-01-01-00.00.00.000000,200401,1,20041,January,Thursday,Januar,Donnerstag,Janvier,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,Ð§ÐµÑ‚Ð²ÐµÑ€Ð³,ä¸€æœˆ,æ˜ŸæœŸå››,Januari,Torsdag,ä¸€æœˆ,æ˜ŸæœŸå››,à¸¡à¸à¸£à¸²à¸„à¸¡,à¸žà¸¤à¸«à¸±à¸ªà¸šà¸”à¸µ
2,20040102,2004-01-02-00.00.00.000000,200401,1,20041,January,Friday,Januar,Freitag,Janvier,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,ÐŸÑÑ‚Ð½Ð¸Ñ†Ð°,ä¸€æœˆ,æ˜ŸæœŸäº”,Januari,Fredag,ä¸€æœˆ,æ˜ŸæœŸäº”,à¸¡à¸à¸£à¸²à¸„à¸¡,à¸¨à¸¸à¸à¸£à¹Œ
3,20040103,2004-01-03-00.00.00.000000,200401,1,20041,January,Saturday,Januar,Samstag,Janvier,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,Ð¡ÑƒÐ±Ð±Ð¾Ñ‚Ð°,ä¸€æœˆ,æ˜ŸæœŸå…­,Januari,LÃ¶rdag,ä¸€æœˆ,æ˜ŸæœŸå…­,à¸¡à¸à¸£à¸²à¸„à¸¡,à¹€à¸ªà¸²à¸£à¹Œ
4,20040104,2004-01-04-00.00.00.000000,200401,1,20041,January,Sunday,Januar,Sonntag,Janvier,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,Ð’Ð¾ÑÐºÑ€ÐµÑÐµÐ½ÑŒÐµ,ä¸€æœˆ,æ˜ŸæœŸæ—¥,Januari,SÃ¶ndag,ä¸€æœˆ,æ˜ŸæœŸæ—¥,à¸¡à¸à¸£à¸²à¸„à¸¡,à¸­à¸²à¸—à¸´à¸•à¸¢à¹Œ

******************************************************************************************

#### tab74

GOSALESDW.GO_TIME_QUARTER_LOOKUP
(20, 24)

,QUARTER_KEY,QUARTER_EN,QUARTER_DE,QUARTER_FR,QUARTER_JA,QUARTER_CS,QUARTER_DA,QUARTER_EL,QUARTER_ES,QUARTER_FI,...,QUARTER_MS,QUARTER_NL,QUARTER_NO,QUARTER_PL,QUARTER_PT,QUARTER_RU,QUARTER_SC,QUARTER_SV,QUARTER_TC,QUARTER_TH
0,20040,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,20041,Q1,Q1,T1,ç¬¬ 1 å››åŠæœŸ,1. ÄtvrtletÃ­,KVT1,Q1,1ÂºT,N1,...,S1,K1,K1,K1,T1,Q1,ç¬¬ä¸€å­£åº¦,Kv1,Q1,à¹„à¸•à¸£à¸¡à¸²à¸ª1
2,20042,Q2,Q2,T2,ç¬¬ 2 å››åŠæœŸ,2. ÄtvrtletÃ­,KVT2,Q2,2ÂºT,N2,...,S2,K2,K2,K2,T2,Q2,ç¬¬äºŒå­£åº¦,Kv2,Q2,à¹„à¸•à¸£à¸¡à¸²à¸ª2
3,20043,Q3,Q3,T3,ç¬¬ 3 å››åŠæœŸ,3. ÄtvrtletÃ­,KVT3,Q3,3ÂºT,N3,...,S3,K3,K3,K3,T3,Q3,ç¬¬ä¸‰å­£åº¦,Kv3,Q3,à¹„à¸•à¸£à¸¡à¸²à¸ª3
4,20044,Q4,Q4,T4,ç¬¬ 4 å››åŠæœŸ,4. ÄtvrtletÃ­,KVT4,Q4,4ÂºT,N4,...,S4,K4,K4,K4,T4,Q4,ç¬¬å››å­£åº¦,Kv4,Q4,à¹„à¸•à¸£à¸¡à¸²à¸ª4

******************************************************************************************

#### tab75

GOSALES.INVENTORY_LEVELS
(53837, 8)

,WAREHOUSE_BRANCH_CODE,PRODUCT_NUMBER,OPENING_INVENTORY,QUANTITY_SHIPPED,ADDITIONS,UNIT_COST,CLOSING_INVENTORY,AVERAGE_UNIT_COST
0,7,1110,5019,5261,4306,2.90,4064,2.90
1,7,2110,2515,2342,6538,6.62,6711,6.62
2,7,3110,2195,1767,5850,15.93,6278,15.93
3,7,4110,2080,2594,5507,0.85,4993,0.85
4,7,5110,1296,1239,2841,34.97,2898,34.97

******************************************************************************************

#### tab76

GOSALESDW.MRK_ACTIVITY_STATUS_DIM
(2, 24)

,ACTIVITY_STATUS_KEY,ACTIVITY_STATUS_EN,ACTIVITY_STATUS_DE,ACTIVITY_STATUS_FR,ACTIVITY_STATUS_JA,ACTIVITY_STATUS_CS,ACTIVITY_STATUS_DA,ACTIVITY_STATUS_EL,ACTIVITY_STATUS_ES,ACTIVITY_STATUS_FI,...,ACTIVITY_STATUS_MS,ACTIVITY_STATUS_NL,ACTIVITY_STATUS_NO,ACTIVITY_STATUS_PL,ACTIVITY_STATUS_PT,ACTIVITY_STATUS_RU,ACTIVITY_STATUS_SC,ACTIVITY_STATUS_SV,ACTIVITY_STATUS_TC,ACTIVITY_STATUS_TH
0,0,Inactive,Inaktiv,Inactif,å–ã‚Šå¼•ãä¼‘æ­¢ä¸­,Nenakupuje,Inaktiv,Î‘Î½ÎµÎ½ÎµÏÎ³ÏŒÏ‚,Inactive,Passiivinen,...,Tidak aktif,Inactief,Inaktiv,Nieaktywny,Inativo,ÐeaÐºÑ‚Ð¸Ð²Ð½Ñ‹Ð¹,ä¸æ´»åŠ¨,Inaktiv,ç„¡æ•ˆ,à¸«à¸¢à¸¸à¸”à¸‹à¸·à¹‰à¸­à¸‚à¸²à¸¢
1,1,Active,Aktiv,Actif,å–ã‚Šå¼•ãä¸­,Nakupuje,Aktiv,Î•Î½ÎµÏÎ³ÏŒÏ‚,Active,Aktiivinen,...,Aktif,Actief,Aktiv,Aktywny,Ativo,ÐÐºÑ‚Ð¸Ð²Ð½Ñ‹Ð¹,æ´»åŠ¨,Aktiv,æœ‰æ•ˆ,à¸‹à¸·à¹‰à¸­à¸‚à¸²à¸¢à¸­à¸¢à¸¹à¹ˆ

******************************************************************************************

#### tab77

GOSALESDW.MRK_BUNDLE_GROUP_LOOKUP
(15, 24)

,BUNDLE_GROUP_CODE,BUNDLE_GROUP_EN,BUNDLE_GROUP_DE,BUNDLE_GROUP_FR,BUNDLE_GROUP_JA,BUNDLE_GROUP_CS,BUNDLE_GROUP_DA,BUNDLE_GROUP_EL,BUNDLE_GROUP_ES,BUNDLE_GROUP_FI,...,BUNDLE_GROUP_MS,BUNDLE_GROUP_NL,BUNDLE_GROUP_NO,BUNDLE_GROUP_PL,BUNDLE_GROUP_PT,BUNDLE_GROUP_RU,BUNDLE_GROUP_SC,BUNDLE_GROUP_SV,BUNDLE_GROUP_TC,BUNDLE_GROUP_TH
0,300,Regular sale,Verkauf zum regulÃ¤ren Preis,Vente au prix rÃ©gulier,é€šå¸¸è²©å£²,BeÅ¾nÃ½ prodej,RegelmÃ¦ssigt salg,ÎšÎ±Î½Î¿Î½Î¹ÎºÎ® Ï€ÏŽÎ»Î·ÏƒÎ·,Venta normal,Normaali myynti,...,Jualan tetap,Normale prijs,Vanlig salg,SprzedaÅ¼ standardowa,Venda regular,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ñ‹Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸,å¸¸è§„é”€å”®,Normal fÃ¶rsÃ¤ljning,ä¸€èˆ¬éŠ·å”®,à¸£à¸²à¸„à¸²à¸‚à¸²à¸¢à¸›à¸à¸•à¸´
1,301,Single-item promotion,Werbeaktion Einzelprodukt,Promotion sur un article unique,å˜å“ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromocnÃ­ akce jednÃ© poloÅ¾ky,Reklame for enkelt artikel,Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· ÎµÎ½ÏŒÏ‚ Ï„ÎµÎ¼Î±Ï‡Î¯Î¿Ï…,PromociÃ³n de un Ãºnico artÃ­culo,Yhden kohteen promootio,...,Promosi item tunggal,Productkorting,Promotering av Ã©n enkelt artikkel,Promocja jednego produktu,PromoÃ§Ã£o de item Ãºnico,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð¶ÐµÐ½Ð¸Ðµ Ð¾Ð´Ð½Ð¾Ð³Ð¾ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð°,å•é¡¹ä¿ƒé”€,"Erbjudande, en artikel",å–®é …ä¿ƒéŠ·,à¸à¸²à¸£à¸¥à¸”à¸£à¸²à¸„à¸²à¸ªà¸´à¸™à¸„à¹‰à¸²à¸Šà¸´à¹‰à¸™à¹€à¸”à¸µà¸¢à¸§
2,302,Six Star Bundle,Six Star-BÃ¼ndel,Ensemble Six Ã©toiles,ã‚·ãƒƒã‚¯ã‚¹ã‚¹ã‚¿ãƒ¼ ã‚»ãƒƒãƒˆ,Sada Å est hvezdicek,Six Star sÃ¦t,Î Î±ÎºÎ­Ï„Î¿ Î£ÎºÎ·Î½Î®Ï‚ ÎˆÎ¾Î¹ Î‘Ï„ÏŒÎ¼Ï‰Î½,Paquete Seis estrellas,Six Star -pakkaus,...,Bundle Enam Bintang,Nova Zespersoonstentpakket,Nordlyspakke,Zestaw Gwiazda 6,Pacote Domus seis,"ÐÐ°Ð±Ð¾Ñ€ ""Ð¨ÐµÑÑ‚ÑŒ Ð·Ð²ÐµÐ·Ð´""",Six Star ä¿ƒé”€åŒ…,StjÃ¤rnan sex - paket,å…­è§’æ˜Ÿä¿ƒéŠ·åŒ…,à¸Šà¸¸à¸”à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¹€à¸”à¸´à¸™à¸›à¹ˆà¸² Six Star
3,303,Climber Bundle,Climber-BÃ¼ndel,Ensemble Excursion,ç™»å±±ã‚»ãƒƒãƒˆ,Sada Horolezec,Climber sÃ¦t,Î Î±ÎºÎ­Ï„Î¿ Î‘Î½Î±ÏÏÎ¹Ï‡Î·Ï„Î®,Paquete Escalador,Climber-pakkaus,...,Bundle Climber,Klimmerspakket,Klatrerpakke,Zestaw Wycieczka,Pacote Alpinista,"ÐÐ°Ð±Ð¾Ñ€ ""Ð¡ÐºÐ°Ð»Ð¾Ð»Ð°Ð·""",Climber ä¿ƒé”€åŒ…,KlÃ¤ttring - paket,æ”€ç™»å·¥å…·ä¿ƒéŠ·åŒ…,à¸Šà¸¸à¸”à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸›à¸µà¸™à¹€à¸‚à¸²
4,304,Course Pro Bundle,Course Pro-BÃ¼ndel,Ensemble Omnium,ã‚³ãƒ¼ã‚¹ãƒ—ãƒ­ ã‚»ãƒƒãƒˆ,Sada Profi,Mercury sÃ¦t,Î Î±ÎºÎ­Ï„Î¿ Î“ÎºÏŒÎ»Ï†ÎµÏ,Paquete Circuito Pro,Course Pro -pakkaus,...,Bundle Kursus Pro,Golfprofpakket,Proffenpakke,Zestaw Golf Pro,Pacote PrÃ³-golfe,"ÐÐ°Ð±Ð¾Ñ€ ""ÐŸÑ€Ð¾Ñ„Ð¸""",Course Pro ä¿ƒé”€åŒ…,Golf Pro - paket,é«˜çƒå°ˆå®¶ä¿ƒéŠ·åŒ…,à¸Šà¸¸à¸”à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸à¸­à¸¥à¹Œà¸Ÿ Course Pro

******************************************************************************************

#### tab78

GOSALESDW.MRK_CAMPAIGN_LOOKUP
(12, 24)

,CAMPAIGN_CODE,CAMPAIGN_NAME_EN,CAMPAIGN_NAME_DE,CAMPAIGN_NAME_FR,CAMPAIGN_NAME_JA,CAMPAIGN_NAME_CS,CAMPAIGN_NAME_DA,CAMPAIGN_NAME_EL,CAMPAIGN_NAME_ES,CAMPAIGN_NAME_FI,...,CAMPAIGN_NAME_MS,CAMPAIGN_NAME_NL,CAMPAIGN_NAME_NO,CAMPAIGN_NAME_PL,CAMPAIGN_NAME_PT,CAMPAIGN_NAME_RU,CAMPAIGN_NAME_SC,CAMPAIGN_NAME_SV,CAMPAIGN_NAME_TC,CAMPAIGN_NAME_TH
0,50,Regular sale,Verkauf zum regulÃ¤ren Preis,Vente au prix rÃ©gulier,é€šå¸¸è²©å£²,BÄ›Å¾nÃ½ prodej,RegelmÃ¦ssigt salg,ÎšÎ±Î½Î¿Î½Î¹ÎºÎ® Ï€ÏŽÎ»Î·ÏƒÎ·,Venta normal,Normaali myynti,...,Jualan tetap,Normale prijs,Vanlig salg,SprzedaÅ¼ standardowa,Venda regular,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ñ‹Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸,å¸¸è§„é”€å”®,Normal fÃ¶rsÃ¤ljning,ä¸€èˆ¬éŠ·å”®,à¸£à¸²à¸„à¸²à¸‚à¸²à¸¢à¸›à¸à¸•à¸´
1,51,Big Rock Campaign,Big Rock-Kampagne,Campagne Escalade,ãƒ“ãƒƒã‚°ãƒ­ãƒƒã‚¯ ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ Velehory,Big Rock kampagne,ÎŸÏÎµÎ¹Î²Î±Ï„Î¹ÎºÎ® Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î±,CampaÃ±a Rocoso,Big Rock -kampanja,...,Kempen Big Rock,Zwerfkeicampagne,Storberget-kampanje,Kampania Wielka SkaÅ‚a,Campanha Pedra grande,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð¡ÐºÐ°Ð»Ð°""",æ‘‡æ»šå¤§èµ›,Klippan - kampanj,æ–æ»¾æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Big Rock
2,52,Rising Star Campaign,Rising Star-Kampagne,Campagne Ã‰toile montante,ãƒ©ã‚¤ã‚¸ãƒ³ã‚°ã‚¹ã‚¿ãƒ¼ ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ Severka,Rising Star kampagne,Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î± Î‘Î½Î±Ï„Î­Î»Î»Î¿Î½ Î†ÏƒÏ„ÏÎ¿,CampaÃ±a Estrella Elevada,Rising Star -kampanja,...,Kempen Bintang yang Meningkat,UltraNovacampagne,Stigende stjerne-kampanje,Kampania WschodzÄ…ca Gwiazda,Campanha Estrela em ascensÃ£o,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð’Ð¾ÑÑ…Ð¾Ð´ÑÑ‰Ð°Ñ Ð·Ð²ÐµÐ·Ð´Ð°""",æ–°ç§€æŒ‘æˆ˜èµ›,Stigande stjÃ¤rna - kampanj,æ–°ç§€æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Rising Star
3,53,Canyon Mule Campaign,Canyon Mule-Kampagne,Campagne Atlas,ã‚­ãƒ£ãƒ‹ã‚ªãƒ³ãƒŸãƒ¥ãƒ¼ãƒ« ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ TulÃ¡k,Sisyfos kampagne,Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î± Î•Î¾Î¿Ï€Î»Î¹ÏƒÎ¼ÏŒÏ‚ ÎˆÎ²ÎµÏÎµÏƒÏ„,CampaÃ±a Mula de carga,Canyon Mule -kampanja,...,Kempen Canyon Mule,Sherpacampagne,KlÃ¸vgampen-kampanje,Kampania Beskid,Campanha MontAlto,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð“Ð¾Ñ€Ð½Ñ‹Ð¹ Ð¼ÑƒÐ»""",Canyon Mule æ´»åŠ¨,PackÃ¥snan - kampanj,å¤§å†’éšªå®¶æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Canyon Mule
4,54,Course Pro Campaign,Course Pro-Kampagne,Campagne Omnium,ã‚³ãƒ¼ã‚¹ãƒ—ãƒ­ ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ Profi,Mercury kampagne,Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î± Î“ÎºÏŒÎ»Ï†ÎµÏ,CampaÃ±a Circuito Pro,Course Pro -kampanja,...,Kempen Pro Kursus,Golfprofcampagne,Proffen-kampanje,Kampania Golf Pro,Campanha PrÃ³-golfe,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""ÐŸÑ€Ð¾Ñ„Ð¸""",Course Pro æ´»åŠ¨,Golf Pro - kampanj,é«˜çƒå°ˆå®¶æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Course Pro

******************************************************************************************

#### tab79

GOSALESDW.MRK_PRODUCT_SURVEY_DIM
(7, 25)

,PRODUCT_SURVEY_KEY,PRODUCT_TOPIC_CODE,PRODUCT_TOPIC_EN,PRODUCT_TOPIC_DE,PRODUCT_TOPIC_FR,PRODUCT_TOPIC_JA,PRODUCT_TOPIC_CS,PRODUCT_TOPIC_DA,PRODUCT_TOPIC_EL,PRODUCT_TOPIC_ES,...,PRODUCT_TOPIC_MS,PRODUCT_TOPIC_NL,PRODUCT_TOPIC_NO,PRODUCT_TOPIC_PL,PRODUCT_TOPIC_PT,PRODUCT_TOPIC_RU,PRODUCT_TOPIC_SC,PRODUCT_TOPIC_SV,PRODUCT_TOPIC_TC,PRODUCT_TOPIC_TH
0,7661,71,Brand recognition,Markenwiedererkennung,Reconnaissance de la marque,ãƒ–ãƒ©ãƒ³ãƒ‰èªçŸ¥,RozpoznÃ¡nÃ­ znaÄky,VaremÃ¦rkegenkendelse,Î‘Î½Î±Î³Î½ÏŽÏÎ¹ÏƒÎ· Î¼Î¬ÏÎºÎ±Ï‚,Reconocimiento de la marca,...,Pengiktirafan Jenama,Merkherkenning,Varemerkegjenkjenning,Rozpoznanie marki,Reconhecimento da marca,Ð£Ð·Ð½Ð°Ð²Ð°ÐµÐ¼Ð¾ÑÑ‚ÑŒ Ð±Ñ€ÐµÐ½Ð´Ð°,å“ç‰Œè®¤çŸ¥åº¦,MÃ¤rkesidentifiering,å“ç‰ŒèªåŒ,à¸à¸²à¸£à¸ˆà¸”à¸ˆà¸³à¸ªà¸´à¸™à¸„à¹‰à¸²à¹„à¸”à¹‰
1,7662,72,Reliability,VerlÃ¤sslichkeit,FiabilitÃ©,ä¿¡é ¼æ€§,Spolehlivost,PÃ¥lidelighed,Î‘Î¾Î¹Î¿Ï€Î¹ÏƒÏ„Î¯Î±,Confianza,...,Kebolehkepercayaan,Betrouwbaarheid,PÃ¥litelighet,NiezawodnoÅ›Ä‡,Confiabilidade,ÐÐ°Ð´ÐµÐ¶Ð½Ð¾ÑÑ‚ÑŒ,å¯ä¿¡åº¦,TillfÃ¶rlitlighet,å¯ä¿¡åº¦,à¸„à¸§à¸²à¸¡à¸™à¹ˆà¸²à¹€à¸Šà¸·à¹ˆà¸­à¸–à¸·à¸­
2,7663,73,Durability,StrapazierfÃ¤higkeit,DurabilitÃ©,è€ä¹…æ€§,Å½ivotnost,Holdbarhed,Î‘Î½Ï„Î¿Ï‡Î®,DuraciÃ³n,...,Ketahanan,Duurzaamheid,Holdbarhet,WytrzymaÅ‚oÅ›Ä‡,Durabilidade,Ð”Ð¾Ð»Ð³Ð¾Ð²ÐµÑ‡Ð½Ð¾ÑÑ‚ÑŒ,è€ä¹…æ€§,HÃ¥llbarhet,è€ä¹…æ€§,à¸„à¸§à¸²à¸¡à¸—à¸™à¸—à¸²à¸™
3,7664,74,Value,Wert,Valeur,æœ‰ç”¨æ€§,Hodnota,VÃ¦rdi,Î‘Î¾Î¯Î±,Valor,...,Nilai,Waarde,Verdi,WartoÅ›Ä‡,Valor,Ð¦ÐµÐ½Ð½Ð¾ÑÑ‚ÑŒ,ä»·å€¼,VÃ¤rde,åƒ¹å€¼,à¸„à¸¸à¸“à¸„à¹ˆà¸²
4,7665,75,Design,Design,Conception,ãƒ‡ã‚¶ã‚¤ãƒ³,Design,Design,Î£Ï‡ÎµÎ´Î¯Î±ÏƒÎ·,DiseÃ±o,...,Reka bentuk,Ontwerp,Design,Projekt,Design,ÐšÐ¾Ð½ÑÑ‚Ñ€ÑƒÐºÑ†Ð¸Ñ,è®¾è®¡,Design,è¨­è¨ˆ,à¸”à¸µà¹„à¸‹à¸™à¹Œ

******************************************************************************************

#### tab80

GOSALESDW.MRK_PRODUCT_SURVEY_FACT
(165074, 6)

,MONTH_KEY,ORGANIZATION_KEY,RTL_COUNTRY_KEY,BRANCH_KEY,PRODUCT_KEY,PRODUCT_SURVEY_KEY
0,200404,11121,90010,9903,30001,7661
1,200404,11121,90010,9903,30001,7662
2,200404,11121,90010,9903,30001,7663
3,200404,11121,90010,9903,30001,7664
4,200404,11121,90010,9903,30001,7665

******************************************************************************************

#### tab81

GOSALESDW.MRK_PROD_SURVEY_TARG_FACT
(5824, 3)

   MONTH_KEY  PRODUCT_KEY  PRODUCT_SURVEY_KEY
0     200404        30001                7661
1     200404        30001                7662
2     200404        30001                7663
3     200404        30001                7664
4     200404        30001                7665

******************************************************************************************

#### tab82

GOSALESDW.MRK_PROMOTION_DIM
(112, 27)

,PROMOTION_KEY,PROMOTION_CODE,CAMPAIGN_CODE,BUNDLE_GROUP_CODE,PROMOTION_NAME_EN,PROMOTION_NAME_DE,PROMOTION_NAME_FR,PROMOTION_NAME_JA,PROMOTION_NAME_CS,PROMOTION_NAME_DA,...,PROMOTION_NAME_MS,PROMOTION_NAME_NL,PROMOTION_NAME_NO,PROMOTION_NAME_PL,PROMOTION_NAME_PT,PROMOTION_NAME_RU,PROMOTION_NAME_SC,PROMOTION_NAME_SV,PROMOTION_NAME_TC,PROMOTION_NAME_TH
0,5501,0,50,300,Regular sale,Verkauf zum regulÃ¤ren Preis,Vente au prix rÃ©gulier,é€šå¸¸è²©å£²,BÄ›Å¾nÃ½ prodej,RegelmÃ¦ssigt salg,...,Jualan tetap,Normale prijs,Vanlig salg,SprzedaÅ¼ standardowa,Venda regular,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ñ‹Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸,å¸¸è§„é”€å”®,Normal fÃ¶rsÃ¤ljning,ä¸€èˆ¬éŠ·å”®,à¸£à¸²à¸„à¸²à¸‚à¸²à¸¢à¸›à¸à¸•à¸´
1,5502,10201,61,301,Canteen 2004 Promotion,Feldflasche 2004 Werbeaktion,Promotion Gamelle 2004,æ°´ç­’ 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce JÃ­delnÃ­ miska 2004,Kantine 2004 reklame,...,Promosi Kantin 2004,Aanbieding Veldfles 2004,Feltflaske 2004 salgskampanje,Promocja manierki z 2004 r.,PromoÃ§Ã£o Cantil 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""ÐšÑƒÑ…Ð½Ñ 2004""",æ°´å£¶ 2004 ä¿ƒé”€,FÃ¤ltkÃ¶k 2004 - erbjudande,æ°´å£º 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¸à¸£à¸°à¸•à¸´à¸à¸™à¹‰à¸³à¹€à¸”à¸´à¸™à¸—à¸²à¸‡ 2004
2,5503,10202,61,301,Kitchen Kit 2004 Promotion,KÃ¼chenset 2004 Werbeaktion,Promotion Trousse de cuisine 2004,ã‚­ãƒƒãƒãƒ³ã‚»ãƒƒãƒˆ 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce KuchyÅˆskÃ¡ souprava 2004,KÃ¸kkensÃ¦t 2004 reklame,...,Promosi 2004 Kit Perkakasan,Aanbieding Keukenset 2004,KjÃ¸kkensett 2004 salgskampanje,Promocja zestawu kuchennego z 2004 r.,PromoÃ§Ã£o Kit Cozinha 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð¡Ñ‚Ð¾Ð»Ð¾Ð²Ñ‹Ð¹ Ð½Ð°Ð±Ð¾Ñ€ 2004""",åŽ¨æˆ¿å¥—å…· 2004 ä¿ƒé”€,KÃ¶kspaket 2004 - erbjudande,å»šæˆ¿ç”¨å…·ç®± 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸„à¸£à¸±à¸§ 2004
3,5504,10203,61,301,Single Flame 2004 Promotion,Camping-Kocher einflammig 2004 Werbeaktion,Promotion RÃ©chaud simple 2004,ã‚·ãƒ³ã‚°ãƒ«ã‚¹ãƒˆãƒ¼ãƒ– 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce VaÅ™iÄ 2004,Enkelt flamme 2004 reklame,...,Promosi Api Tunggal 2004,Aanbieding Eenpitsbrander 2004,Enkeltbluss 2004 salgskampanje,Promocja kuchenki jednopalnikowej z 2004 r.,PromoÃ§Ã£o FogÃ£o simples 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""ÐžÐ´Ð½Ð¾ÐºÐ¾Ð½Ñ„Ð¾Ñ€Ð¾Ñ‡Ð½Ð°Ñ Ð¿Ð»Ð¸Ñ‚Ð° 2004""",å•ç¶ç‚‰ 2004 ä¿ƒé”€,EnlÃ¥giga kÃ¶k 2004 - erbjudande,å–®å£çˆ 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¹€à¸•à¸²à¹à¸à¹Šà¸ªà¹€à¸”à¸µà¹ˆà¸¢à¸§ 2004
4,5505,10204,61,301,Double Flame 2004 Promotion,Camping-Kocher zweiflammig 2004 Werbeaktion,Promotion RÃ©chaud double 2004,ãƒ€ãƒ–ãƒ«ã‚¹ãƒˆãƒ¼ãƒ– 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce DvojitÃ½ vaÅ™iÄ 2004,Dobbelt flamme 2004 reklame,...,Promosi Dua Api 2004,Aanbieding Tweepitsbrander 2004,Dobbeltbluss 2004 salgskampanje,Promocja kuchenki dwupalnikowej z 2004 r.,PromoÃ§Ã£o FogÃ£o duplo 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð”Ð²ÑƒÑ…ÐºÐ¾Ð½Ñ„Ð¾Ñ€Ð¾Ñ‡Ð½Ð°Ñ Ð¿Ð»Ð¸Ñ‚Ð° 2004""",åŒç¶ç‚‰ 2004 ä¿ƒé”€,TvÃ¥lÃ¥giga kÃ¶k 2004 - erbjudande,é›™å£çˆ 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¹€à¸•à¸²à¹à¸à¹Šà¸ªà¸„à¸¹à¹ˆ 2004

******************************************************************************************

#### tab83

GOSALESDW.MRK_PROMOTION_FACT
(11034, 13)

,ORGANIZATION_KEY,ORDER_DAY_KEY,RTL_COUNTRY_KEY,EMPLOYEE_KEY,RETAILER_KEY,PRODUCT_KEY,PROMOTION_KEY,SALES_ORDER_KEY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,SALE_TOTAL,GROSS_PROFIT
0,11121,20040112,90010,4008,7166,30002,5502,177745,6.62,12.53,8.77,9076.95,2225.25
1,11121,20040112,90010,4008,7166,30003,5503,177751,15.93,23.80,21.42,16407.72,4205.34
2,11121,20040112,90011,4011,6838,30002,5502,177887,6.62,12.53,8.77,5814.51,1425.45
3,11121,20040112,90012,4013,6737,30003,5503,177848,15.93,23.80,21.42,10602.90,2717.55
4,11121,20040112,90013,4045,7266,30002,5502,178003,6.62,12.53,8.77,11050.20,2709.00

******************************************************************************************

#### tab84

GOSALESDW.MRK_PROMOTION_PLAN_FACT
(8652, 11)

,MONTH_KEY,ORGANIZATION_KEY,BRANCH_KEY,RTL_COUNTRY_KEY,PRODUCT_KEY,PROMOTION_KEY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,PROMOTION_PLAN_QUANTITY,PROMOTION_PLAN_REVENUE
0,200401,11121,9903,90010,30002,5502,6.62,12.53,8.77,920,8068.4
1,200401,11121,9903,90010,30003,5503,15.93,23.80,21.42,750,16065.0
2,200401,11121,9906,90011,30002,5502,6.62,12.53,8.77,620,5437.4
3,200401,11121,9906,90012,30003,5503,15.93,23.80,21.42,460,9853.2
4,200401,11121,9920,90013,30002,5502,6.62,12.53,8.77,1170,10260.9

******************************************************************************************

#### tab85

GOSALESDW.MRK_RTL_SURVEY_DIM
(9, 25)

,RETAILER_SURVEY_KEY,RETAILER_TOPIC_CODE,RETAILER_TOPIC_EN,RETAILER_TOPIC_DE,RETAILER_TOPIC_FR,RETAILER_TOPIC_JA,RETAILER_TOPIC_CS,RETAILER_TOPIC_DA,RETAILER_TOPIC_EL,RETAILER_TOPIC_ES,...,RETAILER_TOPIC_MS,RETAILER_TOPIC_NL,RETAILER_TOPIC_NO,RETAILER_TOPIC_PL,RETAILER_TOPIC_PT,RETAILER_TOPIC_RU,RETAILER_TOPIC_SC,RETAILER_TOPIC_SV,RETAILER_TOPIC_TC,RETAILER_TOPIC_TH
0,1221,400,Retailer survey score,EinzelhÃ¤ndler-Umfragebewertung,Score du sondage auprÃ¨s des dÃ©taillants,å°å£²æ¥­è€…èª¿æŸ»ã‚¹ã‚³ã‚¢,VÃ½sledek dotaznÃ­ku pro maloobchodnÃ­ky,ForhandlerundersÃ¸gelsesbedÃ¸mmelse,Î’Î±Î¸Î¼ÏŒÏ‚ Î­ÏÎµÏ…Î½Î±Ï‚ ÎµÎ¼Ï€ÏŒÏÏ‰Î½ Î»Î¹Î±Î½Î¹ÎºÎ®Ï‚,Resultado de la encuesta al minorista,...,Skor soal selidik peruncit,Score wederverkoperonderzoek,Poengsum detaljistundersÃ¸kelse,Wynik ankiety dotyczÄ…cej detalisty,PontuaÃ§Ã£o na pesquisa de revendedores,Ð ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ Ð¾Ñ‚Ñ‡ÐµÑ‚Ð° Ñ€Ð¾Ð·Ð½Ð¸Ñ‡Ð½Ð¾Ð³Ð¾ Ñ‚Ð¾Ñ€Ð³Ð¾Ð²Ñ†Ð°,é›¶å”®å•†è°ƒæŸ¥å¾—åˆ†,UtvÃ¤rderingsresultat fÃ¶r Ã¥terfÃ¶rsÃ¤ljare,è²©è³£å•†åº—èª¿æŸ¥åˆ†æ•¸,à¸„à¸°à¹à¸™à¸™à¸ˆà¸²à¸à¸à¸²à¸£à¸ªà¸³à¸£à¸§à¸ˆà¸„à¸§à¸²à¸¡à¹€à¸«à¹‡à¸™à¹€à¸à¸µà¹ˆà¸¢à¸§à¸à¸±à¸šà¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸›à¸¥à¸µà¸
1,1222,401,Customer service,Kundendienst,Service Ã la clientÃ¨le,é¡§å®¢ã‚µãƒ¼ãƒ“ã‚¹,SluÅ¾by zÃ¡kaznÃ­kÅ¯m,Kundeservice,Î¤ÎµÏ‡Î½Î¹ÎºÎ® Ï…Ï€Î¿ÏƒÏ„Î®ÏÎ¹Î¾Î· Ï€ÎµÎ»Î±Ï„ÏŽÎ½,Servicio al cliente,...,Perkhidmatan Pelanggan,Klantenservice,Kundeservice,ObsÅ‚uga klienta,ServiÃ§o ao consumidor,Ð¡Ð»ÑƒÐ¶Ð±Ð° Ñ€Ð°Ð±Ð¾Ñ‚Ñ‹ Ñ Ð¿Ð¾ÐºÑƒÐ¿Ð°Ñ‚ÐµÐ»ÑÐ¼Ð¸,å®¢æˆ·æœåŠ¡,KundtjÃ¤nst,å®¢æˆ¶æœå‹™,à¸à¹ˆà¸²à¸¢à¸šà¸£à¸´à¸à¸²à¸£à¸¥à¸¹à¸à¸„à¹‰à¸²
2,1223,402,Warranties,Garantien,Garanties,ä¿è¨¼,ZÃ¡ruky,Garantier,Î•Î³Î³Ï…Î®ÏƒÎµÎ¹Ï‚,GarantÃ­as,...,Waranti,Garantie,Garantier,Gwarancje,Garantias,Ð“Ð°Ñ€Ð°Ð½Ñ‚Ð¸Ð¸,ä¿ä¿®,Garantier,ä¿å›º,à¸à¸²à¸£à¸£à¸±à¸šà¸›à¸£à¸°à¸à¸±à¸™
3,1224,403,Returns and refunds,Retouren und RÃ¼ckerstattungen,Retours et remboursements,è¿”å“ãŠã‚ˆã³è¿”é‡‘,VracenÃ­ zboÅ¾Ã­ a penÄ›z,Returneringer og refunderinger,Î•Ï€Î¹ÏƒÏ„ÏÎ¿Ï†Î­Ï‚ Ï€ÏÎ¿ÏŠÏŒÎ½Ï„Ï‰Î½ ÎºÎ±Î¹ Ï‡ÏÎ·Î¼Î¬Ï„Ï‰Î½,Devoluciones y reembolsos,...,Pengembalian dan Bayaran Balik,Retourneren en terugbetalen,Retur og refusjon,Zwroty i refundacje,DevoluÃ§Ãµes e restituiÃ§Ãµes,Ð’Ð¾Ð·Ð²Ñ€Ð°Ñ‚Ñ‹ Ð¸ Ð²Ð¾Ð·Ð¼ÐµÑ‰ÐµÐ½Ð¸Ñ,é€€è´§åŠé€€æ¬¾,Returer och gottgÃ¶relser,é€€è²¨èˆ‡é€€æ¬¾,à¸à¸²à¸£à¸„à¸·à¸™à¸ªà¸´à¸™à¸„à¹‰à¸²à¹à¸¥à¸°à¸à¸²à¸£à¸£à¸±à¸šà¹€à¸‡à¸´à¸™à¸„à¸·à¸™
4,1225,404,Rebates,Rabatte,Rabais,å‰²ã‚Šæˆ»ã—,Rabaty,Rabatter,Î•ÎºÏ€Ï„ÏŽÏƒÎµÎ¹Ï‚,Descuentos,...,Rebat,Kortingen,Rabatter,Zwroty nadpÅ‚at,Abatimentos,Ð¡ÐºÐ¸Ð´ÐºÐ¸,å›žæ‰£,Rabatter,æŠ˜æ‰£,à¸ªà¹ˆà¸§à¸™à¸¥à¸”à¸‚à¸­à¸‡à¸ªà¸´à¸™à¸„à¹‰à¸²à¸—à¸µà¹ˆà¸Šà¸³à¸£à¸°à¹à¸¥à¹‰à¸§

******************************************************************************************

#### tab86

GOSALESDW.MRK_RTL_SURVEY_FACT
(22508, 6)

,MONTH_KEY,ORGANIZATION_KEY,BRANCH_KEY,RTL_COUNTRY_KEY,RETAILER_KEY,RETAILER_SURVEY_KEY
0,200402,11121,9903,90010,6841,1221
1,200402,11121,9903,90010,6841,1222
2,200402,11121,9903,90010,6841,1223
3,200402,11121,9903,90010,6841,1224
4,200402,11121,9903,90010,6841,1225

******************************************************************************************

#### tab87

GOSALESDW.MRK_RTL_SURVEY_TARG_FACT
(64, 3)

   RETAILER_SURVEY_KEY  MONTH_KEY  RETAILER_TOPIC_WEIGHT
0                 1221     200402                      0
1                 1221     200403                      0
2                 1221     200502                      0
3                 1221     200503                      0
4                 1221     200602                      0

******************************************************************************************

#### tab88

GOSALES.ORDER_DETAILS
(446023, 9)

,ORDER_DETAIL_CODE,ORDER_NUMBER,SHIP_DATE,PRODUCT_NUMBER,PROMOTION_CODE,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE
0,1000001,100001,2004-01-19-00.00.00.000000,41110,0,256,15.62,35.09,33.69
1,1000002,100001,2004-02-17-00.00.00.000000,69110,0,92,49.69,110.00,102.30
2,1000013,100002,2004-01-19-00.00.00.000000,75110,0,162,80.00,119.69,111.31
3,1000014,100002,2004-01-19-00.00.00.000000,76110,0,172,23.53,40.52,38.90
4,1000015,100002,2004-01-19-00.00.00.000000,85110,0,74,176.47,359.60,334.43

******************************************************************************************

#### tab89

GOSALES.ORDER_HEADER
(53267, 10)

,ORDER_NUMBER,RETAILER_NAME,RETAILER_NAME_MB,RETAILER_SITE_CODE,RETAILER_CONTACT_CODE,SALES_STAFF_CODE,SALES_BRANCH_CODE,ORDER_DATE,ORDER_CLOSE_DATE,ORDER_METHOD_CODE
0,100001,Kavanagh Sports,Kavanagh Sports,20530,3549,10798,21,2004-01-12-00.00.00.000000,2004-02-17-00.00.00.000000,6
1,100002,Ar fresco,Ar fresco,20895,3915,10406,30,2004-01-12-00.00.00.000000,2004-01-19-00.00.00.000000,1
2,100003,Universo Acampando,Universo Acampando,20896,3916,10406,30,2004-01-12-00.00.00.000000,2004-01-20-00.00.00.000000,1
3,100004,Ao ar livre,Ao ar livre,20897,3917,10098,30,2004-01-12-00.00.00.000000,2004-01-21-00.00.00.000000,1
4,100005,GalÃ¡xia do esporte,GalÃ¡xia do esporte,20898,3918,10406,30,2004-01-12-00.00.00.000000,2004-01-28-00.00.00.000000,1

******************************************************************************************

#### tab90

GOSALES.ORDER_METHOD
(7, 24)

,ORDER_METHOD_CODE,ORDER_METHOD_EN,ORDER_METHOD_FR,ORDER_METHOD_DE,ORDER_METHOD_NL,ORDER_METHOD_JA,ORDER_METHOD_SC,ORDER_METHOD_KO,ORDER_METHOD_CS,ORDER_METHOD_HU,...,ORDER_METHOD_FI,ORDER_METHOD_IT,ORDER_METHOD_NO,ORDER_METHOD_PL,ORDER_METHOD_RU,ORDER_METHOD_SV,ORDER_METHOD_ES,ORDER_METHOD_TH,ORDER_METHOD_MS,ORDER_METHOD_ID
0,1,Fax,TÃ©lÃ©copieur,Fax,Fax,ãƒ•ã‚¡ãƒƒã‚¯ã‚¹,ä¼ çœŸ,íŒ©ìŠ¤,Fax,Fax,...,Faksi,Fax,Faks,Faks,Ð¤Ð°ÐºÑ,Fax,Fax,à¹à¸Ÿà¸à¸‹à¹Œ,Faks,Faks
1,5,Web,Site Web,Web,Internet,ãƒ›ãƒ¼ãƒ ãƒšãƒ¼ã‚¸,Web,ì¸í„°ë„·,Web,Web,...,Web,Web,Internett,SieÄ‡ WWW,Web,Webb,Web,à¹€à¸§à¹‡à¸šà¹„à¸‹à¸•à¹Œ,Web,Web
2,6,Sales visit,Visite d'un reprÃ©sentant,Verkaufsbesuch,Vertegenwoordiger,åº—é ­,é”€å”®é¢è®¿,ë°©ë¬¸íŒë§¤,NÃ¡vÅ¡tÄ›va prodejce,KiszÃ¡llÃ¡sos eladÃ¡s,...,MyyntikÃ¤ynti,Reparto vendite,SalgsbesÃ¸k,Wizyta,Ð¢Ð¾Ñ€Ð³. Ð°Ð³ÐµÐ½Ñ‚,SÃ¤ljbesÃ¶k,Visita de ventas,à¹€à¸¢à¸µà¹ˆà¸¢à¸¡à¸¥à¸¹à¸à¸„à¹‰à¸²,Lawatan jualan,Kunjungan penjualan
3,7,Special,Autre,Sonstiges,Speciaal,ç‰¹åˆ¥,ç‰¹æ®Š,íŠ¹ë³„ ì£¼ë¬¸,JinÃ½,EgyÃ©b,...,Muu,Altro,Annet,Specjalna,ÐŸÑ€Ð¾Ñ‡ÐµÐµ,Special,Especial,à¸žà¸´à¹€à¸¨à¸©,Khusus,Khusus
4,3,Mail,Poste,Post,Post,éƒµä¾¿,é‚®å¯„,ìš°íŽ¸,PoÅ¡ta,PostacÃ­m,...,Posti,Posta,Post,Poczta,ÐŸÐ¾Ñ‡Ñ‚Ð°,Post,Correo,à¹„à¸›à¸£à¸©à¸“à¸µà¸¢à¹Œ,Mel,Surat

******************************************************************************************

#### tab91

GOSALESHR.ORGANIZATION
(123, 25)

,ORGANIZATION_CODE,ORGANIZATION_PARENT,ORGANIZATION_NAME_EN,ORGANIZATION_NAME_DE,ORGANIZATION_NAME_FR,ORGANIZATION_NAME_JA,ORGANIZATION_NAME_CS,ORGANIZATION_NAME_DA,ORGANIZATION_NAME_EL,ORGANIZATION_NAME_ES,...,ORGANIZATION_NAME_MS,ORGANIZATION_NAME_NL,ORGANIZATION_NAME_NO,ORGANIZATION_NAME_PL,ORGANIZATION_NAME_PT,ORGANIZATION_NAME_RU,ORGANIZATION_NAME_SC,ORGANIZATION_NAME_SV,ORGANIZATION_NAME_TC,ORGANIZATION_NAME_TH
0,000,GOCON,Unspecified branch,Nicht angegebene Zweigstelle,Succursale non dÃ©finie,æ”¯åº— (æŒ‡å®šãªã—),NeurÄenÃ¡ poboÄka,Uspecificeret afdeling,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿ Ï…Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î±,Sucursal sin especificar,...,Cawangan yang tidak ditentukan,Ongespecificeerd filiaal,Uspesifisert filial,OddziaÅ‚ nieokreÅ›lony,Unidade nÃ£o especificada,ÐÐµ ÑƒÐºÐ°Ð·Ð°Ð½Ð½Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð»,æœªæŒ‡å®šçš„åˆ†éƒ¨,Ospecificerad avdelning,æœªæŒ‡å®šåˆ†åº—,à¸ªà¸²à¸‚à¸²à¸—à¸µà¹ˆà¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,006,GOCEUOP,Sales branch 6 - Paris - FRA,Zweigstelle 6 - Paris - FRA,Succursale 6 - Paris - FRA,è²©å£²æ”¯åº— 6 - Paris - FRA,ProdejnÃ­ poboÄka 6 - PaÅ™Ã­Å¾ - FRA,Salgsafdeling 6 - Paris - FRA,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 6 - Paris - FRA,Sucursal de ventas 6 - Paris - FRA,...,Cawangan jualan 6 - Paris - FRA,Verkoopkantoor 6 - Paris - FRA,Salgsfilial 6 - Paris - FRA,OddziaÅ‚ sprzedaÅ¼y 6 - ParyÅ¼ - FRA,Unidade de vendas 6 - Paris - FRA,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 6 - ÐŸÐ°Ñ€Ð¸Ð¶ - Ð¤Ð Ð,é”€å”®åˆ†éƒ¨ 6 - å·´é»Ž - æ³•å›½,FÃ¶rsÃ¤ljningsavdelning 6 - Paris - FRA,éŠ·å”®åˆ†åº— 6 - å·´é»Ž - æ³•åœ‹,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 6 - à¸›à¸²à¸£à¸µà¸ª - à¸à¸£à¸±à¹ˆà¸‡à¹€à¸¨à¸ª
2,007,GOSEUOP,Sales branch 7 - Milano - ITA,Zweigstelle 7 - Milano - ITA,Succursale 7 - Milano - ITA,è²©å£²æ”¯åº— 7 - Milano - ITA,ProdejnÃ­ poboÄka 7 - MilÃ¡n - ITA,Salgsafdeling 7 - Milano - ITA,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 7 - Milano - ITA,Sucursal de ventas 7 - Milano - ITA,...,Cawangan jualan 7 - Milano - ITA,Verkoopkantoor 7 - Milano - ITA,Salgsfilial 7 - Milano - ITA,OddziaÅ‚ sprzedaÅ¼y 7 - Milano - ITA,Unidade de vendas 7 - MilÃ£o - ITA,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 7 - ÐœÐ¸Ð»Ð°Ð½ - Ð˜Ð¢Ð,é”€å”®åˆ†éƒ¨ 7 - ç±³å…° - æ„å¤§åˆ©,FÃ¶rsÃ¤ljningsavdelning 7 - Milano - ITA,éŠ·å”®åˆ†åº— 7 - ç±³è˜­ - ç¾©å¤§åˆ©,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 7 - à¸¡à¸´à¸¥à¸²à¹‚à¸™ - à¸­à¸´à¸•à¸²à¸¥à¸µ
3,009,GONEUOP,Sales branch 9 - Amsterdam - NLD,Zweigstelle 9 - Amsterdam - NLD,Succursale 9 - Amsterdam - NLD,è²©å£²æ”¯åº— 9 - Amsterdam - NLD,ProdejnÃ­ poboÄka 9 - Amsterdam - NLD,Salgsafdeling 9 - Amsterdam - NLD,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 9 - Amsterdam - NLD,Sucursal de ventas 9 - Amsterdam - NLD,...,Cawangan jualan 9 - Amsterdam - NLD,Verkoopkantoor 9 - Amsterdam - NLD,Salgsfilial 9 - Amsterdam - NLD,OddziaÅ‚ sprzedaÅ¼y 9 - Amsterdam - NLD,Unidade de vendas 9 - AmsterdÃ£ - NLD,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 9 - ÐÐ¼ÑÑ‚ÐµÑ€Ð´Ð°Ð¼ - ÐÐ˜Ð”,é”€å”®åˆ†éƒ¨ 9 - é˜¿å§†æ–¯ç‰¹ä¸¹ - è·å…°,FÃ¶rsÃ¤ljningsavdelning 9 - Amsterdam - NLD,éŠ·å”®åˆ†åº— 9 - é˜¿å§†æ–¯ç‰¹ä¸¹ - è·è˜­,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 9 - à¸­à¸±à¸¡à¸ªà¹€à¸•à¸­à¸£à¹Œà¸”à¸±à¸¡ - à¹€à¸™à¹€à¸˜à¸­à¸£à¹Œà¹à¸¥à¸™à¸”à¹Œ
4,013,GOCEUOP,Sales branch 13 - Hamburg - DEU,Zweigstelle 13 - Hamburg - DEU,Succursale 13 - Hamburg - DEU,è²©å£²æ”¯åº— 13 - Hamburg - DEU,ProdejnÃ­ poboÄka 13 - Hamburg - DEU,Salgsafdeling 13 - Hamburg - DEU,Î¥Ï€Î¿ÎºÎ±Ï„Î¬ÏƒÏ„Î·Î¼Î± Ï€Ï‰Î»Î®ÏƒÎµÏ‰Î½ 13 - Hamburg - DEU,Sucursal de ventas 13 - Hamburg - DEU,...,Cawangan jualan 13 - Hamburg - DEU,Verkoopkantoor 13 - Hamburg - DEU,Salgsfilial 13 - Hamburg - DEU,OddziaÅ‚ sprzedaÅ¼y 13 - Hamburg - DEU,Unidade de vendas 13 - Hamburgo - DEU,Ð¢Ð¾Ñ€Ð³Ð¾Ð²Ñ‹Ð¹ Ñ„Ð¸Ð»Ð¸Ð°Ð» 13 - Ð“Ð°Ð¼Ð±ÑƒÑ€Ð³ - Ð“Ð•Ð,é”€å”®åˆ†éƒ¨ 13 - æ±‰å ¡ - å¾·å›½,FÃ¶rsÃ¤ljningsavdelning 13 - Hamburg - DEU,éŠ·å”®åˆ†åº— 13 - æ¼¢å ¡ - å¾·åœ‹,à¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸ªà¸²à¸‚à¸² 13 - à¸®à¸±à¸¡à¸šà¸§à¸£à¹Œà¸ - à¹€à¸¢à¸­à¸£à¸¡à¸™à¸µ

******************************************************************************************

#### tab92

GOSALESHR.POSITION_DEPARTMENT
(45, 5)

   POSITION_CODE  DEPARTMENT_CODE  DEPARTMENT_PARENT  MIN_SALARY  MAX_SALARY
0           1000              100                NaN      220000      301500
1           1100              100                NaN      190000      250000
2           1200              200              100.0      150000      200000
3           1300              320              200.0      120000      180000
4           1400              380              200.0      120000      180000

******************************************************************************************

#### tab93

GOSALESHR.POSITION_LOOKUP
(45, 24)

,POSITION_CODE,POSITION_EN,POSITION_DE,POSITION_FR,POSITION_JA,POSITION_CS,POSITION_DA,POSITION_EL,POSITION_ES,POSITION_FI,...,POSITION_MS,POSITION_NL,POSITION_NO,POSITION_PL,POSITION_PT,POSITION_RU,POSITION_SC,POSITION_SV,POSITION_TC,POSITION_TH
0,1000,Chief Executive Officer,Chief Executive Officer,Chef de la direction,æœ€é«˜çµŒå–¶è²¬ä»»è€…,GenerÃ¡lnÃ­ Å™editel,Administrerende direktÃ¸r,Î”Î¹ÎµÏ…Î¸ÏÎ½Ï‰Î½ Î£ÏÎ¼Î²Î¿Ï…Î»Î¿Ï‚,Director general,Toimitusjohtaja,...,Pegawai Ketua Eksekutif,Algemeen directeur,CEO (Chief Executive Officer),Dyrektor Generalny,Presidente,Ð“ÐµÐ½ÐµÑ€Ð°Ð»ÑŒÐ½Ñ‹Ð¹ Ð´Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€,é¦–å¸­æ‰§è¡Œå®˜,Operativ chef,é¦–å¸­åŸ·è¡Œé•·,à¸«à¸±à¸§à¸«à¸™à¹‰à¸²à¸„à¸“à¸°à¸œà¸¹à¹‰à¸šà¸£à¸´à¸«à¸²à¸£à¸£à¸°à¸”à¸±à¸šà¸ªà¸¹à¸‡
1,1100,Chief Financial Officer,Chief Financial Officer,Directeur financier,æœ€é«˜è²¡å‹™è²¬ä»»è€…,FinanÄnÃ­ Å™editel,Ã˜konomidirektÃ¸r,ÎŸÎ¹ÎºÎ¿Î½Î¿Î¼Î¹ÎºÏŒÏ‚ Î”Î¹ÎµÏ…Î¸Ï…Î½Ï„Î®Ï‚,Director financiero,Talousjohtaja,...,Pegawai Ketua Eksekutif,Financieel directeur,CFO (Chief Financial Officer),Dyrektor Finansowy,Diretor financeiro,Ð“Ð»Ð°Ð²Ð½Ñ‹Ð¹ Ñ„Ð¸Ð½Ð°Ð½ÑÐ¾Ð²Ñ‹Ð¹ Ð´Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€,é¦–å¸­è´¢åŠ¡å®˜,EkonomidirektÃ¶r,é¦–å¸­è²¡å‹™é•·,à¸«à¸±à¸§à¸«à¸™à¹‰à¸²à¸„à¸“à¸°à¸œà¸¹à¹‰à¸šà¸£à¸´à¸«à¸²à¸£à¸à¸²à¸£à¹€à¸‡à¸´à¸™
2,1200,Executive Vice-President,Executive Vice-President,Vice-prÃ©sident directeur,ä¸Šç´šå‰¯ç¤¾é•·,VÃ½konnÃ½ viceprezident,Ledende viceprÃ¦sident,Î‘Î½Ï„Î¹Ï€ÏÏŒÎµÎ´ÏÎ¿Ï‚,Vicepresidente ejecutivo,Varatoimitusjohtaja,...,Eksekutif Naib Presiden,Vicedirecteur,Executive Vice-President,Wiceprezes,Vice-presidente executivo,Ð˜ÑÐ¿Ð¾Ð»Ð½Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹Ð¹ Ð²Ð¸Ñ†Ðµ-Ð¿Ñ€ÐµÐ·Ð¸Ð´ÐµÐ½Ñ‚,æ‰§è¡Œå‰¯æ€»è£,Vice VD,åŸ·è¡Œå‰¯ç¸½è£,à¸£à¸­à¸‡à¸›à¸£à¸°à¸˜à¸²à¸™à¸šà¸£à¸´à¸«à¸²à¸£
3,1300,Controller,Controller,ContrÃ´leur,ä¼šè¨ˆç›£æŸ»å½¹,Controller,Kontroller,Î•Î»ÎµÎ³ÎºÏ„Î®Ï‚,Controlador,Laskentajohtaja,...,Kawalan,Controller,Controller,Kontroler,Controller,Ð¤Ð¸Ð½Ð°Ð½ÑÐ¾Ð²Ñ‹Ð¹ Ð´Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€,ä¸»ç®¡,Controller,ä¸»ç®¡,à¹€à¸ˆà¹‰à¸²à¸«à¸™à¹‰à¸²à¸—à¸µà¹ˆà¸„à¸§à¸šà¸„à¸¸à¸¡à¸à¸²à¸£à¹€à¸‡à¸´à¸™
4,1400,Vice-President of Information Technology,Vice-President Informationstechnologie,Vice-prÃ©sident des technologies de l'information,æƒ…å ±æŠ€è¡“æ‹…å½“å‰¯ç¤¾é•·,Viceprezident pro informaÄnÃ­ technologie,ViceprÃ¦sident for informationsteknologi,Î‘Î½Ï„Î¹Ï€ÏÏŒÎµÎ´ÏÎ¿Ï‚ Ï„Ï‰Î½ Î¤ÎµÏ‡Î½Î¿Î»Î¿Î³Î¹ÏŽÎ½ Ï„Î·Ï‚ Î Î»Î·ÏÎ¿Ï†Î¿ÏÎ¯Î±Ï‚,Vicepresidente de tecnologÃ­as de la informaciÃ³n,IT-varapÃ¤Ã¤llikkÃ¶,...,Naib Presiden Teknologi Maklumat,Vicedirecteur Informatietechnologie,Vice-President for informasjonsteknologi,Wiceprezes ds. IT,Vice-presidente de tecnologia da informaÃ§Ã£o,Ð’Ð¸Ñ†Ðµ-Ð¿Ñ€ÐµÐ·Ð¸Ð´ÐµÐ½Ñ‚ Ð¿Ð¾ Ð¸Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ†Ð¸Ð¾Ð½Ð½Ð¾-Ñ‚ÐµÑ…Ð½Ð¾Ð»Ð¾Ð³Ð¸Ñ‡ÐµÑÐºÐ¸...,ä¿¡æ¯æŠ€æœ¯å‰¯æ€»è£,Vice VD fÃ¶r IT,è³‡è¨Šç§‘æŠ€å‰¯ç¸½è£,à¸£à¸­à¸‡à¸›à¸£à¸°à¸˜à¸²à¸™à¸à¹ˆà¸²à¸¢à¹€à¸—à¸„à¹‚à¸™à¹‚à¸¥à¸¢à¸µà¸ªà¸²à¸£à¸ªà¸™à¹€à¸—à¸¨

******************************************************************************************

#### tab94

GOSALESHR.POSITION_SUMMARY
(15050, 9)

,POSITION_SUMMARY_DATE,ORGANIZATION_CODE,POSITION_CODE,POSITION_COUNT,PLANNED_POSITION_COUNT,INTERNAL_HIRES,EXTERNAL_HIRES,INTERNAL_MOVES,TERMINATIONS
0,2004-01-31-00.00.00.000000,6,4400,0,0,0,0,0,0
1,2004-01-31-00.00.00.000000,6,5400,1,1,0,0,0,0
2,2004-01-31-00.00.00.000000,6,5500,1,1,0,0,0,0
3,2004-01-31-00.00.00.000000,6,5600,1,1,0,0,0,0
4,2004-01-31-00.00.00.000000,6,5700,2,2,0,0,0,0

******************************************************************************************

#### tab95

GOSALES.PRODUCT
(274, 10)

,PRODUCT_NUMBER,BASE_PRODUCT_NUMBER,INTRODUCTION_DATE,DISCONTINUED_DATE,PRODUCT_TYPE_CODE,PRODUCT_COLOR_CODE,PRODUCT_SIZE_CODE,PRODUCT_BRAND_CODE,PRODUCTION_COST,PRODUCT_IMAGE
0,1110,1,1995-02-15-00.00.00.000000,None,951,908,808,701,4.00,P01CE1CG1.jpg
1,2110,2,1995-02-15-00.00.00.000000,None,951,906,807,701,9.22,P02CE1CG1.jpg
2,3110,3,1995-02-15-00.00.00.000000,None,951,924,825,701,15.93,P03CE1CG1.jpg
3,4110,4,1995-02-15-00.00.00.000000,None,951,923,804,701,5.00,P04CE1CG1.jpg
4,5110,5,1995-02-15-00.00.00.000000,None,951,923,823,701,34.97,P05CE1CG1.jpg

******************************************************************************************

#### tab96

GOSALES.PRODUCT_BRAND
(28, 24)

,PRODUCT_BRAND_CODE,PRODUCT_BRAND_EN,PRODUCT_BRAND_DE,PRODUCT_BRAND_FR,PRODUCT_BRAND_JA,PRODUCT_BRAND_CS,PRODUCT_BRAND_DA,PRODUCT_BRAND_EL,PRODUCT_BRAND_ES,PRODUCT_BRAND_FI,...,PRODUCT_BRAND_MS,PRODUCT_BRAND_NL,PRODUCT_BRAND_NO,PRODUCT_BRAND_PL,PRODUCT_BRAND_PT,PRODUCT_BRAND_RU,PRODUCT_BRAND_SC,PRODUCT_BRAND_SV,PRODUCT_BRAND_TC,PRODUCT_BRAND_TH
0,700,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,701,TrailChef,TrailChef,ChefDeCamp,ãƒˆãƒ¬ã‚¤ãƒ«ã‚·ã‚§ãƒ•,KuchtÃ­k,TrailChef,ÎœÎ±ÏÎ¼Î¯Ï„Î± Î£ÎµÏ†,Cocinero Viajero,TrailChef,...,TrailChef,Pionier,Turkokk,BiwaKuchnia,Serrania,Ð¨ÐµÑ„-Ð¿Ð¾Ð²Ð°Ñ€,TrailChef,Friluftskocken,æ‚ éŠ,TrailChef
2,702,Star,Star,BellÃ©toile,ã‚¹ã‚¿ãƒ¼,Star,Star,Î£ÎµÎ¯ÏÎ¹Î¿Ï‚,Estrella,Star,...,Bintang,Nova,Rabben,Gwiazda,Domus,Ð—Ð²ÐµÐ·Ð´Ð°,Star,StjÃ¤rnan,æ˜Ÿ,Star
3,703,Blue Steel,Blue Steel,Herberase,ãƒ–ãƒ«ãƒ¼ã‚¹ãƒãƒ¼ãƒ«,ModrÃ¡sek,Blue Steel,ÎœÏ€Î»Îµ Î‘Ï„ÏƒÎ¬Î»Î¹,Acero Azul,Blue Steel,...,Logam Biru,Staalblauw,BlÃ¥stÃ¥l,BÅ‚Ä™kitna Stal,Taco Golfe,Ð“Ð¾Ð»ÑƒÐ±Ð°Ñ ÑÑ‚Ð°Ð»ÑŒ,Blue Steel,BlÃ¥ StÃ¥l,è—å¤©ä½¿,Blue Steel
4,704,Hibernator,Hibernator,Sac moyen MorphÃ©e,ãƒã‚¤ãƒ™ãƒ«ãƒãƒ¼ã‚¿ãƒ¼,Jezevec,Venus III,Î¥Ï€Î½ÏŒÏƒÎ±ÎºÎ¿Ï‚ 3 ÎµÏ€Î¿Ï‡ÏŽÎ½ Î“Î±Î¯Î±,Hibernador,Hibernator-makuupussi,...,Hibernator,Winterslaper,Overvintrer,Hibernator,Thermus,"Ð¡Ð¿Ð°Ð»ÑŒÐ½Ð¸: ""Ð¡Ð¿ÑÑ‡ÐºÐ°""",Hibernator,Dvala,èˆ’çœ ä¸‰å­£ç¡è¢‹,à¸–à¸¸à¸‡à¸™à¸­à¸™ Hibernator

******************************************************************************************

#### tab97

GOSALES.PRODUCT_COLOR_LOOKUP
(27, 24)

,PRODUCT_COLOR_CODE,PRODUCT_COLOR_EN,PRODUCT_COLOR_DE,PRODUCT_COLOR_FR,PRODUCT_COLOR_JA,PRODUCT_COLOR_CS,PRODUCT_COLOR_DA,PRODUCT_COLOR_EL,PRODUCT_COLOR_ES,PRODUCT_COLOR_FI,...,PRODUCT_COLOR_MS,PRODUCT_COLOR_NL,PRODUCT_COLOR_NO,PRODUCT_COLOR_PL,PRODUCT_COLOR_PT,PRODUCT_COLOR_RU,PRODUCT_COLOR_SC,PRODUCT_COLOR_SV,PRODUCT_COLOR_TC,PRODUCT_COLOR_TH
0,900,Ash,Esche,Gris cendrÃ©,ç°,PopelavÃ¡,Aske,Î“ÎºÏÎ¹,Ceniza,Tuhkanharmaa,...,Ash,Grijs,Aske,Jesion,Cinza escuro,Ð—Ð¾Ð»Ð¾Ñ‚Ð¸ÑÑ‚Ñ‹Ð¹,ç°è‰²,Aska,æ·¡ç°è‰²,à¸ªà¸µà¹€à¸–à¹‰à¸²
1,901,Beige,Beige,Beige,ãƒ™ãƒ¼ã‚¸ãƒ¥,BÃ©Å¾ovÃ¡,Beige,ÎœÏ€ÎµÎ¶,Beige,Beige,...,Kuning Air,Beige,Beige,BeÅ¼owy,Bege,Ð‘ÐµÐ¶ÐµÐ²Ñ‹Ð¹,ç±³é»„è‰²,Beige,ç±³é»ƒè‰²,à¸ªà¸µà¹€à¸šà¸ˆ
2,902,Black,Schwarz,Noir,é»’,ÄŒernÃ¡,Sort,ÎœÎ±ÏÏÎ¿,Negro,Musta,...,Hitam,Zwart,Svart,Czarny,Preto,Ð§ÐµÑ€Ð½Ñ‹Ð¹,é»‘è‰²,Svart,é»‘è‰²,à¸ªà¸µà¸”à¸³
3,903,Blue,Blau,Bleu,é’,ModrÃ¡,BlÃ¥,ÎœÏ€Î»Îµ,Azul,Sininen,...,Biru,Blauw,BlÃ¥,Niebieski,Azul,Ð¡Ð¸Ð½Ð¸Ð¹,è“è‰²,BlÃ¥,è—è‰²,à¸ªà¸µà¸™à¹‰à¸³à¹€à¸‡à¸´à¸™
4,904,Brass,Kupfer,Cuivre,é»„éŠ…,MosaznÃ¡,Messing,ÎœÏ€ÏÎ¿ÏÏ„Î¶Î¹Î½Î¿,LatÃ³n,Messinki,...,Loyang,Koper,Messing,MosiÄ™Å¼ny,Cobre,ÐœÐµÐ´Ð½Ñ‹Ð¹,é»„é“œè‰²,MÃ¤ssing,é»ƒéŠ…è‰²,à¸ªà¸µà¸—à¸­à¸‡à¹€à¸«à¸¥à¸·à¸­à¸‡

******************************************************************************************

#### tab98

GOSALES.PRODUCT_FORECAST
(129096, 7)

,SALES_YEAR,SALES_MONTH,BRANCH_CODE,BASE_PRODUCT_NUMBER,UNIT_COST,UNIT_PRICE,EXPECTED_VOLUME
0,2004,1,6,1,2.77,6.30,2530
1,2004,1,6,2,6.17,11.68,890
2,2004,1,6,3,14.01,20.93,785
3,2004,1,6,4,0.95,4.09,1360
4,2004,1,6,5,34.99,54.96,565

******************************************************************************************

#### tab99

GOSALES.PRODUCT_LINE
(5, 24)

,PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCT_LINE_FR,PRODUCT_LINE_DE,PRODUCT_LINE_NL,PRODUCT_LINE_SC,PRODUCT_LINE_KO,PRODUCT_LINE_JA,PRODUCT_LINE_CS,PRODUCT_LINE_HU,...,PRODUCT_LINE_FI,PRODUCT_LINE_IT,PRODUCT_LINE_NO,PRODUCT_LINE_PL,PRODUCT_LINE_RU,PRODUCT_LINE_SV,PRODUCT_LINE_ES,PRODUCT_LINE_TH,PRODUCT_LINE_MS,PRODUCT_LINE_ID
0,994,Outdoor Protection,Articles de protection,Outdoor-SchutzausrÃ¼stung,Buitensport - preventie,æˆ·å¤–é˜²æŠ¤ç”¨å“,ì•¼ì™¸ ë³´í˜¸ ìž¥ë¹„,ã‚¢ã‚¦ãƒˆãƒ‰ã‚¢ç”¨ä¿è­·ç”¨å“,VybavenÃ­ do pÅ™Ã­rody,VÃ©dÅ‘felszerelÃ©s,...,Ulkoiluvarusteet,Protezione personale,UtendÃ¸rs beskyttelse,WyposaÅ¼enie ochronne,Ð¡Ñ€ÐµÐ´ÑÑ‚Ð²Ð° Ð·Ð°Ñ‰Ð¸Ñ‚Ñ‹,Skyddsartiklar,ProtecciÃ³n aire libre,à¸ªà¸´à¹ˆà¸‡à¸›à¹‰à¸­à¸‡à¸à¸±à¸™à¹€à¸¡à¸·à¹ˆà¸­à¸­à¸¢à¸¹à¹ˆà¸à¸¥à¸²à¸‡à¹à¸ˆà¹‰à¸‡,Perlindungan Luar Bangunan,Perlindungan Luar Ruang
1,991,Camping Equipment,MatÃ©riel de camping,CampingausrÃ¼stung,Kampeerbenodigdheden,éœ²è¥è£…å¤‡,ìº í•‘ ìž¥ë¹„,ã‚­ãƒ£ãƒ³ãƒ—ç”¨å“,VybavenÃ­ pro kempovÃ¡nÃ­,KempingfelszerelÃ©s,...,Retkeilyvarusteet,Attrezzatura per campeggio,Campingutstyr,Ekwipunek kempingowy,Ð¡Ð½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ Ð´Ð»Ñ Ñ‚ÑƒÑ€Ð¸Ð·Ð¼Ð°,Campingutrustning,Equipo de acampada,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸•à¸±à¹‰à¸‡à¹à¸„à¸¡à¸›à¹Œ,Kelengkapan Berkhemah,Perlengkapan Berkemah
2,995,Golf Equipment,MatÃ©riel de golf,GolfausrÃ¼stung,Golfartikelen,é«˜å°”å¤«çƒè£…å¤‡,ê³¨í”„ ìž¥ë¹„,ã‚´ãƒ«ãƒ•ç”¨å“,GolfovÃ© potÅ™eby,GolffelszerelÃ©s,...,Golf-varusteet,Attrezzatura da golf,Golfutstyr,Ekwipunek golfowy,Ð¡Ð½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ Ð´Ð»Ñ Ð³Ð¾Ð»ÑŒÑ„Ð°,Golfutrustning,Equipo de golf,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸à¸­à¸¥à¹Œà¸Ÿ,Kelengkapan Golf,Perlengkapan Golf
3,993,Personal Accessories,Accessoires personnels,Accessoires,Persoonlijke accessoires,ä¸ªäººé™„ä»¶,ê°œì¸ ìš©í’ˆ,å€‹äººè£…å‚™,VÄ›ci osobnÃ­ potÅ™eby,SzemÃ©lyes kiegÃ©szÃ­tÅ‘k,...,HenkilÃ¶kohtaiset tarvikkeet,Accessori personali,Personlig utrustning,Akcesoria osobiste,Ð›Ð¸Ñ‡Ð½Ñ‹Ðµ Ð¿Ñ€Ð¸Ð½Ð°Ð´Ð»ÐµÐ¶Ð½Ð¾ÑÑ‚Ð¸,Personliga tillbehÃ¶r,Accesorios personales,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸ªà¹ˆà¸§à¸™à¸•à¸±à¸§,Aksesori Diri,Aksesori pribadi
4,992,Mountaineering Equipment,MatÃ©riel de montagne,BergsteigerausrÃ¼stung,Bergsportartikelen,ç™»å±±è£…å¤‡,ë“±ì‚° ìž¥ë¹„,ç™»å±±ç”¨å“,HorolezeckÃ© vybavenÃ­,HegymÃ¡szÃ³-felszerelÃ©s,...,Vuorikiipeilyvarusteet,Attrezzatura per alpinismo,Klatreutstyr,SprzÄ™t wspinaczkowy,Ð“Ð¾Ñ€Ð½Ð¾Ðµ ÑÐ½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ,KlÃ¤tterutrustning,Equipo de montaÃ±ismo,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸›à¸µà¸™à¹€à¸‚à¸²,Kelengkapan Mendaki Gunung,Perlengkapan Pendaki Gunung

******************************************************************************************

#### tab100

GOSALES.PRODUCT_NAME_LOOKUP
(6302, 4)

,PRODUCT_NUMBER,PRODUCT_LANGUAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION
0,1110,CS,Vak na vodu KuchtÃ­k,"LehkÃ½, skladnÃ½ vak na tekutiny. Å irokÃ© hrdlo u..."
1,1110,DA,Sahara Vandtaske,Sammentrykkelig letvÃ¦gtstaske til vÃ¦sker. Bred...
2,1110,DE,TrailChef Wasserbeutel,"Leichter, zusammenfaltbarer Beutel zum einfach..."
3,1110,EL,Î”Î¿Ï‡ÎµÎ¯Î¿ Ï…Î³ÏÏŽÎ½ ÎœÎ±ÏÎ¼Î¯Ï„Î± Î£ÎµÏ†,"Î•Î»Î±Ï†ÏÏ, Ï€Ï„Ï…ÏƒÏƒÏŒÎ¼ÎµÎ½Î¿ Î´Î¿Ï‡ÎµÎ¯Î¿ Î³Î¹Î± ÎµÏÎºÎ¿Î»Î· Î¼ÎµÏ„Î±Ï†Î¿ÏÎ¬ ..."
4,1110,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ..."

******************************************************************************************

#### tab101

GOSALES.PRODUCT_SIZE_LOOKUP
(55, 24)

,PRODUCT_SIZE_CODE,PRODUCT_SIZE_EN,PRODUCT_SIZE_DE,PRODUCT_SIZE_FR,PRODUCT_SIZE_JA,PRODUCT_SIZE_CS,PRODUCT_SIZE_DA,PRODUCT_SIZE_EL,PRODUCT_SIZE_ES,PRODUCT_SIZE_FI,...,PRODUCT_SIZE_MS,PRODUCT_SIZE_NL,PRODUCT_SIZE_NO,PRODUCT_SIZE_PL,PRODUCT_SIZE_PT,PRODUCT_SIZE_RU,PRODUCT_SIZE_SC,PRODUCT_SIZE_SV,PRODUCT_SIZE_TC,PRODUCT_SIZE_TH
0,800,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,801,12 mm,12 mm,12 mm,12 mm,12 mm,12 mm,12 Ï‡Î»ÏƒÏ„.,12 mm,12 mm,...,12 mm,12 mm,12 mm,12 mm,12 mm,12 Ð¼Ð¼,12 mm,12 mm,12 mm,12 à¸¡à¸¡.
2,802,100 ml,100 ml,100 ml,100 ml,100 ml,100 ml,100 Ï‡Î»ÏƒÏ„/Î»Î¯Ï„.,100 ml,100 ml,...,100 ml,100 ml,100 ml,100 ml,100 ml,100 Ð¼Ð»,100 ml,100 ml,100 ml,100 à¸¡à¸¥.
3,803,250 ml,250 ml,250 ml,250 ml,250 ml,250 ml,250 Ï‡Î»ÏƒÏ„/Î»Î¯Ï„.,250 ml,250 ml,...,250 ml,250 ml,250 ml,250 ml,250 ml,250 Ð¼Ð»,250 ml,250 ml,250 ml,250 à¸¡à¸¥.
4,804,330 ml,330 ml,330 ml,330 ml,330 ml,330 ml,330 Ï‡Î»ÏƒÏ„/Î»Î¯Ï„.,330 ml,330 ml,...,330 ml,330 ml,330 ml,330 ml,330 ml,330 Ð¼Ð»,330 ml,330 ml,330 ml,330 à¸¡à¸¥.

******************************************************************************************

#### tab102

GOSALESMR.PRODUCT_SURVEY_RESULTS
(165074, 6)

,PRODUCT_SURVEY_DATE,ORGANIZATION_CODE,COUNTRY_CODE_RETAILER,SALES_BRANCH_CODE,PRODUCT_NUMBER,PRODUCT_TOPIC_CODE
0,2005-04-01-00.00.00.000000,5750,5018,15,83110,76
1,2005-04-01-00.00.00.000000,5750,5018,15,83110,77
2,2005-04-01-00.00.00.000000,5750,5018,15,84110,71
3,2005-04-01-00.00.00.000000,5750,5018,15,84110,72
4,2005-04-01-00.00.00.000000,5750,5018,15,84110,73

******************************************************************************************

#### tab103

GOSALESMR.PRODUCT_SURVEY_TARGETS
(5824, 4)

,PRODUCT_SURVEY_YEAR,PRODUCT_SURVEY_MONTH,PRODUCT_NUMBER,PRODUCT_TOPIC_CODE
0,2004,4,1110,71
1,2004,4,1110,72
2,2004,4,1110,73
3,2004,4,1110,74
4,2004,4,1110,75

******************************************************************************************

#### tab104

GOSALESMR.PRODUCT_SURVEY_TOPIC
(7, 24)

,PRODUCT_TOPIC_CODE,PRODUCT_TOPIC_EN,PRODUCT_TOPIC_DE,PRODUCT_TOPIC_FR,PRODUCT_TOPIC_JA,PRODUCT_TOPIC_CS,PRODUCT_TOPIC_DA,PRODUCT_TOPIC_EL,PRODUCT_TOPIC_ES,PRODUCT_TOPIC_FI,...,PRODUCT_TOPIC_MS,PRODUCT_TOPIC_NL,PRODUCT_TOPIC_NO,PRODUCT_TOPIC_PL,PRODUCT_TOPIC_PT,PRODUCT_TOPIC_RU,PRODUCT_TOPIC_SC,PRODUCT_TOPIC_SV,PRODUCT_TOPIC_TC,PRODUCT_TOPIC_TH
0,71,Brand recognition,Markenwiedererkennung,Reconnaissance de la marque,ãƒ–ãƒ©ãƒ³ãƒ‰èªçŸ¥,RozpoznÃ¡nÃ­ znaÄky,VaremÃ¦rkegenkendelse,Î‘Î½Î±Î³Î½ÏŽÏÎ¹ÏƒÎ· Î¼Î¬ÏÎºÎ±Ï‚,Reconocimiento de la marca,Tuotemerkin tunnettuus,...,Pengiktirafan Jenama,Merkherkenning,Varemerkegjenkjenning,Rozpoznanie marki,Reconhecimento da marca,Ð£Ð·Ð½Ð°Ð²Ð°ÐµÐ¼Ð¾ÑÑ‚ÑŒ Ð±Ñ€ÐµÐ½Ð´Ð°,å“ç‰Œè®¤çŸ¥åº¦,MÃ¤rkesidentifiering,å“ç‰ŒèªåŒ,à¸à¸²à¸£à¸ˆà¸”à¸ˆà¸³à¸ªà¸´à¸™à¸„à¹‰à¸²à¹„à¸”à¹‰
1,72,Reliability,VerlÃ¤sslichkeit,FiabilitÃ©,ä¿¡é ¼æ€§,Spolehlivost,PÃ¥lidelighed,Î‘Î¾Î¹Î¿Ï€Î¹ÏƒÏ„Î¯Î±,Confianza,Luotettavuus,...,Kebolehkepercayaan,Betrouwbaarheid,PÃ¥litelighet,NiezawodnoÅ›Ä‡,Confiabilidade,ÐÐ°Ð´ÐµÐ¶Ð½Ð¾ÑÑ‚ÑŒ,å¯ä¿¡åº¦,TillfÃ¶rlitlighet,å¯ä¿¡åº¦,à¸„à¸§à¸²à¸¡à¸™à¹ˆà¸²à¹€à¸Šà¸·à¹ˆà¸­à¸–à¸·à¸­
2,73,Durability,StrapazierfÃ¤higkeit,DurabilitÃ©,è€ä¹…æ€§,Å½ivotnost,Holdbarhed,Î‘Î½Ï„Î¿Ï‡Î®,DuraciÃ³n,KestÃ¤vyys,...,Ketahanan,Duurzaamheid,Holdbarhet,WytrzymaÅ‚oÅ›Ä‡,Durabilidade,Ð”Ð¾Ð»Ð³Ð¾Ð²ÐµÑ‡Ð½Ð¾ÑÑ‚ÑŒ,è€ä¹…æ€§,HÃ¥llbarhet,è€ä¹…æ€§,à¸„à¸§à¸²à¸¡à¸—à¸™à¸—à¸²à¸™
3,74,Value,Wert,Valeur,æœ‰ç”¨æ€§,Hodnota,VÃ¦rdi,Î‘Î¾Î¯Î±,Valor,Arvo,...,Nilai,Waarde,Verdi,WartoÅ›Ä‡,Valor,Ð¦ÐµÐ½Ð½Ð¾ÑÑ‚ÑŒ,ä»·å€¼,VÃ¤rde,åƒ¹å€¼,à¸„à¸¸à¸“à¸„à¹ˆà¸²
4,75,Design,Design,Conception,ãƒ‡ã‚¶ã‚¤ãƒ³,Design,Design,Î£Ï‡ÎµÎ´Î¯Î±ÏƒÎ·,DiseÃ±o,Suunnittelu,...,Reka bentuk,Ontwerp,Design,Projekt,Design,ÐšÐ¾Ð½ÑÑ‚Ñ€ÑƒÐºÑ†Ð¸Ñ,è®¾è®¡,Design,è¨­è¨ˆ,à¸”à¸µà¹„à¸‹à¸™à¹Œ

******************************************************************************************

#### tab105

GOSALES.PRODUCT_TYPE
(21, 25)

,PRODUCT_TYPE_CODE,PRODUCT_LINE_CODE,PRODUCT_TYPE_EN,PRODUCT_TYPE_FR,PRODUCT_TYPE_DE,PRODUCT_TYPE_NL,PRODUCT_TYPE_JA,PRODUCT_TYPE_SC,PRODUCT_TYPE_KO,PRODUCT_TYPE_CS,...,PRODUCT_TYPE_FI,PRODUCT_TYPE_IT,PRODUCT_TYPE_NO,PRODUCT_TYPE_PL,PRODUCT_TYPE_RU,PRODUCT_TYPE_SV,PRODUCT_TYPE_ES,PRODUCT_TYPE_TH,PRODUCT_TYPE_MS,PRODUCT_TYPE_ID
0,968,995,Irons,Fers,Eisen,IJzers,ã‚¢ã‚¤ã‚¢ãƒ³,é“æ†,ì•„ì´ì–¸,GolfovÃ© hole - Å¾eleza,...,Rautamailat,Ferri,Jern,Kije typu Iron,ÐšÐ»ÑŽÑˆÐºÐ¸ Ñ Ð¼ÐµÑ‚Ð°Ð»Ð»Ð¸Ñ‡. Ð³Ð¾Ð»Ð¾Ð²ÐºÐ¾Ð¹,JÃ¤rnklubbor,Hierros,à¹€à¸«à¸¥à¹‡à¸,Iron (Pemukul),Setrika
1,969,995,Woods,Bois,HÃ¶lzer,houten,ã‚¦ãƒƒãƒ‰,æœ¨æ†,ìš°ë“œ,GolfovÃ© hole - dÅ™eva,...,Puumailat,Legni,Woods,Kije typu Wood,Ð”ÐµÑ€ÐµÐ²ÑÐ½Ð½Ñ‹Ðµ ÐºÐ»ÑŽÑˆÐºÐ¸,TrÃ¤klubbor,Maderas,à¸«à¸±à¸§à¹„à¸¡à¹‰,Woods,Kayu
2,971,995,Golf Accessories,Accessoires de golf,GolfzubehÃ¶r,Golfaccessoires,ã‚´ãƒ«ãƒ•ç”¨å°ç‰©,é«˜å°”å¤«é™„ä»¶,ê³¨í”„ ì•¡ì„¸ì„œë¦¬,GolfovÃ© potÅ™eby,...,Golf-varusteet,Accessori per il golf,GolftilbehÃ¸r,Akcesoria golfowe,ÐŸÑ€Ð¸Ð½Ð°Ð´Ð»ÐµÐ¶Ð½Ð¾ÑÑ‚Ð¸ Ð´Ð»Ñ Ð³Ð¾Ð»ÑŒÑ„Ð°,GolftillbehÃ¶r,Accesorios de golf,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸à¸­à¸¥à¹Œà¸Ÿ,Aksesori Golf,Aksesori Golf
3,952,991,Tents,Tentes,Zelte,Tenten,ãƒ†ãƒ³ãƒˆ,å¸ç¯·,í…íŠ¸,Stany,...,Teltat,Tende,Telt,Namioty,ÐŸÐ°Ð»Ð°Ñ‚ÐºÐ¸,TÃ¤lt,Tiendas,à¹€à¸•à¹‡à¸™à¸—à¹Œ,Khemah,Tenda
4,962,993,Knives,Couteaux,Messer,Messen,ãƒŠã‚¤ãƒ•,å°åˆ€,ë‚˜ì´í”„,NoÅ¾e,...,Puukot,Coltelli,Kniver,NoÅ¼e,ÐÐ¾Ð¶Ð¸,Knivar,Cuchillos,à¸¡à¸µà¸”,Pisau,Pisau

******************************************************************************************

#### tab106

GOSALESMR.PROMOTIONS
(112, 26)

,PROMOTION_CODE,CAMPAIGN_CODE,BUNDLE_GROUP_CODE,PROMOTION_NAME_EN,PROMOTION_NAME_DE,PROMOTION_NAME_FR,PROMOTION_NAME_JA,PROMOTION_NAME_CS,PROMOTION_NAME_DA,PROMOTION_NAME_EL,...,PROMOTION_NAME_MS,PROMOTION_NAME_NL,PROMOTION_NAME_NO,PROMOTION_NAME_PL,PROMOTION_NAME_PT,PROMOTION_NAME_RU,PROMOTION_NAME_SC,PROMOTION_NAME_SV,PROMOTION_NAME_TC,PROMOTION_NAME_TH
0,0,50,300,Regular sale,Verkauf zum regulÃ¤ren Preis,Vente au prix rÃ©gulier,é€šå¸¸è²©å£²,BÄ›Å¾nÃ½ prodej,RegelmÃ¦ssigt salg,ÎšÎ±Î½Î¿Î½Î¹ÎºÎ® Ï€ÏŽÎ»Î·ÏƒÎ·,...,Jualan tetap,Normale prijs,Vanlig salg,SprzedaÅ¼ standardowa,Venda regular,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ñ‹Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸,å¸¸è§„é”€å”®,Normal fÃ¶rsÃ¤ljning,ä¸€èˆ¬éŠ·å”®,à¸£à¸²à¸„à¸²à¸‚à¸²à¸¢à¸›à¸à¸•à¸´
1,10201,61,301,Canteen 2004 Promotion,Feldflasche 2004 Werbeaktion,Promotion Gamelle 2004,æ°´ç­’ 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce JÃ­delnÃ­ miska 2004,Kantine 2004 reklame,Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· Î Î±Î³Î¿ÏÏÎ¹ 2004,...,Promosi Kantin 2004,Aanbieding Veldfles 2004,Feltflaske 2004 salgskampanje,Promocja manierki z 2004 r.,PromoÃ§Ã£o Cantil 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""ÐšÑƒÑ…Ð½Ñ 2004""",æ°´å£¶ 2004 ä¿ƒé”€,FÃ¤ltkÃ¶k 2004 - erbjudande,æ°´å£º 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¸à¸£à¸°à¸•à¸´à¸à¸™à¹‰à¸³à¹€à¸”à¸´à¸™à¸—à¸²à¸‡ 2004
2,10202,61,301,Kitchen Kit 2004 Promotion,KÃ¼chenset 2004 Werbeaktion,Promotion Trousse de cuisine 2004,ã‚­ãƒƒãƒãƒ³ã‚»ãƒƒãƒˆ 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce KuchyÅˆskÃ¡ souprava 2004,KÃ¸kkensÃ¦t 2004 reklame,Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· Î£ÎµÏ„ ÎºÎ¿Ï…Î¶Î¯Î½Î±Ï‚ 2004,...,Promosi 2004 Kit Perkakasan,Aanbieding Keukenset 2004,KjÃ¸kkensett 2004 salgskampanje,Promocja zestawu kuchennego z 2004 r.,PromoÃ§Ã£o Kit Cozinha 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð¡Ñ‚Ð¾Ð»Ð¾Ð²Ñ‹Ð¹ Ð½Ð°Ð±Ð¾Ñ€ 2004""",åŽ¨æˆ¿å¥—å…· 2004 ä¿ƒé”€,KÃ¶kspaket 2004 - erbjudande,å»šæˆ¿ç”¨å…·ç®± 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸„à¸£à¸±à¸§ 2004
3,10203,61,301,Single Flame 2004 Promotion,Camping-Kocher einflammig 2004 Werbeaktion,Promotion RÃ©chaud simple 2004,ã‚·ãƒ³ã‚°ãƒ«ã‚¹ãƒˆãƒ¼ãƒ– 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce VaÅ™iÄ 2004,Enkelt flamme 2004 reklame,Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· ÎšÎ±Î¼Î¹Î½Î­Ï„Î¿ Î¼Î¯Î±Ï‚ ÎµÏƒÏ„Î¯Î±Ï‚ 2004,...,Promosi Api Tunggal 2004,Aanbieding Eenpitsbrander 2004,Enkeltbluss 2004 salgskampanje,Promocja kuchenki jednopalnikowej z 2004 r.,PromoÃ§Ã£o FogÃ£o simples 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""ÐžÐ´Ð½Ð¾ÐºÐ¾Ð½Ñ„Ð¾Ñ€Ð¾Ñ‡Ð½Ð°Ñ Ð¿Ð»Ð¸Ñ‚Ð° 2004""",å•ç¶ç‚‰ 2004 ä¿ƒé”€,EnlÃ¥giga kÃ¶k 2004 - erbjudande,å–®å£çˆ 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¹€à¸•à¸²à¹à¸à¹Šà¸ªà¹€à¸”à¸µà¹ˆà¸¢à¸§ 2004
4,10204,61,301,Double Flame 2004 Promotion,Camping-Kocher zweiflammig 2004 Werbeaktion,Promotion RÃ©chaud double 2004,ãƒ€ãƒ–ãƒ«ã‚¹ãƒˆãƒ¼ãƒ– 2004 ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromoÄnÃ­ akce DvojitÃ½ vaÅ™iÄ 2004,Dobbelt flamme 2004 reklame,Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· ÎšÎ±Î¼Î¹Î½Î­Ï„Î¿ Î´ÏÎ¿ ÎµÏƒÏ„Î¹ÏŽÎ½ 2004,...,Promosi Dua Api 2004,Aanbieding Tweepitsbrander 2004,Dobbeltbluss 2004 salgskampanje,Promocja kuchenki dwupalnikowej z 2004 r.,PromoÃ§Ã£o FogÃ£o duplo 2004,"Ð ÐµÐºÐ»Ð°Ð¼Ð½Ð°Ñ ÐºÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð”Ð²ÑƒÑ…ÐºÐ¾Ð½Ñ„Ð¾Ñ€Ð¾Ñ‡Ð½Ð°Ñ Ð¿Ð»Ð¸Ñ‚Ð° 2004""",åŒç¶ç‚‰ 2004 ä¿ƒé”€,TvÃ¥lÃ¥giga kÃ¶k 2004 - erbjudande,é›™å£çˆ 2004 ä¿ƒéŠ·,à¹‚à¸›à¸£à¹‚à¸¡à¸Šà¸±à¸™à¹€à¸•à¸²à¹à¸à¹Šà¸ªà¸„à¸¹à¹ˆ 2004

******************************************************************************************

#### tab107

GOSALESMR.PROMOTION_BUNDLE_GROUP
(15, 24)

,BUNDLE_GROUP_CODE,BUNDLE_GROUP_EN,BUNDLE_GROUP_DE,BUNDLE_GROUP_FR,BUNDLE_GROUP_JA,BUNDLE_GROUP_CS,BUNDLE_GROUP_DA,BUNDLE_GROUP_EL,BUNDLE_GROUP_ES,BUNDLE_GROUP_FI,...,BUNDLE_GROUP_MS,BUNDLE_GROUP_NL,BUNDLE_GROUP_NO,BUNDLE_GROUP_PL,BUNDLE_GROUP_PT,BUNDLE_GROUP_RU,BUNDLE_GROUP_SC,BUNDLE_GROUP_SV,BUNDLE_GROUP_TC,BUNDLE_GROUP_TH
0,300,Regular sale,Verkauf zum regulÃ¤ren Preis,Vente au prix rÃ©gulier,é€šå¸¸è²©å£²,BeÅ¾nÃ½ prodej,RegelmÃ¦ssigt salg,ÎšÎ±Î½Î¿Î½Î¹ÎºÎ® Ï€ÏŽÎ»Î·ÏƒÎ·,Venta normal,Normaali myynti,...,Jualan tetap,Normale prijs,Vanlig salg,SprzedaÅ¼ standardowa,Venda regular,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ñ‹Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸,å¸¸è§„é”€å”®,Normal fÃ¶rsÃ¤ljning,ä¸€èˆ¬éŠ·å”®,à¸£à¸²à¸„à¸²à¸‚à¸²à¸¢à¸›à¸à¸•à¸´
1,301,Single-item promotion,Werbeaktion Einzelprodukt,Promotion sur un article unique,å˜å“ãƒ—ãƒ­ãƒ¢ãƒ¼ã‚·ãƒ§ãƒ³,PromocnÃ­ akce jednÃ© poloÅ¾ky,Reklame for enkelt artikel,Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· ÎµÎ½ÏŒÏ‚ Ï„ÎµÎ¼Î±Ï‡Î¯Î¿Ï…,PromociÃ³n de un Ãºnico artÃ­culo,Yhden kohteen promootio,...,Promosi item tunggal,Productkorting,Promotering av Ã©n enkelt artikkel,Promocja jednego produktu,PromoÃ§Ã£o de item Ãºnico,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð¶ÐµÐ½Ð¸Ðµ Ð¾Ð´Ð½Ð¾Ð³Ð¾ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð°,å•é¡¹ä¿ƒé”€,"Erbjudande, en artikel",å–®é …ä¿ƒéŠ·,à¸à¸²à¸£à¸¥à¸”à¸£à¸²à¸„à¸²à¸ªà¸´à¸™à¸„à¹‰à¸²à¸Šà¸´à¹‰à¸™à¹€à¸”à¸µà¸¢à¸§
2,302,Six Star Bundle,Six Star-BÃ¼ndel,Ensemble Six Ã©toiles,ã‚·ãƒƒã‚¯ã‚¹ã‚¹ã‚¿ãƒ¼ ã‚»ãƒƒãƒˆ,Sada Å est hvezdicek,Six Star sÃ¦t,Î Î±ÎºÎ­Ï„Î¿ Î£ÎºÎ·Î½Î®Ï‚ ÎˆÎ¾Î¹ Î‘Ï„ÏŒÎ¼Ï‰Î½,Paquete Seis estrellas,Six Star -pakkaus,...,Bundle Enam Bintang,Nova Zespersoonstentpakket,Nordlyspakke,Zestaw Gwiazda 6,Pacote Domus seis,"ÐÐ°Ð±Ð¾Ñ€ ""Ð¨ÐµÑÑ‚ÑŒ Ð·Ð²ÐµÐ·Ð´""",Six Star ä¿ƒé”€åŒ…,StjÃ¤rnan sex - paket,å…­è§’æ˜Ÿä¿ƒéŠ·åŒ…,à¸Šà¸¸à¸”à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¹€à¸”à¸´à¸™à¸›à¹ˆà¸² Six Star
3,303,Climber Bundle,Climber-BÃ¼ndel,Ensemble Excursion,ç™»å±±ã‚»ãƒƒãƒˆ,Sada Horolezec,Climber sÃ¦t,Î Î±ÎºÎ­Ï„Î¿ Î‘Î½Î±ÏÏÎ¹Ï‡Î·Ï„Î®,Paquete Escalador,Climber-pakkaus,...,Bundle Climber,Klimmerspakket,Klatrerpakke,Zestaw Wycieczka,Pacote Alpinista,"ÐÐ°Ð±Ð¾Ñ€ ""Ð¡ÐºÐ°Ð»Ð¾Ð»Ð°Ð·""",Climber ä¿ƒé”€åŒ…,KlÃ¤ttring - paket,æ”€ç™»å·¥å…·ä¿ƒéŠ·åŒ…,à¸Šà¸¸à¸”à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸›à¸µà¸™à¹€à¸‚à¸²
4,304,Course Pro Bundle,Course Pro-BÃ¼ndel,Ensemble Omnium,ã‚³ãƒ¼ã‚¹ãƒ—ãƒ­ ã‚»ãƒƒãƒˆ,Sada Profi,Mercury sÃ¦t,Î Î±ÎºÎ­Ï„Î¿ Î“ÎºÏŒÎ»Ï†ÎµÏ,Paquete Circuito Pro,Course Pro -pakkaus,...,Bundle Kursus Pro,Golfprofpakket,Proffenpakke,Zestaw Golf Pro,Pacote PrÃ³-golfe,"ÐÐ°Ð±Ð¾Ñ€ ""ÐŸÑ€Ð¾Ñ„Ð¸""",Course Pro ä¿ƒé”€åŒ…,Golf Pro - paket,é«˜çƒå°ˆå®¶ä¿ƒéŠ·åŒ…,à¸Šà¸¸à¸”à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸à¸­à¸¥à¹Œà¸Ÿ Course Pro

******************************************************************************************

#### tab108

GOSALESMR.PROMOTION_CAMPAIGN
(12, 24)

,CAMPAIGN_CODE,CAMPAIGN_NAME_EN,CAMPAIGN_NAME_DE,CAMPAIGN_NAME_FR,CAMPAIGN_NAME_JA,CAMPAIGN_NAME_CS,CAMPAIGN_NAME_DA,CAMPAIGN_NAME_EL,CAMPAIGN_NAME_ES,CAMPAIGN_NAME_FI,...,CAMPAIGN_NAME_MS,CAMPAIGN_NAME_NL,CAMPAIGN_NAME_NO,CAMPAIGN_NAME_PL,CAMPAIGN_NAME_PT,CAMPAIGN_NAME_RU,CAMPAIGN_NAME_SC,CAMPAIGN_NAME_SV,CAMPAIGN_NAME_TC,CAMPAIGN_NAME_TH
0,50,Regular sale,Verkauf zum regulÃ¤ren Preis,Vente au prix rÃ©gulier,é€šå¸¸è²©å£²,BÄ›Å¾nÃ½ prodej,RegelmÃ¦ssigt salg,ÎšÎ±Î½Î¿Î½Î¹ÎºÎ® Ï€ÏŽÎ»Î·ÏƒÎ·,Venta normal,Normaali myynti,...,Jualan tetap,Normale prijs,Vanlig salg,SprzedaÅ¼ standardowa,Venda regular,Ð ÐµÐ³ÑƒÐ»ÑÑ€Ð½Ñ‹Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸,å¸¸è§„é”€å”®,Normal fÃ¶rsÃ¤ljning,ä¸€èˆ¬éŠ·å”®,à¸£à¸²à¸„à¸²à¸‚à¸²à¸¢à¸›à¸à¸•à¸´
1,51,Big Rock Campaign,Big Rock-Kampagne,Campagne Escalade,ãƒ“ãƒƒã‚°ãƒ­ãƒƒã‚¯ ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ Velehory,Big Rock kampagne,ÎŸÏÎµÎ¹Î²Î±Ï„Î¹ÎºÎ® Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î±,CampaÃ±a Rocoso,Big Rock -kampanja,...,Kempen Big Rock,Zwerfkeicampagne,Storberget-kampanje,Kampania Wielka SkaÅ‚a,Campanha Pedra grande,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð¡ÐºÐ°Ð»Ð°""",æ‘‡æ»šå¤§èµ›,Klippan - kampanj,æ–æ»¾æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Big Rock
2,52,Rising Star Campaign,Rising Star-Kampagne,Campagne Ã‰toile montante,ãƒ©ã‚¤ã‚¸ãƒ³ã‚°ã‚¹ã‚¿ãƒ¼ ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ Severka,Rising Star kampagne,Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î± Î‘Î½Î±Ï„Î­Î»Î»Î¿Î½ Î†ÏƒÏ„ÏÎ¿,CampaÃ±a Estrella Elevada,Rising Star -kampanja,...,Kempen Bintang yang Meningkat,UltraNovacampagne,Stigende stjerne-kampanje,Kampania WschodzÄ…ca Gwiazda,Campanha Estrela em ascensÃ£o,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð’Ð¾ÑÑ…Ð¾Ð´ÑÑ‰Ð°Ñ Ð·Ð²ÐµÐ·Ð´Ð°""",æ–°ç§€æŒ‘æˆ˜èµ›,Stigande stjÃ¤rna - kampanj,æ–°ç§€æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Rising Star
3,53,Canyon Mule Campaign,Canyon Mule-Kampagne,Campagne Atlas,ã‚­ãƒ£ãƒ‹ã‚ªãƒ³ãƒŸãƒ¥ãƒ¼ãƒ« ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ TulÃ¡k,Sisyfos kampagne,Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î± Î•Î¾Î¿Ï€Î»Î¹ÏƒÎ¼ÏŒÏ‚ ÎˆÎ²ÎµÏÎµÏƒÏ„,CampaÃ±a Mula de carga,Canyon Mule -kampanja,...,Kempen Canyon Mule,Sherpacampagne,KlÃ¸vgampen-kampanje,Kampania Beskid,Campanha MontAlto,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""Ð“Ð¾Ñ€Ð½Ñ‹Ð¹ Ð¼ÑƒÐ»""",Canyon Mule æ´»åŠ¨,PackÃ¥snan - kampanj,å¤§å†’éšªå®¶æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Canyon Mule
4,54,Course Pro Campaign,Course Pro-Kampagne,Campagne Omnium,ã‚³ãƒ¼ã‚¹ãƒ—ãƒ­ ã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³,KampaÅˆ Profi,Mercury kampagne,Î•ÎºÏƒÏ„ÏÎ±Ï„ÎµÎ¯Î± Î“ÎºÏŒÎ»Ï†ÎµÏ,CampaÃ±a Circuito Pro,Course Pro -kampanja,...,Kempen Pro Kursus,Golfprofcampagne,Proffen-kampanje,Kampania Golf Pro,Campanha PrÃ³-golfe,"ÐšÐ°Ð¼Ð¿Ð°Ð½Ð¸Ñ ""ÐŸÑ€Ð¾Ñ„Ð¸""",Course Pro æ´»åŠ¨,Golf Pro - kampanj,é«˜çƒå°ˆå®¶æ´»å‹•,à¹à¸„à¸¡à¹€à¸›à¸ Course Pro

******************************************************************************************

#### tab109

GOSALESMR.PROMOTION_PLAN
(8652, 12)

,PROMOTION_YEAR,PROMOTION_MONTH,ORGANIZATION_CODE,COUNTRY_CODE_RETAILER,SALES_BRANCH_CODE,PRODUCT_NUMBER,PROMOTION_CODE,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,PROMOTION_PLAN_QUANTITY,PROMOTION_PLAN_REVENUE
0,2004,1,1750,1003,19,2110,10201,6.62,12.53,8.77,1320,11576.4
1,2004,1,1750,1003,19,3110,10202,15.93,23.80,21.42,960,20563.2
2,2004,1,1750,1003,20,2110,10201,6.62,12.53,8.77,1410,12365.7
3,2004,1,1750,1003,20,3110,10202,15.93,23.80,21.42,1040,22276.8
4,2004,1,1750,1003,21,2110,10201,6.62,12.53,8.77,1290,11313.3

******************************************************************************************

#### tab110

GOSALESCT.PTNR_ACTIVITY
******************************************************************************************

#### tab111

GOSALESCT.PTNR_CONTACT
(3, 21)

,PTNR_CODE,PTNR_COMPANY_NAME,PTNR_COMPANY_NAME_MB,PTNR_FIRST_NAME,PTNR_FIRST_NAME_MB,PTNR_LAST_NAME,PTNR_LAST_NAME_MB,PTNR_PHONE_NUMBER,PTNR_PHONE_EXT,PTNR_EMAIL,...,PTNR_ADDRESS1_MB,PTNR_ADDRESS2,PTNR_ADDRESS2_MB,PTNR_CITY,PTNR_CITY_MB,PTNR_PROV_STATE,PTNR_PROV_STATE_MB,PTNR_PROV_STATE_CODE,PTNR_POSTAL_ZONE,PTNR_COUNTRY_CODE
0,1223,American HomeSite,Falcon Outfitters,Sam,Sam,Flatgrass,Flatgrass,1 785 273 5453,1131,Flatgrass@amerih.net,...,5321 SW. Fairlawn,None,None,Topeka,Topeka,Kansas,Kansas,KS,66703,1003
1,1349,Sportwaren GmbH,Sportwaren GmbH,Michaela,Michaela,Herder,Herder,+49 212 434 565,1256,Michaela.Herder@Spor481.com,...,PrinzenstraÃŸe 47,Postfach 10,Postfach 10,Solingen,Solingen,Nordrhein-Westfalen,Nordrhein-Westfalen,None,D-42697,6002
2,1515,ORDER Group,ORDER é›†å›¢,Qi,å¥‡,Ouyang,æ¬§é˜³,+86 21 6558 8114,48794,Qi.Quyang@ORDE647.com,...,ä¸­å±±è·¯ 99 å·,None,None,Shanghai,ä¸Šæµ·å¸‚,None,None,None,200023,4014

******************************************************************************************

#### tab112

GOSALESHR.RANKING
(5, 24)

,RANKING_CODE,RANKING_DESCRIPTION_EN,RANKING_DESCRIPTION_CS,RANKING_DESCRIPTION_DA,RANKING_DESCRIPTION_NL,RANKING_DESCRIPTION_FI,RANKING_DESCRIPTION_FR,RANKING_DESCRIPTION_DE,RANKING_DESCRIPTION_EL,RANKING_DESCRIPTION_HU,...,RANKING_DESCRIPTION_PL,RANKING_DESCRIPTION_PT,RANKING_DESCRIPTION_RU,RANKING_DESCRIPTION_SC,RANKING_DESCRIPTION_SV,RANKING_DESCRIPTION_TC,RANKING_DESCRIPTION_ES,RANKING_DESCRIPTION_TH,RANKING_DESCRIPTION_MS,RANKING_DESCRIPTION_ID
0,1,Poor,NeuspokojivÃ©,Ikke tilfredsstillende,Slecht,Heikko,MÃ©diocre,Mangelhaft,ÎœÎ· Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Ï„Î¹ÎºÎ®,ElÃ©gtelen,...,Niedostateczna,Fraco,ÐŸÐ»Ð¾Ñ…Ð¾,å·®,DÃ¥lig,ä¸æ»¿æ„,Bajo,à¹„à¸¡à¹ˆà¸”à¸µ,Tidak baik,Buruk
1,2,Satisfactory,UspokojivÃ©,Tilfredsstillende,Bevredigend,TyydyttÃ¤vÃ¤,Satisfaisant,Befriedigend,Î™ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Ï„Î¹ÎºÎ®,ElÃ©gsÃ©ges,...,Dostateczna,SatisfatÃ³rio,Ð£Ð´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾,æ»¡æ„,TillfredsstÃ¤llande,æ»¿æ„,Satisfactorio,à¸™à¹ˆà¸²à¸žà¸­à¹ƒà¸ˆ,Memuaskan,Kepuasan
2,3,Good,DobrÃ©,God,Goed,HyvÃ¤,Bon,Gut,ÎšÎ±Î»Î®,JÃ³,...,Dobra,Bom,Ð¥Ð¾Ñ€Ð¾ÑˆÐ¾,å¥½,Bra,è‰¯å¥½,Bueno,à¸”à¸µ,Barangan,Baik
3,4,Very good,Velmi dobrÃ©,Meget god,Zeer goed,ErittÃ¤in hyvÃ¤,TrÃ¨s bon,Sehr gut,Î Î¿Î»Ï ÎºÎ±Î»Î®,Nagyon jÃ³,...,Bardzo dobra,Muito bom,ÐžÑ‡ÐµÐ½ÑŒ Ñ…Ð¾Ñ€Ð¾ÑˆÐ¾,è‰¯å¥½,Mycket bra,ä½³,Muy bueno,à¸”à¸µà¸¡à¸²à¸,Sangat baik,Sangat baik
4,5,Excellent,VynikajÃ­cÃ­,Fremragende,Uitstekend,Erinomainen,Excellent,Ausgezeichnet,Î†ÏÎ¹ÏƒÏ„Î·,KivÃ¡lÃ³,...,Wybitna,Excelente,ÐžÑ‚Ð»Ð¸Ñ‡Ð½Ð¾,ä¼˜ç§€,UtmÃ¤rkt,æœ€ä½³,Excelente,à¸¢à¸­à¸”à¹€à¸¢à¸µà¹ˆà¸¢à¸¡,Cemerlang,Istimewa

******************************************************************************************

#### tab113

GOSALESHR.RANKING_RESULTS
(1898, 4)

                 RANKING_DATE  RANKING_YEAR  EMPLOYEE_CODE  RANKING_CODE
0  2004-03-31-00.00.00.000000          2003          10004             1
1  2004-03-31-00.00.00.000000          2003          10013             2
2  2004-03-31-00.00.00.000000          2003          10014             4
3  2004-03-31-00.00.00.000000          2003          10018             3
4  2004-03-31-00.00.00.000000          2003          10020             2

******************************************************************************************

#### tab114

GOSALESHR.RECRUITMENT
(416, 8)

,RECRUITMENT_CODE,POSITION_POSTING_DATE,ORGANIZATION_CODE,BRANCH_CODE,POSITION_CODE,POSITION_FILLED_DATE,RECRUITMENT_MEDIUM_CODE,POSITION_START_DATE
0,5221,2005-11-07-00.00.00.000000,6740,6,2400,2005-11-23-00.00.00.000000,101,2005-12-06-00.00.00.000000
1,5222,2004-12-03-00.00.00.000000,7740,7,2400,2004-12-28-00.00.00.000000,200,2005-01-07-00.00.00.000000
2,5223,2006-03-10-00.00.00.000000,5740,15,2400,2006-04-04-00.00.00.000000,200,2006-04-11-00.00.00.000000
3,5224,2007-01-01-00.00.00.000000,5740,15,2400,2007-02-21-00.00.00.000000,800,2007-02-27-00.00.00.000000
4,5225,2007-02-02-00.00.00.000000,5740,15,2400,2007-03-14-00.00.00.000000,100,2007-03-27-00.00.00.000000

******************************************************************************************

#### tab115

GOSALESHR.RECRUITMENT_MEDIUM
(14, 25)

,RECRUITMENT_MEDIUM_CODE,RECRUITMENT_TYPE_CODE,RECRUITMENT_MEDIUM_NAME_EN,RECRUITMENT_MEDIUM_NAME_DE,RECRUITMENT_MEDIUM_NAME_FR,RECRUITMENT_MEDIUM_NAME_JA,RECRUITMENT_MEDIUM_NAME_CS,RECRUITMENT_MEDIUM_NAME_DA,RECRUITMENT_MEDIUM_NAME_EL,RECRUITMENT_MEDIUM_NAME_ES,...,RECRUITMENT_MEDIUM_NAME_MS,RECRUITMENT_MEDIUM_NAME_NL,RECRUITMENT_MEDIUM_NAME_NO,RECRUITMENT_MEDIUM_NAME_PL,RECRUITMENT_MEDIUM_NAME_PT,RECRUITMENT_MEDIUM_NAME_RU,RECRUITMENT_MEDIUM_NAME_SC,RECRUITMENT_MEDIUM_NAME_SV,RECRUITMENT_MEDIUM_NAME_TC,RECRUITMENT_MEDIUM_NAME_TH
0,100,5,Local Newspaper,Lokalzeitung,Journal local,åœ°æ–¹ç´™,MÃ­stnÃ­ tisk,Lokal avis,Î¤Î¿Ï€Î¹ÎºÎ® ÎµÏ†Î·Î¼ÎµÏÎ¯Î´Î±,PeriÃ³dico local,...,Surat khabar tempatan,Plaatselijke krant,Lokalavis,Gazeta lokalna,Jornal local,ÐœÐµÑÑ‚Ð½Ð°Ñ Ð³Ð°Ð·ÐµÑ‚Ð°,æœ¬åœ°æŠ¥çº¸,Lokal tidning,ç•¶åœ°å ±ç´™,à¸«à¸™à¸±à¸‡à¸ªà¸·à¸­à¸žà¸´à¸¡à¸žà¹Œà¸—à¹‰à¸­à¸‡à¸–à¸´à¹ˆà¸™
1,101,3,AAA Internet Job Bank,AAA Internet-JobbÃ¶rse,Banque d'emplois Internet AAA,ã‚¤ãƒ³ã‚¿ãƒ¼ãƒãƒƒãƒˆå°±è·æ–¡æ—‹ã‚µã‚¤ãƒˆ A,InternetovÃ¡ databÃ¡ze pracovnÃ­ch pÅ™Ã­leÅ¾itostÃ­ AAA,AAA Internet Job Bank,Î¤ÏÎ¬Ï€ÎµÎ¶Î± ÎµÏÎ³Î±ÏƒÎ¯Î±Ï‚ AAA ÏƒÏ„Î¿ Î”Î¹Î±Î´Î¯ÎºÏ„Ï…Î¿,Bolsa de empleo de Internet AAA,...,Bank Pekerjaan Internet AAA,AAA Internet Vacaturebank,AAA Internett Jobbank,Internetowy Bank OgÅ‚oszeÅ„ o Pracy AAA,Banco AAA de vagas na internet,Ð‘Ð°Ð½Ðº Ð²Ð°ÐºÐ°Ð½ÑÐ¸Ð¹ AAA Ð² Ð˜Ð½Ñ‚ÐµÑ€Ð½ÐµÑ‚Ðµ,AAA äº’è”ç½‘å·¥ä½œèŒä½åº“,AAA Jobbank pÃ¥ Internet,AAA ç¶²éš›ç¶²è·¯äººåŠ›éŠ€è¡Œ,à¹à¸«à¸¥à¹ˆà¸‡à¸‡à¸²à¸™à¸—à¸²à¸‡à¸­à¸´à¸™à¹€à¸•à¸­à¸£à¹Œà¹€à¸™à¹‡à¸• AAA
2,150,5,National Newspaper,Ãœberregionale Zeitung,Journal national,å…¨å›½ç´™,CelostÃ¡tnÃ­ tisk,National avis,Î•Î³Ï‡ÏŽÏÎ¹Î± ÎµÏ†Î·Î¼ÎµÏÎ¯Î´Î±,PeriÃ³dico nacional,...,Surat khabar Nasional,Landelijke krant,Riksavis,Gazeta krajowa,Jornal nacional,ÐžÐ±Ñ‰ÐµÐ½Ð°Ñ†Ð¸Ð¾Ð½Ð°Ð»ÑŒÐ½Ð°Ñ Ð³Ð°Ð·ÐµÑ‚Ð°,å…¨å›½æ€§æŠ¥çº¸,Nationell tidning,å…¨åœ‹æ€§ç™¼è¡Œçš„å ±ç´™,à¸«à¸™à¸±à¸‡à¸ªà¸·à¸­à¸žà¸´à¸¡à¸žà¹Œà¸£à¸°à¸”à¸±à¸šà¸›à¸£à¸°à¹€à¸—à¸¨
3,151,3,BBB Internet Job Bank,BBB Internet-JobbÃ¶rse,Banque d'emplois Internet BBB,ã‚¤ãƒ³ã‚¿ãƒ¼ãƒãƒƒãƒˆå°±è·æ–¡æ—‹ã‚µã‚¤ãƒˆ B,InternetovÃ¡ databÃ¡ze pracovnÃ­ch pÅ™Ã­leÅ¾itostÃ­ BBB,BBB Internet Job Bank,Î¤ÏÎ¬Ï€ÎµÎ¶Î± ÎµÏÎ³Î±ÏƒÎ¯Î±Ï‚ Î’Î’Î’ ÏƒÏ„Î¿ Î”Î¹Î±Î´Î¯ÎºÏ„Ï…Î¿,Bolsa de empleo de Internet BBB,...,Bank Pekerjaan Internet BBB,BBB Internet Vacaturebank,BBB Internett Jobbank,Internetowy Bank OgÅ‚oszeÅ„ o Pracy BBB,Banco BBB de vagas na internet,Ð‘Ð°Ð½Ðº Ð²Ð°ÐºÐ°Ð½ÑÐ¸Ð¹ Ð’Ð’Ð’ Ð² Ð˜Ð½Ñ‚ÐµÑ€Ð½ÐµÑ‚Ðµ,BBB äº’è”ç½‘èŒä½åº“,BBB Jobbank pÃ¥ Internet,BBB ç¶²éš›ç¶²è·¯äººåŠ›éŠ€è¡Œ,à¹à¸«à¸¥à¹ˆà¸‡à¸‡à¸²à¸™à¸—à¸²à¸‡à¸­à¸´à¸™à¹€à¸•à¸­à¸£à¹Œà¹€à¸™à¹‡à¸• BBB
4,160,5,Professional Publication,Fachzeitschrift,Publication professionnelle,å°‚é–€é›‘èªŒ,ProfesionÃ¡lnÃ­ publikace,Professionel publikation,ÎˆÎºÎ´Î¿ÏƒÎ· ÎµÏ€Î±Î³Î³ÎµÎ»Î¼Î±Ï„Î¹ÎºÎ¿Ï ÎºÎ»Î¬Î´Î¿Ï…,PublicaciÃ³n profesional,...,Penerbitan Profesional,Advertentie vaktijdschrift,Fagpublikasjon,Publikacja specjalistyczna,PublicaÃ§Ã£o profissional,ÐŸÑ€Ð¾Ñ„ÐµÑÑÐ¸Ð¾Ð½Ð°Ð»ÑŒÐ½Ð°Ñ Ð¿ÑƒÐ±Ð»Ð¸ÐºÐ°Ñ†Ð¸Ñ,ä¸“ä¸šå‡ºç‰ˆç‰©,Yrkespublikation,å°ˆæ¥­å‡ºç‰ˆç‰©,à¸ªà¸´à¹ˆà¸‡à¸•à¸µà¸žà¸´à¸¡à¸žà¹Œà¹€à¸‰à¸žà¸²à¸°à¸§à¸´à¸Šà¸²à¸Šà¸µà¸ž

******************************************************************************************

#### tab116

GOSALESHR.RECRUITMENT_TYPE
(7, 24)

,RECRUITMENT_TYPE_CODE,RECRUITMENT_TYPE_EN,RECRUITMENT_TYPE_DE,RECRUITMENT_TYPE_FR,RECRUITMENT_TYPE_JA,RECRUITMENT_TYPE_CS,RECRUITMENT_TYPE_DA,RECRUITMENT_TYPE_EL,RECRUITMENT_TYPE_ES,RECRUITMENT_TYPE_FI,...,RECRUITMENT_TYPE_MS,RECRUITMENT_TYPE_NL,RECRUITMENT_TYPE_NO,RECRUITMENT_TYPE_PL,RECRUITMENT_TYPE_PT,RECRUITMENT_TYPE_RU,RECRUITMENT_TYPE_SC,RECRUITMENT_TYPE_SV,RECRUITMENT_TYPE_TC,RECRUITMENT_TYPE_TH
0,1,Employment agency,Stellenvermittlung,Agence de recrutement,è·æ¥­ç´¹ä»‹æ‰€,PersonÃ¡lnÃ­ agentura,AnsÃ¦ttelsesbureau,Î“ÏÎ±Ï†ÎµÎ¯Î¿ Î±Ï€Î±ÏƒÏ‡ÏŒÎ»Î·ÏƒÎ·Ï‚,Agencia de empleo,TyÃ¶nvÃ¤litystoimisto,...,Agensi Pekerjaan,Arbeidsbureau,Arbeidskontor,Biuro poÅ›rednictwa pracy,AgÃªncia de empregos,Ð‘ÑŽÑ€Ð¾ Ð¿Ð¾ Ñ‚Ñ€ÑƒÐ´Ð¾ÑƒÑÑ‚Ñ€Ð¾Ð¹ÑÑ‚Ð²Ñƒ,èŒä¸šä»‹ç»æ‰€,ArbetsfÃ¶rmedling,è·æ¥­ä»‹ç´¹æ‰€,à¸šà¸£à¸´à¸©à¸±à¸—à¸ˆà¸±à¸”à¸«à¸²à¸‡à¸²à¸™
1,3,Website,Website,Site Web,ã‚¦ã‚§ãƒ–ã‚µã‚¤ãƒˆ,Web,Websted,Î™ÏƒÏ„Î¿ÏƒÎµÎ»Î¯Î´Î±,Web,Web-sivusto,...,Laman Web,Website,Nettsted,Witryna internetowa,Site,Ð’ÐµÐ±-ÑƒÐ·ÐµÐ»,ç½‘ç«™,Webbplats,ç¶²ç«™,à¹€à¸§à¹‡à¸šà¹„à¸‹à¸•à¹Œ
2,5,Newspaper or Magazine,Zeitung oder Zeitschrift,Journal ou magazine,æ–°èžé›‘èªŒ,Noviny nebo Äasopis,Avis eller magasin,Î•Ï†Î·Î¼ÎµÏÎ¯Î´Î± Î® Î ÎµÏÎ¹Î¿Î´Î¹ÎºÏŒ,PeriÃ³dico o revista,Sanomalehti tai aikakauslehti,...,Surat Khabar atau Majalah,Krant of tijdschrift,Avis eller blad,Gazeta lub czasopismo,Jornal ou revista,Ð“Ð°Ð·ÐµÑ‚Ð° Ð¸Ð»Ð¸ Ð¶ÑƒÑ€Ð½Ð°Ð»,æŠ¥çº¸æˆ–æ‚å¿—,Tidning eller tidskrift,å ±ç´™æˆ–é›œèªŒ,à¸«à¸™à¸±à¸‡à¸ªà¸·à¸­à¸žà¸´à¸¡à¸žà¹Œà¸«à¸£à¸·à¸­à¸™à¸´à¸•à¸¢à¸ªà¸²à¸£
3,6,Job Fair,Jobmesse,Foire de l'emploi,å°±è·èª¬æ˜Žä¼š,Veletrh pracovnÃ­ch pÅ™Ã­leÅ¾itostÃ­,Jobmesse,ÎˆÎºÎ¸ÎµÏƒÎ· ÎµÏÎ³Î±ÏƒÎ¯Î±Ï‚,Feria de empleo,TyÃ¶messut,...,Pameran Kerjaya,Banenmarkt,Jobbmesse,Targi Pracy,Feira de empregos,Ð¯Ñ€Ð¼Ð°Ñ€ÐºÐ° Ð²Ð°ÐºÐ°Ð½ÑÐ¸Ð¹,æ‹›è˜ä¼š,JobbmÃ¤ssa,äººæ‰æ‹›å‹Ÿæœƒ,à¸•à¸¥à¸²à¸”à¸™à¸±à¸”à¹à¸£à¸‡à¸‡à¸²à¸™
4,9,Referral,Empfehlung,RÃ©fÃ©rence,ç´¹ä»‹,DoporuÄenÃ­,Henvisning,Î£ÏÏƒÏ„Î±ÏƒÎ·,Referencia,LÃ¤hete,...,Rujukan,Werving via werknemer,Rereferert/anbefalt,OdesÅ‚anie,ReferÃªncia,ÐÐ°Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ,æŽ¨è,Rekommendation,æŽ¨è–¦,à¸œà¸¹à¹‰à¹à¸™à¸°à¸™à¸³

******************************************************************************************

#### tab117

GOSALESRT.RETAILER
(562, 5)

,RETAILER_CODE,COMPANY_NAME,COMPANY_NAME_MB,RETAILER_TYPE_CODE,RETAILER_START_DATE
0,1101,ActiForme,ActiForme,5,2003-03-12-00.00.00.000000
1,1115,SportsClub,SportsClub,1,2002-07-13-00.00.00.000000
2,1123,Anapurna,Anapurna,3,2006-03-06-00.00.00.000000
3,1132,Cordages Discount,Cordages Discount,4,2003-05-12-00.00.00.000000
4,1133,Altitudes extrÃªmes,Altitudes extrÃªmes,6,2002-10-12-00.00.00.000000

******************************************************************************************

#### tab118

GOSALESRT.RETAILER_ACTIVITY
(17754, 2)

   RETAILER_CODE  RETAILER_SALES
0           1101        41543.16
1           1101         5323.02
2           1101        53702.28
3           1101        21372.52
4           1101         5156.21

******************************************************************************************

#### tab119

GOSALESRT.RETAILER_CONTACT
(847, 33)

,RETAILER_CONTACT_CODE,RETAILER_SITE_CODE,FIRST_NAME,LAST_NAME,FIRST_NAME_MB,LAST_NAME_MB,JOB_POSITION_EN,JOB_POSITION_FR,JOB_POSITION_DE,JOB_POSITION_NL,...,JOB_POSITION_RU,JOB_POSITION_SV,JOB_POSITION_ES,JOB_POSITION_TH,JOB_POSITION_MS,JOB_POSITION_ID,PHONE_NUMBER,EXTENSION,FAX,EMAIL
0,3004,20019,Gilles,Rapier,Gilles,Rapier,Site Manager,Chef de bureau,Filialleiter,Filiaalmanager,...,Ð”Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€ Ñ‚Ð¾Ñ€Ð³Ð¾Ð²Ð¾Ð¹ Ñ„Ð¸Ñ€Ð¼Ñ‹,Platschef,Director de oficina,à¸œà¸¹à¹‰à¸ˆà¸±à¸”à¸à¸²à¸£à¸ªà¸²à¸‚à¸²,Pengurus Tapak,Manajer Situs,1 (613) 741-5538,NaN,1 (613) 740-6701,GRapier@f76.net
1,3005,20023,Walter,Baker,Walter,Baker,Site Manager,Chef de bureau,Filialleiter,Filiaalmanager,...,Ð”Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€ Ñ‚Ð¾Ñ€Ð³Ð¾Ð²Ð¾Ð¹ Ñ„Ð¸Ñ€Ð¼Ñ‹,Platschef,Director de oficina,à¸œà¸¹à¹‰à¸ˆà¸±à¸”à¸à¸²à¸£à¸ªà¸²à¸‚à¸²,Pengurus Tapak,Manajer Situs,1 (514) 747-2893,NaN,1 (514) 743-7985,WBaker@maxsnetinc.com
2,3006,20004,Marie,Turcotte,Marie,Turcotte,Assistant Purchaser,Acheteur,Einkaufsassistent,Inkoopassistent,...,ÐÑÑÐ¸ÑÑ‚ÐµÐ½Ñ‚ Ð¿Ð¾ Ð·Ð°ÐºÑƒÐ¿ÐºÐ°Ð¼,InkÃ¶psassistent,Ayudante de compras,à¸œà¸¹à¹‰à¸Šà¹ˆà¸§à¸¢à¸ˆà¸±à¸”à¸‹à¸·à¹‰à¸­,Pembantu Pembeli,Assistant Purchaser,1 (514) 746-1273,635.0,1 (514) 747-2582,MTurcotte@cybserv19.com
3,3007,20002,Mark,Myers,Mark,Myers,Assistant Purchaser,Acheteur,Einkaufsassistent,Inkoopassistent,...,ÐÑÑÐ¸ÑÑ‚ÐµÐ½Ñ‚ Ð¿Ð¾ Ð·Ð°ÐºÑƒÐ¿ÐºÐ°Ð¼,InkÃ¶psassistent,Ayudante de compras,à¸œà¸¹à¹‰à¸Šà¹ˆà¸§à¸¢à¸ˆà¸±à¸”à¸‹à¸·à¹‰à¸­,Pembantu Pembeli,Assistant Purchaser,1 (514) 747-4481,NaN,1 (514) 741-2277,MMyers@rocksteadyitl.com
4,3009,20010,Jack,Marshall,Jack,Marshall,Site Manager,Chef de bureau,Filialleiter,Filiaalmanager,...,Ð”Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€ Ñ‚Ð¾Ñ€Ð³Ð¾Ð²Ð¾Ð¹ Ñ„Ð¸Ñ€Ð¼Ñ‹,Platschef,Director de oficina,à¸œà¸¹à¹‰à¸ˆà¸±à¸”à¸à¸²à¸£à¸ªà¸²à¸‚à¸²,Pengurus Tapak,Manajer Situs,1 (604) 688-9745,NaN,1 (604) 682-4523,JMarshall@vipce2k.com

******************************************************************************************

#### tab120

GOSALESRT.RETAILER_SITE
(847, 9)

,RETAILER_SITE_CODE,RETAILER_CODE,RTL_ADDRESS1,RTL_ADDRESS2,RTL_CITY,RTL_PROV_STATE,RTL_POSTAL_ZONE,RTL_COUNTRY_CODE,RETAILER_SITE_START_DATE
0,20001,1189,1117 Franklin Blvd,None,Winnipeg,Manitoba,R2C 0M5,1004,2002-03-12-00.00.00.000000
1,20002,1189,"45, rue Atwater",None,MontrÃ©al,QuÃ©bec,H2T 9K8,1004,2004-09-08-00.00.00.000000
2,20003,1189,328 Hodgson Road,None,Fredericton,New Brunswick,E3B 2H2,1004,2003-12-12-00.00.00.000000
3,20004,1190,"2425, rue Peel",None,MontrÃ©al,QuÃ©bec,H4G 3T4,1004,2005-09-14-00.00.00.000000
4,20005,1190,34 8th Avenue,None,Sudbury,Ontario,M5V 1G5,1004,2005-09-12-00.00.00.000000

******************************************************************************************

#### tab121

GOSALESRT.RETAILER_SITE_MB
(847, 9)

,RETAILER_SITE_CODE,RETAILER_CODE,RTL_ADDRESS1,RTL_ADDRESS2,RTL_CITY,RTL_PROV_STATE,RTL_POSTAL_ZONE,RTL_COUNTRY_CODE,RETAILER_SITE_START_DATE
0,20001,1189,1117 Franklin Blvd,None,Winnipeg,Manitoba,R2C 0M5,1004,2002-03-12-00.00.00.000000
1,20002,1189,"45, rue Atwater",None,MontrÃ©al,QuÃ©bec,H2T 9K8,1004,2004-09-08-00.00.00.000000
2,20003,1189,328 Hodgson Road,None,Fredericton,New Brunswick,E3B 2H2,1004,2003-12-12-00.00.00.000000
3,20004,1190,"2425, rue Peel",None,MontrÃ©al,QuÃ©bec,H4G 3T4,1004,2005-09-14-00.00.00.000000
4,20005,1190,34 8th Avenue,None,Sudbury,Ontario,M5V 1G5,1004,2005-09-12-00.00.00.000000

******************************************************************************************

#### tab122

GOSALESMR.RETAILER_SURVEY_RESULTS
(22508, 6)

,RETAILER_SURVEY_DATE,ORGANIZATION_CODE,COUNTRY_CODE_RETAILER,SALES_BRANCH_CODE,RETAILER_CODE,RETAILER_TOPIC_CODE
0,2004-02-27-00.00.00.000000,1750,1003,19,1201,400
1,2004-02-27-00.00.00.000000,1750,1003,19,1201,401
2,2004-02-27-00.00.00.000000,1750,1003,19,1201,402
3,2004-02-27-00.00.00.000000,1750,1003,19,1201,403
4,2004-02-27-00.00.00.000000,1750,1003,19,1201,404

******************************************************************************************

#### tab123

GOSALESMR.RETAILER_SURVEY_TARGETS
(64, 2)

   RETAILER_TOPIC_CODE  RETAILER_TOPIC_WEIGHT
0                  400                      0
1                  400                      0
2                  400                      0
3                  400                      0
4                  400                      0

******************************************************************************************

#### tab124

GOSALESMR.RETAILER_SURVEY_TOPIC
(9, 24)

,RETAILER_TOPIC_CODE,RETAILER_TOPIC_EN,RETAILER_TOPIC_DE,RETAILER_TOPIC_FR,RETAILER_TOPIC_JA,RETAILER_TOPIC_CS,RETAILER_TOPIC_DA,RETAILER_TOPIC_EL,RETAILER_TOPIC_ES,RETAILER_TOPIC_FI,...,RETAILER_TOPIC_MS,RETAILER_TOPIC_NL,RETAILER_TOPIC_NO,RETAILER_TOPIC_PL,RETAILER_TOPIC_PT,RETAILER_TOPIC_RU,RETAILER_TOPIC_SC,RETAILER_TOPIC_SV,RETAILER_TOPIC_TC,RETAILER_TOPIC_TH
0,400,Retailer survey score,EinzelhÃ¤ndler-Umfragebewertung,Score du sondage auprÃ¨s des dÃ©taillants,å°å£²æ¥­è€…èª¿æŸ»ã‚¹ã‚³ã‚¢,VÃ½sledek dotaznÃ­ku pro maloobchodnÃ­ky,ForhandlerundersÃ¸gelsesbedÃ¸mmelse,Î’Î±Î¸Î¼ÏŒÏ‚ Î­ÏÎµÏ…Î½Î±Ï‚ ÎµÎ¼Ï€ÏŒÏÏ‰Î½ Î»Î¹Î±Î½Î¹ÎºÎ®Ï‚,Resultado de la encuesta al minorista,VÃ¤hittÃ¤ismyyjÃ¤tutkimuksen tulos,...,Skor soal selidik peruncit,Score wederverkoperonderzoek,Poengsum detaljistundersÃ¸kelse,Wynik ankiety dotyczÄ…cej detalisty,PontuaÃ§Ã£o na pesquisa de revendedores,Ð ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ Ð¾Ñ‚Ñ‡ÐµÑ‚Ð° Ñ€Ð¾Ð·Ð½Ð¸Ñ‡Ð½Ð¾Ð³Ð¾ Ñ‚Ð¾Ñ€Ð³Ð¾Ð²Ñ†Ð°,é›¶å”®å•†è°ƒæŸ¥å¾—åˆ†,UtvÃ¤rderingsresultat fÃ¶r Ã¥terfÃ¶rsÃ¤ljare,è²©è³£å•†åº—èª¿æŸ¥åˆ†æ•¸,à¸„à¸°à¹à¸™à¸™à¸ˆà¸²à¸à¸à¸²à¸£à¸ªà¸³à¸£à¸§à¸ˆà¸„à¸§à¸²à¸¡à¹€à¸«à¹‡à¸™à¹€à¸à¸µà¹ˆà¸¢à¸§à¸à¸±à¸šà¸£à¹‰à¸²à¸™à¸„à¹‰à¸²à¸›à¸¥à¸µà¸
1,401,Customer service,Kundendienst,Service Ã la clientÃ¨le,é¡§å®¢ã‚µãƒ¼ãƒ“ã‚¹,SluÅ¾by zÃ¡kaznÃ­kÅ¯m,Kundeservice,Î¤ÎµÏ‡Î½Î¹ÎºÎ® Ï…Ï€Î¿ÏƒÏ„Î®ÏÎ¹Î¾Î· Ï€ÎµÎ»Î±Ï„ÏŽÎ½,Servicio al cliente,Asiakaspalvelu,...,Perkhidmatan Pelanggan,Klantenservice,Kundeservice,ObsÅ‚uga klienta,ServiÃ§o ao consumidor,Ð¡Ð»ÑƒÐ¶Ð±Ð° Ñ€Ð°Ð±Ð¾Ñ‚Ñ‹ Ñ Ð¿Ð¾ÐºÑƒÐ¿Ð°Ñ‚ÐµÐ»ÑÐ¼Ð¸,å®¢æˆ·æœåŠ¡,KundtjÃ¤nst,å®¢æˆ¶æœå‹™,à¸à¹ˆà¸²à¸¢à¸šà¸£à¸´à¸à¸²à¸£à¸¥à¸¹à¸à¸„à¹‰à¸²
2,402,Warranties,Garantien,Garanties,ä¿è¨¼,ZÃ¡ruky,Garantier,Î•Î³Î³Ï…Î®ÏƒÎµÎ¹Ï‚,GarantÃ­as,Takuut,...,Waranti,Garantie,Garantier,Gwarancje,Garantias,Ð“Ð°Ñ€Ð°Ð½Ñ‚Ð¸Ð¸,ä¿ä¿®,Garantier,ä¿å›º,à¸à¸²à¸£à¸£à¸±à¸šà¸›à¸£à¸°à¸à¸±à¸™
3,403,Returns and refunds,Retouren und RÃ¼ckerstattungen,Retours et remboursements,è¿”å“ãŠã‚ˆã³è¿”é‡‘,VracenÃ­ zboÅ¾Ã­ a penÄ›z,Returneringer og refunderinger,Î•Ï€Î¹ÏƒÏ„ÏÎ¿Ï†Î­Ï‚ Ï€ÏÎ¿ÏŠÏŒÎ½Ï„Ï‰Î½ ÎºÎ±Î¹ Ï‡ÏÎ·Î¼Î¬Ï„Ï‰Î½,Devoluciones y reembolsos,Palautukset ja hyvitykset,...,Pengembalian dan Bayaran Balik,Retourneren en terugbetalen,Retur og refusjon,Zwroty i refundacje,DevoluÃ§Ãµes e restituiÃ§Ãµes,Ð’Ð¾Ð·Ð²Ñ€Ð°Ñ‚Ñ‹ Ð¸ Ð²Ð¾Ð·Ð¼ÐµÑ‰ÐµÐ½Ð¸Ñ,é€€è´§åŠé€€æ¬¾,Returer och gottgÃ¶relser,é€€è²¨èˆ‡é€€æ¬¾,à¸à¸²à¸£à¸„à¸·à¸™à¸ªà¸´à¸™à¸„à¹‰à¸²à¹à¸¥à¸°à¸à¸²à¸£à¸£à¸±à¸šà¹€à¸‡à¸´à¸™à¸„à¸·à¸™
4,404,Rebates,Rabatte,Rabais,å‰²ã‚Šæˆ»ã—,Rabaty,Rabatter,Î•ÎºÏ€Ï„ÏŽÏƒÎµÎ¹Ï‚,Descuentos,Ostohyvitykset,...,Rebat,Kortingen,Rabatter,Zwroty nadpÅ‚at,Abatimentos,Ð¡ÐºÐ¸Ð´ÐºÐ¸,å›žæ‰£,Rabatter,æŠ˜æ‰£,à¸ªà¹ˆà¸§à¸™à¸¥à¸”à¸‚à¸­à¸‡à¸ªà¸´à¸™à¸„à¹‰à¸²à¸—à¸µà¹ˆà¸Šà¸³à¸£à¸°à¹à¸¥à¹‰à¸§

******************************************************************************************

#### tab125

GOSALESRT.RETAILER_TYPE
(8, 24)

,RETAILER_TYPE_CODE,TYPE_NAME_EN,TYPE_NAME_FR,TYPE_NAME_DE,TYPE_NAME_NL,TYPE_NAME_JA,TYPE_NAME_CS,TYPE_NAME_HU,TYPE_NAME_KO,TYPE_NAME_PT,...,TYPE_NAME_FI,TYPE_NAME_IT,TYPE_NAME_NO,TYPE_NAME_PL,TYPE_NAME_RU,TYPE_NAME_SV,TYPE_NAME_ES,TYPE_NAME_TH,TYPE_NAME_MS,TYPE_NAME_ID
0,1,Golf Shop,Boutique de golf,Golf-Shop,Golfwinkel,ã‚´ãƒ«ãƒ•ã‚·ãƒ§ãƒƒãƒ—,Obchod s golfovÃ½mi potÅ™eb,GolfszakÃ¼zlet,ê³¨í”„ìš©í’ˆì,Loja de golfe,...,Golf-liike,Negozio articoli per golf,Golfforretning,Sklep golfowy,"ÐœÐ°Ð³Ð°Ð·Ð¸Ð½ ""Ð’ÑÐµ Ð´Ð»Ñ Ð³Ð¾Ð»ÑŒÑ„Ð°""",Golfbutik,Tienda de golf,à¸£à¹‰à¸²à¸™à¸à¸­à¸¥à¹Œà¸Ÿ,Kedai Golf,Toko Golf
1,2,Department Store,Grand magasin,Warenhaus,Warenhuis,ãƒ‡ãƒ‘ãƒ¼ãƒˆ,ObchodnÃ­ dÅ¯m,ÃruhÃ¡z,ë°±í™”ì,Loja de departamentos,...,Tavaratalo,Grande magazzino,Varemagasin,Dom towarowy,Ð£Ð½Ð¸Ð²ÐµÑ€Ð¼Ð°Ð³,Varuhus,Grandes almacenes,à¸«à¹‰à¸²à¸‡à¸ªà¸£à¸£à¸žà¸ªà¸´à¸™à¸„à¹‰à¸²,Pasar Raya,Toserba
2,3,Direct Marketing,Vente directe,Direktmarketing,Direct marketing,ç›´è²©,PÅ™Ã­mÃ½ marketing,CsomagkÃ¼ldÅ‘ szolgÃ¡lat,ë‹¤ì´ë ‰íŠ¸ ë§ˆì¼€íŒ…,Marketing direto,...,Suoramarkkinointi,Marketing diretto,DirektemarkedsfÃ¸ring,Marketing bezpoÅ›redni,ÐŸÑ€ÑÐ¼Ð¾Ð¹ Ð¼Ð°Ñ€ÐºÐµÑ‚Ð¸Ð½Ð³,Direkt marknadsfÃ¶ring,Maketing Directo,à¸à¸²à¸£à¸•à¸¥à¸²à¸”à¸‚à¸²à¸¢à¸•à¸£à¸‡,Pemasaran Langsung,Pemasaran Langsung
3,4,Warehouse Store,Magasin d'entrepÃ´t,Lagerverkauf,Groothandel,ãƒ‡ã‚£ã‚¹ã‚«ã‚¦ãƒ³ãƒˆé‡è²©åº—,ProdejnÃ­ sklad,RaktÃ¡rÃ¡ruhÃ¡z,ëŒ€í˜•í• ì¸ì,ArmazÃ©m,...,VarastomyymÃ¤lÃ¤,Ipermercato,Lagerutsalg,Hurtownia,ÐœÐ°Ð³Ð°Ð·Ð¸Ð½-ÑÐºÐ»Ð°Ð´,LagerfÃ¶rsÃ¤ljning,Tienda al por mayor,à¸«à¹‰à¸²à¸‡à¸„à¹‰à¸²à¸ªà¹ˆà¸‡,Kedai Gedung,Gudang Penyimpanan
4,5,Equipment Rental Store,Boutique de location,AusrÃ¼stungsverleih,Verhuur sportartikelen,ãƒ¬ãƒ³ã‚¿ãƒ«ã‚·ãƒ§ãƒƒãƒ—,PÅ¯jÄovna,FelszerelÃ©skÃ¶lcsÃ¶nzÅ‘,ìž¥ë¹„ëŒ€ì—¬ì,Loja de aluguel equip.,...,Laitevuokraamo,Noleggio attrezzature,Utstyrsutleieforretning,WypoÅ¼yczalnia sprzÄ™tu,ÐŸÑ€Ð¾ÐºÐ°Ñ‚ ÑÐ½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ñ,Uthyrning av utrustning,Tienda de alquiler de equ,à¸£à¹‰à¸²à¸™à¹ƒà¸«à¹‰à¹€à¸Šà¹ˆà¸²à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸•à¹ˆà¸²à¸‡à¹†,Kedai Sewa Kelengkapan,Toko Penyewaan Perlengkapan

******************************************************************************************

#### tab126

GOSALES.RETURNED_ITEM
(10249, 9)

,RETURN_CODE,RETURN_DATE,ORDER_DETAIL_CODE,RETURN_REASON_CODE,RETURN_QUANTITY,ASSIGNED_TO,FOLLOW_UP_CODE,COMMENTS,DATE_ADVISED
0,1491,2004-01-29-00.00.00.000000,4000059,1,30,NaN,NaN,NaN,NaN
1,1492,2004-01-29-00.00.00.000000,6000325,4,152,NaN,NaN,NaN,NaN
2,1493,2004-01-30-00.00.00.000000,5000097,1,146,NaN,NaN,NaN,NaN
3,1494,2004-01-30-00.00.00.000000,8214477,4,47,NaN,NaN,NaN,NaN
4,1495,2004-01-31-00.00.00.000000,1000564,5,221,NaN,NaN,NaN,NaN

******************************************************************************************

#### tab127

GOSALES.RETURN_REASON
(5, 24)

,RETURN_REASON_CODE,REASON_DESCRIPTION_EN,REASON_DESCRIPTION_FR,REASON_DESCRIPTION_DE,REASON_DESCRIPTION_NL,REASON_DESCRIPTION_JA,REASON_DESCRIPTION_SC,REASON_DESCRIPTION_KO,REASON_DESCRIPTION_CS,REASON_DESCRIPTION_HU,...,REASON_DESCRIPTION_FI,REASON_DESCRIPTION_IT,REASON_DESCRIPTION_NO,REASON_DESCRIPTION_PL,REASON_DESCRIPTION_RU,REASON_DESCRIPTION_SV,REASON_DESCRIPTION_ES,REASON_DESCRIPTION_TH,REASON_DESCRIPTION_MS,REASON_DESCRIPTION_ID
0,5,Unsatisfactory product,Produit non satisfaisant,Produkt nicht zufriedenstellend,Product voldoet niet,ä¸æº€,ä¸èƒ½ä»¤äººæ»¡æ„çš„äº§å“,ì œí’ˆ ë¶ˆë§Œì¡±,NevyhovujÃ­cÃ­ vÃ½robek,Nem kielÃ©gÃ­tÅ‘ termÃ©k,...,Tuote ei tyydytÃ¤,Prodotto non soddisfacente,Utilfredsstillende produkt,Produkt niezadowalajÄ…cy,ÐÐµÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾Ðµ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¸Ð·Ð´ÐµÐ»Ð¸Ñ,OtillfredsstÃ¤llande produkt,Producto no satisfactorio,à¹„à¸¡à¹ˆà¸žà¸­à¹ƒà¸ˆà¸ªà¸´à¸™à¸„à¹‰à¸²,Keluaran tidak memuaskan hati,Produk tidak memuaskan
1,2,Incomplete product,Produit incomplet,Produkt unvollstÃ¤ndig,Product niet compleet,æœªå®Œæˆå“,ä¸å®Œæ•´çš„äº§å“,ì œí’ˆ ë¶ˆì™„ì „,NeÃºplnÃ½ vÃ½robek,HiÃ¡nyos termÃ©k,...,EpÃ¤tÃ¤ydellinen tuote,Prodotto incompleto,Ufullstendig produkt,Produkt niekompletny,ÐÐµÐ¿Ð¾Ð»Ð½Ð°Ñ ÐºÐ¾Ð¼Ð¿Ð»ÐµÐºÑ‚Ð°Ñ†Ð¸Ñ,OfullstÃ¤ndig produkt,Producto incompleto,à¸ªà¸´à¸™à¸„à¹‰à¸²à¹„à¸¡à¹ˆà¸ªà¸¡à¸šà¸¹à¸£à¸“à¹Œ,Keluaran tidak lengkap,Produk tidak lengkap
2,1,Defective product,Produit dÃ©fectueux,Produkt fehlerhaft,Product defect,æ¬ é™¥å“,æœ‰ç¼ºé™·çš„äº§å“,ì œí’ˆ ê²°í•¨,VadnÃ½ vÃ½robek,HibÃ¡s termÃ©k,...,Viallinen tuote,Prodotto difettoso,Defekt produkt,Produkt wadliwy,Ð‘Ñ€Ð°ÐºÐ¾Ð²Ð°Ð½Ð½Ð¾Ðµ Ð¸Ð·Ð´ÐµÐ»Ð¸Ðµ,Felaktig produkt,Producto defectuoso,à¸ªà¸´à¸™à¸„à¹‰à¸²à¸šà¸à¸žà¸£à¹ˆà¸­à¸‡,Keluaran tidak sempurna,Produk cacat
3,3,Wrong product ordered,Erreur Ã la commande,Fehlbestellung,Verkeerde product besteld,ç™ºæ³¨ãƒŸã‚¹,è®¢è´­äº†é”™è¯¯çš„äº§å“,ë‹¤ë¥¸ ì œí’ˆ ì£¼ë¬¸,ObjednÃ¡vka jinÃ©ho vÃ½robku,TÃ©vesen rendelt termÃ©k,...,VÃ¤Ã¤rÃ¤ tuote tilattu,Ordine errato,Feil produkt bestilt,ZamÃ³wiono niewÅ‚aÅ›ciwy produkt,ÐžÑˆÐ¸Ð±ÐºÐ° Ð² Ð·Ð°ÐºÐ°Ð·Ðµ,Fel produkt bestÃ¤lld,Pedido de producto equivocado,à¸ªà¸±à¹ˆà¸‡à¸ªà¸´à¸™à¸„à¹‰à¸²à¸œà¸´à¸”,Keluaran yang salah dipesan,Pesanan produk yang keliru
4,4,Wrong product shipped,Erreur Ã l'expÃ©dition,Fehllieferung,Verkeerde product verzonden,ç™ºé€ãƒŸã‚¹,å‘é€äº†é”™è¯¯çš„äº§å“,ë‹¤ë¥¸ ì œí’ˆ ì„ ì,DoruÄenÃ­ jinÃ©ho vÃ½robku,TÃ©vesen szÃ¡llÃ­tott termÃ©k,...,VÃ¤Ã¤rÃ¤ tuote toimitettu,Consegna errata,Feil produkt levert,Dostarczono niewÅ‚aÅ›ciwy produkt,ÐÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð¿Ð¾ÑÑ‚Ð°Ð²ÐºÐ°,Fel produkt levererad,EnvÃ­o de producto equivocado,à¸ªà¹ˆà¸‡à¸ªà¸´à¸™à¸„à¹‰à¸²à¸œà¸´à¸”,Keluaran yang salah dikirim,Pengiriman produk yang keliru

******************************************************************************************

#### tab128

GOSALES.SALES_REGION
(5, 24)

,SALES_REGION_CODE,SALES_REGION_EN,SALES_REGION_FR,SALES_REGION_DE,SALES_REGION_NL,SALES_REGION_JA,SALES_REGION_CS,SALES_REGION_HU,SALES_REGION_KO,SALES_REGION_PT,...,SALES_REGION_FI,SALES_REGION_IT,SALES_REGION_NO,SALES_REGION_PL,SALES_REGION_RU,SALES_REGION_SV,SALES_REGION_ES,SALES_REGION_TH,SALES_REGION_MS,SALES_REGION_ID
0,710,Americas,AmÃ©riques,Nord-/Lateinamerika,Amerika,ã‚¢ãƒ¡ãƒªã‚«,SevernÃ­ a JiÅ¾nÃ­ Amerika,Amerika,ë¯¸ì£¼ì§€ì—­,AmÃ©ricas,...,Amerikka,Americhe,Amerika,Ameryka,Ð¡ÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð¸ Ð®Ð¶Ð½Ð°Ñ ÐÐ¼ÐµÑ€Ð¸ÐºÐ°,Amerika,AmÃ©rica,à¸­à¹€à¸¡à¸£à¸´à¸à¸²,Americas,Amerika
1,740,Asia Pacific,Asie-Pacifique,Asiatisch-pazifischer Raum,Zuidoost-AziÃ«,ã‚¢ã‚¸ã‚¢å¤ªå¹³æ´‹,TichomoÅ™skÃ¡ Asie,Ãzsiaâ€“Csendes-Ã³ceÃ¡n,ì•„ì‹œì•„/íƒœí‰ì–‘,Ãsia PacÃ­fico,...,Aasia/Oseania,Asia - Pacifico,StillehavsomrÃ¥det av Asia,Azja i Pacyfik,ÐÐ·Ð¸Ð°Ñ‚ÑÐºÐ¾-Ñ‚Ð¸Ñ…Ð¾Ð¾ÐºÐµÐ°Ð½ÑÐº. Ñ€ÐµÐ³.,Asien,Asia - PacÃ­fico,à¹€à¸­à¹€à¸‹à¸µà¸¢à¹à¸›à¸‹à¸´à¸Ÿà¸´à¸,Asia Pasifik,Asia Pasifik
2,750,Northern Europe,Europe septentrionale,Nordeuropa,Noord-Europa,åŒ—æ¬§,SevernÃ­ Evropa,Ã‰szak-EurÃ³pa,ë¶ìœ ëŸ½,Norte da Europa,...,Pohjois-Eurooppa,Europa del Nord,Nord-Europa,Europa PÃ³Å‚nocna,Ð¡ÐµÐ²ÐµÑ€Ð½Ð°Ñ Ð•Ð²Ñ€Ð¾Ð¿Ð°,Nordeuropa,Norte de Europa,à¸¢à¸¸à¹‚à¸£à¸›à¹€à¸«à¸™à¸·à¸­,Eropah Timur,Eropa Utara
3,760,Central Europe,Europe centrale,Mitteleuropa,Midden-Europa,ä¸­æ¬§,StÅ™ednÃ­ Evropa,KÃ¶zÃ©p-EurÃ³pa,ì¤‘ë¶€ìœ ëŸ½,Europa Central,...,Keski-Eurooppa,Europa Centrale,Sentral-Europa,Europa Åšrodkowa,Ð¦ÐµÐ½Ñ‚Ñ€Ð°Ð»ÑŒÐ½Ð°Ñ Ð•Ð²Ñ€Ð¾Ð¿Ð°,Centraleuropa,Europa Central,à¸¢à¸¸à¹‚à¸£à¸›à¸à¸¥à¸²à¸‡,Eropah Tengah,Eropa Tengah
4,770,Southern Europe,Europe mÃ©ridionale,SÃ¼deuropa,Zuid-Europa,å—æ¬§,JiÅ¾nÃ­ Evropa,DÃ©l-EurÃ³pa,ë‚¨ìœ ëŸ½,Sul da Europa,...,EtelÃ¤-Eurooppa,Europa del Sud,SÃ¸r-Europa,Europa PoÅ‚udniowa,Ð®Ð¶Ð½Ð°Ñ Ð•Ð²Ñ€Ð¾Ð¿Ð°,Sydeuropa,Sur de Europa,à¸¢à¸¸à¹‚à¸£à¸›à¹ƒà¸•à¹‰,Eropah Selatan,Eropa Selatan

******************************************************************************************

#### tab129

GOSALES.SALES_TARGET
(233625, 9)

,SALES_YEAR,SALES_PERIOD,COUNTRY_CODE_RETAILER,SALES_STAFF_CODE,RETAILER_CODE,RETAILER_NAME,PRODUCT_TYPE_CODE,PRODUCT_BRAND_CODE,SALES_TARGET
0,2004,1,1003,10055,1219,Mega-Outlet,951,701,15500
1,2004,1,1003,10055,1219,Mega-Outlet,952,702,2900
2,2004,1,1003,10055,1219,Mega-Outlet,953,704,26800
3,2004,1,1003,10055,1219,Mega-Outlet,953,706,51200
4,2004,1,1003,10055,1447,Cycle Maniacs,968,719,134800

******************************************************************************************

#### tab130

GOSALESHR.SATISFACTION_INDEX
(5, 24)

,SATISFACTION_CODE,SATISFACTION_DESCRIPTION_EN,SATISFACTION_DESCRIPTION_CS,SATISFACTION_DESCRIPTION_DA,SATISFACTION_DESCRIPTION_NL,SATISFACTION_DESCRIPTION_FI,SATISFACTION_DESCRIPTION_FR,SATISFACTION_DESCRIPTION_DE,SATISFACTION_DESCRIPTION_EL,SATISFACTION_DESCRIPTION_HU,...,SATISFACTION_DESCRIPTION_PL,SATISFACTION_DESCRIPTION_PT,SATISFACTION_DESCRIPTION_RU,SATISFACTION_DESCRIPTION_SC,SATISFACTION_DESCRIPTION_SV,SATISFACTION_DESCRIPTION_TC,SATISFACTION_DESCRIPTION_ES,SATISFACTION_DESCRIPTION_TH,SATISFACTION_DESCRIPTION_MS,SATISFACTION_DESCRIPTION_ID
0,1,Not satisfied,NespokojenÃ½,Ikke tilfreds,Ontevreden,TyytymÃ¤tÃ¶n,TrÃ¨s insatisfait,VÃ¶llig unzufrieden,ÎœÎ· Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,ElÃ©gedetlen,...,Nie zadowolony,Insatisfeito,ÐÐµ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½,ä¸æ»¡æ„,Inte nÃ¶jd,ä¸æ»¿æ„,Insatisfecho,à¹„à¸¡à¹ˆà¸žà¸­à¹ƒà¸ˆ,Tidak berpuas hati,Tidak puas
1,2,Less than satisfied,MÃ©nÄ› neÅ¾ spokojenÃ½,Mindre end tilfreds,Niet geheel tevreden,Ei kovin tyytyvÃ¤inen,Insatisfait,Nicht zufrieden,Î›Î¯Î³Î¿ Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,KevÃ©ssÃ© elÃ©gedett,...,Niezbyt zadowolony,Menos do que satisfeito,"ÐœÐµÐ½ÑŒÑˆÐµ, Ñ‡ÐµÐ¼ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½",ä¸æ˜¯å¾ˆæ»¡æ„,Mindre Ã¤n nÃ¶jd,ä¸å¤ªæ»¿æ„,Poco satisfecho,à¹„à¸¡à¹ˆà¸„à¹ˆà¸­à¸¢à¸žà¸­à¹ƒà¸ˆ,Kurang berpuas hati,Kurang puas
2,3,Satisfied,SpokojenÃ½,Tilfreds,Tevreden,TyytyvÃ¤inen,Neutre,Zufrieden,Î™ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,ElÃ©gedett,...,Zadowolony,Satisfeito,Ð£Ð´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½,æ»¡æ„,NÃ¶jd,æ»¿æ„,Satisfecho,à¸žà¸­à¹ƒà¸ˆ,Puas hati,Puas
3,4,More than satisfied,VÃ­ce neÅ¾ spokojenÃ½,Mere end tilfreds,Meer dan voldaan,TÃ¤ysin tyytyvÃ¤inen,TrÃ¨s satisfait,Ã„uÃŸerst zufrieden,Î‘ÏÎºÎµÏ„Î¬ Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,RendkÃ­vÃ¼l elÃ©gedett,...,WyjÄ…tkowo zadowolony,Mais do que satisfeito,"Ð‘Ð¾Ð»ÑŒÑˆÐµ, Ñ‡ÐµÐ¼ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½",éžå¸¸æ»¡æ„,Mer Ã¤n nÃ¶jd,éžå¸¸æ»¿æ„,MÃ¡s que satisfecho,à¸žà¸­à¹ƒà¸ˆà¸­à¸¢à¹ˆà¸²à¸‡à¸¢à¸´à¹ˆà¸‡,Lebih daripada berpuas hati,Lebih dari puas
4,5,Very Satisfied,Velmi spokojenÃ½,Meget tilfreds,Zeer tevreden,Hyvin tyytyvÃ¤inen,Satisfait,Sehr zufrieden,Î Î¿Î»Ï Î¹ÎºÎ±Î½Î¿Ï€Î¿Î¹Î·Î¼Î­Î½Î¿Ï‚,Nagyon elÃ©gedett,...,Bardzo zadowolony,Muito satisfeito,ÐžÑ‡ÐµÐ½ÑŒ ÑƒÐ´Ð¾Ð²Ð»ÐµÑ‚Ð²Ð¾Ñ€ÐµÐ½,å¾ˆæ»¡æ„,Mycket nÃ¶jd,å¾ˆæ»¿æ„,Muy satisfecho,à¸žà¸­à¹ƒà¸ˆà¸¡à¸²à¸,Sangat Berpuas Hati,Sangat Puas

******************************************************************************************

#### tab131

GOSALESDW.SLS_ORDER_METHOD_DIM
(7, 25)

,ORDER_METHOD_KEY,ORDER_METHOD_CODE,ORDER_METHOD_EN,ORDER_METHOD_DE,ORDER_METHOD_FR,ORDER_METHOD_JA,ORDER_METHOD_CS,ORDER_METHOD_DA,ORDER_METHOD_EL,ORDER_METHOD_ES,...,ORDER_METHOD_MS,ORDER_METHOD_NL,ORDER_METHOD_NO,ORDER_METHOD_PL,ORDER_METHOD_PT,ORDER_METHOD_RU,ORDER_METHOD_SC,ORDER_METHOD_SV,ORDER_METHOD_TC,ORDER_METHOD_TH
0,601,1,Fax,Fax,TÃ©lÃ©copieur,ãƒ•ã‚¡ãƒƒã‚¯ã‚¹,Fax,Fax,Fax,Fax,...,Faks,Fax,Faks,Faks,Fax,Ð¤Ð°ÐºÑ,ä¼ çœŸ,Fax,å‚³çœŸ,à¹à¸Ÿà¸à¸‹à¹Œ
1,602,2,Telephone,Telefon,TÃ©lÃ©phone,é›»è©±,Telefon,Telefon,Î¤Î·Î»Î­Ï†Ï‰Î½Î¿,TelÃ©fono,...,Telefon,Telefoon,Telefon,Telefon,Telefone,Ð¢ÐµÐ»ÐµÑ„Ð¾Ð½,ç”µè¯,Telefon,é›»è©±,à¹‚à¸—à¸£à¸¨à¸±à¸žà¸—à¹Œ
2,603,3,Mail,Post,Poste,éƒµä¾¿,PoÅ¡ta,Post,Î¤Î±Ï‡Ï…Î´ÏÎ¿Î¼ÎµÎ¯Î¿,Correo,...,Mel,Post,Post,Poczta,Correio,ÐŸÐ¾Ñ‡Ñ‚Ð°,é‚®å¯„,Post,éƒµå¯„,à¹„à¸›à¸£à¸©à¸“à¸µà¸¢à¹Œ
3,604,4,E-mail,E-Mail,Courrier Ã©lectronique,é›»å­ãƒ¡ãƒ¼ãƒ«,E-mail,E-mail,Î—Î»ÎµÎºÏ„ÏÎ¿Î½Î¹ÎºÏŒ Ï„Î±Ï‡Ï…Î´ÏÎ¿Î¼ÎµÎ¯Î¿,Correo electrÃ³nico,...,E-mel,E-mail,E-post,E-mail,E-mail,Ð­Ð». Ð¿Ð¾Ñ‡Ñ‚Ð°,ç”µå­é‚®ä»¶,E-post,é›»å­éƒµä»¶,à¸­à¸µà¹€à¸¡à¸¥à¹Œ
4,605,5,Web,Web,Site Web,ãƒ›ãƒ¼ãƒ ãƒšãƒ¼ã‚¸,Web,Internet,Î”Î¹Î±Î´Î¯ÎºÏ„Ï…Î¿,Web,...,Web,Internet,Internett,SieÄ‡ WWW,Web,Web,Web,Webb,ç¶²ç«™,à¹€à¸§à¹‡à¸šà¹„à¸‹à¸•à¹Œ

******************************************************************************************

#### tab132

GOSALESDW.SLS_PRODUCT_BRAND_LOOKUP
(28, 24)

,PRODUCT_BRAND_CODE,PRODUCT_BRAND_EN,PRODUCT_BRAND_DE,PRODUCT_BRAND_FR,PRODUCT_BRAND_JA,PRODUCT_BRAND_CS,PRODUCT_BRAND_DA,PRODUCT_BRAND_EL,PRODUCT_BRAND_ES,PRODUCT_BRAND_FI,...,PRODUCT_BRAND_MS,PRODUCT_BRAND_NL,PRODUCT_BRAND_NO,PRODUCT_BRAND_PL,PRODUCT_BRAND_PT,PRODUCT_BRAND_RU,PRODUCT_BRAND_SC,PRODUCT_BRAND_SV,PRODUCT_BRAND_TC,PRODUCT_BRAND_TH
0,700,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,701,TrailChef,TrailChef,ChefDeCamp,ãƒˆãƒ¬ã‚¤ãƒ«ã‚·ã‚§ãƒ•,KuchtÃ­k,TrailChef,ÎœÎ±ÏÎ¼Î¯Ï„Î± Î£ÎµÏ†,Cocinero Viajero,TrailChef,...,TrailChef,Pionier,Turkokk,BiwaKuchnia,Serrania,Ð¨ÐµÑ„-Ð¿Ð¾Ð²Ð°Ñ€,TrailChef,Friluftskocken,æ‚ éŠ,TrailChef
2,702,Star,Star,BellÃ©toile,ã‚¹ã‚¿ãƒ¼,Star,Star,Î£ÎµÎ¯ÏÎ¹Î¿Ï‚,Estrella,Star,...,Bintang,Nova,Rabben,Gwiazda,Domus,Ð—Ð²ÐµÐ·Ð´Ð°,Star,StjÃ¤rnan,æ˜Ÿ,Star
3,703,Blue Steel,Blue Steel,Herberase,ãƒ–ãƒ«ãƒ¼ã‚¹ãƒãƒ¼ãƒ«,ModrÃ¡sek,Blue Steel,ÎœÏ€Î»Îµ Î‘Ï„ÏƒÎ¬Î»Î¹,Acero Azul,Blue Steel,...,Logam Biru,Staalblauw,BlÃ¥stÃ¥l,BÅ‚Ä™kitna Stal,Taco Golfe,Ð“Ð¾Ð»ÑƒÐ±Ð°Ñ ÑÑ‚Ð°Ð»ÑŒ,Blue Steel,BlÃ¥ StÃ¥l,è—å¤©ä½¿,Blue Steel
4,704,Hibernator,Hibernator,Sac moyen MorphÃ©e,ãƒã‚¤ãƒ™ãƒ«ãƒãƒ¼ã‚¿ãƒ¼,Jezevec,Venus III,Î¥Ï€Î½ÏŒÏƒÎ±ÎºÎ¿Ï‚ 3 ÎµÏ€Î¿Ï‡ÏŽÎ½ Î“Î±Î¯Î±,Hibernador,Hibernator-makuupussi,...,Hibernator,Winterslaper,Overvintrer,Hibernator,Thermus,"Ð¡Ð¿Ð°Ð»ÑŒÐ½Ð¸: ""Ð¡Ð¿ÑÑ‡ÐºÐ°""",Hibernator,Dvala,èˆ’çœ ä¸‰å­£ç¡è¢‹,à¸–à¸¸à¸‡à¸™à¸­à¸™ Hibernator

******************************************************************************************

#### tab133

GOSALESDW.SLS_PRODUCT_COLOR_LOOKUP
(27, 24)

,PRODUCT_COLOR_CODE,PRODUCT_COLOR_EN,PRODUCT_COLOR_DE,PRODUCT_COLOR_FR,PRODUCT_COLOR_JA,PRODUCT_COLOR_CS,PRODUCT_COLOR_DA,PRODUCT_COLOR_EL,PRODUCT_COLOR_ES,PRODUCT_COLOR_FI,...,PRODUCT_COLOR_MS,PRODUCT_COLOR_NL,PRODUCT_COLOR_NO,PRODUCT_COLOR_PL,PRODUCT_COLOR_PT,PRODUCT_COLOR_RU,PRODUCT_COLOR_SC,PRODUCT_COLOR_SV,PRODUCT_COLOR_TC,PRODUCT_COLOR_TH
0,900,Ash,Esche,Gris cendrÃ©,ç°,PopelavÃ¡,Aske,Î“ÎºÏÎ¹,Ceniza,Tuhkanharmaa,...,Ash,Grijs,Aske,Jesion,Cinza escuro,Ð—Ð¾Ð»Ð¾Ñ‚Ð¸ÑÑ‚Ñ‹Ð¹,ç°è‰²,Aska,æ·¡ç°è‰²,à¸ªà¸µà¹€à¸–à¹‰à¸²
1,901,Beige,Beige,Beige,ãƒ™ãƒ¼ã‚¸ãƒ¥,BÃ©Å¾ovÃ¡,Beige,ÎœÏ€ÎµÎ¶,Beige,Beige,...,Kuning Air,Beige,Beige,BeÅ¼owy,Bege,Ð‘ÐµÐ¶ÐµÐ²Ñ‹Ð¹,ç±³é»„è‰²,Beige,ç±³é»ƒè‰²,à¸ªà¸µà¹€à¸šà¸ˆ
2,902,Black,Schwarz,Noir,é»’,ÄŒernÃ¡,Sort,ÎœÎ±ÏÏÎ¿,Negro,Musta,...,Hitam,Zwart,Svart,Czarny,Preto,Ð§ÐµÑ€Ð½Ñ‹Ð¹,é»‘è‰²,Svart,é»‘è‰²,à¸ªà¸µà¸”à¸³
3,903,Blue,Blau,Bleu,é’,ModrÃ¡,BlÃ¥,ÎœÏ€Î»Îµ,Azul,Sininen,...,Biru,Blauw,BlÃ¥,Niebieski,Azul,Ð¡Ð¸Ð½Ð¸Ð¹,è“è‰²,BlÃ¥,è—è‰²,à¸ªà¸µà¸™à¹‰à¸³à¹€à¸‡à¸´à¸™
4,904,Brass,Kupfer,Cuivre,é»„éŠ…,MosaznÃ¡,Messing,ÎœÏ€ÏÎ¿ÏÏ„Î¶Î¹Î½Î¿,LatÃ³n,Messinki,...,Loyang,Koper,Messing,MosiÄ™Å¼ny,Cobre,ÐœÐµÐ´Ð½Ñ‹Ð¹,é»„é“œè‰²,MÃ¤ssing,é»ƒéŠ…è‰²,à¸ªà¸µà¸—à¸­à¸‡à¹€à¸«à¸¥à¸·à¸­à¸‡

******************************************************************************************

#### tab134

GOSALESDW.SLS_PRODUCT_DIM
(274, 14)

,PRODUCT_KEY,PRODUCT_LINE_CODE,PRODUCT_TYPE_KEY,PRODUCT_TYPE_CODE,PRODUCT_NUMBER,BASE_PRODUCT_KEY,BASE_PRODUCT_NUMBER,PRODUCT_COLOR_CODE,PRODUCT_SIZE_CODE,PRODUCT_BRAND_KEY,PRODUCT_BRAND_CODE,PRODUCT_IMAGE,INTRODUCTION_DATE,DISCONTINUED_DATE
0,30001,991,951,951,1110,1,1,908,808,701,701,P01CE1CG1.jpg,1995-02-15-00.00.00.000000,None
1,30002,991,951,951,2110,2,2,906,807,701,701,P02CE1CG1.jpg,1995-02-15-00.00.00.000000,None
2,30003,991,951,951,3110,3,3,924,825,701,701,P03CE1CG1.jpg,1995-02-15-00.00.00.000000,None
3,30004,991,951,951,4110,4,4,923,804,701,701,P04CE1CG1.jpg,1995-02-15-00.00.00.000000,None
4,30005,991,951,951,5110,5,5,923,823,701,701,P05CE1CG1.jpg,1995-02-15-00.00.00.000000,None

******************************************************************************************

#### tab135

GOSALESDW.SLS_PRODUCT_LINE_LOOKUP
(5, 24)

,PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCT_LINE_DE,PRODUCT_LINE_FR,PRODUCT_LINE_JA,PRODUCT_LINE_CS,PRODUCT_LINE_DA,PRODUCT_LINE_EL,PRODUCT_LINE_ES,PRODUCT_LINE_FI,...,PRODUCT_LINE_MS,PRODUCT_LINE_NL,PRODUCT_LINE_NO,PRODUCT_LINE_PL,PRODUCT_LINE_PT,PRODUCT_LINE_RU,PRODUCT_LINE_SC,PRODUCT_LINE_SV,PRODUCT_LINE_TC,PRODUCT_LINE_TH
0,991,Camping Equipment,CampingausrÃ¼stung,MatÃ©riel de camping,ã‚­ãƒ£ãƒ³ãƒ—ç”¨å“,VybavenÃ­ pro kempovÃ¡nÃ­,Campingudstyr,Î•Î¾Î¿Ï€Î»Î¹ÏƒÎ¼ÏŒÏ‚ ÎºÎ±Ï„Î±ÏƒÎºÎ®Î½Ï‰ÏƒÎ·Ï‚,Equipo de acampada,Retkeilyvarusteet,...,Kelengkapan Berkhemah,Kampeerbenodigdheden,Campingutstyr,Ekwipunek kempingowy,Equipamento acampamento,Ð¡Ð½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ Ð´Ð»Ñ Ñ‚ÑƒÑ€Ð¸Ð·Ð¼Ð°,éœ²è¥è£…å¤‡,Campingutrustning,éœ²ç‡Ÿå™¨æ,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸•à¸±à¹‰à¸‡à¹à¸„à¸¡à¸›à¹Œ
1,992,Mountaineering Equipment,BergsteigerausrÃ¼stung,MatÃ©riel de montagne,ç™»å±±ç”¨å“,HorolezeckÃ© vybavenÃ­,Alpint udstyr,Î•Î¾Î¿Ï€Î»Î¹ÏƒÎ¼ÏŒÏ‚ Î¿ÏÎµÎ¹Î²Î±ÏƒÎ¯Î±Ï‚,Equipo de montaÃ±ismo,Vuorikiipeilyvarusteet,...,Kelengkapan Mendaki Gunung,Bergsportartikelen,Klatreutstyr,SprzÄ™t wspinaczkowy,Equipamento montanhismo,Ð“Ð¾Ñ€Ð½Ð¾Ðµ ÑÐ½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ,ç™»å±±è£…å¤‡,KlÃ¤tterutrustning,ç™»å±±å™¨æ,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸›à¸µà¸™à¹€à¸‚à¸²
2,993,Personal Accessories,Accessoires,Accessoires personnels,å€‹äººè£…å‚™,VÄ›ci osobnÃ­ potÅ™eby,Personligt tilbehÃ¸r,Î ÏÎ¿ÏƒÏ‰Ï€Î¹ÎºÎ¬ ÎµÎ¯Î´Î·,Accesorios personales,HenkilÃ¶kohtaiset tarvikkeet,...,Aksesori Diri,Persoonlijke accessoires,Personlig utrustning,Akcesoria osobiste,AcessÃ³rios pessoais,Ð›Ð¸Ñ‡Ð½Ñ‹Ðµ Ð¿Ñ€Ð¸Ð½Ð°Ð´Ð»ÐµÐ¶Ð½Ð¾ÑÑ‚Ð¸,ä¸ªäººé™„ä»¶,Personliga tillbehÃ¶r,å€‹äººé…ä»¶,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸ªà¹ˆà¸§à¸™à¸•à¸±à¸§
3,994,Outdoor Protection,Outdoor-SchutzausrÃ¼stung,Articles de protection,ã‚¢ã‚¦ãƒˆãƒ‰ã‚¢ç”¨ä¿è­·ç”¨å“,VybavenÃ­ do pÅ™Ã­rody,UdendÃ¸rsbeskyttelse,Î ÏÎ¿ÏƒÏ„Î±ÏƒÎ¯Î± Î³Î¹Î± Ï„Î·Î½ ÏÏ€Î±Î¹Î¸ÏÎ¿,ProtecciÃ³n aire libre,Ulkoiluvarusteet,...,Perlindungan Luar Bangunan,Buitensport - preventie,UtendÃ¸rs beskyttelse,WyposaÅ¼enie ochronne,ProteÃ§Ã£o ar livre,Ð¡Ñ€ÐµÐ´ÑÑ‚Ð²Ð° Ð·Ð°Ñ‰Ð¸Ñ‚Ñ‹,æˆ·å¤–é˜²æŠ¤ç”¨å“,Skyddsartiklar,æˆ¶å¤–é˜²è­·å™¨æ,à¸ªà¸´à¹ˆà¸‡à¸›à¹‰à¸­à¸‡à¸à¸±à¸™à¹€à¸¡à¸·à¹ˆà¸­à¸­à¸¢à¸¹à¹ˆà¸à¸¥à¸²à¸‡à¹à¸ˆà¹‰à¸‡
4,995,Golf Equipment,GolfausrÃ¼stung,MatÃ©riel de golf,ã‚´ãƒ«ãƒ•ç”¨å“,GolfovÃ© potÅ™eby,Golfudstyr,Î•Î¾Î¿Ï€Î»Î¹ÏƒÎ¼ÏŒÏ‚ Î³ÎºÎ¿Î»Ï†,Equipo de golf,Golf-varusteet,...,Kelengkapan Golf,Golfartikelen,Golfutstyr,Ekwipunek golfowy,Equipamento golfe,Ð¡Ð½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ Ð´Ð»Ñ Ð³Ð¾Ð»ÑŒÑ„Ð°,é«˜å°”å¤«çƒè£…å¤‡,Golfutrustning,é«˜çˆ¾å¤«çƒå™¨æ,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸à¸­à¸¥à¹Œà¸Ÿ

******************************************************************************************

#### tab136

GOSALESDW.SLS_PRODUCT_LOOKUP
(6302, 4)

,PRODUCT_NUMBER,PRODUCT_LANGUAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION
0,1110,CS,Vak na vodu KuchtÃ­k,"LehkÃ½, skladnÃ½ vak na tekutiny. Å irokÃ© hrdlo u..."
1,1110,DA,Sahara Vandtaske,Sammentrykkelig letvÃ¦gtstaske til vÃ¦sker. Bred...
2,1110,DE,TrailChef Wasserbeutel,"Leichter, zusammenfaltbarer Beutel zum einfach..."
3,1110,EL,Î”Î¿Ï‡ÎµÎ¯Î¿ Ï…Î³ÏÏŽÎ½ ÎœÎ±ÏÎ¼Î¯Ï„Î± Î£ÎµÏ†,"Î•Î»Î±Ï†ÏÏ, Ï€Ï„Ï…ÏƒÏƒÏŒÎ¼ÎµÎ½Î¿ Î´Î¿Ï‡ÎµÎ¯Î¿ Î³Î¹Î± ÎµÏÎºÎ¿Î»Î· Î¼ÎµÏ„Î±Ï†Î¿ÏÎ¬ ..."
4,1110,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ..."

******************************************************************************************

#### tab137

GOSALESDW.SLS_PRODUCT_SIZE_LOOKUP
(55, 24)

,PRODUCT_SIZE_CODE,PRODUCT_SIZE_EN,PRODUCT_SIZE_DE,PRODUCT_SIZE_FR,PRODUCT_SIZE_JA,PRODUCT_SIZE_CS,PRODUCT_SIZE_DA,PRODUCT_SIZE_EL,PRODUCT_SIZE_ES,PRODUCT_SIZE_FI,...,PRODUCT_SIZE_MS,PRODUCT_SIZE_NL,PRODUCT_SIZE_NO,PRODUCT_SIZE_PL,PRODUCT_SIZE_PT,PRODUCT_SIZE_RU,PRODUCT_SIZE_SC,PRODUCT_SIZE_SV,PRODUCT_SIZE_TC,PRODUCT_SIZE_TH
0,800,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,801,12 mm,12 mm,12 mm,12 mm,12 mm,12 mm,12 Ï‡Î»ÏƒÏ„.,12 mm,12 mm,...,12 mm,12 mm,12 mm,12 mm,12 mm,12 Ð¼Ð¼,12 mm,12 mm,12 mm,12 à¸¡à¸¡.
2,802,100 ml,100 ml,100 ml,100 ml,100 ml,100 ml,100 Ï‡Î»ÏƒÏ„/Î»Î¯Ï„.,100 ml,100 ml,...,100 ml,100 ml,100 ml,100 ml,100 ml,100 Ð¼Ð»,100 ml,100 ml,100 ml,100 à¸¡à¸¥.
3,803,250 ml,250 ml,250 ml,250 ml,250 ml,250 ml,250 Ï‡Î»ÏƒÏ„/Î»Î¯Ï„.,250 ml,250 ml,...,250 ml,250 ml,250 ml,250 ml,250 ml,250 Ð¼Ð»,250 ml,250 ml,250 ml,250 à¸¡à¸¥.
4,804,330 ml,330 ml,330 ml,330 ml,330 ml,330 ml,330 Ï‡Î»ÏƒÏ„/Î»Î¯Ï„.,330 ml,330 ml,...,330 ml,330 ml,330 ml,330 ml,330 ml,330 Ð¼Ð»,330 ml,330 ml,330 ml,330 à¸¡à¸¥.

******************************************************************************************

#### tab138

GOSALESDW.SLS_PRODUCT_TYPE_LOOKUP
(21, 24)

,PRODUCT_TYPE_CODE,PRODUCT_TYPE_EN,PRODUCT_TYPE_DE,PRODUCT_TYPE_FR,PRODUCT_TYPE_JA,PRODUCT_TYPE_CS,PRODUCT_TYPE_DA,PRODUCT_TYPE_EL,PRODUCT_TYPE_ES,PRODUCT_TYPE_FI,...,PRODUCT_TYPE_MS,PRODUCT_TYPE_NL,PRODUCT_TYPE_NO,PRODUCT_TYPE_PL,PRODUCT_TYPE_PT,PRODUCT_TYPE_RU,PRODUCT_TYPE_SC,PRODUCT_TYPE_SV,PRODUCT_TYPE_TC,PRODUCT_TYPE_TH
0,951,Cooking Gear,KochzubehÃ¶r,Ustensiles de cuisine,èª¿ç†ç”¨å…·,PotÅ™eby pro vaÅ™enÃ­,Kogegrej,Î•Î¾Î¿Ï€Î»Î¹ÏƒÎ¼ÏŒÏ‚ Î¼Î±Î³ÎµÎ¹ÏÎ¹ÎºÎ®Ï‚,Material de cocina,KeittovÃ¤lineet,...,Kelengkapan Memasak,Kookgerei,Kokeutstyr,SprzÄ™t kuchenny,Material cozinha,ÐšÑƒÑ…Ð¾Ð½Ð½Ñ‹Ðµ Ð¿Ñ€Ð¸Ð½Ð°Ð´Ð»ÐµÐ¶Ð½Ð¾ÑÑ‚Ð¸,ç‚Šäº‹ç”¨å…·,KÃ¶ksredskap,ç‚Šå…·,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸—à¸³à¸­à¸²à¸«à¸²à¸£
1,952,Tents,Zelte,Tentes,ãƒ†ãƒ³ãƒˆ,Stany,Telte,Î£ÎºÎ·Î½Î­Ï‚,Tiendas,Teltat,...,Khemah,Tenten,Telt,Namioty,Barracas,ÐŸÐ°Ð»Ð°Ñ‚ÐºÐ¸,å¸ç¯·,TÃ¤lt,ç‡Ÿå¸³,à¹€à¸•à¹‡à¸™à¸—à¹Œ
2,953,Sleeping Bags,SchlafsÃ¤cke,Sacs de couchage,å¯è¢‹,SpacÃ¡ky,Soveposer,Î¥Ï€Î½ÏŒÏƒÎ±ÎºÎ¿Î¹,Sacos de dormir,Makuupussit,...,Bag Tidur,Slaapzakken,Soveposer,Åšpiwory,Saco de dormir,Ð¡Ð¿Ð°Ð»ÑŒÐ½Ñ‹Ðµ Ð¼ÐµÑˆÐºÐ¸,ç¡è¢‹,SovsÃ¤ckar,ç¡è¢‹,à¸–à¸¸à¸‡à¸™à¸­à¸™
3,954,Packs,RucksÃ¤cke,Sacs Ã dos et autres contenants,ãƒªãƒ¥ãƒƒã‚¯,Batohy,RygsÃ¦kke,Î£Î±ÎºÎ¯Î´Î¹Î±,Mochilas,Reput,...,Pek,Rugzakken,Ryggsekker,Plecaki,Mochilas,Ð ÑŽÐºÐ·Ð°ÐºÐ¸ Ð¸ ÑÑƒÐ¼ÐºÐ¸,èƒŒåŒ…,RyggsÃ¤ckar,èƒŒåŒ…,à¹€à¸›à¹‰
4,955,Lanterns,Lampen,Lampes,ãƒ©ãƒ³ã‚¿ãƒ³,SvÃ­tilny,Lygter,Î›Î¬Î¼Ï€ÎµÏ‚,Linternas,Lyhdyt,...,Lentera,Verlichting,Lykter,Latarki,Lanternas,Ð¤Ð¾Ð½Ð°Ñ€Ð¸,æ‰‹æç¯,Lampor,ç‡Ÿç‡ˆ,à¸•à¸°à¹€à¸à¸µà¸¢à¸‡

******************************************************************************************

#### tab139

GOSALESDW.SLS_RTL_DIM
(847, 73)

,RETAILER_SITE_KEY,RETAILER_SITE_CODE,RETAILER_KEY,RETAILER_CODE,RETAILER_NAME,RETAILER_NAME_MB,RETAILER_CONTACT_CODE,CONTACT_FIRST_NAME,CONTACT_LAST_NAME,CONTACT_PHONE_NUMBER,...,JOB_POSITION_MS,JOB_POSITION_NL,JOB_POSITION_NO,JOB_POSITION_PL,JOB_POSITION_PT,JOB_POSITION_RU,JOB_POSITION_SC,JOB_POSITION_SV,JOB_POSITION_TC,JOB_POSITION_TH
0,5001,20001,6789,1189,Rock Steady,Rock Steady,3030,Trudy,Gates,1 (204) 891-3428,...,Pembantu Pengurus Tapak,Filiaalassistent,Assisterende butikksjef,Asystent kierownika oddziaÅ‚u,Sub-gerente de loja,Ð—Ð°Ð¼. Ð´Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€Ð° Ñ‚Ð¾Ñ€Ð³Ð¾Ð²Ð¾Ð¹ Ñ„Ð¸Ñ€Ð¼Ñ‹,åœºåœ°ç»ç†åŠ©ç†,BitrÃ¤dande platschef,æ“šé»žå‰¯ç†,à¸œà¸¹à¹‰à¸Šà¹ˆà¸§à¸¢à¸œà¸¹à¹‰à¸ˆà¸±à¸”à¸à¸²à¸£à¸ªà¸²à¸‚à¸²
1,5002,20002,6789,1189,Rock Steady,Rock Steady,3007,Mark,Myers,1 (514) 747-4481,...,Pembantu Pembeli,Inkoopassistent,InnkjÃ¸psassistent,Asystent dziaÅ‚u zakupÃ³w,Assistente de compras,ÐÑÑÐ¸ÑÑ‚ÐµÐ½Ñ‚ Ð¿Ð¾ Ð·Ð°ÐºÑƒÐ¿ÐºÐ°Ð¼,åŠ©ç†é‡‡è´­å‘˜,InkÃ¶psassistent,æŽ¡è³¼åŠ©ç†,à¸œà¸¹à¹‰à¸Šà¹ˆà¸§à¸¢à¸ˆà¸±à¸”à¸‹à¸·à¹‰à¸­
2,5003,20003,6789,1189,Rock Steady,Rock Steady,3016,Yves,Fortin,1 (506) 454-1937,...,Pembantu Pengurus Tapak,Filiaalassistent,Assisterende butikksjef,Asystent kierownika oddziaÅ‚u,Sub-gerente de loja,Ð—Ð°Ð¼. Ð´Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€Ð° Ñ‚Ð¾Ñ€Ð³Ð¾Ð²Ð¾Ð¹ Ñ„Ð¸Ñ€Ð¼Ñ‹,åœºåœ°ç»ç†åŠ©ç†,BitrÃ¤dande platschef,æ“šé»žå‰¯ç†,à¸œà¸¹à¹‰à¸Šà¹ˆà¸§à¸¢à¸œà¸¹à¹‰à¸ˆà¸±à¸”à¸à¸²à¸£à¸ªà¸²à¸‚à¸²
3,5004,20004,6790,1190,Ultra Sports,Ultra Sports,3006,Marie,Turcotte,1 (514) 746-1273,...,Pembantu Pembeli,Inkoopassistent,InnkjÃ¸psassistent,Asystent dziaÅ‚u zakupÃ³w,Assistente de compras,ÐÑÑÐ¸ÑÑ‚ÐµÐ½Ñ‚ Ð¿Ð¾ Ð·Ð°ÐºÑƒÐ¿ÐºÐ°Ð¼,åŠ©ç†é‡‡è´­å‘˜,InkÃ¶psassistent,æŽ¡è³¼åŠ©ç†,à¸œà¸¹à¹‰à¸Šà¹ˆà¸§à¸¢à¸ˆà¸±à¸”à¸‹à¸·à¹‰à¸­
4,5005,20005,6790,1190,Ultra Sports,Ultra Sports,3065,Andrea,Martens,1 (705) 674-8784,...,Pengurus Stok,Voorraadmanager,Lagerleder,Kierownik magazynu,Gerente de estoques,ÐœÐµÐ½ÐµÐ´Ð¶ÐµÑ€ ÑÐºÐ»Ð°Ð´Ð°,åº“å­˜ç»ç†,Lagerchef,åº«å­˜ç¶“ç†,à¸œà¸¹à¹‰à¸ˆà¸±à¸”à¸à¸²à¸£à¸„à¸¥à¸±à¸‡à¸ªà¸´à¸™à¸„à¹‰à¸²

******************************************************************************************

#### tab140

GOSALESDW.SLS_SALES_FACT
(446023, 17)

,ORDER_DAY_KEY,ORGANIZATION_KEY,EMPLOYEE_KEY,RETAILER_KEY,RETAILER_SITE_KEY,PRODUCT_KEY,PROMOTION_KEY,ORDER_METHOD_KEY,SALES_ORDER_KEY,SHIP_DAY_KEY,CLOSE_DAY_KEY,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,SALE_TOTAL,GROSS_PROFIT
0,20050216,11171,4299,7076,5555,30271,5501,605,267130,20050222,20050222,12,66.86,120.3,120.3,1443.6,641.28
1,20050216,11171,4299,7110,5589,30146,5501,605,261026,20050222,20050222,190,18.35,26.8,26.8,5092.0,1605.50
2,20050216,11171,4299,7110,5589,30183,5501,605,335177,20050222,20050222,19,115.84,220.0,220.0,4180.0,1979.04
3,20050216,11171,4299,7110,5589,30194,5501,605,543445,20050222,20050222,105,17.68,38.2,38.2,4011.0,2154.60
4,20050216,11171,4299,7110,5589,30199,5501,605,348343,20050222,20050222,51,40.38,80.0,80.0,4080.0,2020.62

******************************************************************************************

#### tab141

GOSALESDW.SLS_SALES_ORDER_DIM
(446023, 4)

   SALES_ORDER_KEY  ORDER_DETAIL_CODE  ORDER_NUMBER  WAREHOUSE_BRANCH_CODE
0           100001            1000001        100001                     21
1           100002            1000002        100001                     21
2           100003            1000013        100002                     30
3           100004            1000014        100002                     30
4           100005            1000015        100002                     30

******************************************************************************************

#### tab142

GOSALESDW.SLS_SALES_TARG_FACT
(233625, 8)

,MONTH_KEY,ORGANIZATION_KEY,RTL_COUNTRY_KEY,EMPLOYEE_KEY,RETAILER_KEY,PRODUCT_TYPE_KEY,PRODUCT_BRAND_KEY,SALES_TARGET
0,200401,11101,90014,4001,6737,970,703,27500
1,200401,11101,90014,4001,6737,970,718,28100
2,200401,11101,90014,4001,6737,971,718,4300
3,200401,11101,90014,4001,6986,964,715,8800
4,200401,11101,90014,4001,6986,965,716,6600

******************************************************************************************

#### tab143

GOSALESHR.SUCCESSION_DETAILS
(182, 6)

,SUCCESSION_DETAIL_DATE,EMPLOYEE_CODE,POSITION_CODE,SUCCESSOR_EMPLOYEE_CODE,SUCCESSOR_POSITION_CODE,SUCCESSOR_STATUS_CODE
0,2007-07-01-00.00.00.000000,10004,4500,10018,4600,2
1,2007-07-01-00.00.00.000000,10012,5400,10516,5700,2
2,2007-07-01-00.00.00.000000,10013,5300,10017,5400,3
3,2007-07-01-00.00.00.000000,10017,5400,10016,5700,2
4,2007-07-01-00.00.00.000000,10020,5400,10021,5700,2

******************************************************************************************

#### tab144

GOSALESHR.SUCCESSOR_STATUS
(5, 24)

,SUCCESSOR_STATUS_CODE,SUCCESSOR_STATUS_EN,SUCCESSOR_STATUS_DE,SUCCESSOR_STATUS_FR,SUCCESSOR_STATUS_JA,SUCCESSOR_STATUS_CS,SUCCESSOR_STATUS_DA,SUCCESSOR_STATUS_EL,SUCCESSOR_STATUS_ES,SUCCESSOR_STATUS_FI,...,SUCCESSOR_STATUS_MS,SUCCESSOR_STATUS_NL,SUCCESSOR_STATUS_NO,SUCCESSOR_STATUS_PL,SUCCESSOR_STATUS_PT,SUCCESSOR_STATUS_RU,SUCCESSOR_STATUS_SC,SUCCESSOR_STATUS_SV,SUCCESSOR_STATUS_TC,SUCCESSOR_STATUS_TH
0,0,Pending assignment,BefÃ¶rderung ausstehend,En attente de travail,é…ç½®å¾…ã¡,NevyÅ™Ã­zenÃ© pÅ™iÅ™azenÃ­,UdestÃ¥ende udnÃ¦vnelse,Î•ÎºÎºÏÎµÎ¼Î®Ï‚ Î±Î½Î¬Î¸ÎµÏƒÎ·,AsignaciÃ³n pendiente,Odottava tehtÃ¤vÃ¤,...,Tugasan masih belum selesai,Bevordering in behandeling,Venter pÃ¥ tildeling,Przypisanie w toku,AtribuiÃ§Ãµes pendentes,ÐžÑ‚Ð»Ð¾Ð¶ÐµÐ½Ð½Ð¾Ðµ Ð½Ð°Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ,å¾…å®šé€‰æ´¾,VÃ¤ntar pÃ¥ uppdrag,æœªæ±ºé¸æ´¾,à¸£à¸­à¸”à¸³à¹€à¸™à¸´à¸™à¸à¸²à¸£à¸‡à¸²à¸™à¸—à¸µà¹ˆà¸¡à¸­à¸šà¸«à¸¡à¸²à¸¢
1,1,In training,In Schulung,En formation,ç ”ä¿®ä¸­,ProbÃ­hÃ¡ Å¡kolenÃ­,under uddannelse,Î£Îµ ÎµÎºÏ€Î±Î¯Î´ÎµÏ…ÏƒÎ·,En formaciÃ³n,Koulutuksessa,...,Dalam latihan,Trainingsfase,Under opplÃ¦ring,W trakcie szkolenia,Em treinamento,Ð’ Ñ…Ð¾Ð´Ðµ Ð¾Ð±ÑƒÑ‡ÐµÐ½Ð¸Ñ,åŸ¹è®­ä¸­,Utbildas,åŸ¹è¨“ä¸­,à¸­à¸¢à¸¹à¹ˆà¹ƒà¸™à¸£à¸°à¸«à¸§à¹ˆà¸²à¸‡à¸à¸²à¸£à¸à¸¶à¸à¸­à¸šà¸£à¸¡
2,2,Ready,Fertig,PrÃªt,å¾…æ©Ÿä¸­,K dispozici,Klar,Î”Î¹Î±Î¸Î­ÏƒÎ¹Î¼Î¿Ï‚,Listo,Valmis,...,Sedia,Gereed,Klar,Przygotowany,Pronto,Ð“Ð¾Ñ‚Ð¾Ð²,å‡†å¤‡å°±ç»ª,Klar,å°±ç·’,à¸žà¸£à¹‰à¸­à¸¡
3,3,Promoted,BefÃ¶rdert,Promu,æ˜‡æ ¼æ¸ˆã¿,PovÃ½Å¡en(a),Forfremmet,Î ÏÎ¿Î®Ï‡Î¸Î·,Ascendido,Ylennetty,...,Dinaikkan pangkat,Bevorderd,Forfremmet,Awansowany,Promovido,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð½ÑƒÑ‚Ñ‹Ð¹,å·²æ™‹å‡,Befordrad,å·²æ™‰å‡,à¹€à¸¥à¸·à¹ˆà¸­à¸™à¸•à¸³à¹à¸«à¸™à¹ˆà¸‡à¹à¸¥à¹‰à¸§
4,4,Cancelled,Widerrufen,AnnulÃ©,å–ã‚Šæ¶ˆã—,ZruÅ¡eno,Annulleret,Î‘ÎºÏ…ÏÏŽÎ¸Î·ÎºÎµ,Cancelado,Peruutettu,...,Dibatalkan,Geannuleerd,Kansellert,OdwoÅ‚any,Cancelado,ÐžÑ‚Ð¼ÐµÐ½ÐµÐ½Ð¾,å·²å–æ¶ˆ,Annullerad,å·²å–æ¶ˆ,à¸¢à¸à¹€à¸¥à¸´à¸

******************************************************************************************

#### tab145

GOSALESHR.TERMINATION_LOOKUP
(6, 24)

,TERMINATION_CODE,TERMINATION_REASON_EN,TERMINATION_REASON_DE,TERMINATION_REASON_FR,TERMINATION_REASON_JA,TERMINATION_REASON_CS,TERMINATION_REASON_DA,TERMINATION_REASON_EL,TERMINATION_REASON_ES,TERMINATION_REASON_FI,...,TERMINATION_REASON_MS,TERMINATION_REASON_NL,TERMINATION_REASON_NO,TERMINATION_REASON_PL,TERMINATION_REASON_PT,TERMINATION_REASON_RU,TERMINATION_REASON_SC,TERMINATION_REASON_SV,TERMINATION_REASON_TC,TERMINATION_REASON_TH
0,150,Active employee,Aktiver Mitarbeiter,EmployÃ© actif,ç¾å½¹å¾“æ¥­å“¡,AktivnÃ­ zamÄ›stnanec,Aktiv medarbejder,Î•Î½ÎµÏÎ³ÏŒÏ‚ Ï…Ï€Î¬Î»Î»Î·Î»Î¿Ï‚,Empleado en activo,Aktiivinen tyÃ¶ntekijÃ¤,...,Pekerja aktif,In actieve dienst,Aktiv ansatt,Pracownik aktywny,FuncionÃ¡rio ativo,ÐÐºÑ‚Ð¸Ð²Ð½Ñ‹Ð¹ ÑÐ¾Ñ‚Ñ€ÑƒÐ´Ð½Ð¸Ðº,çŽ°ä»»å‘˜å·¥,Aktiv anstÃ¤lld,ç¾ä»»å“¡å·¥,à¸žà¸™à¸±à¸à¸‡à¸²à¸™à¸—à¸µà¹ˆà¸—à¸³à¸‡à¸²à¸™à¸­à¸¢à¸¹à¹ˆ
1,152,Voluntary,Freiwillig,Volontaire,ä»»æ„é€€è·,Neplaceno,Frivilligt,Î ÏÎ¿Î±Î¹ÏÎµÏ„Î¹ÎºÏŒ,Voluntario,Vapaaehtoinen,...,Sukarela,Vrijwillig,Frivillig,Dobrowolne,VoluntÃ¡rio,Ð”Ð¾Ð±Ñ€Ð¾Ð²Ð¾Ð»ÑŒÐ½Ñ‹Ð¹,æ— å¿,Frivillig,ç„¡å„Ÿ,à¸­à¸²à¸ªà¸²à¸ªà¸¡à¸±à¸„à¸£
2,154,Discharged - performance,Entlassen - Leistung,CongÃ©diÃ© - performance,å…è· - æ¥­ç¸¾,PropuÅ¡tÄ›n(a) - vÃ½kon,Afskediget - prÃ¦station,Î‘Ï€Î¿Î¼Î±ÎºÏÏÎ½Î¸Î·ÎºÎµ - Î±Ï€ÏŒÎ´Î¿ÏƒÎ·,Despedido - rendimiento,Irtisanottu â€“ suoritus,...,Pelaksanaan - prestasi,Ontslagen - prestatie,Avskjedighet - prestasjon,Zwolniony - wyniki pracy,Dispensado - desempenho,Ð Ð°Ð·Ð³Ñ€ÑƒÐ¶ÐµÐ½Ð¾ - Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ðµ,å·²è§£é›‡ - ç»©æ•ˆ,Avskedad - prestation,å·²è§£é›‡ - ç¸¾æ•ˆ,à¹€à¸¥à¸´à¸à¸ˆà¹‰à¸²à¸‡ - à¸œà¸¥à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™
3,155,Promoted,BefÃ¶rdert,Promu,æ˜‡æ ¼æ¸ˆã¿,PovÃ½Å¡en(a),Forfremmet,Î ÏÎ¿Î®Ï‡Î¸Î·,Ascendido,Ylennetty,...,Dinaikkan pangkat,Bevorderd,Forfremmet,Awansowany,Promovido,ÐŸÑ€Ð¾Ð´Ð²Ð¸Ð½ÑƒÑ‚Ñ‹Ð¹,å·²æ™‹å‡,Befordrad,å·²æ™‰å‡,à¹€à¸¥à¸·à¹ˆà¸­à¸™à¸•à¸³à¹à¸«à¸™à¹ˆà¸‡à¹à¸¥à¹‰à¸§
4,156,Layoff,Entlassung,LicenciÃ©,ä¸€æ™‚è§£é›‡,DoÄasnÃ© volno,Fyring,Î‘Ï€Î¿Î»ÏÎ¸Î·ÎºÎµ,Cesado,Lomautus,...,Henti kerja sementara,Ontslagen (afvloeiingsregeling),Nedbemannet,Zwolnienie z pracy,Demitido,Ð’Ñ€ÐµÐ¼ÐµÐ½Ð½Ð¾Ðµ ÑƒÐ²Ð¾Ð»ÑŒÐ½ÐµÐ½Ð¸Ðµ,åœå·¥,FristÃ¤llning,è‡¨æ™‚è§£é›‡,à¸–à¸¹à¸à¸›à¸¥à¸”à¸­à¸­à¸

******************************************************************************************

#### tab146

GOSALES.TIME_DIMENSION
(1465, 50)

,DAY_KEY,DAY_DATE,MONTH_KEY,QUARTER_KEY,MONTH_EN,WEEKDAY_EN,MONTH_DE,WEEKDAY_DE,MONTH_FR,WEEKDAY_FR,...,MONTH_RU,WEEKDAY_RU,MONTH_SC,WEEKDAY_SC,MONTH_SV,WEEKDAY_SV,MONTH_TC,WEEKDAY_TC,MONTH_TH,WEEKDAY_TH
0,20040000,None,200400,20040,Opening balance,Unspecified,ErÃ¶ffnungsbilanz,Unbestimmt,Solde d'ouverture,Non dÃ©fini,...,ÐÐ°Ñ‡Ð°Ð»ÑŒÐ½Ð¾Ðµ ÑÐ°Ð»ÑŒÐ´Ð¾,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœŸåˆä½™é¢,æœªæŒ‡å®š,IngÃ¥ende balans,Ospecificerad,æœŸåˆçµé¤˜,æœªæŒ‡å®š,à¸¢à¸­à¸”à¸¢à¸à¸¡à¸²,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,20040101,2004-01-01-00.00.00.000000,200401,20041,January,Thursday,Januar,Donnerstag,Janvier,Jeudi,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,Ð§ÐµÑ‚Ð²ÐµÑ€Ð³,ä¸€æœˆ,æ˜ŸæœŸå››,Januari,Torsdag,ä¸€æœˆ,æ˜ŸæœŸå››,à¸¡à¸à¸£à¸²à¸„à¸¡,à¸žà¸¤à¸«à¸±à¸ªà¸šà¸”à¸µ
2,20040102,2004-01-02-00.00.00.000000,200401,20041,January,Friday,Januar,Freitag,Janvier,Vendredi,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,ÐŸÑÑ‚Ð½Ð¸Ñ†Ð°,ä¸€æœˆ,æ˜ŸæœŸäº”,Januari,Fredag,ä¸€æœˆ,æ˜ŸæœŸäº”,à¸¡à¸à¸£à¸²à¸„à¸¡,à¸¨à¸¸à¸à¸£à¹Œ
3,20040103,2004-01-03-00.00.00.000000,200401,20041,January,Saturday,Januar,Samstag,Janvier,Samedi,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,Ð¡ÑƒÐ±Ð±Ð¾Ñ‚Ð°,ä¸€æœˆ,æ˜ŸæœŸå…­,Januari,LÃ¶rdag,ä¸€æœˆ,æ˜ŸæœŸå…­,à¸¡à¸à¸£à¸²à¸„à¸¡,à¹€à¸ªà¸²à¸£à¹Œ
4,20040104,2004-01-04-00.00.00.000000,200401,20041,January,Sunday,Januar,Sonntag,Janvier,Dimanche,...,Ð¯Ð½Ð²Ð°Ñ€ÑŒ,Ð’Ð¾ÑÐºÑ€ÐµÑÐµÐ½ÑŒÐµ,ä¸€æœˆ,æ˜ŸæœŸæ—¥,Januari,SÃ¶ndag,ä¸€æœˆ,æ˜ŸæœŸæ—¥,à¸¡à¸à¸£à¸²à¸„à¸¡,à¸­à¸²à¸—à¸´à¸•à¸¢à¹Œ

******************************************************************************************

#### tab147

GOSALES.TIME_QUARTER_LOOKUP
(20, 24)

,QUARTER_KEY,QUARTER_EN,QUARTER_DE,QUARTER_FR,QUARTER_JA,QUARTER_CS,QUARTER_DA,QUARTER_EL,QUARTER_ES,QUARTER_FI,...,QUARTER_MS,QUARTER_NL,QUARTER_NO,QUARTER_PL,QUARTER_PT,QUARTER_RU,QUARTER_SC,QUARTER_SV,QUARTER_TC,QUARTER_TH
0,20040,Unspecified,Unbestimmt,Non dÃ©fini,æŒ‡å®šãªã—,NeurÄeno,Uspecificeret,ÎœÎ· ÎºÎ±Î¸Î¿ÏÎ¹ÏƒÎ¼Î­Î½Î¿,Sin especificar,MÃ¤Ã¤rittÃ¤mÃ¤tÃ¶n,...,Tidak ditentukan,Ongespecificeerd,Uspesifisert,NieokreÅ›lone,NÃ£o especificado,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,æœªæŒ‡å®š,Ospecificerad,æœªæŒ‡å®š,à¹„à¸¡à¹ˆà¸£à¸°à¸šà¸¸
1,20041,Q1,Q1,T1,ç¬¬ 1 å››åŠæœŸ,1. ÄtvrtletÃ­,KVT1,Q1,1ÂºT,N1,...,S1,K1,K1,K1,T1,Q1,ç¬¬ä¸€å­£åº¦,Kv1,Q1,à¹„à¸•à¸£à¸¡à¸²à¸ª1
2,20042,Q2,Q2,T2,ç¬¬ 2 å››åŠæœŸ,2. ÄtvrtletÃ­,KVT2,Q2,2ÂºT,N2,...,S2,K2,K2,K2,T2,Q2,ç¬¬äºŒå­£åº¦,Kv2,Q2,à¹„à¸•à¸£à¸¡à¸²à¸ª2
3,20043,Q3,Q3,T3,ç¬¬ 3 å››åŠæœŸ,3. ÄtvrtletÃ­,KVT3,Q3,3ÂºT,N3,...,S3,K3,K3,K3,T3,Q3,ç¬¬ä¸‰å­£åº¦,Kv3,Q3,à¹„à¸•à¸£à¸¡à¸²à¸ª3
4,20044,Q4,Q4,T4,ç¬¬ 4 å››åŠæœŸ,4. ÄtvrtletÃ­,KVT4,Q4,4ÂºT,N4,...,S4,K4,K4,K4,T4,Q4,ç¬¬å››å­£åº¦,Kv4,Q4,à¹„à¸•à¸£à¸¡à¸²à¸ª4

******************************************************************************************

#### tab148

GOSALESHR.TRAINING
(42, 25)

,COURSE_CODE,COURSE_COST,COURSE_NAME_EN,COURSE_NAME_CS,COURSE_NAME_DA,COURSE_NAME_NL,COURSE_NAME_FI,COURSE_NAME_FR,COURSE_NAME_DE,COURSE_NAME_EL,...,COURSE_NAME_PL,COURSE_NAME_PT,COURSE_NAME_RU,COURSE_NAME_SC,COURSE_NAME_SV,COURSE_NAME_TC,COURSE_NAME_ES,COURSE_NAME_TH,COURSE_NAME_MS,COURSE_NAME_ID
0,10001,2000,GO Marketing 3,Marketing GO 3,Fri marketing 3,Marketing ABC 3,GO-markkinointi 3,Marketing VA 3,AUF Marketing 3,Î•Î›Î‘-Î ÏÎ¿ÏŽÎ¸Î·ÏƒÎ· ÏƒÏ„Î·Î½ Î±Î³Î¿ÏÎ¬ 3,...,Marketing WIO 3,Marketing GA 3,ÐžÑ‚Ð´ÐµÐ» Ð¼Ð°Ñ€ÐºÐµÑ‚Ð¸Ð½Ð³Ð° GO 3,æˆ·å¤–ç”¨å“å…¬å¸è¥é”€ 3,GO marknadsfÃ¶ring 3,å¤§ç”Ÿæ´»å®¶è¡ŒéŠ·ä¸‰,Marketing de VA 3,à¸à¸²à¸£à¸•à¸¥à¸²à¸” GO 3,Pemasaran GO 3,Pemasaran GO 3
1,10501,3000,GO Management 1,Management GO 1,Fri ledelse 1,Management ABC 1,GO-johto 1,Gestion VA 1,AUF Management 1,Î•Î›Î‘-Î”Î¹Î¿Î¯ÎºÎ·ÏƒÎ· 1,...,Kierownictwo WIO 1,Gerenciamento GA 1,Ð£Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ GO 1,æˆ·å¤–ç”¨å“å…¬å¸ç®¡ç† 1,GO ledning 1,å¤§ç”Ÿæ´»å®¶ç®¡ç†ä¸€,AdministraciÃ³n de VA 1,à¸à¸²à¸£à¸ˆà¸±à¸”à¸à¸²à¸£ GO 1,Pengurusan GO 1,Manajemen GO 1
2,11001,2500,Economic and Tax Forecasting 1,EkonomickÃ¡ a daÅˆovÃ¡ prognÃ³za 1,Budget for Ã¸konomi og skat 1,Begroten en budgetteren 1,Talous- ja verotusennustus 1,PrÃ©visions Ã©conomiques et fiscales 1,Betriebswirtschaftliche und Steuerprognosen 1,ÎŸÎ¹ÎºÎ¿Î½Î¿Î¼Î¹ÎºÎ­Ï‚ ÎºÎ±Î¹ Ï†Î¿ÏÎ¿Î»Î¿Î³Î¹ÎºÎ­Ï‚ Ï€ÏÎ¿Î²Î»Î­ÏˆÎµÎ¹Ï‚ 1,...,Prognoza ekonomiczna i podatkowa 1,PrevisÃ£o econÃ´mica e de impostos 1,Ð­ÐºÐ¾Ð½Ð¾Ð¼Ð¸Ñ‡ÐµÑÐºÐ¸Ð¹ Ð¸ Ð½Ð°Ð»Ð¾Ð³Ð¾Ð²Ð¾Ð¹ Ð¿Ñ€Ð¾Ð³Ð½Ð¾Ð· 1,ç»æµŽä¸Žç¨Žé‡‘é¢„æµ‹ 1,Ekonomisk prognostisering och skatteprognostis...,ç¶“æ¿Ÿæ•ˆç›Šèˆ‡ç¨…é‡‘é æ¸¬ 1,PronÃ³stico econÃ³mico y de impuestos 1,à¸à¸²à¸£à¸„à¸²à¸”à¸à¸²à¸£à¸“à¹Œà¹€à¸¨à¸£à¸©à¸à¸à¸´à¸ˆà¹à¸¥à¸°à¸ à¸²à¸©à¸µ 1,Ekonomi dan Ramalan Cukai 1,Perkiraan Ekonomi dan Pajak 1
3,13001,2000,Project Management,ProjektovÃ½ management,Projektledelse,Projectmanagement,Projektinhallinta,Gestion de projet,Projektmanagement,Î”Î¹Î±Ï‡ÎµÎ¯ÏÎ¹ÏƒÎ· Î­ÏÎ³Î¿Ï…,...,ZarzÄ…dzanie projektami,Gerenciamento de projetos,Ð£Ð¿Ñ€Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ Ð¿Ñ€Ð¾ÐµÐºÑ‚Ð¾Ð¼,é¡¹ç›®ç®¡ç†,Projektledning,å°ˆæ¡ˆç®¡ç†,AdministraciÃ³n del proyecto,à¸à¸²à¸£à¸šà¸£à¸´à¸«à¸²à¸£à¹‚à¸„à¸£à¸‡à¸à¸²à¸£,Pengurusan Projek,Manajemen Proyek
4,13501,250,Safety Procedures,BezpeÄnostnÃ­ postupy,Sikkerhedsprocedurer,Veiligheidsvoorschriften,Turvatoimenpiteet,Consignes de sÃ©curitÃ©,ArbeitsschutzmaÃŸnahmen,Î”Î¹Î±Î´Î¹ÎºÎ±ÏƒÎ¯ÎµÏ‚ Î±ÏƒÏ†Î±Î»ÎµÎ¯Î±Ï‚,...,Procedury bezpieczeÅ„stwa,Procedimentos de seguranÃ§a,ÐŸÑ€Ð¾Ñ†ÐµÐ´ÑƒÑ€Ñ‹ Ñ‚ÐµÑ…Ð½Ð¸ÐºÐ¸ Ð±ÐµÐ·Ð¾Ð¿Ð°ÑÐ½Ð¾ÑÑ‚Ð¸,å®‰å…¨ç¨‹åº,SÃ¤kerhetsÃ¥tgÃ¤rder,å®‰å…¨ç¨‹åº,Procedimientos de seguridad,à¸£à¸°à¹€à¸šà¸µà¸¢à¸šà¸à¸²à¸£à¸”à¹‰à¸²à¸™à¸„à¸§à¸²à¸¡à¸›à¸¥à¸­à¸”à¸ à¸±à¸¢,Prosedur Keselamatan,Prosedur Keselamatan

******************************************************************************************

#### tab149

GOSALESHR.TRAINING_DETAILS
(4471, 4)

   EMPLOYEE_CODE  COURSE_CODE               TRAINING_DATE  EXPENSE_TYPE_CODE
0          10005        14501  2004-08-02-00.00.00.000000                 38
1          10005        16001  2004-01-05-00.00.00.000000                 34
2          10005        17501  2004-03-23-00.00.00.000000                 34
3          10005        18501  2004-01-23-00.00.00.000000                 38
4          10005        19501  2004-03-30-00.00.00.000000                 38

******************************************************************************************

#### tab150

GOSALES.XGOREV
(17, 9)

,GOREV_ID,GO_OBJ_NAME,GO_OBJ_TYPE,GO_OBJ_PARENT_NAME,GO_OBJ_PARENT_TYPE,GO_DATA_OR_METADATA,GO_RELEASE,GO_CHANGE_DATE,GO_CHANGE_DESCRIPTION
0,5001,EMPLOYEE_CODE,COLUMN,EMPLOYEE,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
1,5002,EMPLOYEE_CODE,COLUMN,EMPLOYEE_EXPENSE_DETAIL,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
2,5003,EMPLOYEE_CODE,COLUMN,EMPLOYEE_HISTORY,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
3,5004,MANAGER_CODE,COLUMN,EMPLOYEE_HISTORY,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
4,5005,EMPLOYEE_CODE,COLUMN,EMPLOYEE_SUMMARY,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."

******************************************************************************************

#### tab151

GOSALESDW.XGOREV
(28, 9)

,GOREV_ID,GO_OBJ_NAME,GO_OBJ_TYPE,GO_OBJ_PARENT_NAME,GO_OBJ_PARENT_TYPE,GO_DATA_OR_METADATA,GO_RELEASE,GO_CHANGE_DATE,GO_CHANGE_DESCRIPTION
0,1001,EMPLOYEE_CODE,COLUMN,EMP_EMPLOYEE_DIM,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
1,1002,MANAGER_CODE1,COLUMN,EMP_EMPLOYEE_DIM,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
2,1003,MANAGER_CODE2,COLUMN,EMP_EMPLOYEE_DIM,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
3,1004,MANAGER_CODE3,COLUMN,EMP_EMPLOYEE_DIM,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."
4,1005,MANAGER_CODE4,COLUMN,EMP_EMPLOYEE_DIM,TABLE,DATA,8.4_FCS,2008-05-01-00.00.00.000000,"Added 10,000 to each value. Creates unique IDs..."

******************************************************************************************

## Troubleshooting

In [61]:
log.keys()

dict_keys(['json_conversion_success', 'file_name_errors', 'file_conversion_errors', 'file_extension_errors', 'json_read_errors', 'sql_insert_errors'])

In [62]:
for record in log["sql_insert_errors"]:
    print(record["json_table"], record["error_mssg"][:200])
    print("\n")

In [63]:
log["file_conversion_errors"]

[]

In [170]:
filename = "tab129"

In [171]:
json_table = filename + ".json"

In [156]:
df = pd.read_json(f"../json_data/{json_table}")

In [78]:
df.head()

,PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCT_LINE_FR,PRODUCT_LINE_DE,PRODUCT_LINE_NL,PRODUCT_LINE_SC,PRODUCT_LINE_KO,PRODUCT_LINE_JA,PRODUCT_LINE_CS,PRODUCT_LINE_HU,...,PRODUCT_LINE_FI,PRODUCT_LINE_IT,PRODUCT_LINE_NO,PRODUCT_LINE_PL,PRODUCT_LINE_RU,PRODUCT_LINE_SV,PRODUCT_LINE_ES,PRODUCT_LINE_TH,PRODUCT_LINE_MS,PRODUCT_LINE_ID
0,994,Outdoor Protection,Articles de protection,Outdoor-SchutzausrÃ¼stung,Buitensport - preventie,æˆ·å¤–é˜²æŠ¤ç”¨å“,ì•¼ì™¸ ë³´í˜¸ ìž¥ë¹„,ã‚¢ã‚¦ãƒˆãƒ‰ã‚¢ç”¨ä¿è­·ç”¨å“,VybavenÃ­ do pÅ™Ã­rody,VÃ©dÅ‘felszerelÃ©s,...,Ulkoiluvarusteet,Protezione personale,UtendÃ¸rs beskyttelse,WyposaÅ¼enie ochronne,Ð¡Ñ€ÐµÐ´ÑÑ‚Ð²Ð° Ð·Ð°Ñ‰Ð¸Ñ‚Ñ‹,Skyddsartiklar,ProtecciÃ³n aire libre,à¸ªà¸´à¹ˆà¸‡à¸›à¹‰à¸­à¸‡à¸à¸±à¸™à¹€à¸¡à¸·à¹ˆà¸­à¸­à¸¢à¸¹à¹ˆà¸à¸¥à¸²à¸‡à¹à¸ˆà¹‰à¸‡,Perlindungan Luar Bangunan,Perlindungan Luar Ruang
1,991,Camping Equipment,MatÃ©riel de camping,CampingausrÃ¼stung,Kampeerbenodigdheden,éœ²è¥è£…å¤‡,ìº í•‘ ìž¥ë¹„,ã‚­ãƒ£ãƒ³ãƒ—ç”¨å“,VybavenÃ­ pro kempovÃ¡nÃ­,KempingfelszerelÃ©s,...,Retkeilyvarusteet,Attrezzatura per campeggio,Campingutstyr,Ekwipunek kempingowy,Ð¡Ð½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ Ð´Ð»Ñ Ñ‚ÑƒÑ€Ð¸Ð·Ð¼Ð°,Campingutrustning,Equipo de acampada,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸•à¸±à¹‰à¸‡à¹à¸„à¸¡à¸›à¹Œ,Kelengkapan Berkhemah,Perlengkapan Berkemah
2,995,Golf Equipment,MatÃ©riel de golf,GolfausrÃ¼stung,Golfartikelen,é«˜å°”å¤«çƒè£…å¤‡,ê³¨í”„ ìž¥ë¹„,ã‚´ãƒ«ãƒ•ç”¨å“,GolfovÃ© potÅ™eby,GolffelszerelÃ©s,...,Golf-varusteet,Attrezzatura da golf,Golfutstyr,Ekwipunek golfowy,Ð¡Ð½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ Ð´Ð»Ñ Ð³Ð¾Ð»ÑŒÑ„Ð°,Golfutrustning,Equipo de golf,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸à¸­à¸¥à¹Œà¸Ÿ,Kelengkapan Golf,Perlengkapan Golf
3,993,Personal Accessories,Accessoires personnels,Accessoires,Persoonlijke accessoires,ä¸ªäººé™„ä»¶,ê°œì¸ ìš©í’ˆ,å€‹äººè£…å‚™,VÄ›ci osobnÃ­ potÅ™eby,SzemÃ©lyes kiegÃ©szÃ­tÅ‘k,...,HenkilÃ¶kohtaiset tarvikkeet,Accessori personali,Personlig utrustning,Akcesoria osobiste,Ð›Ð¸Ñ‡Ð½Ñ‹Ðµ Ð¿Ñ€Ð¸Ð½Ð°Ð´Ð»ÐµÐ¶Ð½Ð¾ÑÑ‚Ð¸,Personliga tillbehÃ¶r,Accesorios personales,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸ªà¹ˆà¸§à¸™à¸•à¸±à¸§,Aksesori Diri,Aksesori pribadi
4,992,Mountaineering Equipment,MatÃ©riel de montagne,BergsteigerausrÃ¼stung,Bergsportartikelen,ç™»å±±è£…å¤‡,ë“±ì‚° ìž¥ë¹„,ç™»å±±ç”¨å“,HorolezeckÃ© vybavenÃ­,HegymÃ¡szÃ³-felszerelÃ©s,...,Vuorikiipeilyvarusteet,Attrezzatura per alpinismo,Klatreutstyr,SprzÄ™t wspinaczkowy,Ð“Ð¾Ñ€Ð½Ð¾Ðµ ÑÐ½Ð°Ñ€ÑÐ¶ÐµÐ½Ð¸Ðµ,KlÃ¤tterutrustning,Equipo de montaÃ±ismo,à¸­à¸¸à¸›à¸à¸£à¸“à¹Œà¸›à¸µà¸™à¹€à¸‚à¸²,Kelengkapan Mendaki Gunung,Perlengkapan Pendaki Gunung

In [174]:
df.shape

(233625, 9)

In [176]:
ref_row = ref_df.query("filename == @filename")
schema = ref_row["schema"].values[0]
display(Markdown(f"#### Schema: {schema}"))
table = ref_row["table"].values[0]
display(Markdown(f"#### Table Name: {table}"))

#### Schema: GOSALES

#### Table Name: SALES_TARGET